<!DOCTYPE html>
<html>
<head>
  <%= render 'overseers/layouts/components/meta' %>
  <%= render 'overseers/layouts/components/fonts' %>
  <%= render 'overseers/layouts/components/stylesheets' %>
  <%= render 'overseers/layouts/components/scripts' %>
</head>

<body>
<%= render 'overseers/layouts/components/navigation' %>
<div class="layout layout-nav-top">
  <div class="main-container">
    <%= render 'overseers/layouts/components/breadcrumbs' %>

    <div class="container">
      <div class="row justify-content-center">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>