<div class="container-fluid"><!--Accordion wrapper-->
  <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne1">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
           aria-controls="collapseOne1">
          <h5 class="mb-0">Billing Information</h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
        <div class="card-body">
          <p>Select a billing address from your address book.</p>
          <%= simple_form_for [:customers, @cart], :url => update_billing_address_customers_cart_path, :method => :patch do |f| %>
            <% current_contact_companies.each do |company| %>
              <% if company.default_billing_address_id.present? %>
                <%= f.radio_button :default_billing_address_id, company.default_billing_address_id %><%= company.default_billing_address.try(:to_multiline_s) %><br /><br />
              <% end %>
            <% end %>
            <%= f.button :submit, 'Continue' %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
           aria-expanded="false" aria-controls="collapseTwo2">
          <h5 class="mb-0">Shipping Information</h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
        <div class="card-body">
          <%= simple_form_for [:customers, @cart], :url => update_shipping_address_customers_cart_path, :method => :patch do |f| %>
            <% current_contact_companies.each do |company| %>
              <% if company.default_billing_address_id.present? %>
                <%= f.radio_button :default_shipping_address_id, company.default_shipping_address_id %><%= company.default_shipping_address.try(:to_multiline_s) %><br /><br />
              <% end %>
            <% end %>
            <%= f.button :submit, 'Continue' %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingThree3">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
           aria-expanded="false" aria-controls="collapseThree3">
          <h5 class="mb-0">Add Purchase Order Reference</i>
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
        <div class="card-body">
          <%= simple_form_for [:customers, @cart], :url => add_po_number_customers_cart_path, :method => :patch do |f| %>
            <%= f.text_field  :po_reference %><br /><br />
            <%= f.button :submit, 'Continue' %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingFour4">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
           aria-expanded="false" aria-controls="collapseFour4">
          <h5 class="mb-0">Order Summary</i>
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
        <div class="card-body">
          <div class="col-12">
            <div class="text-left">
              <div class="list-group list-group-flush">
                <table class="table table-striped">
                  <thead>
                    <th scope="col">Image</th>
                    <th scope="col">Info</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Subtotal</th>
                  </thead>
                  <tbody>
                  <% current_cart.items.each do |cart_item| %>
                    <tr>
                      <td><img class="" src="<%= url_for(cart_item.product.images.first) %>" width="60" /></td>
                      <td><%= cart_item.product.name.truncate(80) %></td>
                      <td><%= cart_item.product.latest_unit_cost_price.to_f == 0.0 ? '-' : format_currency(cart_item.product.latest_unit_cost_price.to_f) %></td>
                      <td>x <%= cart_item.quantity %></td>
                      <td><%= format_currency(cart_item.product.latest_unit_cost_price.to_f * cart_item.quantity) %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td colspan="5" style="text-align: right;"><strong>Subtotal:</strong> <%= format_currency(order_total(current_cart.items)) %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <div >
                  <%= link_to customers_customer_orders_path(contact_id: current_contact.id), method: :post, :class => "btn btn-success btn-block" do %>
                    Place Order
                  <% end %>
                  <%= link_to customers_cart_path, :class => "btn btn-warning btn-block" do %>
                    <i class="fal fa-pen"></i> Edit Cart
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion card -->
  </div>
</div>
<!-- Accordion wrapper -->