<div class="container-fluid"><!--Accordion wrapper-->
  <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne1">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
           aria-controls="collapseOne1">
          <h5 class="mb-0">Add Billing Address</h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
        <div class="card-body">
          <%= simple_form_for [:customers, @cart], :url => update_billing_address_customers_cart_path, :method => :patch do |f| %>
            <% current_contact_companies.each do |company| %>
              <% if company.default_billing_address_id.present? %>
                <%= f.radio_button :default_billing_address_id, company.default_billing_address_id %><%= company.default_billing_address.try(:to_multiline_s) %><br /><br />
              <% end %>
            <% end %>
            <%= f.button :submit, 'Update' %>
          <% end %>
        </div>
      </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
           aria-expanded="false" aria-controls="collapseTwo2">
          <h5 class="mb-0">Add Shipping Address</h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
        <div class="card-body">
          <%= simple_form_for [:customers, @cart], :url => update_shipping_address_customers_cart_path, :method => :patch do |f| %>
            <% current_contact_companies.each do |company| %>
              <% if company.default_billing_address_id.present? %>
                <%= f.radio_button :default_shipping_address_id, company.default_shipping_address_id %><%= company.default_shipping_address.try(:to_multiline_s) %><br /><br />
              <% end %>
            <% end %>
            <%= f.button :submit, 'Update' %>
          <% end %>
        </div>
      </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingThree3">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
           aria-expanded="false" aria-controls="collapseThree3">
          <h5 class="mb-0">Purchase Order Reference</i>
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
        <div class="card-body">
          <%= simple_form_for [:customers, @cart], :url => add_po_number_customers_cart_path, :method => :patch do |f| %>
            <%= f.text_field  :po_reference %><br />
            <%= f.button :submit, 'Update' %>
          <% end %>
        </div>
      </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingFour4">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
           aria-expanded="false" aria-controls="collapseFour4">
          <h5 class="mb-0">Order Summary</i>
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
        <div class="card-body">
          <div class="col-12">
            <section class="pt-3 pt-lg-4 pb-2 pb-lg-3">
              <div class="d-md-flex justify-content-between">
                <h1 class="display-5 mb-1">Checkout</h1>
                <% unless current_cart.items.size.zero? %>
                  <div>
                    <%= link_to customers_customer_orders_path(contact_id: current_contact.id), method: :post, :class => "btn btn-success btn-block" do %>
                      <i class="fal fa-shopping-cart mr-1"></i> Checkout
                    <% end %>
                  </div>
                <% end %>
              </div>
              <p class="lead mt-1">
                You have <strong><%= current_cart.items.count %></strong> products in your cart.
              </p>
            </section>

            <div class="card mb-2">
              <div class="card-body py-2">
                <div class="text-left">
                  <% current_cart.items.each do |cart_item| %>
                    <div class="<% if cart_item != current_cart.items.last %>border-bottom <% end %>py-2 d-flex flex-row align-items-center">
                      <img class="" src="<%= url_for(cart_item.product.images.first) %>" width="60" />
                      <div class="ml-3">
                        <p class="text-black-50 m-0 p-0"><strong><%= cart_item.product.name %></strong></p>
                        <span class="text-black-50 d-block">x <%= cart_item.quantity %></span>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="card-footer">
                <% if current_cart.items.size.zero? %>
                  <%= link_to customers_products_path, :class => "btn btn-success btn-block" do %>
                    <i class="fal fa-shopping-cart mr-1"></i> Add Products
                  <% end %>
                <% else %>
                  <div>
                    <%= link_to customers_cart_path, :class => "btn btn-warning btn-block" do %>
                      <i class="fal fa-pen"></i> Edit Quantity
                    <% end %>
                    <%= link_to customers_customer_orders_path(contact_id: current_contact.id), method: :post, :class => "btn btn-success btn-block" do %>
                      <i class="fal fa-shopping-cart mr-1"></i> Checkout
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
    <!-- Accordion card -->

  </div>
</div>
<!-- Accordion wrapper -->