<div class="col-lg-12">
  <div class="page-header">
    <h2><%= action_name.capitalize %> Company</h2>
    <p>This will <em>'<%= submit_text(@account).downcase %>'</em> and log it under
      <strong><%= current_overseer.full_name %></strong>.</p>
  </div>
  <%= simple_form_for([:overseers, @account, @company], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= f.hidden_field :account_id %>

    <%= f.input :name, :placeholder => 'e.g. Reliance Life Sciences' %>
    <div class="form-row">
      <div class="col-3">
        <%= f.input :site %>
      </div>
      <div class="col-3">
        <%= f.input :mobile %>
      </div>
      <div class="col-3">
        <%= f.input :email %>
      </div>
      <div class="col-3">
        <%= f.input :telephone %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        <%= f.association :industry, wrapper: :custom_multi_select, include_blank: 'Select an Industry' %>
      </div>
      <div class="col-4">
        <%= f.input :company_type, wrapper: :custom_multi_select, as: :select, collection: enum_to_collection(Company.company_types), include_blank: 'Select a company type' %>
      </div>
      <div class="col-4">
        <%= f.input :nature_of_business, wrapper: :custom_multi_select, as: :select, collection: enum_to_collection(Company.nature_of_businesses), include_blank: 'Select a nature of business' %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        <%= f.input :priority, wrapper: :custom_multi_select, as: :select, collection: enum_to_collection(Company.priorities) %>
      </div>
      <div class="col-4">
        <%= f.association :default_payment_option, wrapper: :custom_multi_select, include_blank: 'Select a default' %>
      </div>
      <div class="col-4">
        <%= f.input :credit_limit %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-4">
        <%= f.association :inside_sales_owner, include_blank: 'Select an Inside Owner' %>
      </div>
      <div class="col-4">
        <%= f.association :outside_sales_owner, include_blank: 'Select an Outside Owner' %>
      </div>
      <div class="col-4">
        <%= f.association :sales_manager, include_blank: 'Select a Manager' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :contact_ids, 'Contacts' %>
      <div class="select2-wrapper">
        <%= f.select :contact_ids, @account.contacts.collect {|x| [x.to_s, x.id]}, {}, :multiple => true, :class => 'form-control select2-multiple', :"data-placeholder" => 'Select Contacts' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :product_ids, 'Products' %>
      <div class="select2-wrapper">
        <%= f.select :product_ids, Product.all.collect {|x| [x.to_s, x.id]}, {}, :multiple => true, :class => 'form-control select2-multiple', :"data-placeholder" => 'Select Products' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :category_ids, 'Category' %>
      <div class="select2-wrapper">
        <%= f.select :category_ids, Category.all.collect {|x| [x.to_s, x.id]}, {}, :multiple => true, :class => 'form-control select2-multiple', :"data-placeholder" => 'Select Categories' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :brand_ids, 'Brands' %>
      <div class="select2-wrapper">
        <%= f.select :brand_ids, Brand.all.collect {|x| [x.to_s, x.id]}, {}, :multiple => true, :class => 'form-control select2-multiple', :"data-placeholder" => 'Select Brands' %>
      </div>
    </div>

    <% if f.object.persisted? %>
      <%= f.association :default_company_contact, label_method: :to_s, include_blank: 'Select a default' %>
      <%= f.association :default_billing_address, label_method: :to_s, include_blank: 'Select a default' %>
      <%= f.association :default_shipping_address, label_method: :to_s, include_blank: 'Select a default' %>
    <% end %>

    <%= f.file_field :tan_proof, :class => '', required: true, accept: 'image/png, application/pdf, image/jpeg' %>
    <%= f.file_field :pan_proof, :class => '', required: true, accept: 'image/png, application/pdf, image/jpeg' %>
    <%= f.file_field :cen_proof, :class => '', required: true, accept: 'image/png, application/pdf, image/jpeg' %>

    <%= f.input :is_msme, as: :radio_buttons %>
    <%= f.input :is_unregistered_dealer, as: :radio_buttons %>

    <% if action_name.capitalize == "New" %>
      <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
        <i class="fal fa-plus-circle"></i> <%= submit_text(@company) %>
      <% end %>
    <% else %>
      <%= button_tag(type: "submit", class: "btn btn-warning btn-block") do %>
        <i class="fal fa-pen"></i> <%= submit_text(@company) %>
      <% end %>
    <% end %>


  <% end %>
</div>