<div class="col-lg-8">
  <div class="page-header">
    <h2><%= action_name.capitalize %> Account</h2>
    <p>This will <em>'<%= submit_text(@account).downcase %>'</em> and log it under <strong><%= current_overseer.full_name %></strong>.</p>
  </div>
  <%= simple_form_for([:overseers, @account, @company], :html => {:class => 'needs-validation', :novalidate => 'novalidate'}) do |f| %>


    <%= f.input :name %>
    <%= f.association :industry, include_blank: 'Select an Industry' %>
    <%= f.association :default_payment_option, include_blank: 'Select a default' %>
    <%= f.association :default_billing_address, include_blank: 'Select a default' %>
    <%= f.association :default_shipping_address, include_blank: 'Select a default' %>
    <%= f.association :inside_sales_owner, include_blank: 'Select an Inside Owner' %>
    <%= f.association :outside_sales_owner, include_blank: 'Select an Outside Owner' %>
    <%= f.association :sales_manager, include_blank: 'Select a Manager' %>

    <%= f.input :company_type, as: :select, collection: enum_to_collection(Company.company_types) %>
    <%= f.input :priority, as: :select, collection: enum_to_collection(Company.priorities) %>
    <%= f.input :site %>
    <%= f.input :nature_of_business, as: :select, collection: enum_to_collection(Company.nature_of_businesses) %>
    <%= f.input :credit_limit %>

    <%= f.file_field :tan_proof, :class => 'custom-file-input', required: true, accept: 'image/png, application/pdf, image/jpeg' %>
    <%= f.file_field :pan_proof, :class => 'custom-file-input', required: true, accept: 'image/png, application/pdf, image/jpeg' %>
    <%= f.file_field :cen_proof, :class => 'custom-file-input', required: true, accept: 'image/png, application/pdf, image/jpeg' %>

    <%= f.input :is_msme, as: :radio_buttons %>
    <%= f.input :is_unregistered_dealer, as: :radio_buttons %>   
    
    <%= f.input :mobile %>
    <%= f.input :email %>
    <%= f.input :telephone %>
    
    <hr />
    <%= f.label :contact_ids, 'Contacts' %>
    <%= f.select :contact_ids, @account.contacts.collect { |x| [x.to_s, x.id] }, {}, :multiple => true %>

    <hr />
    <%= f.label :product_ids, 'Products' %>
    <%= f.select :product_ids, Product.all.collect { |x| [x.to_s, x.id] }, {}, :multiple => true %>

    <hr />
    <%= f.label :category_ids, 'Category' %>
    <%= f.select :category_ids, Category.all.collect { |x| [x.to_s, x.id] }, {}, :multiple => true %>

    <hr />
    <%= f.label :brand_ids, 'Brands' %>
    <%= f.select :brand_ids, Brand.all.collect { |x| [x.to_s, x.id] }, {}, :multiple => true %>



    <% if action_name.capitalize == "New" %>
        <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
            <i class="fal fa-plus-circle"></i> <%= submit_text(@company) %>
        <% end %>
    <% else %>
        <%= button_tag(type: "submit", class: "btn btn-warning btn-block") do %>
            <i class="fal fa-pen"></i> <%= submit_text(@company) %>
        <% end %>
    <% end %>

    <%= f.hidden_field :account_id %>
    <%= f.input :created_by, disabled: true %>
    <%= f.input :created_at, disabled: true %>
    <%= f.input :updated_by, disabled: true %>
    <%= f.input :updated_at, disabled: true %>

  <% end %>
</div>