<div class="col-lg-8">
  <div class="page-header">
    <h2><%= action_name.capitalize %> Account</h2>
    <p>This will create a new account and log it as having been created by <strong>Chucky Chuck</strong>.</p>
  </div>
  <%= simple_form_for([:overseers, @account], :html => {:class => 'needs-validation', :novalidate => 'novalidate'}) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.input_field :name, :placeholder => 'e.g. Reliance Industries', :required => 'true', :class => 'form-control' %>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter a name for the account.
      </div>
    </div>
    <div class="form-group">
      <label>Account's Alias</label>
      <input type="text" class="form-control" placeholder="e.g. RIL" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter an alias for the account.
      </div>
    </div>

    <% if action_name.capitalize == "New" %>
        <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
            <i class="fal fa-plus-circle"></i> <%= submit_text(@account) %>
        <% end %>
    <% else %>
        <%= button_tag(type: "submit", class: "btn btn-warning btn-block") do %>
            <i class="fal fa-pen"></i> <%= submit_text(@account) %>
        <% end %>
    <% end %>

    <%= f.input :created_by, disabled: true %>
    <%= f.input :created_at, disabled: true %>
    <%= f.input :updated_by, disabled: true %>
    <%= f.input :updated_at, disabled: true %>

  <% end %>
</div>




