<div class="col-lg-12">
  <div class="page-header">
    <h2><%= action_name.capitalize %> Account</h2>
    <p>This will <em>'<%= submit_text(@account).downcase %>'</em> and log it under
      <strong><%= current_overseer.full_name %></strong>.</p>
  </div>
  <%= simple_form_for([:overseers, @account], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>
    <div class="form-group">
      <%= f.input :name, label: 'Alias', :placeholder => 'e.g. Reliance Industries', :required => 'true', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.input :account_type, :wrapper => :custom_multi_select, as: :select, collection: enum_to_collection(Account.account_types) %>
    </div>
    <%= f.hidden_field :reference_company_creation_request_id %>

    <%= action_button(action_name, @account) %>
  <% end %>
</div>




