<div class="col-lg-8">
  <div class="page-header">
    <h2>New Account</h2>
    <p>This will create a new account and log it as having been created by <strong><%= @account.created_by.to_s %></strong>.</p>
  </div>
  <%= simple_form_for([:overseers, @account], :html => {:class => 'needs-validation', :novalidate => 'novalidate'}) do |f| %>
    <div class="form-group">
      <label>Account's Name</label>
      <%= f.input_field :name, :placeholder => 'e.g. Reliance Industries', :required => 'true', :class => 'form-control' %>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter a name for the account.
      </div>
    </div>
    <div class="form-group">
      <label>Account's Alias</label>
      <input type="text" class="form-control" placeholder="e.g. RIL" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter an alias for the account.
      </div>
    </div>

    <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
      <i class="fal fa-plus-circle"></i> Create Account
    <% end %>
    <%= submit_text(@account) %>

  <% end %>
</div>




