<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-4 pb-lg-5">
    <div class="d-md-flex justify-content-between">
      <h1 class="display-5 d-flex align-items-center">
        <img src="https://ui-avatars.com/api/?size=128&name=<%= @account.name %>&rounded=true&font-size=0.5&background=0D8ABC&color=fff" height="35" class="pr-2"/><%= @account.alias %>
        <span class="pl-2 lead text-muted"><%= @account.name %></span>
      </h1>
      <% if policy(@account).edit? %>
        <a href="<%= edit_overseers_account_path(@account) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit
        Account</a>
      <% end %>
    </div>
    <div class="row d-none">
      <p class="col-md-10 mt-2 mt-md-1">
        [Company information placeholder]
      </p>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <div class="form-row">
          <div class="col-6 col-md-6 mb-2">
            <strong class="d-block">Is Supplier</strong>
            <%= format_boolean(@account.is_supplier?) %>
          </div>
          <div class="col-6 col-md-6 mb-2">
            <strong class="d-block">Is Customer</strong>
            <%= format_boolean(@account.is_customer?) %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-4 pb-lg-5">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#companies" role="tab">Companies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#contacts" role="tab">Contacts</a>
      </li>

      <%# if  @account.is_customer? %>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" data-toggle="tab" href="#sales_order_report" role="tab">Sales Order Report</a>-->
<!--        </li>-->
      <%# end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active show" id="companies" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Companies</h3>

          <% if policy(:company).new? %>
            <a href="<%= new_overseers_account_company_path(@account) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0"><i class="fal fa-plus-circle mr-1"></i>New
              Company</a>
          <% end %>
        </div>
        <p class="mt-md-1 d-none d-md-block">
          All companies searchable with relevant term/keywords under <strong><%= @account.name %></strong>.
        </p>

        <table class="datatable table table-bordered dt-responsive" data-search="Enter search term/keywords" data-ajax="<%= overseers_account_companies_path(account_id: @account.id) %>">
          <thead>
          <tr>
            <th class="no-sort"></th>
            <th data-name="name">Name</th>
            <th class="no-star">Rating</th>
            <th class="no-sort">Addresses</th>
            <th class="no-sort">Contacts</th>
            <th class="no-sort">Inquiries</th>
            <th class="no-sort">PAN</th>
            <th class="no-sort">Valid PAN? </th>
            <th data-name="is_supplier">Is Supplier</th>
            <th data-name="is_customer">Is Customer</th>
            <th data-name="sap_status">SAP Status</th>
            <th data-name="created_at">Created</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="contacts" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Contacts</h3>
        </div>
        <p class="mt-md-1 d-none d-md-block">
          All contacts searchable with relevant term/keywords under <strong><%= @account.name %></strong>.
        </p>

        <table class="datatable table table-bordered dt-responsive" data-search="Enter search term/keywords" style="width:100%;" data-ajax="<%= overseers_contacts_path(account_id: @account.id) %>">
          <thead>
          <tr>
            <th class="no-sort"></th>
            <th data-name="name">Name</th>
            <th class="no-sort">Companies</th>
            <th data-name="created_at">Created</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <% if @account.is_customer? %>
        <div class="tab-pane fade" id="sales_order_report" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Monthly Sales Report</h3>
        </div>

        <table class="table text-center mt-3">
          <thead data-toggle="sticky">
            <tr>
              <th>Company</th>
              <% @data.columns.each do |month, values| %>
                <th><%= format_month_without_date(month) %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @data.entries.each do |company, values| %>
              <tr>
                <td><%= company %></td>
                <% values.each do |month, value| %>
                  <td><%= format_currency(value, precision: 0, show_symbol: false) %></td>
                <% end %>
              </tr>
            <% end %>
            <tr>
              <td>Total</td>
              <% @data.summaries['total'].values.each do |value| %>
                <td><%= format_currency(value, precision: 0, show_symbol: false) %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </section>
</div>