<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        Freiqht Quote for Request <%= format_id(@freight_quote.freight_request.id) %>:&nbsp;<%= status_badge(@freight_quote.status) %>
      </h3>
      <% if policy(@freight_quote).edit? %>
        <a href="<%= edit_overseers_freight_request_freight_quote_path(@freight_quote.freight_request, @freight_quote) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit</a>
      <% end %>
    </div>
  </section>

  <section class="mb-3">
    <div class="card mb-2">
      <div class="card-body">
        <div>
          <h6 class="text-uppercase text-black-50 mb-1">Details</h6>
          <div class="form-row">
            <% if @freight_quote.invoice_value.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Invoice Value</strong>
                  <%= @freight_quote.invoice_value %>
              </div>
            <% end %>

            <% if @freight_quote.status.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Status</strong>
                <%= status_badge(@freight_quote.status) %>
              </div>
            <% end %>
          </div>
          <% if @freight_quote.attachments.attached? %>
            <div class="form-row">
              <div class="col-12 col-md-3 mb-2 mt-2">
                <strong class="d-block">Attachments </strong>
                <% @freight_quote.attachments.each do |attachment| %>
                  <%= link_to url_for(attachment), class: 'ml-md-1 btn btn-success', target: '_blank', :"data-toggle" => 'tooltip', :status => attachment.filename do %>
                    <i class="fal fa-download"></i>
                    <%= link_to overseers_attachment_path(attachment.id), class: 'btn btn-outline-danger btn-sm ml-1 mr-1 mr-md-0', method: :delete, data: {confirm: 'Are you sure?'}, :"data-toggle" => 'tooltip', :status => ['Delete', ' ', attachment.filename, '?'].join('') do %>
                      <i class="fal fa-trash-alt"></i>
                    <% end if attachment.present? && policy(:attachment).destroy? %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="flex-fill">
          <h6 class="text-uppercase text-black-50 mb-1">Comments History</h6>
        </div>

        <% if @freight_quote.comments.persisted.size > 0 %>
          <div class="chats mb-3">
            <% @freight_quote.comments.each do |comment| %>
              <%= format_comment(comment) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>