<div class="font-family: Arial; font-size: 14.5px;">
  <p style="color: #555;">Dear Customer,</p>
  <p style="color: #555;">Please find attached the statement of your account as per our system.  </p>
  <p style="color: #555;">The total outstanding amount as on date is <b><%= format_currency(@company.total_amount_outstanding )%></b>. Summary can be seen as below:</p>
  <table border="1" cellspacing="0" class="table table-bordered" align="center" width="100%" style="color: #333;">
    <tbody>
      <tr>
        <th style="padding: 5px; text-align: center;">Sr No.</th>
        <th style="padding: 5px; text-align: center;">Name Of Entity</th>
        <th style="padding: 5px; text-align: center;">Invoice No</th>
        <th style="padding: 5px; text-align: center;">Invoice Date</th>
        <th style="padding: 5px; text-align: center;">Customer PO No.</th>
        <th style="padding: 5px; text-align: center;">GRN No.</th>
        <th style="padding: 5px; text-align: center;">Amount Invoiced</th>
        <th style="padding: 5px; text-align: center;">Amount Received</th>
        <th style="padding: 5px; text-align: center;">Amount Outstanding</th>
        <th style="padding: 5px; text-align: center;">No. of Days Outstanding</th>
        <th style="padding: 5px; text-align: center;">Bill To Name</th>
        <th style="padding: 5px; text-align: center;">Ship To Name</th>

      </tr>
      <% @company.invoices.not_cancelled_invoices.each_with_index do |invoice,index| %>
        <tr>
          <td style="padding: 5px; text-align: center;"><%= index+1 %></td>
          <td style="padding: 5px; text-align: center;"><%= invoice.sales_order.company %></td>
          <td style="padding: 5px; text-align: center;"><%= invoice.invoice_number %></td>
          <td style="padding: 5px; text-align: center;"><%= invoice.created_date %></td>
          <td style="padding: 5px; text-align: center;"><%= invoice.inquiry.customer_po_number %></td>
          <td style="padding: 5px; text-align: center;">-</td>
          <td style="padding: 5px; text-align: center;"><%= format_currency(invoice.calculated_total_with_tax) %></td>
          <td style="padding: 5px; text-align: center;"><%= format_currency(invoice.amount_received) %></td>
          <td style="padding: 5px; text-align: center;"><%= format_currency(invoice.calculated_total_with_tax - invoice.amount_received) %></td>
          <td style="padding: 5px; text-align: center;"><%= invoice.get_due_days %></td>
          <td style="padding: 5px; text-align: center;"><%= invoice.inquiry.contact.full_name %></td>
          <td style="padding: 5px; text-align: center;"><%= invoice.inquiry.shipping_contact.present? ? invoice.inquiry.shipping_contact.full_name : invoice.inquiry.contact.full_name%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p style="color: #555;">We request you to please clear the payments at the earliest.</p>
  <p style="color: #555;">Assuring you of our best services always.</p>
  <p style="color: #555;">Sincerely,</p>
  <p style="color: #555;">Bulk MRO Accounts Department</p>
</div>