<div class="media chat-item">
  <div class="media-body">
    <div class="chat-item-title">
      <span class="chat-item-author"><%= comment.author.full_name if comment.author.present? %>
        <span class="mr-1"><strong><span class="badge badge-secondary"><%= comment.author_role %></span></strong></span>
      </span>
      <span>
      <span class="mr-1">
        <strong>
          <% if comment.respond_to?('approval') && comment.approval.present? %><span class="badge badge-success">Approved </span><% end %>
          <% if comment.respond_to?('rejection') && comment.rejection.present? %><span class="badge badge-danger">Rejected </span><% end %>
        </strong>

        <% if comment.respond_to?('show_to_customer?') && comment.show_to_customer? && current_overseer %>
          <span class="mr-1">
            <strong>
              <span class="badge badge-info">Visible To Customer</span>
            </strong>
          </span>
        <% end %>
      </span>
      <%= format_times_ago(comment.created_at) %></span>
      <% if policy(:po_request).index? %>
        <a href="#" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mr-md-1 mb-md-0 mb-1" data-toggle="modal" data-target="#addComment" data-backdrop="static" data-keyboard="false">
          Add Comment
        </a>
      <% end %>
    </div>
    <div class="chat-item-body">
      <% if trimmed && comment.message.length > 48 %>
        <%= comment.message[0..48] + ".." %>
      <% else %>
        <%= simple_format comment.message %>
      <% end %>
    </div>

  </div>
</div>