<div class="col-lg-12">
  <%= render 'shared/snippets/page_header', e: @company %>


  <%= simple_form_for([:overseers, @company], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <% if params[:ccr_id].present? %>
      <%= f.association :account, collection: selected_option_or_nil(f, :account), input_html: {class: 'select2-ajax ', :'data-source' => autocomplete_overseers_accounts_path}, include_blank: 'Link company with account' %>
      <%= render 'overseers/companies/common_form', :f => f %>
    <% else %>
      <%= f.hidden_field :company_creation_request_id %>
      <div class="card">
        <div class="card-footer">
          <div class="form-row">
            <div class="form-check-inline">
              <div class="col-12">
                <label class="d-flex justify-content-center align-items-center flex-row">
                  <input type="radio" name="account" value="existing">&nbsp; Add existing Account
                </label>
              </div>
              <div class="col-12">
                <label class="d-flex justify-content-center align-items-center flex-row">
                  <input type="radio" name="account" value="new">&nbsp; Add new Account
                </label>
              </div>
            </div>
          </div>
          <div class="new box" id="new">
            <h6 class="text-uppercase mb-1 font-weight-bold">Add new Account details</h6>
            <%= f.fields_for :company_creation_request do |company_creation_request_field| %>
              <div class="form-row">
                <div class="col-12">
                  <%= company_creation_request_field.input :account_name, label: 'Account name' %>
                </div>
                <div class="col-12">
                  <%= company_creation_request_field.input :account_type, as: :select, include_blank: false, label: 'Account type', collection: enum_to_collection(CompanyCreationRequest.account_types) %>
                </div>

              </div>
            <% end %>
          </div>
          <div class="existing box">
            <%#= company_creation_request_field.association :account,label: 'Existing account', collection: selected_option_or_nil(company_creation_request_field, :account),  input_html: { class: 'select2-ajax', :'data-source' => autocomplete_overseers_accounts_path, include_blank: 'Create new account if no company connected to existing account'  }%>
            <%= f.association :account, collection: selected_option_or_nil(f, :account), input_html: {class: 'select2-ajax ', :'data-source' => autocomplete_overseers_accounts_path}, include_blank: 'Link company with account' %>
          </div>
          <%= render 'overseers/companies/common_form', :f => f %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>