
<div class="table-responsive">
  <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Contacts</th>
      <th>Brands</th>
      <th>Products</th>
      <th>Addresses</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= format_collection(company.contacts) %></td>
        <td><%= format_collection(company.brands) %></td>
        <td><%= format_collection(company.products) %></td>
        <td><%= format_collection(company.addresses) %></td>
        <td>
          <a href="<%= edit_overseers_account_company_path(company.account, company) %>">Edit</a> |
          <a href="<%= overseers_company_path(company) %>">Show</a> |
          <a href="<%= new_overseers_company_inquiry_path(company) %>">+ New Inquiry</a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>