<%= provide :container_fluid, true %>
<div class="col-lg-12">
  <section class="pt-3 pt-lg-2 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center bmro-form-heading">
        <a href="<%= overseers_account_path(@company.account) %>"><img src="https://ui-avatars.com/api/?size=128&name=<%= @company.account.name %>&rounded=true&font-size=0.5&background=0D8ABC&color=fff" height="35" class="pr-2"/></a><%= @company.name %>
        &nbsp;<%= format_star(@company.rating) if @company.rating.present? && @company.rating > 0 %>
      </h3>

      <% if is_authorized(@company, 'edit') %>
        <a href="<%= edit_overseers_account_company_path(@company.account, @company) %>" target='_blank' class="btn btn-warning bmro-button btn-rounded align-self-center btn-block-sm-down mb" ><i class="bmro-update-icon"></i>Edit
          Company</a>
          <% if current_overseer.smtp_password %>
            <%= link_to 'Request Customer feedback', new_overseers_company_email_message_path(@company), class: 'btn btn-warning bmro-button btn-rounded align-self-center btn-block-sm-down mb ml-1' %>
          <% end %>
      <% end %>
    </div>
  </section>

  <section class="mb-1">
    <div class="card">
      <div class="form-row">
        <div class="col-lg-12">
          <% if @company.is_customer? %>
          <%= render partial: 'single_company_report', locals: {company: @company} %>
            <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <% if @company.logo.attached? %>
          <div class="form-row mb-3">
            <div class="col-md-2 col-xs-12">
              <img src="<%= url_for(@company.logo) %>" alt="<%= @company.name %>">
            </div>
          </div>
        <% end %>
        <% if @company.site? || @company.default_company_contact ||
            @company.industry || @company.company_type || @company.nature_of_business ||
            @company.priority || @company.default_payment_option || @company.credit_limit ||
            @company.pan %>
          <div>
            <h6 class="text-uppercase text-black-50 bmro-form-heading mb-1">Company Details</h6>
            <div class="form-row">
              <% if @company.account %>
                <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Account</strong>
                  <a class="bmro-summary-link" href="<%= overseers_account_path(@company.account) %>" target="_blank"><%= @company.account %></a>
                </div>
              <% end %>

              <% if @company.site? %>
                <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Site</strong>
                  <div class="bmro-summary-data">
                    <%= @company.site %>
                  </div>
                </div>
              <% end %>

              <% if @company.default_company_contact.present? %>
                <% if @company.default_company_contact.contact.mobile %>
                  <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                    <strong class="d-block bmro-summary-heading">Mobile</strong>
                    <div class="bmro-summary-data">
                      <%= @company.default_company_contact.contact.mobile %>
                    </div>
                  </div>
                <% end %>

                <% if @company.default_company_contact.contact.email.present? %>
                  <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                    <strong class="d-block bmro-summary-heading">Email address</strong>
                    <div class="bmro-summary-data">
                      <%= @company.default_company_contact.contact.email %>
                    </div>
                  </div>
                <% end %>

                <% if @company.default_company_contact.contact.telephone.present? %>
                  <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                    <strong class="d-block bmro-summary-heading">Telephone</strong>
                    <div class="bmro-summary-data">
                      <%= @company.default_company_contact.contact.telephone %>
                    </div>
                  </div>
                <% end %>
              <% end %>

              <% if @company.industry.present? %>
                <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Industry</strong>
                  <div class="bmro-summary-data">
                    <%= @company.industry %>
                  </div>
                </div>
              <% end %>

              <% if @company.company_type.present? %>
                <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Type</strong>
                  <div class="bmro-summary-data">
                    <%= @company.company_type.titleize %>
                  </div>
                </div>
              <% end %>

              <% if @company.nature_of_business.present? %>
                <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Nature of business</strong>
                  <div class="bmro-summary-data">
                    <%= @company.nature_of_business %>
                  </div>
                </div>
              <% end %>

              <% if @company.priority.present? %>
                <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Priority</strong>
                  <div class="bmro-summary-data">
                    <%= @company.priority.titleize %>
                  </div>
                </div>
              <% end %>


              <% if @company.remote_uid.present? %>
                <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">SAP Business Partner ID</strong>
                  <strong class="text-info bmro-summary-data"><%= @company.remote_uid %></strong>
                </div>
              <% end %>

              <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                <strong class="d-block bmro-summary-heading">Active</strong>
                <strong class="text-info"><%= format_boolean(@company.is_active) %></strong>
              </div>


              <% if @company.default_payment_option.present? %>
                <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Default payment option</strong>
                  <div class="bmro-summary-data">
                    <%= @company.default_payment_option %>
                  </div>
                </div>
              <% end %>

              <% if @company.credit_limit.present? %>
                <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Credit limit</strong>
                  <div class="bmro-summary-data">
                     <%= @company.credit_limit %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="form-row">
              <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                <strong class="d-block bmro-summary-heading">Is Supplier</strong>
                <%= format_boolean(@company.is_supplier?) %>
              </div>
              <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                <strong class="d-block bmro-summary-heading">Is Customer</strong>
                <%= format_boolean(@company.is_customer?) %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="mt-3">
          <h6 class="text-uppercase text-black-50 bmro-form-heading mb-1 d-block">Accounting</h6>
          <div class="form-row">
            <% if @company.pan != '' %>
              <div class="col-6 col-md-3 mb-2 bmro-summary-data">
                <strong class="d-block">PAN</strong>
                <%= @company.pan %>
              </div>
            <% end %>

            <div class="col-6 col-md-3 mb-2 bmro-summary-data">
              <strong class="d-block bmro-summary-heading">Is Valid Pan Card?</strong>
              <%= format_boolean(@company.validate_pan) %>
            </div>

            <div class="col-6 col-md-3 mb-2 bmro-summary-data">
              <strong class="d-block bmro-summary-heading">Is MSME?</strong>
              <%= format_boolean(@company.is_msme) %>
            </div>

            <div class="col-6 col-md-3 mb-2 bmro-summary-data">
              <strong class="d-block bmro-summary-heading">Is unregistered dealer?</strong>
              <%= format_boolean(@company.is_unregistered_dealer) %>
            </div>
            <div class="col-6 col-md-3 mb-2 bmro-summary-data">
              <strong class="d-block bmro-summary-heading">Is International?</strong>
              <%= format_boolean(@company.is_international) %>
            </div>

            <div class="col-6 col-md-3 mb-2 bmro-summary-data">
              <strong class="d-block bmro-summary-heading">Default Currency</strong>
              <%= @company.default_currency %>
            </div>
          </div>
        </div>

        <% if @company.pan_proof.attached? || @company.cen_proof.attached? %>
          <div class="mt-3">
            <h6 class="text-uppercase text-black-50 mb-1 d-block">Uploaded Documents</h6>
            <div class="form-row">
              <% if @company.pan_proof.attachment.present? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">PAN</strong>
                  <%= link_to 'PAN Proof', url_for(@company.pan_proof), :"data-toggle" => "#{@company.pan_proof.attachment.blob.filename}" %>
                </div>
              <% end %>

              <% if @company.cen_proof.attachment.present? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">CEN</strong>
                  <%= link_to 'CEN Proof', url_for(@company.cen_proof), :"data-toggle" => "#{@company.cen_proof.attachment.blob.filename}" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @company.inside_sales_owner.present? || @company.outside_sales_owner.present? || @company.sales_manager.present? %>
          <div class="mt-3">
            <h6 class="text-uppercase text-black-50 mb-1 d-block">Default owners and managers</h6>
            <div class="form-row">
              <% if @company.inside_sales_owner.present? %>
                <div class="col-12 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Default inside sales</strong>
                  <div class="bmro-summary-data">
                    <%= @company.inside_sales_owner %>
                  </div>
                </div>
              <% end %>

              <% if @company.outside_sales_owner.present? %>
                <div class="col-12 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Default outside sales</strong>
                  <div class="bmro-summary-data">
                    <%= @company.outside_sales_owner %>
                  </div>
                </div>
              <% end %>

              <% if @company.sales_manager.present? %>
                <div class="col-12 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Default manager</strong>
                  <div class="bmro-summary-data">
                    <%= @company.sales_manager %>
                  </div>
                </div>
              <% end %>

              <% if @company.logistics_owner.present? %>
                <div class="col-12 col-md-3 mb-2 bmro-summary-data">
                  <strong class="d-block bmro-summary-heading">Default Logistics Owner</strong>
                  <div class="bmro-summary-data">
                    <%= @company.logistics_owner %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @company.default_billing_address.present? || @company.default_shipping_address.present? %>
          <div class="mt-3">
            <h6 class="text-uppercase text-black-50 mb-1 d-block">Addresses</h6>
            <div class="form-row">
              <% if @company.default_billing_address.present? %>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <strong class="d-block bmro-summary-heading">Default billing address</strong>
                  <div class="bmro-summary-data">
                    <%= @company.default_billing_address %>
                  </div>
                </div>
              <% end %>

              <% if @company.default_shipping_address.present? %>
                <div class="col-12 col-md-6">
                  <strong class="d-block bmro-summary-heading">Default shipping address</strong>
                  <div class="bmro-summary-data">
                    <%= @company.default_shipping_address %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if @company.legacy_metadata.present? && (@company.legacy_metadata["sup_mail"] != "NULL" || @company.legacy_metadata["sup_tel"] != "NULL" || @company.legacy_metadata["sup_tel2"] != "NULL" || @company.legacy_metadata["sup_contact"] != "NULL") %>
      <a class="btn btn-light bmro-button text-left btn-lg btn-block mt-1 mt-lg-3 bmro-ld" type="button" data-toggle="collapse" data-target="#dump">
        Legacy Data
      </a>

      <div id="dump" class="collapse bmro-minwidth-col">
        <div class="card bmro-card">
          <div class="card-body">
            <div class="form-row">
              <% if @company.legacy_metadata["sup_mail"] != "NULL" %>
                <div class="col-6 col-md-4">
                  <strong class="d-block">Email</strong>
                  <%= @company.legacy_metadata["sup_mail"] %>
                </div>
              <% end %>

              <% if @company.legacy_metadata["sup_tel"] != "NULL" || @company.legacy_metadata["sup_tel2"] != "NULL" %>
                <div class="col-6 col-md-4">
                  <strong class="d-block">Telephone</strong>
                  <%= (@company.legacy_metadata["sup_tel"] == "NULL" || @company.legacy_metadata["sup_tel"].nil? ? '' : @company.legacy_metadata["sup_tel"]) + (@company.legacy_metadata["sup_tel2"] == "NULL" || @company.legacy_metadata["sup_tel"].nil? ? '' : @company.legacy_metadata["sup_tel2"]) %>
                </div>
              <% end %>

              <% if @company.legacy_metadata["sup_contact"] != "NULL" %>
                <div class="col-6 col-md-4">
                  <strong class="d-block">Contact</strong>
                  <%= @company.legacy_metadata["sup_contact"] %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>

  <section class="pb-4 pb-lg-5">
    <ul class="nav nav-tabs nav-fill bmro-nav-ul bmro-ul-float-initial">
      <%= render partial: 'role_wise_tabs', locals: {company: @company} %>
    </ul>
    <div class="tab-content">
      <% if @tab_name == 'addresses'%>
      <%= render partial: 'overseers/companies/addresses/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'contacts'%>
      <%= render partial: 'overseers/companies/contacts/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'banks'%>
      <%= render partial: 'overseers/companies/company_banks/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'rating'%>
      <%= render partial: 'overseers/companies/company_reviews/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'products' && @company.is_customer? %>
        <%= render partial: 'overseers/companies/customer_products/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'product_categories' && @company.is_customer? %>
        <%= render partial: 'overseers/companies/product_categories/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'inquiries' && @company.is_customer? %>
        <%= render partial: 'overseers/companies/inquiries/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'payments' && @company.is_customer? %>
        <%= render partial: 'overseers/companies/payments/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'orders' && @company.is_customer? %>
        <%= render partial: 'overseers/companies/sales_orders/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'invoices' && @company.is_customer? %>
        <%= render partial: 'overseers/companies/sales_invoices/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'quotes' && @company.is_customer? %>
        <%= render partial: 'overseers/companies/sales_quotes/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'online_orders' && @company.is_customer? %>
        <%= render partial: 'overseers/companies/online_orders/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'purchase_orders' && @company.is_supplier? %>
        <%= render partial: 'overseers/companies/purchase_orders/tab_index', locals: {company: @company} %>
      <% elsif @tab_name == 'supplier_products' && @company.is_supplier? %>
        <%= render partial: 'overseers/companies/supplier_products/tab_index', locals: {company: @company} %>
      <% end %>
    </div>
  </section>
</div>




