<%= provide :container_fluid, true %>
<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        <a href="<%= overseers_account_path(@company.account) %>"><img src="https://ui-avatars.com/api/?size=128&name=<%= @company.account.name %>&rounded=true&font-size=0.5&background=0D8ABC&color=fff" height="35" class="pr-2"/></a><%= @company.name %>
        &nbsp;<%= format_star(@company.rating) if @company.rating.present? %>
      </h3>

      <% if policy(@company).edit? %>
        <a href="<%= edit_overseers_account_company_path(@company.account, @company) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit
          Company</a>
      <% end %>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <% if @company.logo.attached? %>
          <div class="form-row mb-3">
            <div class="col-md-2 col-xs-12">
              <img src="<%= url_for(@company.logo) %>" alt="<%= @company.name %>">
            </div>
          </div>
        <% end %>
        <% if @company.site? || @company.default_company_contact ||
            @company.industry || @company.company_type || @company.nature_of_business ||
            @company.priority || @company.default_payment_option || @company.credit_limit ||
            @company.pan %>
          <div>
            <h6 class="text-uppercase text-black-50 mb-1">Company Details</h6>
            <div class="form-row">
              <% if @company.account %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">Account</strong>
                  <a href="<%= overseers_account_path(@company.account) %>" target="_blank"><%= @company.account %></a>
                </div>
              <% end %>

              <% if @company.site? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">Site</strong>
                  <%= @company.site %>
                </div>
              <% end %>

              <% if @company.default_company_contact.present? %>
                <% if @company.default_company_contact.contact.mobile %>
                  <div class="col-6 col-md-3 mb-2">
                    <strong class="d-block">Mobile</strong>
                    <%= @company.default_company_contact.contact.mobile %>
                  </div>
                <% end %>

                <% if @company.default_company_contact.contact.email.present? %>
                  <div class="col-6 col-md-3 mb-2">
                    <strong class="d-block">Email address</strong>
                    <%= @company.default_company_contact.contact.email %>
                  </div>
                <% end %>

                <% if @company.default_company_contact.contact.telephone.present? %>
                  <div class="col-6 col-md-3 mb-2">
                    <strong class="d-block">Telephone</strong>
                    <%= @company.default_company_contact.contact.telephone %>
                  </div>
                <% end %>
              <% end %>

              <% if @company.industry.present? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">Industry</strong>
                  <%= @company.industry %>
                </div>
              <% end %>

              <% if @company.company_type.present? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">Type</strong>
                  <%= @company.company_type.titleize %>
                </div>
              <% end %>

              <% if @company.nature_of_business.present? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">Nature of business</strong>
                  <%= @company.nature_of_business %>
                </div>
              <% end %>

              <% if @company.priority.present? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">Priority</strong>
                  <%= @company.priority.titleize %>
                </div>
              <% end %>


              <% if @company.remote_uid.present? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">SAP Business Partner ID</strong>
                  <strong class="text-info"><%= @company.remote_uid %></strong>
                </div>
              <% end %>

                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">Active</strong>
                  <strong class="text-info"><%= format_boolean(@company.is_active) %></strong>
                </div>


              <% if @company.default_payment_option.present? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">Default payment option</strong>
                  <%= @company.default_payment_option %>
                </div>
              <% end %>

              <% if @company.credit_limit.present? %>
                <div class="col-6 col-md-3 mb-2">
                  <strong class="d-block">Credit limit</strong>
                  <%= @company.credit_limit %>
                </div>
              <% end %>

            </div>
          </div>
        <% end %>

        <div class="mt-3">
          <h6 class="text-uppercase text-black-50 mb-1 d-block">Accounting</h6>
          <div class="form-row">
            <% if @company.pan != '' %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">PAN</strong>
                <%= @company.pan %>
              </div>
            <% end %>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Is Valid Pan Card?</strong>
              <%= format_boolean(@company.validate_pan) %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Is MSME?</strong>
              <%= format_boolean(@company.is_msme) %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Is unregistered dealer?</strong>
              <%= format_boolean(@company.is_unregistered_dealer) %>
            </div>
          </div>
        </div>

        <% if @company.inside_sales_owner.present? || @company.outside_sales_owner.present? || @company.sales_manager.present? %>
          <div class="mt-3">
            <h6 class="text-uppercase text-black-50 mb-1 d-block">Default owners and managers</h6>
            <div class="form-row">
              <% if @company.inside_sales_owner.present? %>
                <div class="col-12 col-md-3 mb-2">
                  <strong class="d-block">Default inside sales</strong>
                  <%= @company.inside_sales_owner %>
                </div>
              <% end %>

              <% if @company.outside_sales_owner.present? %>
                <div class="col-12 col-md-3 mb-2">
                  <strong class="d-block">Default outside sales</strong>
                  <%= @company.outside_sales_owner %>
                </div>
              <% end %>

              <% if @company.sales_manager.present? %>
                <div class="col-12 col-md-3 mb-2">
                  <strong class="d-block">Default manager</strong>
                  <%= @company.sales_manager %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @company.default_billing_address.present? || @company.default_shipping_address.present? %>
          <div class="mt-3">
            <h6 class="text-uppercase text-black-50 mb-1 d-block">Addresses</h6>
            <div class="form-row">
              <% if @company.default_billing_address.present? %>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <strong class="d-block">Default billing address</strong>
                  <%= @company.default_billing_address %>
                </div>
              <% end %>

              <% if @company.default_shipping_address.present? %>
                <div class="col-12 col-md-6">
                  <strong class="d-block">Default shipping address</strong>
                  <%= @company.default_shipping_address %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if @company.legacy_metadata.present? && (@company.legacy_metadata["sup_mail"] != "NULL" || @company.legacy_metadata["sup_tel"] != "NULL" || @company.legacy_metadata["sup_tel2"] != "NULL" || @company.legacy_metadata["sup_contact"] != "NULL") %>
      <a class="btn btn-light text-left btn-lg btn-block mt-1 mt-lg-4" type="button" data-toggle="collapse" data-target="#dump">
        Legacy Data
      </a>

      <div id="dump" class="collapse">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <% if @company.legacy_metadata["sup_mail"] != "NULL" %>
                <div class="col-6 col-md-4">
                  <strong class="d-block">Email</strong>
                  <%= @company.legacy_metadata["sup_mail"] %>
                </div>
              <% end %>

              <% if @company.legacy_metadata["sup_tel"] != "NULL" || @company.legacy_metadata["sup_tel2"] != "NULL" %>
                <div class="col-6 col-md-4">
                  <strong class="d-block">Telephone</strong>
                  <%= (@company.legacy_metadata["sup_tel"] == "NULL" || @company.legacy_metadata["sup_tel"].nil? ? '' : @company.legacy_metadata["sup_tel"]) + (@company.legacy_metadata["sup_tel2"] == "NULL" || @company.legacy_metadata["sup_tel"].nil? ? '' : @company.legacy_metadata["sup_tel2"]) %>
                </div>
              <% end %>

              <% if @company.legacy_metadata["sup_contact"] != "NULL" %>
                <div class="col-6 col-md-4">
                  <strong class="d-block">Contact</strong>
                  <%= @company.legacy_metadata["sup_contact"] %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>

  <section class="pb-4 pb-lg-5">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#addresses" role="tab">Addresses</a>
      </li>
      <% if policy(@company).new_inquiry? %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#inquiries" role="tab">Inquiries</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#contacts" role="tab">Contacts</a>
      </li>

      <% if @company.is_supplier? %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#purchase-orders" role="tab">Purchase Orders</a>
        </li>
      <% end %>

      <% if @company.is_supplier? %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#supplier-products" role="tab">Supplied Products</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#products" role="tab">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#online-orders" role="tab">Online Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#payments" role="tab">Online Payments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#quotes" role="tab">Quotes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#orders" role="tab">Fulfilled Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#invoices" role="tab">Invoices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#rating" role="tab">Ratings</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active show" id="addresses" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <% if policy(:address).new? && policy(@company).new_address? %>
            <h3 class="display-5 mb-1 d-none d-md-block">Addresses</h3>
            <a href="<%= new_overseers_company_address_path(@company) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0"><i class="fal fa-plus-circle mr-1"></i>New
              Address</a>
          <% end %>
        </div>
        <p class="mt-md-1 d-none d-md-block">
          All addresses searchable with relevant term/keywords under <strong><%= @company.name %></strong>.
        </p>

        <table class="datatable table table-bordered dt-responsive" data-fixed-header="false" data-search="Enter search term/keywords" style="width:100%;" data-ajax="<%= overseers_company_addresses_path(company_id: @company.id) %>">
          <thead>
          <tr>
            <th class="no-sort"></th>
            <th class="no-sort" data-name="name">Address</th>
            <th class="no-sort" data-name="state">State</th>
            <th class="no-sort" data-name="city">City</th>
            <th class="no-sort" data-name="valid_gst">Valid GST</th>
            <th class="no-sort" data-name="gst">GST</th>
            <th class="no-sort" data-name="pincode">Pincode</th>
            <th class="no-sort">SAP status</th>
            <th class="no-sort desktop" data-name="created_at">Created</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="contacts" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Contacts</h3>
          <% if policy(:contact).new? && policy(@company).new_contact? %>
            <a href="<%= new_overseers_contact_path(company_id: @company.to_param) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0"><i class="fal fa-plus-circle mr-1"></i>New
              Contact</a>
          <% end %>
        </div>
        <p class="mt-md-1 d-none d-md-block">
          All contacts searchable with relevant term/keywords under <strong><%= @company.name %></strong>.
        </p>

        <table class="datatable table table-bordered dt-responsive" data-search="Enter search term/keywords" style="width:100%;" data-ajax="<%= overseers_contacts_path(company_id: @company.id, via_company_contacts: true) %>">
          <thead>
          <tr>
            <th class="no-sort all"></th>
            <th class="all" data-name="name">Name</th>
            <th class="all" data-name="email">Email</th>
            <th class="all" data-name="account_id">Account</th>
            <th class="all" data-name="account_id">Role</th>
            <th class="no-sort desktop">Inquiry</th>
            <!--<th class="no-sort desktop">SAP Status</th>-->
            <th class="desktop" data-name="created_at">Created</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="products" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Products</h3>
          <div>
            <% if policy(:customer_product).generate_catalog? %>
              <a href="<%= generate_catalog_overseers_company_customer_products_path(@company) %>" data-method="post" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0 mr-1"><i class="fal fa-plus-circle mr-1"></i>Generate
                Catalog</a>
            <% end %>

            <% if policy(:customer_product).destroy_all? %>
              <a href="<%= destroy_all_overseers_company_customer_products_path(@company) %>" data-method="post" class="btn btn-danger btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0 mr-1"><i class="fal fa-minus-circle mr-1"></i>Destroy
                Catalog</a>
            <% end %>

            <% if policy(:customer_product).new? %>
              <a href="<%= new_overseers_company_customer_product_path(@company) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0"><i class="fal fa-plus-circle mr-1"></i>New
                Customer Product</a>
            <% end %>
            <a href="<%= new_excel_customer_product_import_overseers_company_imports_path(@company) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0"><i class="fal fa-file-excel mr-1"></i>Add
              products using excel</a>

          </div>
        </div>
        <p class="mt-md-1 d-none d-md-block">
          All products searchable with relevant term/keywords under <strong><%= @company.name %></strong>.
        </p>

        <table class="datatable table table-bordered dt-responsive" data-search="Enter search term/keywords" style="width:100%;" data-ajax="<%= overseers_company_customer_products_path(@company) %>">
          <thead>
          <tr>
            <th class="no-sort"></th>
            <th class="no-sort">Name</th>
            <th class="no-sort">SKU</th>
            <th class="no-sort desktop">Customer Price</th>
            <th class="no-sort desktop">SAP Status</th>
            <th class="desktop" data-name="created_at">Created</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

      <% if policy(@company).new_inquiry? %>
        <div class="tab-pane fade" id="inquiries" role="tabpanel">
          <div class="d-md-flex justify-content-between">
            <h3 class="display-5 mb-1 d-none d-md-block">Inquiries</h3>
            <a href="<%= new_overseers_inquiry_path(company_id: @company.to_param) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down mb-2 mb-md-0"><i class="fal fa-plus-circle mr-1"></i>New
              Inquiry</a>
          </div>
          <p class="mt-md-1 d-none d-md-block">
            All inquiries searchable with relevant term/keywords under <strong><%= @company.name %></strong>.
          </p>

          <table class="datatable table table-bordered dt-responsive" data-search="Enter search term/keywords" style="width:100%;" data-ajax="<%= index_pg_overseers_inquiries_path(company_id: @company.id) %>">
            <thead>
            <tr>
              <th class="no-sort"></th>
              <th data-name="inquiry_number">IQ #</th>
              <th class="no-sort">Status</th>
              <th class="no-sort">Account</th>
              <th class="no-sort">Company</th>
              <th class="no-sort">Contact</th>
              <th class="no-sort">Inside Sales</th>
              <th class="no-sort">Outside Sales</th>
              <th class="no-sort">Total</th>
              <th data-name="created_at">Created</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      <% end %>

      <% if @company.is_supplier? %>
        <div class="tab-pane fade" id="purchase-orders" role="tabpanel">
          <div class="d-md-flex justify-content-between">
            <h3 class="display-5 mb-1 d-none d-md-block">Purchase Orders</h3>

          </div>
          <!--          <p class="mt-md-1 d-none d-md-block">-->
          <!--            All inquiries filterable in any way that we want under <strong><%#= @company.name %></strong>.-->
          <!--          </p>-->

          <table class="datatable table table-bordered dt-responsive w-100 wrap-whitespace" data-search="Filter by anything" style="width:100%;" data-ajax="<%= overseers_company_purchase_orders_path(company_id: @company.id) %>">
            <thead>
            <tr>
              <th class="no-sort all"></th>
              <th class="no-sort all" data-name="po_number">Purchase #</th>
              <th class="no-sort desktop" data-name="inquiry_number">Inquiry #</th>
              <th class="no-sort desktop" data-name="supplier_id">Supplier</th>
              <th class="no-sort desktop" data-name="customer_id">Customer</th>
              <th class="no-sort all" data-name="po_status">Status</th>
              <th class="no-sort desktop">Line Items</th>
              <th class="no-sort desktop" data-name="inside_sales_executive">Inside Sales</th>
              <th class="no-sort desktop" data-name="outside_sales_executive">Outside Sales</th>
              <th class="no-sort desktop" data-name="created_at">Created</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      <% end %>

      <% if @company.is_supplier? %>
        <div class="tab-pane fade" id="supplier-products" role="tabpanel">
          <div class="d-md-flex justify-content-between">
            <h3 class="display-5 mb-1 d-none d-md-block">Supplied Products</h3>

          </div>
          <!--          <p class="mt-md-1 d-none d-md-block">-->
          <!--            All inquiries filterable in any way that we want under <strong><%#= @company.name %></strong>.-->
          <!--          </p>-->

          <table class="datatable table table-bordered dt-responsive w-100 wrap-whitespace" data-search="Filter by anything" style="width:100%;" data-ajax="<%= overseers_company_products_path(company_id: @company.id) %>">
            <thead>
            <tr>
              <th class="no-sort all" data-width="70px"></th>
              <th class="no-sort desktop" data-name="product_id">Name</th>
              <th class="no-sort all" data-name="sku">SKU</th>
              <th class="no-sort desktop" data-name="brand_id">Brand</th>
              <th class="no-sort desktop">Category</th>
              <th class="no-sort desktop">MPN</th>
              <th class="no-sort desktop" data-name="is_active"> Active</th>
              <th class="no-sort desktop" data-name="created_at"> Created At</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      <% end %>

      <div class="tab-pane fade" id="online-orders" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Online Orders</h3>
        </div>

        <table class="datatable table table-bordered dt-responsive w-100 table-responsive" data-search="Searchable with relevant term/keywords." data-ajax="<%= overseers_company_customer_orders_path(@company) %>">
          <thead>
          <tr>
            <th class="no-sort all" data-width="70px"></th>
            <th class="no-sort desktop text-right">Online Order #</th>
            <th class="no-sort desktop">Status</th>
            <th class="no-sort desktop">Payment Method</th>
            <th class="no-sort desktop">Account</th>
            <th class="no-sort all">Company</th>
            <th class="no-sort all">Customer Name</th>
            <th class="no-sort all">Line Items</th>
            <th class="sort all">Total (Excl. Tax)</th>
            <th class="sort all" data-name="grand_total">Total (Incl. Tax)</th>
            <th class="no-sort all">Inside Sales</th>
            <th class="no-sort all">Outside Sales</th>
            <th class="no-sort all">Manager</th>
            <th class="sort desktop" data-name="created_at">Created</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="payments" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Online Payments</h3>
        </div>
        <table class="datatable table table-bordered dt-responsive w-100" data-search="Searchable with relevant term/keywords." data-ajax="<%=  payments_overseers_customer_orders_path(:company_id =>@company.id)%>">
          <thead>
          <tr>
            <th class="no-sort all"></th>
            <th class="no-sort desktop">Status</th>
            <th class="no-sort all">Online Order</th>
            <th class="no-sort desktop ">Payment #</th>
            <th class="no-sort desktop">Amount</th>
            <th class="sort desktop" data-name="created_at">Created</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="quotes" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Quotes</h3>
        </div>
        <table class="datatable table table-bordered dt-responsive" data-search="Searchable with relevant term/keywords." style="width:100%;" data-ajax="<%= overseers_company_sales_quotes_path(@company) %>">
          <thead>
          <tr>
            <th class="no-sort all" data-width="70px"></th>
            <th class="no-sort all">Doc ID</th>
            <th class="no-sort all">Sent At</th>
            <th class="no-sort all">Created By</th>
            <th class="no-sort all">Line Items</th>
            <th class="no-sort all">Total(Excl. Tax)</th>
            <th class="no-sort all">Total(Incl. Tax)</th>
            <th class="no-sort all">Created At</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="orders" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Fulfilled Orders</h3>
        </div>

        <table class="datatable table table-bordered dt-responsive" data-search="Searchable with relevant term/keywords." style="width:100%;" data-ajax="<%= overseers_company_sales_orders_path(@company) %>">
          <thead>
          <tr>
            <th class="no-sort all"></th>
            <th class="no-sort all">Order #</th>
            <th class="no-sort desktop" data-name="status">Inquiry #</th>
            <th class="no-sort desktop" data-name="status">Status</th>
            <th class="no-sort desktop" data-name="remote_status">SAP Status</th>
            <th class="no-sort desktop">Quote Total</th>
            <th class="no-sort desktop">Order Total</th>
            <th class="no-sort desktop" data-name="mis_date">Order Date</th>
            <th class="no-sort desktop" data-name="created_at">Created At</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="invoices" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Invoices</h3>
        </div>

        <table class="datatable table table-bordered dt-responsive" data-search="Searchable with relevant term/keywords." style="width:100%;" data-ajax="<%= overseers_company_sales_invoices_path(@company) %>">
          <thead>
          <tr>
            <th class="no-sort all"></th>
            <th class="no-sort all" data-name="invoice_number">Invoice #</th>
            <th class="no-sort desktop" data-name="inquiry_number">Inquiry #</th>
            <th class="no-sort desktop" data-name="order_number">Order #</th>
            <th class="no-sort desktop">Line Items</th>
            <th class="no-sort desktop">Status</th>
            <th class="no-sort desktop" data-name="mis_date">Invoice Date</th>
            <th class="no-sort desktop">Created At</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="rating" role="tabpanel">
        <div class="d-md-flex justify-content-between">
          <h3 class="display-5 mb-1 d-none d-md-block">Ratings</h3>
        </div>

        <table class="datatable table table-bordered dt-responsive review-table" data-search="Searchable with relevant term/keywords." style="width:100%;" data-ajax="<%= overseers_company_company_reviews_path(@company) %>">
          <thead>
          <tr>
            <th class="no-sort all"></th>
            <th class="no-sort all">User</th>
            <th>Company name</th>
            <th class="no-sort desktop">Review Type</th>
            <th class="no-sort desktop">Rating</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>




