<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        <%= @payment_option.name %>
      </h3>
      <% if policy(@payment_option).edit? %>
        <a href="<%= edit_overseers_payment_option_path(@payment_option) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit
          Payment Term</a>
      <% end %>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <div>
          <h6 class="text-uppercase text-black-50 mb-1">Payment Terms Details</h6>
          <div class="form-row">
            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Name</strong>
              <%= @payment_option.name %>
            </div>
            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Credit Limit</strong>
              <%= @payment_option.credit_limit %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">General Discount</strong>
              <%= @payment_option.general_discount %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Load Limit</strong>
              <%= @payment_option.load_limit %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Remote UID</strong>
              <%= @payment_option.remote_uid %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Created By</strong>
              <%= @payment_option.created_by.full_name if @payment_option.created_by.present? %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Updated By</strong>
              <%= @payment_option.updated_by.full_name if @payment_option.updated_by.present? %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Created At</strong>
              <%= format_date_time_meridiem(@payment_option.created_at) %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Updated At</strong>
              <%= format_date_time_meridiem(@payment_option.updated_at) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
