<%= provide :container_fluid, true %>
<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        <%= @company_creation_request.name %>
      </h3>

      <% if @company_creation_request.account.present? && policy(:company).new? %>
        <a href="<%= new_overseers_company_path(@company_creation_request.account,:ccr_id => @company_creation_request.id) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-plus mr-1"></i>Create
          Company</a>
      <% elsif !@company_creation_request.account.present? && policy(:account).new? %>
        <a href="<%= new_overseers_account_path(:ccr_id => @company_creation_request.id) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-plus mr-1"></i>Create
          Account</a>
      <% end %>

    </div>
  </section>
  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <h6 class="text-uppercase text-black-50 mb-1">Company Details</h6>
        <div class="form-row">
          <div class="col-6 col-md-4 mb-2">
            <strong class="d-block">
              First Name
            </strong>
            <%= @company_creation_request.first_name %>
          </div>
          <div class="col-6 col-md-4 mb-2">
            <strong class="d-block">
              last Name
            </strong>
            <%= @company_creation_request.last_name %>
          </div>
          <div class="col-6 col-md-4 mb-2">
            <strong class="d-block">
              last Name
            </strong>
            <%= @company_creation_request.email %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-6 col-md-4 mb-2">
            <strong class="d-block">
              Account Name
            </strong>
            <%= @company_creation_request.account.present? ? @company_creation_request.account.name : @company_creation_request.account_name %>
          </div>
          <div class="col-6 col-md-4 mb-2">
            <strong class="d-block">
              Account Type
            </strong>
            <%= @company_creation_request.account.present? ? @company_creation_request.account.account_type : @company_creation_request.account_type %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <strong class="d-block">
              Address
            </strong>
            <%= @company_creation_request.address %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>