<div class="col-lg-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <%= simple_form_for([:overseers, @inquiry, @email_message], :html => {:class => 'card needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>

      <div class="card-body">
        <div class="form-group mb-0">
          <%= f.submit(class: 'btn btn-success btn-block') %>
        </div>

        <div class="form-group">
          <%= f.input :from, disabled: true %>
        </div>

        <div class="form-group">
          <%= f.input :to, disabled: true %>
        </div>

        <div class="form-group">
          <%= f.input :subject %>
        </div>

        <div class="form-group">
          <%= f.input :files, input_html: { multiple: true } %>
        </div>

        <div class="form-group">
          <%= f.input :body, input_html: { rows: 10, class: 'htmlize' } %>
        </div>

        <div class="form-group mb-0">
          <%= f.submit(class: 'btn btn-success btn-block') %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>