<div class="col-lg-12">
  <%= render 'shared/snippets/page_header', e: @customer_product %>

  <%= simple_form_for([:overseers, @company, @customer_product], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>
    <%= f.hidden_field :company_id %>
    <div class="form-row">
      <div class="col-6 col-md-6">
        <%= f.input :company, as: :string, disabled: true %>
      </div>
      <div class="col-6 col-md-6">
        <%= f.association :product, collection: [f.object.product], include_blank: "Type SKU number, name, or brand", label_method: :to_s, input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_products_path, :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => ''} %>
      </div>
      <div class="col-12">
        <%= f.input :name, required: false %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.input :sku, label: 'Material code', required: false %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.input :customer_price, label: 'Price' %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.input :moq, label: 'MoQ' %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.association :tax_code, collection: selected_option_or_nil(f, :tax_code), label_method: :to_s, include_blank: "Type to search", input_html: {class: 'select2-ajax', :'data-source' => autocomplete_for_product_overseers_tax_codes_path(product_id: ( f.object.product.present? ? f.object.product.id : nil))} %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.association :tax_rate, wrapper: :custom_multi_select, collection: TaxRate.all.map {|tax_rate| [tax_rate.to_s, tax_rate.id, {'data-tax_rate' => tax_rate.tax_percentage}]}, input_html: {"data-bind": ""} %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.association :measurement_unit, wrapper: :custom_multi_select, required: false %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12">
        <%= f.association :brand, collection: selected_option_or_nil(f, :brand), include_blank: 'Select a brand', input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_brands_path} %>
      </div>
      <div class="col-12">
        <div class="form-group">
          <%= f.label :tag_ids, 'Categories' %>
          <div class="select2-wrapper">
            <%= f.select :tag_ids, @company.tags.collect {|x| [x.to_s, x.id]}, {}, :multiple => true, :class => 'form-control select2-multiple', :"data-placeholder" => 'Select / Add Categories' %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 ">
        <div class="d-block d-md-flex align-items-end">
          <div class="flex-grow-1">
            <%= f.input :images, wrapper: :custom_file, input_html: {multiple: true}, label: 'Product images' %>
          </div>
          <div class="form-group">
            <% f.object.images.each do |image| %>
              <%= link_to url_for(image), class: 'ml-md-1 btn btn-success', target: '_blank', :"data-toggle" => 'tooltip', :status => image.filename do %>
                <i class="fal fa-download"></i>
                <%= link_to overseers_attachment_path(image.id), class: 'btn btn-outline-danger btn-sm ml-1 mr-1 mr-md-0', method: :delete, data: {confirm: 'Are you sure?'}, :"data-toggle" => 'tooltip', :status => ['Delete', ' ', image.filename, '?'].join('') do %>
                  <i class="fal fa-trash-alt"></i>
                <% end if image.present? && policy(:attachment).destroy? %>
              <% end %>
            <% end if f.object.images.attached? %>
          </div>
        </div>
      </div>
    </div>

    <%= action_button(action_name, @customer_product) %>
  <% end %>
</div>
