<div class="font-family: Arial; font-size: 14.5px;">
  <p style="color: #555;">Dear <%= @contact.first_name %>,</p>
  <p style="color: #555;">Greetings from Bulk MRO!<br/></p>
  <p style="color: #555;">Please find attached our Purchase Order No. : <%= format_id(@inquiry.inquiry_number) %></p>
  <p style="color: #555;">We look forward to receiving your confirmation of the same along with your PI and delivery date of the material.</p>
  <p style="color: #555;">Kindly treat this as priority and initiate the process at the earliest.</p>

  <p style="color: #555;">Thanking you</p>
  <br/>
  <p style="color: #555;">Regards,<br><%= @overseer.full_name %></p>
</div>

<% if @overseer.designation.present? %><p style="margin:0 0 0;">
  <span style="font-size:8pt;font-family:Arial"><font><%= @overseer.designation %></font></span>
  <span style="font-size:8pt;font-family:Arial"><font><br></font></span></p>
<% end %>

<div>
  <div>
    <div dir="ltr">
      <div style="font-size:12.8px">
        <p style="margin:0 0 0">
          <img class="CToWUd" height="46" src="https://www.bulkmro.com/skin/frontend/base/default/images/emaillogo.jpg" width="420"><br>
        </p>
      </div>
    </div>
  </div>
  <div style="font-size:12.8px; color: #555;">
    <p style="margin:0 0 0;font-size:12.8px">
      <span style="font-family:Arial;font-size:13.33px"><span style="font-size:8pt"><b>Bulk MRO Industrial Supply Pvt. Ltd.</b></span>&nbsp;<br></span>
    </p><span style="font-size:8pt"><span style="font-size:10.66px"></span></span>

    <p style="margin:0 0 0">
      <span style="font-size:8pt">
        <% if @overseer.mobile.present? %><span style="font-size:8pt">M: <%= @overseer.mobile %> |&nbsp;</span><% end %>
        <% if @overseer.telephone.present? %><span style="font-size:8pt">T: <%= @overseer.telephone %> |&nbsp;</span><% end %>
        <span style="font-size:8pt">E:&nbsp;<span style="font-size:8pt">
          <a href="mailto:<%= @overseer.email %>" target="_blank" style="color: #fd7e14;"><%= @overseer.email %></a>
        </span>
        </span>
      </span>
    </p>
    <p style="margin:0 0 0;font-size:12.8px; color: #555;">
      <span style="font-size:8pt">2nd Floor, A Wing, Todi Estate, Sun Mill Compound,</span><span style="font-size:8pt">&nbsp;Lower Parel,&nbsp;</span><span style="font-size:8pt">Mumbai 400013, India</span>
    </p>
    <p style="color: #555;">
      <font face="Arial"><span style="font-size:11px">TIN Number: 27391218005V |&nbsp;CTIN Number: 27391218005C</span></font><br>
      <span><font face="Arial"><span style="font-size:11px">GST Maharashtra: 27AAGCB7343G1ZN | GST Gujarat: 24AAGCB7343G1ZT | GST Delhi: 07AAGCB7343G1ZP&nbsp;</span></font></span><br>
      <a style="color: #555;font-size:11px;" href="http://www.bulkmro.com/" target="_blank">www.bulkmro.com</a>
    </p>
  </div>
  <div style="font-size:12.8px">
    <p style="font-weight:bold;"></p>
  </div>
</div>