company under <%= @inquiry.company %>

<%= simple_form_for([:overseers, @company, @inquiry]) do |f| %>

  <% if f.object.errors.any? %>
    <% f.object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>


  <%= f.hidden_field :company_id %>
  <%= f.input :created_by, disabled: true %>
  <%= f.input :created_at, disabled: true %>
  <%= f.input :updated_by, disabled: true %>
  <%= f.input :updated_at, disabled: true %>

  <%= f.association :contact, include_blank: 'Select a point of contact'  %>
  <%= f.association :billing_address, include_blank: 'Select a billing address', collection: @company.addresses  %>
  <%= f.association :shipping_address, include_blank: 'Select a shipping address', collection: @company.addresses  %>

  <hr />
  <%= f.nested_fields_for :inquiry_products, wrapper_tag: :div do |inquiry_product| %>
    <%= inquiry_product.hidden_field :id %>
    <%= inquiry_product.association :product, collection: [inquiry_product.object.product], include_blank: "Type SKU number, name, or brand", label: false, input_html: { class: 'ajax', :'data-source' => overseers_products_path } %>
    <%= inquiry_product.input :quantity %>
  <% end %>

  <%= f.add_nested_fields_link :inquiry_products, 'Add Product' %>

  <hr />

  <%= f.input :comments %>

  <%= f.submit 'Save and select suppliers' %>
<% end %>