<div class="col-lg-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <%= simple_form_for([:overseers, @inquiry, @sales_quote], :html => {:class => 'card'}) do |f| %>
      <%= f.hidden_field :inquiry_id %>
      <%= f.hidden_field :parent_id %>
      <% if f.object.errors.any? %>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>

      <div class="card-header">
        <div class="row">
          <div class="col-lg-3">Total Selling Price (Excl. tax): <br>
            <strong><%= format_currency(f.object.calculated_total) %></strong></div>
          <div class="col-lg-3">Total Tax: <br> <strong><%= format_currency(f.object.calculated_total_tax) %></strong>
          </div>
          <div class="col-lg-3">Total Selling Price (Incl. tax): <br>
            <strong><%= format_currency(f.object.calculated_total_with_tax) %></strong></div>
          <div class="col-lg-3">Total Margin: <br>
            <strong><%= format_currency(f.object.calculated_total_margin) %>) </strong></div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <%= f.simple_fields_for :inquiry_currency do |inquiry_currency| %>
            <div class="col-md-6">
              <%= inquiry_currency.association :currency, collection: Currency.all.map {|currency| [currency.to_s, currency.id, {'data-conversion-rate' => currency.conversion_rate}]}, include_blank: false, input_html: {"data-v-model": "", "data-v-on:change": "dropdownChanged"} %>
            </div>
            <div class="col-md-6">
              <%= inquiry_currency.input :conversion_rate, input_html: {"data-v-model": "", } %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card-body">
        <% f.object.rows.group_by(&:inquiry_product).each do |inquiry_product, rows| %>
          <%= f.simple_fields_for :rows, rows.sort_by(&:unit_cost_price), wrapper_tag: :div do |row| %>
            <%= row.hidden_field :inquiry_product_id %>
            <%= row.hidden_field :inquiry_product_supplier_id %>
            <%= row.hidden_field :sales_quote_id %>
            <%= row.hidden_field :id %>

            <div class="form-row simple-row" data-index="<%= row.index %>">
              <div class="col-12">
                <hr>
                <h6 class="text-uppercase">
                  <strong><%= inquiry_product.product.name %></strong>
                </h6>
              </div>

              <div class="col-2">
                <div class="d-flex flex-row">
                  <div class="mr-1">
                    <%= radio_button_tag ['[sales_quote][selected_suppliers]', row.object.inquiry_product.id].join, row.object.inquiry_product_supplier.id, row.object.persisted? || rows[-1] == row.object %>
                  </div>
                  <div class="mr-1">
                    <%= row.input :sr_no, disabled: true %>
                  </div>
                  <div class="mr-1">
                    <%= row.input :quantity, input_html: {"data-bind": ""} %>
                  </div>
                </div>
              </div>

              <div class="col-md-2"><%= row.input :freight_cost_subtotal, input_html: {"data-bind": ""}, label: 'Total FR' %></div>
              <div class="col-md-2"><%= row.input :unit_freight_cost, input_html: {"data-bind": ""}, label: 'UFC' %></div>
              <div class="col-md-2"><%= row.input :unit_cost_price, input_html: {"data-bind": ""}, label: 'UCP', disabled: true %></div>
              <div class="col-md-2"><%= row.input :unit_cost_price_with_unit_freight_cost, input_html: {"data-bind": ""}, label: 'UCP w/ F', disabled: true %></div>
              <div class="col-md-2"><%= row.input :margin_percentage, label: 'Margin %', input_html: {:min => 0, :max => 99.99, "data-bind": ""} %></div>
              <div class="col-md-2"><%= row.input :unit_selling_price, label: 'USP', input_html: {:min => 0, "data-bind": ""} %></div>
              <div class="col-md-2"><%= row.input :converted_unit_selling_price, disabled: true, label: '$USP', input_html: {:min => 0, "data-bind": ""} %></div>
              <div class="col-md-2"><%= row.input :inquiry_product_supplier, as: :string, disabled: true, label: 'Supplier' %></div>
              <div class="col-md-2"><%= row.association :tax_code, label_method: :to_s, include_blank: "Type to search", input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_tax_codes_path} %></div>
              <div class="col-md-2"><%= row.input :total_selling_price, input_html: {:min => 0}, disabled: true %></div>
              <div class="col-md-2"><%= row.input :total_selling_price_with_tax, label: 'TSP w/ Tax', input_html: {:min => 0}, disabled: true %></div>
              <div class="col-md-2"><%= row.association :lead_time_option %></div>
              <div class="col-md-2">
                <%= row.label :remove %>
                <div class="form-control">
                  <%= link_to_remove_association 'DEL', row, {wrapper_class: 'simple-row', "data-v": "yes", "data-v-on:click": "dropRow(_index_)"} %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="row">
          <div class="col-md-12"><%= f.input :calculated_freight_cost_total, disabled: true, input_html: {"data-v-model": ""} %></div>
        </div>
      </div>

      <div class="card-footer">
        <div class="form-row">
          <div class="col-6">
            <%= f.submit 'Save as Draft', name: 'save', class: 'btn btn-warning btn-block' %>
          </div>
          <div class="col-6">
            <%= f.submit 'Save and Send', name: 'save_and_send', class: 'btn btn-success btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>