<div class="card">
  <div class="card-header">
    <div class=form-row>
      <div class="col-6 col-md-2">
        Products
        <strong class="d-block"><%= f.object.rows.size %></strong>
      </div>
      <div class="col-6 col-md-2">
        Cost
        <strong class="d-block"><%= format_currency(f.object.converted_total_cost) %></strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Margin
        <strong class="d-block"><%= format_currency(f.object.converted_total_margin) %> (<%= f.object.calculated_total_margin_percentage %>%)</strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Selling Price (E. tax)
        <strong class="d-block"><%= format_currency(f.object.converted_total) %></strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Selling Price (I. tax)
        <strong class="d-block"><%= format_currency(f.object.converted_total_with_tax) %></strong>
      </div>

      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Tax
        <strong class="d-block"><%= format_currency(f.object.converted_total_tax) %></strong>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-6">
        <strong class="d-block">SAP Quotation</strong>
        <%= f.object.quotation_uid.blank? ? "SAP Request Pending" : f.object.quotation_uid %>
      </div>
      <div class="col-6">
        <strong class="d-block">Currency</strong>
        <%= f.object.currency %> (<%= f.object.inquiry_currency.conversion_rate %>)
      </div>
    </div>

    <div class="card-alternative mt-3">
      <div class="form-row">
        <div class="col-md-6">
          <strong>Supplier Shipping Address</strong><br>
          <%= @inquiry.ship_from.name.to_s %><br>
          <%= @inquiry.ship_from.address.to_compact_multiline_s if @inquiry.ship_from.present? %>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <strong>Supplier Billing Address</strong><br>
          <%= @inquiry.bill_from.name.to_s %><br>
          <%= @inquiry.bill_from.address.to_compact_multiline_s if @inquiry.bill_from.present? %>
        </div>
      </div>

      <div class="form-row mt-2 mb-1">
        <div class="col-md-6">
          <strong>Customer Shipping Address</strong><br>
          <%= @inquiry.shipping_contact.present? ? @inquiry.shipping_contact.full_name : @inquiry.contact.full_name %><br>
          <%= @inquiry.shipping_address %><br>
          <%= @inquiry.contact.email if @inquiry.contact.email.present? %>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <strong>Customer Billing Address</strong><br>
          <%= @inquiry.contact.full_name %><br>
          <%= @inquiry.billing_address %><br>
          <%= @inquiry.contact.email if @inquiry.contact.email.present? %>
        </div>
      </div>
    </div>

    <%= f.simple_fields_for :rows, wrapper_tag: :div do |row| %>
      <%= row.hidden_field :id %>
      <div>
        <h6 class="text-uppercase mb-0 mt-3">
          <span class="lead text-black-50 text-small mr-1 mt-1">#<%= row.object.sr_no %></span>
          <strong><%= row.object %></strong>
        </h6>
        <div class="form-row my-2 text-small">
          <div class="col-12">
            <table class="w-100 datatable table table-bordered dt-responsive table-unstyled" data-fixed-header="false">
              <thead>
              <tr>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Quantity">Qty</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Unit of Measurement">UoM</span><br>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Unit Cost with Freight">UC w. Freight</span><br>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Margin Percentage">%</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Unit Selling Price">USP</span><br>
                </th>
                <th class="no-sort <%= f.object.currency.name == 'INR' ? 'd-none' : '' %>">
                  <span data-toggle="tooltip" title="Unit Selling Price in currency">USP (in <%= f.object.currency.sign %>)</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Total Selling Price">TSP</span><br>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Total Selling Price with Tax">TSP w. Tax</span><br>
                </th>
                <th class="no-sort">
                  <span>HSN/SAC Code</span><br>
                </th>
                <th class="no-sort">
                  <span>Tax Rate</span><br>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <span><%= row.object.quantity %></span>
                </td>
                <td>
                  <span><%= row.object.measurement_unit %></span>
                </td>
                <td>
                  <span><%= format_currency(row.object.converted_unit_cost_price_with_unit_freight_cost) %></span>
                </td>
                <td>
                  <span><%= number_with_precision(row.object.margin_percentage, precision: 2) %></span>
                </td>
                <td>
                  <span><%= format_currency(row.object.converted_unit_selling_price) %></span>
                </td>
                <td>
                  <span><%= format_currency(row.object.converted_total_selling_price) %></span>
                </td>
                <td>
                  <span><%= format_currency(row.object.converted_total_selling_price_with_tax) %></span>
                </td>
                <td>
                  <span><%= row.object.best_tax_code.chapter %></span>
                </td>
                <td>
                  <span><%= percentage(row.object.best_tax_rate.tax_percentage) %></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <hr class="my-2">
    <% end %>
  </div>
</div>