<div class="card">
  <div class="card-header">
    <div class=form-row>
      <div class="col-6 col-md-2">
        Products
        <strong class="d-block"><%= f.object.rows.size %></strong>
      </div>
      <div class="col-6 col-md-2">
        Cost
        <strong class="d-block"><%= format_currency(f.object.converted_total_cost) %></strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Margin
        <strong class="d-block"><%= format_currency(f.object.converted_total_margin) %>
          (<%= f.object.calculated_total_margin_percentage %>%)</strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Selling Price (E. tax)
        <strong class="d-block"><%= format_currency(f.object.converted_total) %></strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Selling Price (I. tax)
        <strong class="d-block"><%= format_currency(f.object.converted_total_with_tax) %></strong>
      </div>

      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Tax
        <strong class="d-block"><%= format_currency(f.object.converted_total_tax) %></strong>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-6 col-md-2">
        <strong class="d-block">SAP Quotation</strong>
        #<%= f.object.quotation_uid.blank? ? "SAP Request Pending" : f.object.quotation_uid %>
      </div>
      <div class="col-6 col-md-2">
        <strong class="d-block">Customer PO No.</strong>
        #<%= @inquiry.customer_po_number %>
      </div>
      <div class="col-6 col-md-2">
        <strong class="d-block">Customer Order Date</strong>
        <%= @inquiry.customer_order_date %>
      </div>
      <div class="col-6 col-md-2">
        <strong class="d-block">Currency</strong>
        <%= f.object.currency %> (<%= f.object.inquiry_currency.conversion_rate %>)
      </div>
      <div class="col-6 col-md-3">
        <strong class="d-block">Payment Terms</strong>
        <%= @inquiry.payment_option %>
      </div>
    </div>

    <div class="card-alternative mt-3">
      <div class="form-row">
        <div class="col-md-6">
          <strong class="d-block">Supplier - Shipping Address</strong>
          <span class="d-block"><%= @inquiry.ship_from.name.to_s %></span>
          <%= @inquiry.ship_from.address.to_compact_multiline_s if @inquiry.ship_from.present? %>
          <% if @inquiry.ship_from.address.mobile || @inquiry.ship_from.address.telephone %>
            <span class="d-block"><em>Contact</em>: <%= @inquiry.ship_from.address.mobile || @inquiry.ship_from.address.telephone %></span>
          <% end %>
          <span class="d-block"><em>GST Number</em>: <%= @inquiry.ship_from.address.gst %></span>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <strong class="d-block">Supplier - Billing Address</strong>
          <span class="d-block"><%= @inquiry.bill_from.name.to_s %></span>
          <%= @inquiry.bill_from.address.to_compact_multiline_s if @inquiry.bill_from.present? %>
          <% if @inquiry.bill_from.address.phone.present? %>
            <span class="d-block"><em>Contact</em>:  <%= @inquiry.contact.full_name %></span>
            - <%= @inquiry.bill_from.address.phone %><br>
          <% end %>
          <span class="d-block"><em>GST Number</em>: <%= @inquiry.bill_from.address.gst %></span>
        </div>
      </div>

      <div class="form-row mt-2 mb-1">
        <div class="col-md-6">
          <strong class="d-block">Customer - Shipping Address</strong>
          <span class="d-block"><%= @inquiry.shipping_contact.present? ? @inquiry.shipping_contact.full_name : @inquiry.contact.full_name %></span>
          <span class="d-block"><%= @inquiry.shipping_address %></span>
          <% if @inquiry.contact.mobile || @inquiry.contact.telephone %>
              <span class="d-block"><em>Contact</em>: <%= @inquiry.contact.full_name %>
                - <%= @inquiry.contact.phone %></span>
          <% end %>
          <span class="d-block"><em>Email</em>: <%= @inquiry.contact.email if @inquiry.contact.email.present? %></span>
          <span class="d-block"><em>GST Number</em>: <%= @inquiry.shipping_address.gst || (@inquiry.company.default_shipping_address.gst if @inquiry.company.default_shipping_address.present?) %></span>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <strong class="d-block">Customer - Billing Address</strong>
          <span class="d-block"><%= @inquiry.contact.full_name %></span>
          <span class="d-block"><%= @inquiry.billing_address %></span>
          <% if @inquiry.contact.phone.present? %>
              <span class="d-block"><em>Contact</em>: <%= @inquiry.contact.full_name %>
                - <%= @inquiry.contact.phone %></span>
          <% end %>
          <span class="d-block"><em>Email</em>: <%= @inquiry.contact.email if @inquiry.contact.email.present? %></span>
          <span class="d-block"><em>GST Number</em>: <%= @inquiry.billing_address.gst || @inquiry.company.default_billing_address.gst %></span>
        </div>
      </div>
    </div>

    <% if @inquiry.attachments.present? %>
      <div class="form-row mt-3">
        <% if @inquiry.customer_po_sheet.attached? %>
          <div class="col-6">
            <strong class="d-block">Customer Purchase Order</strong>
            <%= link_to @inquiry.customer_po_sheet, target: '_blank' do %>
              <%= @inquiry.customer_po_sheet.filename %>
            <% end %>
          </div>
        <% end %>

        <% if @inquiry.copy_of_email.attached? %>
          <div class="col-6">
            <strong class="d-block">Email Attachment</strong>
            <%= link_to @inquiry.copy_of_email, target: '_blank' do %>
              <%= @inquiry.copy_of_email.filename %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div>
      <table class="w-100 datatable table table-bordered dt-responsive dt-responsive wrap-whitespace mt-0" data-fixed-header="false">
        <thead>
        <tr>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Serial Number">Sr.</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip">Product</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Quantity">Qty</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Unit of Measurement">UoM</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Unit Cost with Freight">UC w. Freight</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Margin Percentage">%</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Unit Selling Price">USP</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Total Selling Price">TSP</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Total Selling Price with Tax">TSP w. Tax</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="HSN/SAC Cost">T. Code</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Tax Rate">T. Rate</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <%= f.simple_fields_for :rows, wrapper_tag: :div do |row| %>
          <%= row.hidden_field :id %>
          <tr>
            <td>
              <span><%= row.object.sr_no %></span>
            </td>
            <td>
              <span><%= row.object %></span>
            </td>
            <td>
              <span><%= row.object.quantity %></span>
            </td>
            <td>
              <span><%= row.object.measurement_unit %></span>
            </td>
            <td>
              <span><%= format_currency(row.object.converted_unit_cost_price_with_unit_freight_cost) %></span>
            </td>
            <td>
              <span><%= number_with_precision(row.object.margin_percentage, precision: 2) %></span>
            </td>
            <td>
              <span><%= format_currency(row.object.converted_unit_selling_price) %></span>
            </td>
            <td>
              <span><%= format_currency(row.object.converted_total_selling_price) %></span>
            </td>
            <td>
              <span><%= format_currency(row.object.converted_total_selling_price_with_tax) %></span>
            </td>
            <td>
              <span><%= row.object.best_tax_code.chapter %></span>
            </td>
            <td>
              <span><%= percentage(row.object.best_tax_rate.tax_percentage) %></span>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class=form-row>
      <div class="col-6 col-md-2">
        Products
        <strong class="d-block"><%= f.object.rows.size %></strong>
      </div>
      <div class="col-6 col-md-2">
        Cost
        <strong class="d-block"><%= format_currency(f.object.converted_total_cost) %></strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Margin
        <strong class="d-block"><%= format_currency(f.object.converted_total_margin) %>
          (<%= f.object.calculated_total_margin_percentage %>%)</strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Selling Price (E. tax)
        <strong class="d-block"><%= format_currency(f.object.converted_total) %></strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Selling Price (I. tax)
        <strong class="d-block"><%= format_currency(f.object.converted_total_with_tax) %></strong>
      </div>

      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Tax
        <strong class="d-block"><%= format_currency(f.object.converted_total_tax) %></strong>
      </div>
    </div>
  </div>
</div>