<div class="col-lg-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <% provide :hide_table_desc, true %>
    <% provide :hide_table_heading, true %>

    <% if policy(@inquiry).new_sales_quote? %>
      <div class="form-row mb-3">
        <div class="col-12">
          <a href="<%= new_overseers_inquiry_sales_quote_path(@inquiry) %>" class="btn-block btn btn-success btn-rounded">
            <i class="fal fa-plus-circle mr-1"></i>New Sales Quote
          </a>
        </div>
      </div>
    <% end %>

    <% if @sales_quotes.present? && @inquiry.final_sales_quote.present? && !policy(@inquiry.final_sales_quote).new_sales_order? %>
      <ul class="list-group text-info mb-3">
        <li class="list-group-item">
          <h5 class="text-info mb-0">Before making a sales order, please fulfill the following.</h5>
        </li>
        <% if @inquiry.customer_po_number.blank? %><li class="list-group-item"><i class="fal fa-check mr-2"></i>Customer PO number must be present.</li><% end %>
        <% if @inquiry.customer_order_date.blank? %><li class="list-group-item"><i class="fal fa-check mr-2"></i>Customer order date has to be defined.</li><% end %>
        <% if @inquiry.not_synced? %><li class="list-group-item"><i class="fal fa-check mr-2"></i>Inquiry must be synced with SAP.</li><% end %>
        <% if @inquiry.final_sales_quote.not_synced? || @inquiry.last_synced_quote_id != @inquiry.final_sales_quote.id %><li class="list-group-item"><i class="fal fa-check mr-2"></i> Last Sales quote must be synced with SAP.</li><% end %>
        <% if @inquiry.final_sales_quote.email_messages.blank? %><li class="list-group-item"><i class="fal fa-check mr-2"></i>Quotation has to be emailed to Customer; make sure your SMTP settings and phone number are updated in your profile.</li><% end %>
        <% if !@inquiry.final_sales_quote.sales_quote_quantity_not_fulfilled? %><li class="list-group-item"><i class="fal fa-check mr-2"></i>Sales quote total quantity already fulfilled by non-rejected sales orders.</li><% end %>
        <% if @inquiry.customer_committed_date.blank? %><li class="list-group-item"><i class="fal fa-check mr-2"></i>Customer committed date has to be defined.</li><% end %>
        <% if !@inquiry.customer_po_sheet.attached? %><li class="list-group-item"><i class="fal fa-check mr-2"></i>Customer PO sheet has to be uploaded.</li><% end %>
       <% if !@inquiry.calculation_sheet.attached? %><li class="list-group-item"><i class="fal fa-check mr-2"></i>Calculation sheet has to be uploaded.</li><% end %>
        <% if !@inquiry.supplier_quotes.attached? %><li class="list-group-item"><i class="fal fa-check mr-2"></i>Supplier quote(s) have to be uploaded.</li><% end %>
      </ul>
    <% end %>

    <% content_for :header_row do %>
      <th class="no-sort"></th>
      <th class="no-sort desktop text-right">Doc ID</th>
      <th class="no-sort desktop text-right">Sent At</th>
      <th>Created By</th>
      <th class="no-sort desktop text-right">Line Items</th>
      <th class="no-sort desktop text-right">Total(Excl. Tax)</th>
      <th class="no-sort desktop text-right">Total(Incl. Tax)</th>
      <th class="no-sort desktop text-right">Created At</th>
    <% end %>

    <%= render layout: 'shared/layouts/datatable' do %>
      <% @sales_quotes.each do |sales_quote| %>
        <tr>
          <td>
            <% if policy(sales_quote).show? %>
              <%= row_action_button(overseers_inquiry_sales_quote_path(@inquiry, sales_quote), 'eye', 'View Sales Quote', 'info') %>
            <% end %>
            <% if policy(sales_quote).edit? %>
              <%= row_action_button(edit_overseers_inquiry_sales_quote_path(@inquiry, sales_quote), 'pencil', 'Edit Sales Quote', 'warning') %>
            <% elsif policy(sales_quote).new_revision? && policy(sales_quote).display_revision_button? %>
              <%= row_action_button(new_revision_overseers_inquiry_sales_quote_path(@inquiry, sales_quote), 'redo-alt', 'Create Sales Quote Revision', 'warning') %>
            <% end %>
            <% if policy(sales_quote).reset_quote? %>
              <%= row_action_button(reset_quote_overseers_inquiry_sales_quote_path(@inquiry, sales_quote), 'retweet-alt', 'Reset Quote', 'dark') %>
            <% end %>
            <% if policy(sales_quote).new_sales_order? %>
              <%= row_action_button(new_overseers_inquiry_sales_order_path(@inquiry, sales_quote_id: sales_quote.to_param), 'external-link', 'Add to Order', 'success') %>
            <% end %>
            <% if policy(sales_quote).new_email_message? %>
              <%= row_action_button(new_overseers_inquiry_sales_quote_email_message_path(@inquiry, sales_quote), 'envelope', 'Send Email', 'dark') %>
            <% end %>
            <% if policy(sales_quote).show? %>
              <%= row_action_button(overseers_inquiry_sales_quote_path(@inquiry, sales_quote, format: :pdf), 'file-pdf', 'Download', 'dark', :_blank) %>
            <% end %>
            <% if policy(sales_quote).new_freight_request? %>
              <%= row_action_button(new_overseers_freight_request_path(:sales_quote_id => sales_quote.to_param), 'external-link', 'New Freight Request', 'warning') %>
            <% end %>
          </td>
          <td><%= sales_quote.id %></td>
          <td><%= format_date(sales_quote.sent_at) %></td>
          <td><%= sales_quote.created_by.to_s %></td>
          <td><%= sales_quote.rows.size %></td>
          <td><%= format_currency(sales_quote.calculated_total) %></td>
          <td><%= format_currency(sales_quote.calculated_total_with_tax) %></td>
          <td><%= format_date(sales_quote.created_at) %></td>
        </tr>
      <% end %>
    <% end %>

  <% end %>
</div>