<div class="col-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <%= simple_form_for([:overseers, @inquiry, @sales_quote], :html => {:class => 'needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
      <%= f.hidden_field :inquiry_id %>
      <%= f.hidden_field :parent_id %>

      <% if f.object.errors.any? %>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <div class="card">
        <div class="card-header">
          <div class=form-row>
            <div class="col-8 col-md-3">
              Total Selling Price (Excl. tax)<br>
              <strong><%= format_currency(f.object.calculated_total) %></strong>
            </div>
            <div class="col-4 col-md-3">
              Total Tax<br>
              <strong><%= format_currency(f.object.calculated_total_tax) %></strong>
            </div>
            <div class="col-8 col-md-3 mt-2 mt-md-0">Total Selling Price (Incl. tax)<br>
              <strong><%= format_currency(f.object.calculated_total_with_tax) %></strong>
            </div>
            <div class="col-4 col-md-3 mt-2 mt-md-0">Total Margin<br>
              <strong><%= format_currency(f.object.calculated_total_margin) %></strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-6">
              <strong>Currency</strong>
              <br> <%= f.object.currency %>
            </div>
            <div class="col-6">
              <strong>Conversion rate</strong>
              <br> <%= f.object.inquiry_currency.conversion_rate %>
            </div>
          </div>
          <div class="card-alternative mt-3">
            <div class="form-row">
              <div class="col-md-6">
                <strong>Supplier Shipping Address</strong><br>
                <%= @inquiry.ship_from.name.to_s %><br>
                <%= @inquiry.ship_from.address.to_compact_multiline_s if @inquiry.ship_from.present? %>
              </div>
              <div class="col-md-6 mt-2 mt-md-0">
                <strong>Supplier Billing Address</strong><br>
                <%= @inquiry.bill_from.name.to_s %><br>
                <%= @inquiry.bill_from.address.to_compact_multiline_s if @inquiry.bill_from.present? %>
              </div>
            </div>

            <div class="form-row mt-2 mb-1">
              <div class="col-md-6">
                <strong>Customer Shipping Address</strong><br>
                <%= @inquiry.shipping_address %>
              </div>
              <div class="col-md-6 mt-2 mt-md-0">
                <strong>Customer Billing Address</strong><br>
                <%= @inquiry.billing_address %>
              </div>
            </div>
          </div>

          <%= f.simple_fields_for :rows, wrapper_tag: :div do |row| %>
            <%= row.hidden_field :id %>
            <div>
              <h6 class="text-uppercase mb-0 mt-3">
                <span class="lead text-black-50 text-small mr-1 mt-1">#<%= row.object.sr_no %></span>
                <strong><%= row.object %></strong>
              </h6>
              <div class="form-row my-2 text-small">
                <div class="col-12">
                  <table class="w-100 datatable table table-bordered dt-responsive table-unstyled" data-fixed-header="false">
                    <thead>
                    <tr>
                      <th class="no-sort">
                        <span data-toggle="tooltip" title="Quantity">Qty</span>
                      </th>
                      <th class="no-sort">
                        <span data-toggle="tooltip" title="Unit of Measurement">UoM</span><br>
                      </th>
                      <th class="no-sort">
                        <span data-toggle="tooltip" title="Unit Cost with Freight">UC w. Freight</span><br>
                      </th>
                      <th class="no-sort">
                        <span data-toggle="tooltip" title="Margin Percentage">%</span>
                      </th>
                      <th class="no-sort">
                        <span data-toggle="tooltip" title="Unit Selling Price">USP</span><br>
                      </th>
                      <th class="no-sort <%= f.object.currency.name == 'INR' ? 'd-none' : '' %>">
                        <span data-toggle="tooltip" title="Unit Selling Price in currency">USP (in <%= f.object.currency.sign %>)</span>
                      </th>
                      <th class="no-sort">
                        <span data-toggle="tooltip" title="Total Selling Price">TSP</span><br>
                      </th>
                      <th class="no-sort">
                        <span data-toggle="tooltip" title="Total Selling Price with Tax">TSP w. Tax</span><br>
                      </th>
                      <th class="no-sort">
                        <span>HSN/SAC Code</span><br>
                      </th>
                      <th class="no-sort">
                        <span>Tax Rate</span><br>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <span><%= row.object.quantity %></span>
                      </td>
                      <td>
                        <span><%= row.object.measurement_unit %></span>
                      </td>
                      <td>
                        <span><%= format_currency(row.object.unit_cost_price_with_unit_freight_cost) %></span>
                      </td>
                      <td>
                        <span><%= number_with_precision(row.object.margin_percentage, precision: 2) %></span>
                      </td>
                      <td>
                        <span><%= format_currency(row.object.unit_selling_price) %></span>
                      </td>
                      <td class="<%= f.object.currency.name == 'INR' ? 'd-none' : '' %>">
                        <span><%= format_currency(row.object.converted_unit_selling_price) %></span>
                      </td>
                      <td>
                        <span><%= format_currency(row.object.total_selling_price) %></span>
                      </td>
                      <td>
                        <span><%= format_currency(row.object.total_selling_price_with_tax) %></span>
                      </td>
                      <td>
                        <span><%= row.object.best_tax_code.chapter %></span>
                      </td>
                      <td>
                        <span><%= row.object.best_tax_code.tax_percentage %></span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <hr class="my-2">
          <% end %>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row">
          <div class="col-6">
            <%= button_tag(type: "submit", name: "edit", class: "btn btn-warning btn-block") do %>
              <i class="fal fa-pen mr-1"></i> Edit
            <% end %>
          </div>
          <div class="col-6">
            <%= button_tag(type: "submit", name: "update_sent_at_field", class: "btn btn-success btn-block") do %>
              <i class="far fa-check mr-1"></i> Save and Confirm
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
