<% provide :container_fluid, true %>
<% provide :wrap_whitespace, true %>

<div class="col-lg-10 col-lg-offset-1">
  <div class="page-header">
    <h2>
      <small class="text-black-50 mb-2 ml-2"><strong><%= current_company %></strong></small>
    </h2>
  </div>

  <%= form_tag customers_reports_path, method:'get' do %>
    <input type="hidden" id="graph" name="graph" value = <%= params['graph'] %>>
    <input type="string" id="daterange" name="daterange" class="form-group form-control" data-toggle="daterangepicker">
    <%= submit_tag "Select Date", class: "btn btn-dark" %>
  <% end %>

  <section class="pb-4 pb-lg-5">
    <ul class="nav nav-tabs nav-fill" data-toggle="sticky">
      <%= nav_item 'Most Ordered Products', most_ordered_products_customers_products_path, policy(:customer_product).most_ordered_products? %>
      <%= nav_item 'Monthly Purchase Data', customers_reports_path(:graph => 'monthly_purchase_data'), true %>
      <%= nav_item 'Revenue Trend', customers_reports_path(:graph => 'revenue_trend'), true %>
      <%= nav_item 'Orders count', customers_reports_path(:graph => 'orders_count'), true %>
      <%= nav_item 'Unique Skus', customers_reports_path(:graph => 'unique_skus'), true %>
      <%= nav_item 'Categorywise Revenue', customers_reports_path(:graph => 'category_wise_revenue'), true %>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active show" role="tabpanel">
        <%= yield %>
      </div>
    </div>
  </section>
</div>