<div class="col-lg-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <% provide :hide_table_desc, true %>
    <% provide :hide_table_heading, true %>
    <div class="form-row mb-3">
      <div class="col-6">
        <a href="<%= new_excel_import_overseers_inquiry_imports_path(@inquiry) %>" class="btn-block btn btn-success btn-rounded"><i class="fal fa-file-excel mr-1"></i><span class="d-none d-md-inline-block">Import products using excel</span><span class="d-inline-block d-md-none">Via excel</span></a>
      </div>
      <div class="col-6">
        <a href="<%= new_list_import_overseers_inquiry_imports_path(@inquiry) %>" class="btn-block btn btn-success btn-rounded"><i class="fal fa-clipboard-list mr-1"></i><span class="d-none d-md-inline-block">Import products using list</span><span class="d-inline-block d-md-none">Via list</span></a>
      </div>
    </div>

    <% content_for :header_row do %>
      <th class="no-sort"></th>
      <th>Imported By</th>
      <th class="no-sort desktop text-right">Successful</th>
      <th class="no-sort desktop text-right">Failed</th>
      <th class="no-sort desktop">Import Type</th>
      <th class="no-sort desktop text-right" data-name="created_at">Created</th>
    <% end %>

    <%= render layout: 'shared/layouts/datatable' do %>
      <% @imports.each do |import| %>
        <tr>
          <td>
            <% if is_authorized(import,'show') && import.excel? && import.file.attached? %>
              <%= row_action_button(url_for(import.file), 'download', 'Raw Data', 'dark', :_blank) %>
            <% elsif is_authorized(import,'show') %>
              <%= row_action_button(overseers_inquiry_import_path(@inquiry, import, format: :text), 'eye', 'Raw Text', 'warning', :_blank) %>
            <% end %>
            <%= if is_authorized(import,'manage_failed_skus');
                  row_action_button(manage_failed_skus_overseers_inquiry_import_path(@inquiry, import), 'redo', 'Manage Failed SKUs', 'warning');
                end %>
          </td>
          <td><%= import.created_by.to_s %></td>
          <td><%= format_num(import.rows.successful.size) %></td>
          <td><%= format_num(import.rows.failed.size) %></td>
          <td><%= format_enum(import.import_type) %></td>
          <td><%= format_date(import.created_at) %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</div>