<% content_for :heading_byline do %>
  This will <em>'<%= submit_text(@inquiry).downcase %>'</em> and log it under
  <strong><%= current_overseer.full_name %></strong>.
<% end %>

<div class="col-lg-11">
  <%= render layout: 'shared/layouts/form' do %>
    <%= simple_form_for(@excel_import, url: create_failed_skus_overseers_inquiry_import_path, :html => {:class => 'card needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>

      <div class="card-body">

        <% if f.object.errors.any? %>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>

        <%= f.simple_fields_for :rows do |row| %>
          <% next if (row.object.inquiry_product.present? && row.object.inquiry_product.persisted?) || row.object.marked_for_destruction? %>
          <div class="option-wrapper"> <!-- TODO: Remove? -->
            <%= row.hidden_field :id %>

            <%= row.simple_fields_for :inquiry_product do |inquiry_product, index| %>
              <div class="nested"> <!-- TODO: Drop dependence on the nested class -->
                <%= inquiry_product.hidden_field :id %>
                <%= inquiry_product.hidden_field :inquiry_id %>
                <%= inquiry_product.hidden_field :quantity %>

                <div class="row">
                  <div class="col-md-12">
                    <%= inquiry_product.simple_fields_for :product do |product| %>
                      <%= product.hidden_field :inquiry_import_row_id %>

                      <div class="form-row">
                        <div class="col-md-3">
                          <div class="d-flex flex-row">
                            <div class="custom-control custom-radio custom-control-inline align-self-center">
                              <%= row.radio_button :approved_alternative_id, nil, class: 'custom-control-input' %>
                              <label class="custom-control-label" for="customRadioInline1"></label>
                            </div>

                            <%= product.input :name %>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <%= product.input :sku %>
                        </div>
                        <div class="col-md-3">
                          <%= product.association :brand, :wrapper => :custom_multi_select %>
                        </div>

                        <div class="col-md-3">
                          <%= product.association :category, :wrapper => :custom_multi_select, collection: Category.leaves %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>

            <%= row.hidden_field :approved_alternative_id %>

            <% row.object.approved_alternatives.each do |approved_alternative| %>
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-1">
                      <%= row.radio_button :approved_alternative_id, approved_alternative.id %>
                    </div>

                    <div class="col-md-3"><%= approved_alternative.name %></div>
                    <div class="col-md-2"><%= approved_alternative.sku %></div>
                    <div class="col-md-3"><%= approved_alternative.brand.to_s %></div>
                    <div class="col-md-3"><%= approved_alternative.category.name %></div>
                  </div>
                </div>
              </div>
            <% end %>

            <%= link_to_remove_association row, {class: 'dynamic btn btn-outline-danger btn-block', wrapper_class: 'option-wrapper'} do %>
              Skip
            <% end %>

            <hr>
          </div>
        <% end %>
        <%= f.submit(class: 'btn btn-success btn-block') %>
    <% end %>
  <% end %>
  </div>
</div>