<%= simple_form_for([:customers, @customer_rfq], url: customers_rfqs_path, :html => { :class => 'needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => '' }) do |f| %>
    <%= f.hidden_field :account_id %>
  
    <%= render 'shared/snippets/form_errors', f: f %>
    <div class="card bmro-card">
    <div class="bmro-adjusting-form">
      <div class="card-body bmro-card-body bmro-card-body-pt" data-spy="scroll" data-target=".bmro-nav" data-offset="100">
        <div class="bmro-Opportunity-slide target-scroll" id="Opportunity-Details"></div>
        <div>
  
          <div class="form-row">
            <div class="col-12 col-md-12">
              <%= f.input :billing_company_id, as: :select, collection: policy(:rfq).admin? ? current_company.account.companies.map {|company| [company.to_s, company.id ]} : [[current_company.to_s, current_company.id ]] ,include_blank: "Billing Company" , label: 'Billing Company', input_html: {class: "select2-single bmro-dropdown-icon"}, required: true %>
              <%= f.input :shipping_company_id,as: :select, collection: policy(:rfq).admin? ? current_company.account.companies.map {|company| [company.to_s, company.id ]} : [[current_company.to_s, current_company.id ]] ,include_blank: "Shipping Company" , label: 'Shipping Company', input_html: {class: "select2-single bmro-dropdown-icon"}, required: true %>
              <%= f.input :subject, label: 'Subject', input_html: { class: 'bmro-form-input' }, required: true%>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 col-md-12">
            <%= f.input :requirement_details, label: 'Requirement details', as: :text, required: true  %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 col-md-12">
             <%= f.input :files, wrapper: :custom_file, input_html: {multiple: true} ,label: 'File'%>
            </div>
          </div>
          <%= f.input :billing_address_id, as: :select, collection: current_company.addresses.map {|address| [address.to_s, address.id ]} ,include_blank: "Billing address" , label: 'Billing address', input_html: {class: "select2-single bmro-dropdown-icon"}, required: true %>
          <%= f.input :shipping_address_id,as: :select, collection: current_company.addresses.map {|address| [address.to_s, address.id ]} ,include_blank: "Shipping address" , label: 'Shipping address', input_html: {class: "select2-single bmro-dropdown-icon"}, required: true %>

          <%= button_tag(type: "submit", class: "btn bmro-button bmro-set-size  btn-block") do %>
            <i class="bmro-update-icon"></i> <%= submit_text(@customer_rfq) %>
          <% end %>
      </div>
    </div>
<% end %>  