<%= simple_form_for([:customers, @customer_rfq], url: customers_rfqs_path, :html => { :class => 'needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => '' }) do |f| %>
  <%= f.hidden_field :account_id %>
  <%= render 'shared/snippets/form_errors', f: f %>
  <div class="card bmro-card">
  <div class="bmro-adjusting-form">
  <div class="card-body bmro-card-body bmro-card-body-pt" data-spy="scroll" data-target=".bmro-nav" data-offset="100">
  <div class="bmro-Opportunity-slide target-scroll" id="Opportunity-Details"></div>
  <div>
  <div class="form-row">
     <div class="col-12 col-md-12">
        <%= f.input :billing_company_id, as: :select, collection: policy(:rfq).customer_admin? ? current_company.account.companies.map {|company| [company.to_s, company.id ]} : [[current_company.to_s, current_company.id ]] ,include_blank: "Billing Company" , label: 'Billing Company', input_html: {class: "select2-single bmro-dropdown-icon"}, required: true %>
        <%= f.input :shipping_company_id,as: :select, collection: policy(:rfq).customer_admin? ? current_company.account.companies.map {|company| [company.to_s, company.id ]} : [[current_company.to_s, current_company.id ]] ,include_blank: "Shipping Company" , label: 'Shipping Company', input_html: {class: "select2-single bmro-dropdown-icon"}, required: true %>
        <%= f.input :subject, label: 'Subject', input_html: { class: 'bmro-form-input' }, required: true%>
     </div>
  </div>
  <div class="mt-3 mb-3">
     <h6 class="mb-1 bmro-form-heading">Products</h6>
     <div class="form-row d-none d-md-flex">
        <div class="col-1 text-center">
           <div class="form-group mb-0">
              <label>Serial No</label>
           </div>
        </div>
        <div class="col-md-3 text-center">
           <div class="form-group mb-0">
              <label>Product Description</label>
           </div>
        </div>
        <div class="col-md-1 text-center">
           <div class="form-group mb-0">
              <label>MPN</label>
           </div>
        </div>
        <div class="col-md-1 text-center">
           <div class="form-group mb-0">
              <label>Category</label>
           </div>
        </div>
        <div class="col-md-1 text-center">
           <div class="form-group mb-0">
              <label>Brand</label>
           </div>
        </div>
        <div class="col-md-1 text-center">
           <div class="form-group mb-0">
              <label>Quantity</label>
           </div>
        </div>
        <div class="col-md-1 text-center">
           <div class="form-group mb-0">
              <label>UoM</label>
           </div>
        </div>
        <div class="col-md-1 text-center">
           <div class="form-group mb-0">
              <label>Delete Row</label>
           </div>
        </div>
     </div>
     <div class="rfq_inquiry_products">
        <%= f.nested_fields_for :inquiry_products, wrapper_tag: :div do |inquiry_product| %>
        <div class="form-row flex-row align-items-start w-100 ">
           <%= inquiry_product.hidden_field :id %>
           <div class="col-1">
              <div class="d-flex flex-row">
                 <div class="flex-grow-1">
                    <%= inquiry_product.input :sr_no, label: false, placeholder: placeholder_for(inquiry_product, :sr_no), input_html: { class: 'serial_number' , :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => '', readonly: true } %>
                 </div>
              </div>
           </div>
           <div class="col-3">
              <div class="select2-wrap">
                 <%= inquiry_product.input :product_id, as: :select , collection: current_company.account.products.map {|product| [product.to_s, product.id ]} , include_blank: "Type SKU number, name, or brand", label: false , input_html: {class: "select2-single select2-wrap-text bmro-select2-wrapText"}, required: true %>
              </div>
           </div>
           <div class="col-1 pl-0">
              <%= inquiry_product.input :bp_catalog_name, as: :string, :label => false , input_html: { :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => '' } , readonly: true%>
           </div>
           <div class="col-1 pl-0">
              <%= inquiry_product.input :bp_catalog_sku, as: :string, :label => false , input_html: { :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => '' } , readonly: true %>
           </div>
           <div class="col-1 px-0">
              <%= inquiry_product.input :bp_catalog_sku, as: :string, :label => false , input_html: { id: 'brand', :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => '' } , readonly: true %>
           </div>
           <div class="col-1 pl-0 text-center">
              <%= inquiry_product.input :quantity, :label => false,  input_html: { :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => '' } %>
           </div>
           <div class="col-1 px-0">
              <%= inquiry_product.association :measurement_unit, collection: MeasurementUnit.new_uom, include_blank: false, label: false , input_html: {class: 'select2-single bmro-form-input bmro-dropdown-icon'} %>
           </div>
           <div class="col-md-1 text-center">
              <%= inquiry_product.remove_nested_fields_link do %>
              <i class="far status-cross-danger"></i>
              <% end %>
           </div>
           <% end %>
        </div>
        <div class="form-row bmro-product-btn-parent" style="margin: 0 38% !important;">
           <div class="bmro-fl">
              <%= f.add_nested_fields_link :inquiry_products, class: 'btn btn-block mb-2 mb-md-0 bmro-product-btn' do %>
              <i class="bmro-addnew-icon mr-1"></i>Add New Product
              <% end %>
           </div>
           <!-- div class="bmro-fl bmro-dash-plus-icon">
              <%#= f.add_nested_fields_link :inquiry_products , class: 'btn-block mb-2 mb-md-0' do%>
                <img alt="icon" src="<%= image_path('add-icon.png') %>" class=" bmro-cursol">
              <%# end %>
              </div-->
        </div>
        <div class="form-row">
           <div class="col-12 col-md-12">
              <%= f.input :requirement_details, label: 'Requirement details', as: :text, required: true  %>
           </div>
        </div>
        <div class="form-row">
           <div class="col-12 col-md-12">
              <%= f.input :files, wrapper: :custom_file, input_html: {multiple: true} ,label: 'File'%>
           </div>
        </div>
        <%= f.association :billing_address, collection: selected_option_or_nil(f, :billing_address) ,include_blank: "Billing address" , label_method: :to_s, label: 'Billing address', input_html: {class: "select2-ajax bmro-form-input bmro-dropdown-icon" , :'data-source' => autocomplete_customers_addresses_path }, required: true , disabled: true %>
        <%= f.association :shipping_address, collection: selected_option_or_nil(f, :shipping_address) ,include_blank: "Shipping address" , label_method: :to_s, label: 'Shipping address', input_html: {class: "select2-ajax bmro-form-input bmro-dropdown-icon" , :'data-source' => autocomplete_customers_addresses_path }, required: true , disabled: true %>
        <%= button_tag(type: "submit", class: "btn bmro-button bmro-set-size  btn-block") do %>
        <i class="bmro-update-icon"></i> Create RFQ
        <% end %>
     </div>
  </div>
  <% end %>