<div class="col-md-6">
  <p class="mb-0">
    <strong class="d-block"><%= Settings.primary_bank.name %></strong>
    Address: <%= Settings.primary_bank.address %><br>
    Account Name: <%= Settings.primary_bank.account_name %><br>
    Account Number:  <%= Settings.primary_bank.account_number %><br>
    NEFT/RTGS Code: <%= Settings.primary_bank.neft_code %>
  </p>
</div>

<div class="col-md-6">
  <p class="mb-0">
    <strong class="d-block"><%= Settings.secondary_bank.name %></strong>
    Address: <%= Settings.secondary_bank.address %><br>
    Account Name: <%= Settings.secondary_bank.account_name %><br>
    Account Number:  <%= Settings.secondary_bank.account_number %><br>
    NEFT/RTGS Code: <%= Settings.secondary_bank.neft_code %>
  </p>
</div>