<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% content_for :heading do %>
  Quotes
<% end %>

<div class="col-lg-12">
  <% content_for :header_row do %>
    <th></th>
    <th>Sent At</th>
    <th>Created By</th>
    <th>Line Items</th>
    <th>Total(Excl. Tax)</th>
    <th>Total(Incl. Tax)</th>
    <th>Created At</th>
  <% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
    <% @sales_quotes.each do |sales_quote| %>
      <tr>
        <td><%= format_date(sales_quote.sent_at) %></td>
        <td><%= sales_quote.created_by.to_s %></td>
        <td><%= sales_quote.rows.size %></td>
        <td><%= format_currency(sales_quote.calculated_total) %></td>
        <td><%= format_currency(sales_quote.calculated_total_with_tax) %></td>
        <td><%= format_date(sales_quote.created_at) %></td>
      </tr>
    <% end %>
  <% end %>
</div>