<div class="modal fade" id="cancelInvoice">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= status %> AR invoice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= simple_form_for([:overseers, @ar_invoice_request], :url => cancel_ar_invoice_overseers_ar_invoice_request_path(@ar_invoice_request), :html => {:class => 'needs-validation p-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
          <div class="error bg-danger text-white mb-3 px-1 rounded"></div>
          <div class="modal-body">
            <% if status == 'Cancel' %>
              <%= f.input :cancellation_reason,as: :select, :label => "AR Cancellation Reason", :wrapper => :custom_multi_select, wrapper_html: {}, collection: enum_to_collection(ArInvoiceRequest.cancellation_reasons, alphabetical: false, keep_raw: true), :include_blank => 'Select Cancellation Reason'  %>
              <%= f.input :other_cancellation_reason, :label => "AR Other Cancellation Reason", :placeholder => 'Type Cancellation Reason', wrapper_html: {class: @ar_invoice_request.display_reason('other_cancellation')}, input_html: {:'data-parsely-no-valid-feedback' => ''} %>
                <%= f.hidden_field :status, :value => 'Cancelled AR Invoice' %>
            <% elsif status == 'Reject' %>
              <%= f.input :rejection_reason,as: :select, :label => "AR Rejection Reason", :wrapper => :custom_multi_select, wrapper_html: {}, collection: enum_to_collection(ArInvoiceRequest.rejection_reasons, alphabetical: false, keep_raw: true), :include_blank => 'Select Rejection Reason'  %>
              <%= f.input :other_rejection_reason, :label => "AR Other Rejection Reason", :placeholder => 'Type Rejection Reason', wrapper_html: {class: @ar_invoice_request.display_reason('other_rejection')}, input_html: {:'data-parsely-no-valid-feedback' => ''} %>
              <%= f.hidden_field :status, :value => 'AR Invoice Request Rejected' %>
            <%end %>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-warning confirm-cancel"><%= status %> Ar Invoice</button>
          </div>
         <% end %>
      </div>
    </div>
  </div>
</div>