<div class="card mb-2">
  <div class="card-body">
    <h6 class="text-uppercase text-black-50 mb-1"> Products Details</h6>
    <div class="form-row d-none d-md-flex">
      <div class="col-9">
        <div class="form-group mb-0">
          <label>Product Name</label>
        </div>
      </div>
      <div class="col-1">
        <div class="form-group mb-0">
          <label>Stock Qty</label>
        </div>
      </div>
      <div class="col-1">
        <div class="form-group mb-0">
          <label>Qty Deliver</label>
        </div>
      </div>
      <div class="col-1">
        <div class="form-group mb-0">
          <label></label>
        </div>
      </div>
    </div>
    <% if @ar_invoice_request.rows.present? %>
      <%= f.nested_fields_for :rows, f.object.rows, wrapper_tag: :div do |row| %>
        <div class="form-row flex-row align-items-start inward-dispatch-row">
          <div class="col-6 col-md-6">
            <%= row.hidden_field :sales_order_id, label: false %>
            <%= row.hidden_field :product_id, label: false %>
            <%= row.hidden_field :sales_order_row_id, label: false%>
          </div>
          <div class="col-9 col-md-9">
            <%= row.hidden_field :product_id, label: 'Product' %>
            <%= row.input :inward_dispatch_row, input_html: { value: row.object.product.to_s }, disabled: row.object.product_id.present? && row.object.errors.blank?, label: false %>
          </div>
          <div class="col-1 col-md-1">
            <%= row.input :quantity, input_html: { value: row.object.quantity }, readonly: true, label: false %>
          </div>
          <div class="col-1 col-md-1 " >
            <%= row.input :delivered_quantity, input_html: { value: row.object.delivered_quantity , min: 1, max: (row.object.quantity.to_i if row.object.quantity.to_i > 1), onkeydown: "return event.keyCode !== 69"}, label: false %>
          </div>
          <% if f.object.rows.length > 1 %>
            <div class="col-1 col-md-1">
              <%= row.remove_nested_fields_link '', class: 'btn align-self-center delete_row far fa-times text-danger', wrapper_class: 'simple-row', data: {id: (f.object.rows.index(row.object) || 0)}%>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>