<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
       AR Invoice Request for Order #<%= @ar_invoice.sales_order.order_number %>:&nbsp;<%= status_badge(@ar_invoice.status) %>
      </h3>
      <a href="<%= edit_overseers_ar_invoice_path(@ar_invoice) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down">
        <i class="fal fa-pen mr-1"></i>Edit AR Invoice
      </a>
    </div>
  </section>


  <section class="mb-3">
    <div class="card mb-2">
      <div class="card-body">
        <h6 class="text-uppercase text-black-50 mb-1"> Entity Details</h6>
        <div class="form-row">
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Inquiry </strong>
            <%= @ar_invoice.inquiry %>
          </div>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Order </strong>
            #<%= @ar_invoice.sales_order.order_number %>
          </div>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Customer PO </strong>
            <%= @ar_invoice.inquiry.customer_po_number.present? ? '#'+@ar_invoice.inquiry.customer_po_number : ' - ' %>
          </div>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Currency </strong>
            <%= @ar_invoice.inquiry.customer_order_date %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Currency </strong>
            <%= @ar_invoice.sales_order.currency.name %>
          </div>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Payment Terms </strong>
            <%= @ar_invoice.inquiry.payment_option %>
          </div>
          <% if @ar_invoice.ar_invoice_number.present? %>
            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">AR Invoice #</strong>
              <%= @ar_invoice.ar_invoice_number %>
            </div>
          <% end %>
          <% if @ar_invoice.status.present? %>
            <%= render 'overseers/invoice_requests/display_reason', :data => @ar_invoice.show_display_reason%>
          <%end %>
        </div>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h6 class="text-uppercase text-black-50 mb-1"> Addresses Details</h6>
        <div class="form-row">
          <div class="col-6 col-md-6 mb-2">
            <strong class="d-block">Bulk MRO Billing Address </strong>
            <% if @ar_invoice.inquiry.bill_from.present? %>
              <%= @ar_invoice.inquiry.bill_from.address.name.to_s %>
              <%= @ar_invoice.inquiry.bill_from.address.to_compact_multiline_s %><br>
              <% if @ar_invoice.inquiry.bill_from.address.phone.present? %>
                <em>Contact</em>: <%= @ar_invoice.inquiry.contact.full_name %> - <%= @ar_invoice.inquiry.bill_from.address.phone %><br>
              <% end %>
              <% if @ar_invoice.inquiry.bill_from.address.gst %>
                <strong><em>GST Number</em></strong>: <%= @ar_invoice.inquiry.bill_from.address.gst %><br>
              <% end %>
            <% end %>
          </div>
          <div class="col-6 col-md-6 mb-2">
            <strong class="d-block">Bulk MRO Shipping Address </strong>
            <% if @ar_invoice.inquiry.ship_from.present? %>
              <%= @ar_invoice.inquiry.ship_from.address.name.to_s %><br>
              <%= @ar_invoice.inquiry.ship_from.address.to_compact_multiline_s %><br>
              <% if @ar_invoice.inquiry.ship_from.address.mobile || @ar_invoice.inquiry.ship_from.address.telephone %>
                <em>Contact</em>: <%= @ar_invoice.inquiry.ship_from.address.mobile || @ar_invoice.inquiry.ship_from.address.telephone %><br>
              <% end %>
              <% if @ar_invoice.inquiry.ship_from.address.gst %>
                <strong><em>GST Number</em></strong>: <%= @ar_invoice.inquiry.ship_from.address.gst %><br>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-6 col-md-6 mb-2">
            <strong class="d-block">Customer - Billing Address</strong>
            <%= (@ar_invoice.inquiry.company.name) %><br>
            <%= @ar_invoice.sales_order.serialized_billing_address.to_compact_multiline_s %><br>
            <% if @ar_invoice.inquiry.contact.phone.present? %>
              Contact: <%= @ar_invoice.inquiry.contact.full_name %> - <%= @ar_invoice.inquiry.contact.phone %><br>
            <% end %>
            <strong><em>Email</em></strong>: <%= @ar_invoice.inquiry.contact.email if @ar_invoice.inquiry.contact.email.present? %>
            <span class="d-block"><strong><em>GST Number</em></strong>: <%= @ar_invoice.sales_order.serialized_billing_address.gst || @ar_invoice.inquiry.company.default_billing_address.gst %></span>
          </div>
          <div class="col-6 col-md-6 mb-2">
            <strong class="d-block">Customer - Shipping Address</strong>
            <span class="d-block"><%= (@ar_invoice.inquiry.shipping_company.name) %></span>
            <span class="d-block"><%= @ar_invoice.sales_order.serialized_shipping_address.to_compact_multiline_s %></span>
            <% if @ar_invoice.inquiry.shipping_contact.phone.present? %>
                <span class="d-block"><em>Contact</em>: <%= @ar_invoice.inquiry.shipping_contact.full_name %>
                  - <%= @ar_invoice.inquiry.shipping_contact.phone %></span>
            <% end %>
            <strong><em>Email</em></strong>: <%= @ar_invoice.inquiry.shipping_contact.email if @ar_invoice.inquiry.shipping_contact.email.present? %>
            <span class="d-block"><strong><em>GST Number</em></strong>: <%= @ar_invoice.sales_order.serialized_shipping_address.gst || @ar_invoice.inquiry.company.default_shipping_address.gst %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h6 class="text-uppercase text-black-50 mb-1"> Products Details</h6>
        <table class="w-100 table table-bordered dt-responsive datatable wrap-whitespace" data-fixed-header="false">
          <thead>
          <tr>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Serial Number">Sr.</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Description">Description</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Quantity">Qty</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Stock Quantity">Stock Qty</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Unit of Measurement">UoM</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Unit Cost">UC</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Unit Selling Price">USP</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Margin Percentage">%</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Code">T. Code</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">T. Rate</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Amount">T. Amount</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Total">Total</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @ar_invoice.rows.each do |row| %>
            <tr>
              <td><%= row.id %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="flex-fill">
          <h6 class="text-uppercase text-black-50 mb-1">Comments History</h6>
        </div>

        <% if @ar_invoice.comments.persisted.size > 0 %>
          <div class="chats">
            <% @ar_invoice.comments.each do |comment| %>
              <%= format_comment(comment) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>