<% provide :container_fluid, true %>

<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        <%= @mpr.purchase_order.po_number %>
      </h3>
      <span>
        <% if policy(@mpr).edit? %>
        <a href="<%= edit_overseers_purchase_order_material_pickup_request_path(@mpr.purchase_order, @mpr) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>
          Edit Material Pickup Request</a>
      <% end %>
        <% if policy(@mpr).confirm_delivery? %>
        <a href="<%= confirm_delivery_overseers_purchase_order_material_pickup_request_path(@mpr.purchase_order, @mpr) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-check mr-1"></i>
          Confirm Delivery</a>
      <% end %>
        <% if policy(@mpr).delivered? && policy(@mpr.purchase_order).can_request_invoice? %>
        <a href="<%= new_overseers_invoice_request_path(purchase_order_id: @mpr.purchase_order, mpr_id: @mpr) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-plus mr-1"></i>
          Create Invoice Request</a>
      <% end %>

        <% if @mpr.purchase_order.po_request.present? && policy(@mpr).delivered? && policy(@mpr.purchase_order.po_request).new_payment_request? %>

            <a href="<%= new_overseers_po_request_payment_request_path(@mpr.purchase_order.po_request) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-plus mr-1"></i> Create Payment Request
            </a>
              <% elsif @mpr.purchase_order.po_request.present? && policy(@mpr).delivered? && policy(@mpr.purchase_order.po_request).show_payment_request? %>
              <a href="<%= overseers_po_request_payment_request_path(@mpr.purchase_order.po_request) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-plus mr-1"></i>
                View Payment Request</a>

        <% end %>
          </span>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <div>
          <h6 class="text-uppercase text-black-50 mb-1">Material Pickup Request Details</h6>
          <div class="form-row">
            <% if @mpr.purchase_order.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Purchase Order Number</strong>
                <%= @mpr.purchase_order.po_number %>
              </div>
            <% end %>

            <% if @mpr.status? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Status</strong>
                <%= @mpr.status.titleize %>
              </div>
            <% end %>

            <% if @mpr.logistics_owner.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Logistics Owner</strong>
                <%= @mpr.logistics_owner.full_name %>
              </div>
            <% end %>

            <% if @mpr.expected_dispatch_date? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Expected Dispatch Date</strong>
                <%= format_date(@mpr.expected_dispatch_date) %>
              </div>
            <% end %>

            <% if @mpr.expected_delivery_date? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Expected Delivery Date</strong>
                <%= format_date(@mpr.expected_delivery_date) %>
              </div>
            <% end %>

            <% if @mpr.actual_delivery_date? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Actual Delivery Date</strong>
                <%= format_date(@mpr.actual_delivery_date) %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="mt-3">
          <h6 class="text-uppercase text-black-50 mb-1">Product Details</h6>
          <table class="table table-bordered dt-responsive wrap-whitespace w-100" data-fixed-header="false">
            <thead>
            <tr>
              <td></td>
              <td><strong class="d-block">Name</strong></td>
              <td><strong class="d-block">Sku</strong></td>
              <td><strong class="d-block">PO Total Quantity</strong></td>
              <td><strong class="d-block">Pickup Quantity</strong></td>
              <td><strong class="d-block">Delivered Quantity</strong></td>
            </tr>
            </thead>
            <tbody>
            <% @mpr.rows.each_with_index do |row,index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= row.purchase_order_row.get_product.name %></td>
                <td><%= row.purchase_order_row.get_product.sku %></td>
                <td><%= row.purchase_order_row.quantity %></td>
                <td><%= row.pickup_quantity %></td>
                <td><%= row.delivered_quantity || 'N/A' %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% if @mpr.comments.persisted.size > 0 %>

        <div class="card-body">
          <h6 class="text-uppercase text-black-50 mb-1">Comments</h6>
          <div class="chats mb-3">
            <% @mpr.comments.persisted.each do |comment| %>
              <%= format_comment(comment) %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>

  </section>
</div>