<div>
  <%= render 'shared/snippets/page_header', e: @outward_dispatch %>
  <%= simple_form_for([:overseers, @outward_dispatch], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :ar_invoice_request_id %>
    <%= f.hidden_field :sales_order_id %>
    <div class="card mb-2">
      <div class="card-body">
        <div class="">
          <h6 class="text-uppercase text-black-50 mb-1"> Entity Details</h6>
          <div class="form-row">
            <div class="col-6 col-md-4 mb-2">
              <strong class="d-block">Inquiry </strong>
              <%= f.object.sales_order.inquiry %>
            </div>
            <div class="col-6 col-md-4 mb-2">
              <strong class="d-block">Order </strong>
              #<%= f.object.sales_order.order_number %>
            </div>
            <div class="col-6 col-md-4 mb-2">
              <strong class="d-block">AR invoice </strong>
              #<%= f.object.ar_invoice_request.ar_invoice_number %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-4 mt-2">
              <%= f.input :material_dispatch_date, as: :string, input_html: {:'data-toggle' => 'datepicker', value: f.object.material_dispatch_date.try(:strftime, "%d-%b-%Y"), class: ''}, required: true %>
            </div>
            <div class="col-4 mt-2">
              <%= f.input :expected_date_of_delivery, as: :string, input_html: {:'data-toggle' => 'datepicker', value: f.object.expected_date_of_delivery.try(:strftime, "%d-%b-%Y"), class: ''}, required: true %>
            </div>
            <div class="col-4 mt-2">
              <%= f.input :material_delivery_date, as: :string, input_html: {:'data-toggle' => 'datepicker', value: f.object.material_delivery_date.try(:strftime, "%d-%b-%Y"), class: ''}%>
            </div>
            <div class="col-4 mt-2">
              <%= f.input :dispatched_by, collection: enum_to_collection(InwardDispatch.dispatched_bies, keep_raw: true), label: "Material Dispatched By", input_html: {class: "select2-single"}, required: true %>
            </div>
            <div class="col-4 mt-2">
              <%= f.input :logistics_partner, collection: f.object.grouped_status, as: :grouped_select, :wrapper => :custom_multi_select, group_method: :last, include_blank: true, required: true%>
            </div>
            <div class="col-4 mt-2">
              <%= f.input :tracking_number, label: 'Tracking Number' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-footer">
        <div class="form-row">
          <%= button_tag(type: "submit", class: "btn btn-success btn-block submit-form") do %>
            <% if action_name.capitalize == "New" %>
              <i class="fal fa-plus-circle"></i>
            <% else %>
              <i class="fal fa-pen"></i>
            <% end %>
            <%= submit_text(@outward_dispatch) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
