<p id="notice"><%= notice %></p>

<h1>Material Dispatches</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outward_dispatches.each do |outward_dispatch| %>
      <tr>
        <td><%= link_to 'Show', outward_dispatch %></td>
        <td><%= link_to 'Edit', edit_outward_dispatch_path(outward_dispatch) %></td>
        <td><%= link_to 'Destroy', outward_dispatch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material Dispatch', new_outward_dispatch_path %>
