<p id="notice"><%= notice %></p>
<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        Outward Dispatch for Order #<%= @outward_dispatch.sales_order.order_number %>
      </h3>
      <% if policy(@outward_dispatch).can_create_packing_slip? %>
        <a href="<%= new_overseers_outward_dispatch_packing_slip_path(@outward_dispatch) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down">
          <i class="fal fa-pen mr-1"></i>Add Packing Slip
        </a>
      <%end %>
    </div>
  </section>
  <section class="mb-3">
    <div class="card mb-2">
      <div class="card-body">
        <h6 class="text-uppercase text-black-50 mb-1"> Entity Details</h6>
        <div class="form-row">
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Customer Name</strong>
            <%= @outward_dispatch.ar_invoice_request.inquiry.company.to_s %>
          </div>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Inquiry #</strong>
            <%= @outward_dispatch.ar_invoice_request.inquiry.inquiry_number %>
          </div>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Order #</strong>
            <%= @outward_dispatch.sales_order.order_number %>
          </div>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">AR Invoice #</strong>
            <%= @outward_dispatch.ar_invoice_request.ar_invoice_number %>
          </div>
        </div>
      </div>
    </div>
    <% @outward_dispatch.packing_slips.each_with_index do |packing_slip,index| %>
      <%= render 'packing_slip',index: index, packing_slip: packing_slip %>
      <br/>
    <%end %>
  </section>
</div>
<%#= @outward_dispatch.to_json %>
