<div class="col-lg-12">
  <% content_for :heading_byline do %>
    This will <em>send an notification to supplier</em> and log it under
    <strong><%= current_overseer.full_name %></strong>. <% if !current_overseer.accounts?  %> <span style="float:right">
  <% if (action_name != 'material_received_in_bm_warehouse') && (current_overseer.inside? || current_overseer.outside?) %>
    <a href="#" class="btn btn-default btn-rounded btn-danger bmro-button align-self-center add-review" data-toggle="modal" data-target="#modalRatingForm" >Edit Supplier Rating</a></span>
  <% end %>
    <% end %>
  <% end %>

  <%= render layout: 'shared/layouts/form' do %>
    <%= simple_form_for([:overseers, @po_request, @email_message], url: {action: @action, controller: 'overseers/po_requests/email_messages'}, :method => :post, :html => {:class => 'card needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
      <div class="card-body">
        <%= hidden_field_tag :type, params[:type] %>
        <%= f.input :from, disabled: true %>
        <%= f.input :to %>
        <%= f.input :cc %>
        <%= f.input :bcc %>
        <%= f.input :subject %>
        <%= f.input :files, wrapper: :custom_file, input_html: {multiple: true} %>
        <% if f.object.auto_attach == true %>
          <div class="d-flex flex-row align-items-center">
            <div class="form-group mr-2">
              <%= link_to overseers_purchase_order_path(@po_request.purchase_order, format: :pdf), target: :_blank, :class => 'btn bmro-button btn-success' do %>
                <i class="bmro-file-pdf"></i>Purchase Order
              <% end %>
            </div>
            <%= f.input :auto_attach, wrapper: :custom_boolean, input_html: {:'data-parsely-no-valid-feedback' => ''} %>
          </div>
        <% end %>
        <%= f.input :body, input_html: {rows: 10, class: 'html-editor'} %>
      </div>
      <div class="card-footer">
        <%= button_tag(type: "submit", class: "btn btn-success bmro-button btn-block") do %>
          <i class="bmro-fa-paper-plane"></i> Send Email
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% if (action_name != 'material_received_in_bm_warehouse') && (current_overseer.inside? || current_overseer.outside?) %>
  <%= render partial: 'shared/layouts/rating_modal_with_multiple_tab' %>
<% end %>
