<div class="col-lg-12">
  <% content_for :heading_byline do %>
    This will <em>send an notification to supplier</em> and log it under
    <strong><%= current_overseer.full_name %></strong>.
  <% end %>
  <%= render layout: 'shared/layouts/form' do %>
    <%= simple_form_for([:overseers, @po_request, @email_message], url: {action: @action, controller: 'overseers/po_requests/email_messages'}, :method => :post, :html => {:class => 'card needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
      <div class="card-body">
        <%= hidden_field_tag :type, params[:type] %>
        <%= f.input :from, disabled: true %>
        <%= f.input :to %>
        <%= f.input :cc %>
        <%= f.input :bcc %>
        <%= f.input :subject %>
        <%= f.input :files, wrapper: :custom_file, input_html: {multiple: true} %>
        <%= f.input :body, input_html: {rows: 10, class: 'html-editor'} %>
      </div>
      <div class="card-footer">
        <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
          <i class="fal fa-paper-plane"></i> Send Email
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>