<%= simple_form_for([:overseers, @inquiry], :html => {:class => 'card needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
  <%= f.hidden_field :company_id %>

  <% if f.object.errors.any? %>
    <% f.object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="card-body">
    <%= f.association :company, :wrapper => :custom_multi_select, disabled: true %>
    <%= f.association :contact, :wrapper => :custom_multi_select %>
    <%= f.association :billing_address, :wrapper => :custom_multi_select, label_method: :to_s %>
    <%= f.association :shipping_address, :wrapper => :custom_multi_select, label_method: :to_s %>

    <%= f.input :status, as: :select, collection: enum_to_collection(Inquiry.statuses)  %>
    <!-- TODO commercial_status need to be added -->
    <%= f.input :opportunity_type, as: :select, collection: enum_to_collection(Inquiry.opportunity_types) %>
    <%= f.input :opportunity_source, as: :select, collection: enum_to_collection(Inquiry.opportunity_sources) %>
    <%= f.input :subject %>
    <%= f.input :gross_profit_percentage %>

    <%= f.input :expected_closing_date %>
    <%= f.input :quote_category, as: :select, collection: enum_to_collection(Inquiry.quote_categories) %>
    <%= f.input :price_type, as: :select, collection: enum_to_collection(Inquiry.price_types) %>
    <%= f.input :freight_option, as: :select, collection: enum_to_collection(Inquiry.freight_options) %>
    <%= f.input :freight_cost %>
    <%= f.input :packing_and_forwarding_option, as: :select, collection: enum_to_collection(Inquiry.packing_and_forwarding_options) %>    

    <%= f.association :payment_option, include_blank: 'Select a Payment Option' %>
    <%= f.input :weight_in_kgs %>
    <%= f.input :commercial_terms_and_conditions %>

    <div class="form-group">
      <label>Products</label>
      <%= f.nested_fields_for :inquiry_products, wrapper_tag: :div do |inquiry_product| %>
        <div class="form-row flex-row align-items-center">
          <%= inquiry_product.hidden_field :id %>
          <div class="col-9">
            <div class="d-flex flex-row">
              <div class="form-group align-self-center mr-2">
                <% if inquiry_product.object.persisted? && inquiry_product.object.product.approved? %>
                  <a href="<%= overseers_product_comments_path(inquiry_product.object.product) %>" target="_blank" class="text-success" data-toggle="tooltip" title="Approved product
                    <% if inquiry_product.object.product.last_comment %>;  <%= inquiry_product.object.product.last_comment.message %>
                    <% end %>"><i class="far fa-comment-lines"></i></a>
                <% elsif inquiry_product.object.persisted? && inquiry_product.object.product.rejected? %>
                  <a href="<%= overseers_product_comments_path(inquiry_product.object.product) %>" target="_blank" class="text-danger" data-toggle="tooltip" title="Rejected product
                    <% if inquiry_product.object.product.last_comment %>; <%= inquiry_product.object.product.last_comment.message %>
                    <% end %>"><i class="far fa-comment-lines"></i></a>
                <% elsif inquiry_product.object.persisted? %>
                  <a href="<%= overseers_product_comments_path(inquiry_product.object.product) %>" target="_blank" class="text-warning" data-toggle="tooltip" title="Discuss product
                    <% if inquiry_product.object.product.last_comment %>;  <%= inquiry_product.object.product.last_comment.message %>
                    <% end %>"><i class="far fa-comment-lines"></i></a>
                <% else %>
                <span class="text-success" data-toggle="tooltip" title="Approved product">
                  <i class="far fa-check"></i></i>
                </span>
                <% end %>
              </div>
              <div class="flex-grow-1">
                <%= inquiry_product.association :product, collection: [inquiry_product.object.product], label_method: :to_s, include_blank: "Type SKU number, name, or brand", input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_products_path}, label: false %>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex flex-row">
              <div class="flex-grow-1">
                <%= inquiry_product.input :quantity, :label => false %>
              </div>
              <div class="form-group align-self-center ml-2">
                <%= inquiry_product.remove_nested_fields_link do %>
                  <i class="far fa-times text-danger"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% if !f.object.persisted? %>
        <%#= f.add_nested_fields_link :inquiry_products, 'Add a product', class: 'btn btn-outline-success btn-block' %>
      <% else %>
        <div class="form-row">
          <div class="col-md-4">
            <a href="<%= new_excel_import_overseers_inquiry_imports_path(@inquiry) %>" class="btn btn-success btn-outline-success btn-block mb-2 mb-md-0"><i class="fal fa-file-excel mr-1"></i>Add
              products using excel</a>
          </div>
          <div class="col-md-4">
            <a href="<%= new_list_import_overseers_inquiry_imports_path(@inquiry) %>" class="btn btn-outline-success btn-block mb-2 mb-md-0"><i class="fal fa-clipboard-list mr-1"></i>Add
              products through list</a>
          </div>
          <div class="col-md-4">
            <%= f.add_nested_fields_link :inquiry_products, class: 'btn btn-outline-success btn-block mb-2 mb-md-0' do %>
              <i class="fal fa-plus-circle mr-1"></i>Add a product
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.input :comments, label: 'Subject' %>
    </div>

    <%= f.submit(class: 'btn btn-success btn-block') %>
  </div>
<% end %>