<%= simple_form_for([:overseers, @inquiry], :html => {:class => 'needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
  <%= f.hidden_field :company_id %>

  <%= render 'shared/snippets/form_errors', f: f %>

  <div class="card">

    <div class="card-body">
      <div>
        <h6 class="text-uppercase text-black-50 mb-1">Primary Details</h6>


        <div class="form-row">
          <div class="col-6">
            <% if !params[:company_id].present? && params[:action] == 'new' %>
              <%= f.input :company_id, as: :select, collection: selected_option_or_nil(f, :company), input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_companies_path, label: "Companies"}, required: true %>
            <% else %>
              <%= f.input :company, as: :string, disabled: true %>
            <% end %>

          </div>
          <div class="col-6">
            <%= f.input :account, readonly: true %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-12">
            <%= f.input :subject, required: true %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6 col-md-6">
          <%= f.input :opportunity_type, :wrapper => :custom_multi_select, as: :select, collection: enum_to_collection(Inquiry.opportunity_types), required: true, disabled: policy(f.object).restrict_fields_on_completed_orders? %>
        </div>

        <div class="col-6 col-md-6">
          <%= f.input :quote_category, :wrapper => :custom_multi_select, as: :select, collection: enum_to_collection(Inquiry.quote_categories, all_caps: true), required: true, disabled: policy(f.object).restrict_fields_on_completed_orders? %>
        </div>
      </div>

      <div class="mt-3 card-alternative ">
        <h6 class="text-uppercase text-black-50 mb-1">Contact Details</h6>

        <div class="form-row">
          <div class="col-12 col-md-6">
            <%= f.association :contact, collection: selected_option_or_nil(f, :contact), label: "Billing contact", input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_contacts_path, :'data-placeholder' => "Select a billing contact"}, required: true %>
          </div>
          <div class="col-12 col-md-6">
            <%= f.association :shipping_contact, collection: selected_option_or_nil(f, :shipping_contact), label_method: :to_s, include_blank: "Select a shipping contact", input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_contacts_path} %>
          </div>
        </div>

      </div>
    </div>
    <div class="card-footer">
      <div class="form-row">
        <% if policy(@inquiry).update? %>
          <div class="mt-1 mt-md-0 <%= policy(@inquiry).new_email_message? ? "col-md-6" : "col-md-12" %>">
            <%= action_button(action_name, @inquiry) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>