<%= simple_form_for(:kra_report, :url => kra_report_overseers_inquiries_path, :method => :get, :html => {:class => 'col-12 needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
  <div class="card mt-3">
    <div class="card-body">
      <div class="form-row">
        <div class="col-2">
          <%= f.input :category, as: :select, collection: [['Inside Sales Owner by Inquiry', 'inside_sales_owner_id'],['Inside Sales Owner by Sales Order', 'inside_by_sales_order'],['Outside Sales Owner by Inquiry', 'outside_sales_owner_id'],['Outside Sales Owner by Sales Order', 'outside_by_sales_order'],['Company','company_key']], selected: ( @category if @category.present?),input_html: {class: 'select2-single select2-wrap-text'}, :include_blank => false, label: "Category" %>
        </div>
        <div class="col-4">
          <%= f.input :date_range, as: :string, input_html: {:'data-toggle' => 'daterangepicker', :placeholder => 'Date Range', :value => (@date_range.present? ? @date_range : '')}, required: false, label: 'Pick a Date Range' %>
        </div>
        <div class="col-3 text-center">
          <%= button_tag(type: "submit", class: "btn btn-success btn-block mt-3") do %>
            <i class="fal fa-hand-point-down mr-2"></i>Fetch Report
          <% end %>
        </div>
        <div class="col-3 text-center">
          <a href="<%= kra_report_overseers_inquiries_path %>" class="btn btn-outline-success btn-block mb-2 mb-md-0 mt-3">
            <i class="fal fa-redo mr-2"></i> Reset Report</a>
        </div>
      </div>
    </div>
  </div>
<% end %>