<%= simple_form_for(:pipeline_report, :url => pipeline_report_overseers_inquiries_path, :method => :get, :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
  <div class="card mt-3">
    <div class="card-body">
      <div class="form-row">
        <div class="col">
          <%= f.input :date_range, as: :string,
                      input_html: {
                          :'data-toggle' => 'daterangepicker', :placeholder => 'Date Range',
                          :value => (params['pipeline_report'].present? && params['pipeline_report']['date_range'].present? ? params['pipeline_report']['date_range'] : '')
                      }, required: false, label: 'Pick a Date Range' %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-md-6">
          <%= f.input :company, as: :select, collection: Company.acts_as_customer,
                      input_html: {class: "select2-single", :'data-placeholder' => 'Select Customer Company' }, required: false, include_blank: true,
                      selected: params['pipeline_report'].present? && params['pipeline_report']['company'].present? ? params['pipeline_report']['company'].to_i : '' %>
        </div>
        <div class="col-12 col-md-6">
          <%= f.input :company_alias, as: :select, collection: Account.all,
                      input_html: {class: "select2-single", :'data-placeholder' => 'Select Customer Company Alias' }, required: false, include_blank: true,
                      selected: params['pipeline_report'].present? && params['pipeline_report']['company_alias'].present? ? params['pipeline_report']['company_alias'].to_i : '' %>
        </div>
        <div class="col-12 col-md-3">
          <%= f.input :procurement_specialist, as: :select, collection: Inquiry.procurement_specialists,
                      input_html: {class: "select2-single", :'data-placeholder' => 'Select a  Procurement Specialist'}, required: false, include_blank: true,
                      selected: params['pipeline_report'].present? && params['pipeline_report']['procurement_specialist'].present? ? params['pipeline_report']['procurement_specialist'].to_i : '' %>
        </div>
        <div class="col-12 col-md-3">
          <%= f.input :outside_sales_owner, as: :select, collection: Inquiry.outside_sales_owners,
                      input_html: {class: "select2-single", :'data-placeholder' => 'Select an Outside Sales Owner'}, required: false, include_blank: true,
                      selected: params['pipeline_report'].present? && params['pipeline_report']['outside_sales_owner'].present? ? params['pipeline_report']['outside_sales_owner'].to_i : '' %>
        </div>
        <div class="col-12 col-md-3">
          <%= f.input :procurement_operations, as: :select, collection: Inquiry.procurement_operations,
                      input_html: {class: "select2-single", :'data-placeholder' => 'Select a Procurement_Opreations'}, required: false, include_blank: true,
                      selected: params['pipeline_report'].present? && params['pipeline_report']['procurement_operations'].present? ? params['pipeline_report']['procurement_operations'].to_i : '' %>
        </div>
        <div class="col-12 col-md-3">
          <%= f.input :sales_manager, as: :select, collection: Overseer.all.map {|o| [o.parent.full_name, o.parent.id] if o.parent.present?}.compact.uniq.sort,
                      input_html: {class: "select2-single", :'data-placeholder' => 'Select a Sales Manager' }, required: false, include_blank: true,
                      selected: params['pipeline_report'].present? && params['pipeline_report']['sales_manager'].present? ? params['pipeline_report']['sales_manager'].to_i : '' %>
        </div>
      </div>

      <div class="form-row">
        <div class="col text-center">
          <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
            <i class="fal fa-redo mr-2"></i>Refresh Report
          <% end %>
        </div>
        <div class="col text-center">
          <a href="<%= pipeline_report_overseers_inquiries_path %>" class="btn btn-outline-success btn-block mb-2 mb-md-0">
            Reset Report</a>
        </div>
      </div>
    </div>
  </div>
<% end %>