<div class="modal fade" id="bulkUpdate">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bmro-bg">
<!--      <div class="col-12 mt-3">-->
<!--        <div class="card">-->
          <div class="modal-header text-center mt-3 px-0 p-0">

            <div class="card-header-tabs w-100">
              <button type="button" class="close" data-dismiss="modal"><i class="bmro-btn-cancel-icon"></i></button>
              <h4 class="modal-title bmro-form-heading text-black-150 text-lg-center w-100 text-small bmro-extra-padd pt-1 pb-1">
                <strong class="text-uppercase">Update Inquiries</strong>
                <strong class="d-block">Please add Inquiry numbers to be updated and associated fields. Click on update inquiries button. </strong>
              </h4>
            </div>

          </div>
<!--        </div>-->
<!--      </div>-->

      <div class="modal-body px-0 p-0">
        <%= simple_form_for(:bulk_update_inquiries, :url => bulk_update_overseers_inquiries_path, :method => :get, :html => {:class => 'col-12 needs-validation bulk-update-form', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
          <div class="error bg-danger text-white text-center mb-3 px-1 rounded"></div>
          <div class="card bmro-not-border">
            <div class="bmro-card card-body bmro-new-padding">
              <div class="form-row">
                <div class="col">
                  <%= f.input :inquiries, placeholder: 'Add comma separated Inquiry Numbers (e.g. 31245, 6743)', label: 'Inquiry Numbers', input_html: { class: 'bmro-form-input'} %>
                  <%= f.input :status, as: :select, collection: enum_to_collection(Inquiry.statuses.except('Lead by O/S')), input_html: {class: "select2-single bmro-form-input bmro-dropdown-icon", :'data-placeholder' => 'Select Status'}, label: 'Status', required: false %>
                  <%= f.input :opportunity_type, as: :select, collection: enum_to_collection(Inquiry.opportunity_types), input_html: {class: "select2-single bmro-form-input bmro-dropdown-icon", :'data-placeholder' => 'Select an Opportunity type'}, label: 'Opportunity Type', required: false %>
                  <%= f.input :quote_category, as: :select, collection: enum_to_collection(Inquiry.quote_categories), input_html: {class: "select2-single bmro-form-input bmro-dropdown-icon", :'data-placeholder' => 'Select an Quote category'}, label: 'Quote Category', required: false %>
                  <%= f.input :inside_sales_owner_id, as: :select, collection: Overseer.inside.alphabetical, input_html: {class: "select2-single bmro-form-input bmro-dropdown-icon", :'data-placeholder' => 'Select a Procurement Specialist'}, label: 'Procurement Specialist', required: false %>
                  <%= f.input :outside_sales_owner_id, as: :select, collection: Overseer.outside.alphabetical, input_html: {class: "select2-single bmro-form-input bmro-dropdown-icon", :'data-placeholder' => 'Select an Outside Sales Owner'}, label: 'Outside Sales Owner', required: false %>
                  <%= f.input :sales_manager_id, as: :select, collection: Overseer.managers.alphabetical, input_html: {class: "select2-single bmro-form-input bmro-dropdown-icon", :'data-placeholder' => 'Select Account Owner'}, label: 'Account Owner', required: false %>
                </div>
              </div>
              <div class="modal-footer p-0">
                <div class="card-footer bmro-card-footer bmro-model-header bmro-footer-margin w-100">
                  <%= button_tag(type: "submit", class: "btn btn-success bmro-button btn-block bulk-update") do %>
                    Update Inquiries
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


