<div class="col-lg-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <%= simple_form_for(@inquiry, url: update_suppliers_overseers_inquiry_path, method: :POST, :html => {:class => 'needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
      <%= render 'shared/snippets/form_errors', f: f %>
      <div class="card bmro-card">
        <div class="card-body">
          <div class="form-row">
            <div class="col-12 col-md-2">
              <div class="custom-control custom-checkbox">
                <%= f.hidden_field :inquiry_id, value: @inquiry.id %>
                <%= check_box_tag "select_all_products", true, false, class: 'custom-control-input' %>
                <label class="custom-control-label" for="select_all_products">Select All Products</label>
              </div>
            </div>
            <div class="col-6 col-md-2">
              <div class="custom-control custom-checkbox">
                <%= check_box_tag "select_all_suppliers", true, false, class: 'custom-control-input' %>
                <label class="custom-control-label" for="select_all_suppliers">Select All Suppliers</label>
              </div>
            </div>
            <% if is_authorized(@inquiry, 'link_product_suppliers') %>
              <div class="col-md-4">
                <%= button_tag(type: "button", name: 'mass_link_supplier', class: "btn btn-m btn-block btn-warning bmro-button mass-link-supplier") do %>
                  Mass Link Suppliers
                <% end %>
              </div>
              <div class="col-md-4">
                <%= button_tag(type: "button", name: 'mass_link_supplier', class: "btn btn-m btn-block btn-warning bmro-button draft-rfq") do %>
                  Draft RFQ
                <% end %>
              </div>
            <% end %>
            <hr>
          </div>
            <table class="datatable table table-bordered table-hover dt-responsive bmro-datatable-style" data-fixed-header="false">
              <thead>
              <tr>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Serial Number">Sr.</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Product">Product</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Suppliers">Suppliers</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <%= f.simple_fields_for :inquiry_products, f.object.inquiry_products.select { |ip| ip.approved?; } do |inquiry_product, i| %>
                <tr class="product_wrapper col-md-12">
                  <td>
                    <%= inquiry_product.hidden_field :id %>
                    <span class="custom-control custom-checkbox">
                      <%= check_box_tag 'inquiry_product_ids[]', inquiry_product.object.id, false, id: "inquiry_product_id_#{inquiry_product.object.id}", class: 'custom-control-input' %>
                      <label class="custom-control-label" for="<%= "inquiry_product_id_#{inquiry_product.object.id}" %>"></label>
                      </span>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-12">
                    <%= inquiry_product.object.product.name %><br>
                    <strong>SKU: </strong><%= inquiry_product.object.product.sku %>
                    <% if is_authorized(inquiry_product.object.product, 'sku_purchase_history') && policy(inquiry_product.object.product).sku_purchase_history? %>
                      <div class="mt-2">
                        <div class="col-2"><a href="<%= sku_purchase_history_overseers_product_path(inquiry_product.object.product) %>" target="_blank"><i class="fal fa-history mr-1"></i>History</a></div>
                        <div class="col-3"><a href="<%= resync_inventory_overseers_product_path(inquiry_product.object.product) %>" target="_blank"><i class="fal fa-inventory mr-1"></i>Resync Inventory</a></div>
                      </div>
                    <% end %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <% if inquiry_product.object.persisted? && inquiry_product.object.product.approved? %>
                      <%= inquiry_product.nested_fields_for :inquiry_product_suppliers do |inquiry_product_supplier| %>
                        <%= inquiry_product_supplier.hidden_field :id %>
                            <div class="row mb-1">
                              <div class="col-md-7">
                                <div class="d-flex flex-row pl-1">
                                  <div class="custom-control custom-checkbox d-inline">
                                    <%= check_box_tag 'inquiry_product_supplier_ids[]', inquiry_product.object.id, false, id: "inquiry_product_supplier_id_#{inquiry_product_supplier.object.id}", class: 'custom-control-input' %>
                                    <label class="custom-control-label" for="<%= "inquiry_product_supplier_id_#{inquiry_product_supplier.object.id}" %>"></label>
                                    <%= inquiry_product_supplier.object.supplier.to_s %>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-1">
                                <label title="Lowest Unit Cost Price">Lowest</label><br>
                                <%= inquiry_product_supplier.object.lowest_unit_cost_price %>
                              </div>
                              <div class="col-md-1">
                                <label title="Unit Cost Price">Unit Price</label><br>
                                <%= inquiry_product_supplier.object.unit_cost_price %>
                              </div>
                              <div class="col-md-1">
                                <label title="Lowest Unit Cost Price">Latest</label><br>
                                <%= inquiry_product_supplier.object.latest_unit_cost_price %>
                              </div>
                              <div class="col-md-1">
                                <%= inquiry_product_supplier.remove_nested_fields_link do %>
                                  <i class="far fa-times text-danger delete-isp" id="<%= inquiry_product_supplier.object.id %>"></i>
                                <% end if is_authorized(inquiry_product_supplier.object, 'destroy') && policy(inquiry_product_supplier.object).destroy? %>
                              </div>
                            </div>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="modal fade" id="masslinksupplier" role="dialog">
  <%= render partial: 'search_suppliers', locals: {inquiry: @inquiry, suppliers: @suppliers, indexed_suppliers: @indexed_suppliers} %>
</div>