<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<div class="col-lg-12">
  <a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4" type="button" data-toggle="collapse" data-target="#summary">
    Inquiries Summary
  </a>

  <div id="summary" class="collapse show">
    <div class="mt-2 form-row d-flex flex-row align-content-stretch">
      <% Inquiry.statuses.each do |status, v| %>
        <div class="col-4 col-md-3 col-lg-3 col-xl-2 d-flex flex-row align-content-stretch">
          <div class="card w-100 mb-2 rim rim-bottom border-<%= status_helper_color(status) %>">
            <div class="card-body px-3 pt-3 pb-3">
              <div class="text-center d-flex flex-column h-100">
                <p class="mb-1 text-small"><strong><%= status %></strong></p>
                <h5 class="mb-0 mt-auto text-<%= status_helper_color(status) %>"><%= Inquiry.send(status).size %></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all" data-name="inquiry_number">#</th>
  <th class="no-sort all">Status</th>
  <th class="no-sort desktop">Account</th>
  <th class="no-sort desktop">Company</th>
  <th class="no-sort desktop">Contact</th>
  <th class="no-sort desktop">Inside Sales</th>
  <th class="no-sort desktop">Outside Sales</th>
  <th class="no-sort desktop">Total</th>
  <th class="no-sort desktop" data-name="created_at">Created</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="text"></td>
  <td data-filter="text"></td>
  <td data-filter="text"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>