

<div class="table-responsive">
  <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Id</th>
      <th>Company Name</th>
      <th>Point of Contact</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.id %></td>
        <td><%= inquiry.company.to_s %></td>
        <td><%= inquiry.contact.to_s %></td>
        <td>
          <% if policy(inquiry).edit_suppliers? %>
            <a href="<%= edit_suppliers_overseers_inquiry_rfqs_path(inquiry) %>">Select Suppliers</a> |
          <% end %>
          <% if policy(inquiry).edit_rfqs? %>
            <a href="<%= edit_rfqs_overseers_inquiry_rfqs_path(inquiry) %>">Generate RFQs</a>
          <% end %>
          <% if policy(inquiry).edit? %>
            <a href="<%= edit_overseers_company_inquiry_path(inquiry.company, inquiry) %>">Edit</a>
          <% end %>

          <% if policy(inquiry).edit_quotations? %>
            <p>RFQs sent on <%= format_date(inquiry.rfqs_generated_on) %></p>
            <a href="<%= edit_quotations_overseers_inquiry_rfqs_path(inquiry) %>">Purchase quotations</a>
        <% end %>

        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>