<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :can_be_directly_downloaded, true %>
<% content_for :heading do %>
  KRA Report
<% end %>
<% content_for :table_desc do %>
  <%= [(@category == 'company_key' ? "Company" : "Inside Sales Owner"), 'Wise'].join(' ') %> KRA Report <%= "for range " + @date_range.gsub("~", "to") if @date_range.present? %> searchable with relevant term/keywords.
<% end %>
<% content_for :controller_is_aliased, false %>
<% content_for :page_title do %>
  Reports
<% end %>

<%= render layout: 'search_layout' do %>
<% end %>

<span class="text-red">Bible data updated at - <strong><%= Inquiry.bible_data_till_date %></strong></span>


<div class="col-lg-12 bmro-table-layout">
<% content_for :header_row do %>
  <th class="no-sort all text-right-report"></th>
  <th class="no-sort all text-right-report" width="73px" data-name="<%= @category_filter[:filter_name] %>">Name</th>
  <% if @category.present? && @category == 'company_key' %>
    <th class="no-sort all text-right-report" width="70px" data-name="account_key">Account</th>
  <% else %>
    <th class="text-right-report"></th>
  <% end %>
  <% if @category.present? && @category.include?('outside') %>
    <th class="no-sort all text-right-report" width="70px">Target</th>
  <% else %>
    <th class="no-sort all text-right-report"></th>
  <% end %>
  <th class="sort all text-right-report" width="50px" data-name="inquiry_number">Inquiries#</th>
  <th class="sort all text-right-report" width="85px" data-name="sales_quote_count">Sales Quotes#</th>
  <th class="sort all text-right-report" width="85px" data-name="total_quote_value">Value of Quotes</th>
  <th class="sort all text-right-report" width="85px" data-name="expected_order">Expected Orders#</th>
  <th class="sort all text-right-report" width="85px" data-name="total_quote_value">Value of <br>Expected Orders</th>
  <th class="sort all text-right-report" width="85px" data-name="sales_order_count">Sales Orders#</th>
  <th class="sort all text-right-report" width="85px" data-name="total_order_value">Value of Orders</th>
  <th class="sort all text-right-report" width="85px" data-name="gross_margin_assumed">Gross Margin(Assumed)</th>
  <th class="sort all text-right-report" width="85px" data-name="gross_margin_percentage">Gross Margin %</th>
  <th class="sort all text-right-report" width="85px" data-name="sku">Unique Ordered SKU#</th>
  <th class="no-sort all text-right-report" width="85px">%Inquiries Won</th>
  <th class="sort all text-right-report" width="85px" data-name="invoices_count">Sales Invoices</th>
  <th class="sort all text-right-report" width="85px" data-name="revenue">Value of Invoices</th>
  <th class="sort all text-right-report" width="85px" data-name="gross_margin_actual">Gross Margin(Actual)</th>
  <th class="sort all text-right-report" width="85px" data-name="gross_margin_actual_percentage">Gross Margin(Actual)%</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="<%= @category_filter[:filter_type] %>"></td>
  <td data-filter=<%= (@category.present? && @category == 'company_key') ? 'ajax' : 'false' %>></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<% content_for :summary_row do %>
  <td class="no-data text-right"></td>
  <td class="total text-right"></td>
  <% if @category.present? && (@category == "outside_sales_owner_id" || @category == 'outside_by_sales_order') %>
    <td class="no-data kra_summary_row"></td>
    <td class="text-right"></td>
  <% elsif @category.present? && (@category == "inside_sales_owner_id" || @category == 'inside_by_sales_order') %>
    <td class="no-data"></td>
    <td class="no-data kra_summary_row"></td>
  <% else %>
    <td class="no-data"></td>
    <td class="no-data"></td>
  <% end %>
  <td class="total_inquiries_count text-right"></td>
  <td class="text-right"></td>
  <td class="text-right"></td>
  <td class="strong text-right"></td>
  <td class="text-right"></td>
  <td class="strong text-right"></td>
  <td class="total_sales_order_value text-right"></td>
  <td class="gross_margin_assumed_value text-right"></td>
  <td class="gross_margin_percentage_total text-right"></td>
  <td class="text-right"></td>
  <td class="total_inquiries_won_percentage text-right"></td>
  <td class="text-right"></td>
  <td class="total_invoice_value text-right"></td>
  <td class="total_gross_margin_actual text-right"></td>
  <td class="actual_margin_percentage text-right"></td>
<% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>