<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :can_be_directly_downloaded, true %>
<% content_for :heading do %>
  KRA Report
<% end %>
<% content_for :table_desc do %>
    <%=  [(@category == 'company_key' ? "Company" : "Inside Sales Owner"), 'Wise'].join(' ') %> KRA Report <%= "for range " + @date_range.gsub("~","to") if @date_range.present?%> searchable with relevant term/keywords.
<% end %>
<% content_for :controller_is_aliased, false %>
<% content_for :page_title do %>
  Reports
<% end %>

<%= render layout: 'search_layout' do %>
<% end %>


<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort all" data-name=<%=@category.present? ? @category : "inside_sales_owner_id" %>>Name</th>
  <% if  @category.present? && @category == 'company_key'  %> <th class="no-sort all" data-name="account_key">Account</th> <% else %> <th></th><% end %>
  <th class="no-sort all" data-name="inquiry_number">Inquiries#</th>
  <th class="no-sort all" data-name="sales_quote_count">Sales Quotes#</th>
  <th class="no-sort all" data-name="total_quote_value">Value of Quotes</th>
  <th class="no-sort all" data-name="expected_order">Expected Orders#</th>
  <th class="no-sort all" data-name="total_quote_value">Value of <br>Expected Orders</th>
  <th class="no-sort all" data-name="sales_order_count">Sales Orders#</th>
  <th class="no-sort all" data-name="total_order_value">Value of Orders</th>
  <th class="no-sort all" data-name="gross_margin_assumed">Gross Margin(Assumed)</th>
  <th class="sort all" data-name="gross_margin_percentage">Gross Margin %</th>
  <th class="sort all" data-name="sku">Unique Ordered SKU#</th>
  <th class="no-sort all">%Inquiries Won</th>
  <th class="no-sort all" data-name="invoices_count" >Sales Invoices</th>
  <th class="no-sort all" data-name="revenue">Revenue</th>
  <th class="sort all" data-name="gross_margin_actual">Gross Margin(Actual)</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter=<%= (@category.present? && @category == 'company_key') ? 'ajax' : 'dropdown' %>></td>
  <td data-filter=<%= (@category.present? && @category == 'company_key') ? 'ajax' : 'false' %>></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
<% end %>

<% content_for :summary_row do %>
  <td class="no-data"></td>
  <td class="total"></td>
  <td class="no-data"></td>
  <td></td>
  <td></td>
  <td class="strong"></td>
  <td></td>
  <td class="strong"></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="percentage"></td>
  <td></td>
  <td class="percentage"></td>
  <td></td>
  <td></td>
  <td></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>