<% provide :container_fluid, true %>

<div class="col-lg-12 mb-0">
  <div class="page-header mb-0">
    <h2>Pipeline Report</h2>
  </div>
</div>

<div class="col-12">
  <%= render layout: 'search_layout_for_pipeline' do %>
  <% end %><br>

  <table class="table-bordered table">
    <thead>
    <tr>
      <th style="font-weight:bold;">Month</th>
      <% @statuses.invert.each do |index, status| %>
        <th style="font-weight:bold; white-space:normal;"><%= status %></th>
      <% end %>
      <th style="font-weight:bold;">Grand Total</th>
      <th style="font-weight:bold;">Won %</th>
    </tr>
    </thead>
    <tbody style="text-align:right;">
    <% @indexed_pipeline_report.each do |month, record_bucket| %>
      <tr>
        <td style="text-align:left;"><%= format_month_without_date(month) %></td>
        <% @statuses.each do |index, status| %>
          <td>
            <strong>
              <%= record_bucket['pipeline']['buckets'].map {|bucket| bucket['doc_count'] if bucket['key'] == status}.compact.first || 0 %>
            </strong><br>
            <%= link_to(format_currency(record_bucket['pipeline']['buckets'].map {|bucket| bucket['inquiry_value']['value'] if bucket['key'] == status}.compact.first || 0, precision: 0, show_symbol: true),
                        filtered_path(overseers_inquiries_path, [
                            filter_by_value('Inside+Sales', params['pipeline_report']['sales_executive'], params['pipeline_report']['sales_executive']),
                            filter_by_value('Outside+Sales', params['pipeline_report']['sales_executive'], params['pipeline_report']['sales_executive']),
                            filter_by_value('Status', status, status),
                            filter_by_date_range('Date', params['pipeline_report']['date_range'])
                        ]), target: '_blank') %>
          </td>
        <% end %>
        <td>
          <strong>
            <%= record_bucket['doc_count'] %>
          </strong><br>
          <%= format_currency(record_bucket['sum_monthly_sales']['value'], precision: 0, show_symbol: true) %></td>
        <td>
          <!-- <%#= record_bucket['doc_count'] != 0 ? (((record_bucket['pipeline']['buckets'].map{|bucket| bucket['doc_count'] if bucket['key'] == 18 }.compact.first || 0)/record_bucket['doc_count'])*100).round(2) : 0 %> -->
          <%= percentage((((record_bucket['pipeline']['buckets'].map {|bucket| bucket['inquiry_value']['value'] if bucket['key'] == 18}.compact.first || 0) / record_bucket['sum_monthly_sales']['value']) * 100).round(2)) %>
        </td>
      </tr>
    <% end %>
    <tr style="font-weight:bold;">
      <td>Total Summary</td>
      <% @statuses.each do |index, status| %>
        <td>
          <%= @indexed_summary_row['buckets'].map {|summary_bucket| summary_bucket['doc_count'] if summary_bucket['key'] == status}.compact.first || 0 %>
          <br>
          <%= link_to(format_currency(@indexed_summary_row['buckets'].map {|summary_bucket| summary_bucket['statuswise_inquiry_summary']['value'] if summary_bucket['key'] == status}.compact.first || 0, precision: 0, show_symbol: true),
                      filtered_path(overseers_inquiries_path, [
                          filter_by_value('Inside+Sales', params['pipeline_report']['sales_executive'], params['pipeline_report']['sales_executive']),
                          filter_by_value('Outside+Sales', params['pipeline_report']['sales_executive'], params['pipeline_report']['sales_executive']),
                          filter_by_value('Status', index, status),
                          filter_by_date_range('Date', params['pipeline_report']['date_range'])
                      ]), target: '_blank') %>
        </td>
      <% end %>
      <td>
        <%= @indexed_summary_row['buckets'].map {|summary_bucket| summary_bucket['doc_count']}.sum %><br>
        <%= format_currency(@summary_total['value'], precision: 0, show_symbol: true) %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
