<% if Settings.reports.show_summary %>
<div class="col-lg-12">
  <a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4" type="button" data-toggle="collapse" data-target="#summary">
    Smart Queue Summary
  </a>

  <div id="summary" class="collapse show">
    <div class="mt-2 form-row d-flex flex-row align-content-stretch">
      <% @statuses.each do |title,status| %>
        <div class="col-4 col-md-3 col-lg-3 col-xl-2 d-flex flex-row align-content-stretch">
          <div class="card w-100 mb-2 rim rim-bottom border-<%= status[:color] %>">
            <div class="card-body px-3 pt-3 pb-3">
              <div class="text-center d-flex flex-column h-100">
                <p class="mb-1 text-small"><strong><%= title %></strong></p>
                <h5 class="mb-0 mt-auto text-<%= status[:color] %>"><%= number_with_delimiter(status[:value]) %></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% content_for :heading do %>
  Smart Queue
<% end %>

<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort desktop">Priority</th>
  <th class="sort all text-right" data-name="inquiry_number">#</th>
  <th class="no-sort desktop" data-name="status">Status</th>
  <th class="no-sort desktop" data-name="account_id">Account</th>
  <th class="no-sort desktop" data-name="company_id">Company</th>
  <th class="no-sort desktop" data-name="contact_id">Contact</th>
  <th class="no-sort desktop" data-name="inside_sales_executive">Inside Sales</th>
  <th class="no-sort desktop" data-name="outside_sales_executive">Outside Sales</th>
  <th class="sort desktop text-right" data-name="calculated_total">Total</th>
  <th class="sort desktop text-right" data-name="created_at">Created</th>
<% end %>

<% content_for :filter_row do %>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="false"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="ajax"></td>
  <td data-filter="ajax"></td>
  <td data-filter="ajax"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="dropdown"></td>
  <td data-filter="false"></td>
  <td data-filter="daterange"></td>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>