<div class="col-lg-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <% provide :hide_table_desc, true %>
    <% provide :hide_table_heading, true %>

    <% content_for :header_row do %>
      <th class="no-sort">Quick Actions</th>
      <th class="no-sort desktop text-right"># Invoice</th>
      <th class="no-sort desktop text-right">Invoice Status</th>
      <th class="no-sort desktop text-right"># Sales Order</th>
      <th class="no-sort desktop text-right">Line Items</th>
      <th class="no-sort desktop text-right">Net Amount</th>
      <th class="no-sort desktop text-right">Tax Amount</th>
      <th class="no-sort desktop text-right">Credit Amount</th>
      <th class="no-sort desktop text-right">Total Amount</th>
      <th class="no-sort desktop text-right">Invoice Date</th>
      <th class="no-sort desktop text-right">Created At</th>
    <% end %>

    <%= render layout: 'shared/layouts/datatable' do %>
      <% @sales_invoices.each do |sales_invoice| %>
      <% credit_memo_amount = sales_invoice.credit_notes.present? ? sales_invoice.credit_notes.first.memo_amount.to_f : 0.0 %> 
        <tr>
          <td>
            <% if is_authorized(sales_invoice,'relationship_map') && policy(sales_invoice).relationship_map? %>
              <%= row_action_button(relationship_map_overseers_inquiry_sales_invoice_path(sales_invoice.inquiry.to_param, sales_invoice.to_param), 'sitemap', 'Relationship Map', 'info', :_blank) %>
            <% end %>
            <% if is_authorized(sales_invoice,'show_original_invoice') && policy(sales_invoice).show_original_invoice? %>
              <%= row_action_button(url_for(sales_invoice.original_invoice), 'none', sales_invoice.original_invoice.filename, 'success', :_blank, 'get', false, 'O') %>
              <%= row_action_button(url_for(sales_invoice.duplicate_invoice), 'none', sales_invoice.duplicate_invoice.filename, 'success', :_blank, 'get', false, 'D') %>
              <%= row_action_button(url_for(sales_invoice.triplicate_invoice), 'none', sales_invoice.triplicate_invoice.filename, 'success', :_blank, 'get', false, 'T') %>
            <% end %>
            <% if is_authorized(sales_invoice,'show') && policy(sales_invoice).show? %>
              <%= row_action_button(overseers_inquiry_sales_invoice_path(@inquiry, sales_invoice), 'eye', 'View AR Invoice ', 'info') %>
              <%= row_action_button(overseers_inquiry_sales_invoice_path(@inquiry, sales_invoice, format: :pdf), 'download', 'Download', 'success', :_blank, 'get','', false, 'O') %>
              <%= row_action_button(duplicate_overseers_inquiry_sales_invoice_path(@inquiry, sales_invoice, format: :pdf), 'download', 'Download Duplicate', 'success', :_blank, 'get','', false, 'D') %>
              <%= row_action_button(triplicate_overseers_inquiry_sales_invoice_path(@inquiry, sales_invoice, format: :pdf), 'download', 'Download Triplicate', 'success', :_blank, 'get','', false, 'T') %>
              <%= row_action_button(make_zip_overseers_inquiry_sales_invoice_path(@inquiry, sales_invoice, format: :zip), 'file-archive', 'Download zip', 'info', :_blank) %>
            <% end %>
            <% if is_authorized(sales_invoice,'edit_mis_date') && policy(sales_invoice).edit_mis_date? %>
              <%= row_action_button(edit_mis_date_overseers_inquiry_sales_invoice_path(@inquiry, sales_invoice), 'calendar-alt', 'Update MIS Date', 'success') %>
            <% end %>
            <% if is_authorized(sales_invoice,'edit_pod') && policy(sales_invoice).edit_pod? && (sales_invoice.pod_rows.count == 0) %>
              <%= row_action_button(edit_pod_overseers_sales_invoice_path(sales_invoice), 'truck', 'Add Proof of Delivery', 'success') %>
            <% end %>
            <% if is_authorized(sales_invoice,'edit_pod') && policy(sales_invoice).edit_pod? && (sales_invoice.pod_rows.count > 0) %>
              <%= row_action_button(edit_pod_overseers_sales_invoice_path(sales_invoice), 'pencil', 'Edit Proof of Delivery', 'info') %>
            <% end %>

            <% if policy(sales_invoice).view_pod? && (sales_invoice.pod_rows.count > 0) %>
              <%= row_action_button(view_pod_overseers_sales_invoice_path(sales_invoice), 'eye', 'View Proof of Delivery', 'info') %>
            <% end %>
          </td>
          <td><%= sales_invoice.invoice_number %></td>
          <td><%= status_badge(sales_invoice.status) %></td>
          <td><%= sales_invoice.sales_order.order_number %></td>
          <td><%= sales_invoice.rows.size %></td>
          <td><%= format_currency(sales_invoice.net_amount, precision: 2, symbol: nil) %></td>
          <td><%= format_currency(sales_invoice.tax_amount, precision: 2, symbol: nil) %></td>
          <td><%= sales_invoice.status == "Invoiced" ? "-" : format_currency(credit_memo_amount, precision: 2, symbol: nil) %></td>
          <td><%= format_currency((sales_invoice.net_amount + sales_invoice.tax_amount) - credit_memo_amount, precision: 2, symbol: nil) %></td>
          <td><%= format_date(sales_invoice.mis_date || sales_invoice.metadata["sales_invoice"]["created_at"].to_date) if sales_invoice.metadata["sales_invoice"].present? && sales_invoice.metadata["sales_invoice"]["created_at"].present? %></td>
          <td><%= format_date(sales_invoice.created_at) %></td>

        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span data-toggle="tooltip" title="The totals do not include amount from Cancelled documents."><%= format_currency(@sales_invoices.total_net_amount, precision: 2, symbol: nil) %></span></td>
        <td><span data-toggle="tooltip" title="The totals do not include amount from Cancelled documents."><%= format_currency(@sales_invoices.total_tax_amount, precision: 2, symbol: nil) %></span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>
</div>
