div class="col-lg-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <% provide :hide_table_desc, true %>
    <% provide :hide_table_heading, true %>

    <% content_for :header_row do %>
      <th class="no-sort"></th>
      <th># Invoice</th>
      <th># Sales Order</th>
      <th>Line Items</th>
      <th>Created At</th>
    <% end %>

    <%= render layout: 'shared/layouts/datatable' do %>
      <% @sales_invoices.each do |sales_invoice| %>
        <tr>
          <td>
            <% if policy(sales_invoice).show_original_invoice? %>
              <%= row_action_button(url_for(sales_invoice.original_invoice), 'file-pdf', sales_invoice.original_invoice.filename, 'dark', :_blank) %>
              <%= row_action_button(url_for(sales_invoice.duplicate_invoice), 'file-pdf', sales_invoice.duplicate_invoice.filename, 'dark', :_blank) %>
              <%= row_action_button(url_for(sales_invoice.triplicate_invoice), 'file-pdf', sales_invoice.triplicate_invoice.filename, 'dark', :_blank) %>
            <% end %>
            <% if policy(sales_invoice).show? %>
              <%= row_action_button(overseers_inquiry_sales_invoice_path(@inquiry, sales_invoice, format: :pdf), 'file-pdf', 'Download', 'dark', :_blank) %>
            <% end %>
          </td>
          <td><%= sales_invoice.invoice_number %></td>
          <td><%= sales_invoice.sales_order.order_number %></td>
          <td><%= sales_invoice.rows.size %></td>
          <td><%= format_date(sales_invoice.created_at) %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</div>