<div class="page fixed">
  <div class="main-container col1-layout">
    <div class="main">
      <div class="col-main">
        <div id="compare-wrapper">
          <div class="compare_open" id="compare_popup"></div>
          <div style=" float:left; width: 49%; padding-top: 1px;padding-bottom: 10px; text-align: left;">
            <%= wicked_pdf_image_tag 'BMIS_Logo_PNG.png', :width => "50%" %>
          </div>
          <div style="float:right;width:49%; padding-top: 1px;padding-bottom: 10px;text-align: right; vertical-align:center">
            <b><span style="color:#000; font-size: 30px">Tax Invoice #<%= @metadata[:increment_id] %></span></b>
            <span style="color:#000; font-weight: bold; font-size: 20px">
            <% if defined?(triplicate) && triplicate %>
              Triplicate for Supplier
            <% elsif defined?(duplicate) && duplicate %>
              Duplicate for Transporter
            <% else %>
              Original for Recipient
            <% end %>
            </span>
          </div>
          <br clear="all">
          <div style="border:1px solid; border-radius: 5px;padding: 2px">
            <table border="0" cellspacing="0" style="width: 100%;">
              <tbody>
              <tr>
                <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
                  <span style="color:#F58220">
                    <%= @sales_invoice.sales_order.inquiry.bill_from.name if @sales_invoice.sales_order.inquiry.bill_from.present? %>
                  </span></td>
              </tr>
              <tr>
                <td style="text-align: center;">
                    <span style="color:#000000">
                       <%= @sales_invoice.sales_order.inquiry.bill_from.address.to_compact_multiline_s if @sales_invoice.sales_order.inquiry.bill_from.present? %>
                    </span>
                </td>
              </tr>
              <tr>
                <td style="text-align: center;">
                  <span style="color:#000000" style="position: relative;top: -5px;">Telephone: +91-22-4921-4921 <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website: www.bulkmro.com <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email: sales@bulkmro.com</span>
                </td>
              </tr>
              <% if @sales_invoice.sales_order.sales_quote.is_sez %>
                <tr>
                  <td style="text-align: -webkit-center;">
                    <span style="color:#000000">* Supply Meant for SEZ/Export Under Letter of Undertaking without payment of IGST</span>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <br clear="all">
          <div style="background: #d3d3d3; border:1px solid; border-radius: 5px;padding-top: 1px;padding-bottom: 1px; text-align: center;">
            <span style="color:#000000"><b>Tax Invoice #<%= @metadata[:increment_id] %></b></span>
          </div>
          <br clear="all">
          <div style="border:1px solid; border-radius: 5px;">
            <table border="0" cellspacing="0" style="width: 100%;">
              <tbody>
              <tr>
                <td align="left" colspan="5" height="20" style="width:25%; padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">Quotation #</span></b> <span style="float:right">:</span></td>
                <td align="left" colspan="5" style="width:25%;padding-left: 10px;" valign="top">
                  <span style="color:#000000"><%= @sales_invoice.sales_order.inquiry.inquiry_number %></span></td>
                <td align="left" colspan="5" style="width:25%;padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">Customer Inquiry Reference</span></b>
                  <span style="float:right">:</span></td>
                <td align="left" colspan="6" style="width:25%; padding-left: 10px;" valign="top">
                    <span style="color:#000000">
                      <%= [@sales_invoice.sales_order.inquiry.inquiry_number, @sales_invoice.sales_order.inquiry.subject].join(" - ") %>
                    </span>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="5" height="20" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">Customer Purchase Order #</span></b>
                  <span style="float:right">:</span></td>
                <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                  <span style="color:#000000"><%= @sales_invoice.sales_order.inquiry.customer_po_number if @sales_invoice.sales_order.inquiry.customer_po_number.present? %></span>
                </td>
                <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">Customer Purchase Order Date</span></b>
                  <span style="float:right">:</span></td>
                <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                  <span style="color:#000000"><%= @sales_invoice.sales_order.inquiry.customer_order_date.strftime("%d-%b-%Y") if @sales_invoice.sales_order.inquiry.customer_order_date.present? %></span>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="5" height="20" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">Sales Order #</span></b> <span style="float:right">:</span></td>
                <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                  <span style="color:#000000"><%= @sales_invoice.sales_order.order_number %></span></td>
                <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">Sales Order Date</span></b> <span style="float:right">:</span></td>
                <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <span style="color:#000000">
                      <%= @sales_invoice.sales_order.created_at.strftime("%d-%b-%Y") if @sales_invoice.sales_order.created_at.present? %>
                        </span></td>
              </tr>
              `
              <tr>
                <td align="left" colspan="5" height="20" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">Invoice #</span></b> <span style="float:right">:</span></td>
                <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                  <span style="color:#000000"><%= @metadata[:increment_id] %></span></td>
                <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">Invoice Date</span></b> <span style="float:right">:</span></td>
                <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <span style="color:#000000">
                      <%= Date.parse(@metadata[:created_at]).strftime("%d-%b-%Y") if @metadata[:created_at].present? %>
                    </span></td>
              </tr>
              <tr>
                <td align="left" colspan="5" height="20" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">GRN # </span></b> <span style="float:right">:</span></td>
                <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                  <span style="color:#000000"> </span></td>
                <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                  <b><span style="color:#000000">Payment Terms</span></b> <span style="float:right">:</span></td>
                <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                  <span style="color:#000000">
                  <%= @sales_invoice.sales_order.inquiry.payment_option.name if @sales_invoice.sales_order.inquiry.payment_option.present? %>
                  </span></td>
              </tr>
              </tbody>
            </table>
          </div>
          <br clear="all">
          <div class="address-blocks">


            <div style=" " class="heading heading-left">
              <b><span>Supplier - Bill from:</span></b>
            </div>
            <div class="heading heading-right">
              <b><span>Supplier - Ship from:</span></b>
            </div>

            <br clear="all">
            <table border="0" cellspacing="0" style="width: 100%;">
              <tbody>
              <tr>
                <td class="address-section-holder">
                  <div class="address-wrapper address-wrapper-left">

                    <% if @sales_invoice.sales_order.inquiry.bill_from.address.present? %>
                      <%= @sales_invoice.sales_order.inquiry.bill_from.address.name.to_s %><br>
                    <% end %>
                    <% if @sales_invoice.sales_order.inquiry.bill_from.present? %>
                      <%= @sales_invoice.sales_order.inquiry.bill_from.address.to_multiline_s %><br>
                      GST No.: <%= @sales_invoice.sales_order.inquiry.bill_from.address.gst %><br>
                    <% end %>
                    PAN No.: AAGCB7343G</span>
                  </div>
                </td>
                <td class="address-section-gap"></td>
                <td class="address-section-holder">
                  <div class="address-wrapper address-wrapper-right">

                    <% if @sales_invoice.sales_order.inquiry.ship_from.present? %>
                      <%= @sales_invoice.sales_order.inquiry.ship_from.address.name.to_s %><br>
                    <% end %>
                    <% if @sales_invoice.sales_order.inquiry.ship_from.present? %>
                      <%= @sales_invoice.sales_order.inquiry.ship_from.address.to_multiline_s %><br>
                      GST No.: <%= @sales_invoice.sales_order.inquiry.ship_from.address.gst %><br>
                    <% end %>
                    PAN No.: AAGCB7343G</span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <br clear="all">
          <div class="address-blocks">


            <div style=" " class="heading heading-left">
              <b><span>Customer - Bill to:</span></b>
            </div>
            <div class="heading heading-right">
              <b><span>Customer - Ship to:</span></b>
            </div>

            <br clear="all">
            <table border="0" cellspacing="0" style="width: 100%;">
              <tbody>
              <tr>
                <td class="address-section-holder">
                  <div class="address-wrapper address-wrapper-left">

                    <%= @sales_invoice.sales_order.inquiry.contact.full_name %><br>
                    <%= @sales_invoice.sales_order.inquiry.billing_address.name %><br>
                    <%= @sales_invoice.sales_order.inquiry.billing_address.to_multiline_s if @sales_invoice.sales_order.inquiry.billing_address.present? %>
                    <br>
                    Tel: <%= @sales_invoice.sales_order.inquiry.billing_address.telephone %><br>
                    GST No.:<%= @sales_invoice.sales_order.inquiry.billing_address.gst %><br>
                  </div>
                </td>
                <td class="address-section-gap"></td>
                <td class="address-section-holder">
                  <div class="address-wrapper address-wrapper-right">

                    <%= @sales_invoice.sales_order.inquiry.shipping_contact.present? ? @sales_invoice.sales_order.inquiry.shipping_contact.full_name : @sales_invoice.sales_order.inquiry.contact.full_name %>
                    <br>
                    <%= @sales_invoice.sales_order.inquiry.shipping_address.name %><br>
                    <%= @sales_invoice.sales_order.inquiry.shipping_address.to_multiline_s if @sales_invoice.sales_order.inquiry.shipping_address.present? %>
                    <br>
                    <% if @sales_invoice.sales_order.inquiry.shipping_contact.present? %>
                      Tel: <%= @sales_invoice.sales_order.inquiry.shipping_contact.phone || @sales_invoice.sales_order.inquiry.shipping_contact.mobile || @sales_invoice.sales_order.inquiry.shipping_address.telephone %>
                    <% else %>
                      Tel: <%= @sales_invoice.sales_order.inquiry.contact.phone || @sales_invoice.sales_order.inquiry.contact.mobile || @sales_invoice.sales_order.inquiry.shipping_address.telephone %>
                    <% end %> <br>

                    GST No.:<%= @sales_invoice.sales_order.inquiry.shipping_address.gst %><br>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <br clear="all">
          <div style="width: 100%;">
            <table border="0" cellspacing="0" class="pdf-table">
              <thead>
              <tr>
                <th align="center" valign="center">
                  <b><span>Sr.<br>
                    No.</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>SKU</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>Mfr<br>
                    Model</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>Description</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>Make</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>HSN/<br>
                    SAC<br>
                    Code</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>UOM</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>Qty</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>Unit Price<br>
                    (INR)</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>Subtotal<br>
                    (INR)</span></b></th>
                <th align="center" style="" valign="center">
                  <b><span>Tax<br>
                    Rate</span></b></th>

                <% if @sales_invoice.sales_order.sales_quote.tax_summary.strip == '0' ||
                    (@sales_invoice.sales_order.sales_quote.tax_summary.to_s.include? "IGST") %>
                  <th align="center" style="" valign="center">
                    <b><span>IGST<br>
                    Rate</span></b></th>
                  <th align="center" style="" valign="center">
                    <b><span>IGST<br>
                    Amt</span></b></th>
                <% else %>
                  <th align="center" style="" valign="center">
                    <b><span>CGST<br>
                    Rate</span></b></th>
                  <th align="center" style="" valign="center">
                    <b><span>CGST<br>
                    Amt</span></b></th>
                  <th align="center" style="" valign="center">
                    <b><span>SGST<br>
                    Rate</span></b></th>
                  <th align="center" style="" valign="center">
                    <b><span>SGST<br>
                    Amt</span></b></th>
                <% end %>
                <th align="center" style="" valign="center">
                  <b><span>Total<br>
                    (INR)</span></b></th>
              </tr>
              </thead>
              <tbody>
              <% @sales_invoice.rows.each_with_index do |item, index| %>
                <tr>
                  <td align="center" valign="top">
                    <span><%= index + 1 %></span></td>
                  <td align="center" valign="top">
                    <span><%= item.sku %></span></td>

                  <td align="center" valign="top">
                    <span></span></td>
                  <td align="left" valign="top">
                    <span><%= item.name %></span></td>
                  <td align="center" valign="top">
                    <span><%= item.brand %></span></td>
                  <td align="center" valign="top">
                    <span><%= item.hsn %></span></td>
                  <td align="center" valign="top">
                    <span><%= item.uom %></span></td>
                  <td align="center" valign="top">
                    <span><%= item.metadata['qty'] %></span></td>
                  <td align="right" valign="top">
                    <span><%= item.metadata['price'].to_f.round(2) %></span></td>
                  <td align="right" valign="top">
                    <span><%= item.metadata['row_total'].to_f.round(2) %></span></td>
                  <td align="center" valign="top">
                    <span><%= item.tax_rate %>%</span></td>
                  <% if @sales_invoice.sales_order.sales_quote.tax_summary.strip == '0' ||
                      (@sales_invoice.sales_order.sales_quote.tax_summary.to_s.include? "IGST") %>
                    <td align="center" valign="top">
                      <span><%= item.tax_rate.to_f.round(2) %>%</span></td>
                    <td align="right" valign="top">
                      <span><%= item.metadata['tax_amount'].to_f.round(2) %></span></td>
                  <% else %>
                    <td align="center" valign="top">
                      <span><%= (item.tax_rate.to_f / 2).round(2) %>%</span></td>
                    <td align="right" valign="top">
                      <span><%= (item.metadata['tax_amount'].to_f / 2).round(2) %></span></td>
                    <td align="center" valign="top">
                      <span><%= (item.tax_rate.to_f / 2).round(2) %>%</span></td>
                    <td align="center" valign="top">
                      <span><%= (item.metadata['tax_amount'].to_f / 2).round(2) %><br></span></td>
                  <% end %>
                  <td align="right" valign="top">
                    <span><%= item.metadata['row_total_incl_tax'].to_f.round(2) %></span></td>
                </tr>
              <% end if @metadata[:ItemLine].present? %>

              <tr class="pdf-table-total-row">
                <td align="center" valign="top">
                  <span></span></td>
                <td align="center" valign="top">
                  <span><b><span>Total</span></b></span></td>
                <td align="center" valign="top">
                  <span></span></td>
                <td align="center" valign="top">
                  <span></span></td>
                <td align="center" valign="top">
                  <span></span></td>
                <td align="center" valign="top">
                  <span></span></td>
                <td align="center" valign="top">
                  <span></span></td>
                <td align="center" valign="top">
                  <span></span></td>
                <td align="center" valign="top">
                  <span></span></td>
                <td align="right" valign="top">
                  <b><span><%= @metadata[:subtotal].to_f.round(2) %></span></b></td>
                <td align="center" valign="top">
                  <span></span></td>
                <% if @sales_invoice.sales_order.sales_quote.tax_summary.strip == '0' ||
                    (@sales_invoice.sales_order.sales_quote.tax_summary.to_s.include? "IGST") %>
                  <td align="center" valign="top">
                    <span></span></td>
                  <td align="right" valign="top">
                    <b><span><%= @metadata[:tax_amount].to_f.round(2) %></span></b></td>
                <% else %>
                  <td align="center" valign="top">
                    <span></span></td>
                  <td align="right" valign="top">
                    <b><span><%= (@metadata[:tax_amount].to_f / 2).round(2) %></span></b></td>
                  <td align="center" valign="top">
                    <span></span></td>
                  <td align="right" valign="top">
                    <b><span><%= (@metadata[:tax_amount].to_f / 2).round(2) %></span></b></td>
                <% end %>
                <td align="right" valign="top">
                  <b><span><%= @metadata[:subtotal_incl_tax].to_f.round(2) %></span></b></td>
              </tr>

              </tbody>
            </table>
          </div>
          <br clear="all">

          <% if @sales_invoice.sales_order.inquiry.bill_from.present? && @sales_invoice.sales_order.inquiry.bill_from.legacy_id == 12 %>
            <div id="noteInvoiceContainer" style="border:1px solid; border-radius: 5px;">
              <table border="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                  <td align="left" colspan="16" height="20" style="background: #d3d3d3; padding-left: 10px;border-bottom: 1px solid #3c3c3c;" valign="top">
                    <b><span style="color:#000000">Note :</span></b></td>
                </tr>
                <tr>
                  <td align="left" style=" padding-left: 10px;" valign="top"><span style="color:#000000">
                    1. Order once confirmed cannot be cancelled or returned.<br>
                    2. Delayed payments will attract 2% interest per month.<br>
                    3. If any modifications are required in the invoice, please communicate the same in writing within 2 working days otherwise the invoice will be deemed accepted.<br>
                    4. Order once confirmed cannnot be cancelled.<br>
                    5. Invoice will be deemed accepted unless any discrepancy is raised within 7 days from the date of invoice.
                  </span>
                  </td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                </tbody>
              </table>
              <table border="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr style="background: #d3d3d3;">
                  <td align="left" class="invoiceheader1" colspan="16" height="20" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c;" valign="top">
                    <b><span style="color:#000000">Other Information :</span></b></td>
                </tr>
                <tr>
                  <td align="left" style=" padding-left: 10px;" valign="top"><span style="color:#000000">
                    1. Please reference our Bulk MRO Industrial Supply Pvt. Ltd. Invoice #<%= @metadata[:increment_id] %>
                    when remitting Wire Transfer payment<br>
                    2. Bulk MRO Industrial Supply Pvt. Ltd. is not responsible for any banking fees.</span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <br clear="all">
            <div id="noteInvoiceContainer" style="border:1px solid; border-radius: 5px;">
              <table style="width: 100%;" cellspacing="0" border="0">
                <tr style="background: #d3d3d3;">
                  <td class="invoiceheader1" style=" border-bottom: 1px solid #3c3c3c;" colspan="16" height="20" align="left" valign="top">
                    <b><span style="color:#000000">Payment By Wire Transfer To :</span></b></td>
                </tr>
                <tr>
                  <td colspan="4" style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <b><span style="color:#000000">Bank :</span></b></td>
                  <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                    <span style="color:#000000">First Republic Bank</span></td>
                </tr>
                <tr>
                  <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                    <b><span style="color:#000000">Address :</span></b></td>
                  <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                    <span style="color:#000000"> 2274 EI Camino Real Palo Alto, CA 94306</span></td>
                </tr>
                <tr>
                  <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                    <b><span style="color:#000000">Account Name :</span></b></td>
                  <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                    <span style="color:#000000">Bulk MRO Industrial Supply , INC ABA : 32108166 </span></td>
                </tr>
                <tr>
                  <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                    <b><span style="color:#000000">Account Number :</span></b></td>
                  <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                    <span style="color:#000000">80003839610</span></td>
                </tr>
              </table>
            </div>
            <br clear="all">
          <% else %>
            <div id="noteInvoiceContainer" style="border:1px solid; border-radius: 5px;">
              <table style="width: 100%;" cellspacing="0" border="0">

                <tr style="background: #d3d3d3;">
                  <td class="invoiceheader1" style=" border-bottom: 1px solid #3c3c3c;" colspan="16" height="20" align="left" valign="top">
                    <b><span style="color:#000000">Note :</span></b></td>
                </tr>
                <tr>
                  <td class="invoiceheader1" style=" border-bottom: 1px solid #3c3c3c; " colspan="16" height="70" align="left" valign="top">
                    <span style="color:#000000">1. Order once confirmed cannnot be cancelled.<br>2. Delayed payments will
                      attract 2% interest per month.<br>3. Invoice will be deemed accepted unless any discrepancy is
                      raised in writing within 7 days from the date of invoice.</span></td>
                </tr>
                <tr style="background: #d3d3d3;">
                  <td class="invoiceheader1" style="border-top: 1px solid #3c3c3c; border-bottom: 1px solid #3c3c3c; " colspan="16" height="20" align="left" valign="top">
                    <b><span style="color:#000000">Other Information :</span></b></td>
                </tr>
                <tr>
                  <td class="invoiceheader1" style=" " colspan="16" rowspan="2" height="39" align="left" valign="top">
                    <span style="color:#000000">1. Please reference our Bulk MRO Industrial Supply Pvt. Ltd. Invoice
                      #<%= @metadata[:increment_id] %> when remitting Wire Transfer payment.<br>2. Bulk MRO Industrial Supply
                      Pvt. Ltd. is not reponsible for any banking fees.</span><br/>
                    <!-- commercial terms -->
                  </td>
                </tr>
                <tr>
                </tr>

              </table>
            </div>
            <br clear="all"/>
            <% if @sales_invoice.sales_order.currency.name.present? %>
              <% if @sales_invoice.sales_order.currency.name.to_s == 'USD' %>
                <div id="OtherinfoInvoice" style="border:1px solid; border-radius: 5px;">
                  <table style="width: 100%;" cellspacing="0" border="0">
                    <tr style="background: #d3d3d3;">
                      <td class="invoiceheader1" style="  padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c;" colspan="16" height="20" align="left" valign="top">
                        <b><span style="color:#000000">Payment By Wire Transfer To :</span></b></td>
                    </tr>

                    <tr>
                      <td colspan="4" style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                        <b><span style="color:#000000">Bank :</span></b></td>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000">Kotak Mahindra Bank Limited </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Address :</span></b></td>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000"> Aum Saheel Tower, Mumbai 400080.</span></td>
                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Account Name :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000">Bulk MRO Industrial Supply Pvt. Ltd. </span></td>

                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Account Number :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000">9412666668</span></td>
                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Swift Code :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">KKBKINBB</span></td>

                    </tr>
                  </table>
                </div>
                <br clear="all"/>
              <% elsif @sales_invoice.sales_order.currency.name.to_s == 'EUR' %>
                <div id="OtherinfoInvoice" style="border:1px solid; border-radius: 5px;">
                  <table style="width: 100%;" cellspacing="0" border="0">
                    <tr style="background: #d3d3d3;">
                      <td class="invoiceheader1" style="  padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c;" colspan="16" height="20" align="left" valign="top">
                        <b><span style="color:#000000">Payment By Wire Transfer To :</span></b></td>
                    </tr>

                    <tr>
                      <td colspan="4" style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                        <b><span style="color:#000000">Bank :</span></b></td>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000">Kotak Mahindra Bank Ltd </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Address :</span></b></td>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000"> Aum Saheel Tower, Mumbai 400080.</span></td>
                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Account Name :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000">Bulk MRO Industrial Supply Pvt. Ltd. </span></td>

                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Account Number :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000">9412666682</span></td>
                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Swift Code :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">KKBKINBB</span></td>

                    </tr>
                  </table>
                </div>
                <br clear="all"/>
              <% elsif @sales_invoice.sales_order.currency.name.to_s == 'GBP' %>
                <div id="OtherinfoInvoice" style="border:1px solid; border-radius: 5px;">
                  <table style="width: 100%;" cellspacing="0" border="0">
                    <tr style="background: #d3d3d3;">
                      <td class="invoiceheader1" style="  padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c;" colspan="16" height="20" align="left" valign="top">
                        <b><span style="color:#000000">Payment By Wire Transfer To :</span></b></td>
                    </tr>

                    <tr>
                      <td colspan="4" style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                        <b><span style="color:#000000">Bank :</span></b></td>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000">Kotak Mahindra Bank Ltd </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Address :</span></b></td>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000"> Aum Saheel Tower, Mumbai 400080.</span></td>
                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Account Name :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000">Bulk MRO Industrial Supply Pvt. Ltd. </span></td>

                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Account Number :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="12">
                        <span style="color:#000000">9412666675</span></td>
                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Swift Code :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">KKBKINBB</span></td>

                    </tr>
                  </table>
                </div>
                <br clear="all"/>
              <% else %>
                <div id="OtherinfoInvoice" style="border:1px solid; border-radius: 5px;">
                  <table style="width: 100%;" cellspacing="0" border="0">
                    <tr style="background: #d3d3d3;">
                      <td class="invoiceheader1" style=" border-bottom: 1px solid #3c3c3c;" colspan="16" height="20" align="left" valign="top">
                        <b><span style="color:#000000">Payment By Wire Transfer To :</span></b></td>
                    </tr>

                    <tr>
                      <td colspan="4" style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                        <b><span style="color:#000000">Bank :</span></b></td>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">Kotak Mahindra Bank Ltd </span></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">State Bank of India </span></td>
                    </tr>
                    <tr>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Address :</span></b></td>
                      <td style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000"> Aum Saheel Tower, Mumbai 400080.</span></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">Kalpa Taru - 39, Pedder Road, Mumbai 400026.</span></td>
                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Account Name :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">Bulk MRO Industrial Supply Pvt. Ltd. </span></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">Bulk MRO Industrial Supply Pvt. Ltd.</span></td>
                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">Account Number :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">9412329433</span></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">35924122136</span></td>
                    </tr>
                    <tr>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="4">
                        <b><span style="color:#000000">NEFT/RTGS Code :</span></b></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">KKBK0001411</span></td>
                      <td style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;" colspan="6">
                        <span style="color:#000000">SBIN0000510 </span></td>
                    </tr>


                  </table>
                </div>
                <br clear="all"/>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>