<div class="modal fade" id="cancelInvoice">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cancel <%= @invoice_request.readable_status%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= simple_form_for([:overseers, @invoice_request], :url => cancel_invoice_request_overseers_invoice_request_path(@invoice_request), :html => {:class => 'needs-validation p-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
          <div class="error bg-danger text-white mb-3 px-1 rounded"></div>
          <div class="modal-body">
            <% if @invoice_request.status == 'Pending AP Invoice'  %>
              <%= f.input :ap_cancellation_reason, as: :text, :placeholder => 'Type Cancellation Reason', input_html: {:'data-parsely-no-valid-feedback' => ''} %>
              <%= f.hidden_field :status, :value => 'Cancelled AP Invoice' %>
            <% else %>
              <%= f.input :grpo_cancellation_reason, as: :text, :placeholder => 'Type Cancellation Reason', input_html: {:'data-parsely-no-valid-feedback' => ''} %>
              <%= f.hidden_field :status, :value => 'Cancelled GRPO' %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-warning confirm-cancel">Cancel <%= @invoice_request.readable_status%></button>
          </div>
         <% end %>
      </div>
    </div>
  </div>
</div>