<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        <%= @invoice_request.readable_status %> for Order #<%= @invoice_request.sales_order.order_number %>:&nbsp;<%= status_badge(@invoice_request.status) %>
      </h3>
      <% if policy(@invoice_request).edit? %>
        <a href="<%= edit_overseers_invoice_request_path(@invoice_request) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit</a>
      <% end %>

      <a href="#" class="btn btn-default btn-rounded btn-danger align-self-center add-review -align-right" data-toggle="modal" data-target="#modalRatingForm" >Add Review</a>
    </div>
  </section>

  <section class="mb-3">
    <div class="card mb-2">
      <div class="card-body">
        <div>
          <h6 class="text-uppercase text-black-50 mb-1">Details</h6>
          <div class="form-row">
            <% if @invoice_request.sales_order.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Sales Order #</strong>
                <%= link_to overseers_inquiry_sales_order_path(@invoice_request.inquiry, @invoice_request.sales_order), target: '_blank' do %>
                  <%= format_id(@invoice_request.sales_order.order_number) %>
                <% end %>
              </div>
            <% end %>

            <% if @invoice_request.inquiry.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Inquiry #</strong>
                <% if policy(@invoice_request.inquiry).edit? %>
                  <%= link_to overseers_inquiry_path(@invoice_request.inquiry), target: '_blank' do %>
                    <%= format_id(@invoice_request.inquiry.inquiry_number) %>
                  <% end %>
                <% else %>
                  <%= format_id(@invoice_request.sales_order.order_number) %>
                <% end %>
              </div>
            <% end %>

            <% if @invoice_request.status.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Status</strong>
                <%= status_badge(@invoice_request.status) %>
              </div>
            <% end %>

            <% if @invoice_request.purchase_order.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Purchase Order #</strong>
                <% if policy(@invoice_request.purchase_order).show? %>
                  <%= link_to overseers_inquiry_purchase_order_path(@invoice_request.inquiry, @invoice_request.purchase_order, format: :pdf), target: '_blank' do %>
                    #<%= @invoice_request.purchase_order.po_number %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <% if @invoice_request.inquiry.present? && @invoice_request.inquiry.inside_sales_owner.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Inside Sales</strong>
                <%= @invoice_request.inquiry.inside_sales_owner.to_s %>
              </div>
            <% end %>

            <% if @invoice_request.inquiry.present? && @invoice_request.inquiry.inside_sales_owner.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Outside Sales</strong>
                <%= @invoice_request.inquiry.outside_sales_owner.to_s %>
              </div>
            <% end %>
            <div class="col-md-12">
              <div class="row">
                <% if @invoice_request.grpo_number.present? %>
                  <div class="col-6 col-md-3 mb-2">
                    <strong class="d-block">GRPO #</strong>
                    <%= @invoice_request.grpo_number %>
                  </div>
                <% end %>

                <% if @invoice_request.shipment_number.present? %>
                  <div class="col-6 col-md-3 mb-2">
                    <strong class="d-block">Shipment #</strong>
                    <%= @invoice_request.shipment_number %>
                  </div>
                <% end %>

                <% if @invoice_request.ap_invoice_number.present? %>
                  <div class="col-6 col-md-3 mb-2">
                    <strong class="d-block">AP Invoice #</strong>
                    <%= @invoice_request.ap_invoice_number %>
                  </div>
                <% end %>


                <% if @invoice_request.ar_invoice_number.present? %>
                  <div class="col-6 col-md-3 mb-2">
                    <strong class="d-block">AR Invoice #</strong>
                    <%= @invoice_request.ar_invoice_number %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
          <% if @invoice_request.attachments.attached? %>
            <div class="form-row">
              <div class="col-12 col-md-3 mb-2 mt-2">
                <strong class="d-block">Attachments </strong>
                <% @invoice_request.attachments.each do |attachment| %>
                  <%= link_to url_for(attachment), class: 'ml-md-1 btn btn-success', target: '_blank', :"data-toggle" => 'tooltip', :status => attachment.filename do %>
                    <i class="fal fa-download"></i>
                    <%= link_to overseers_attachment_path(attachment.id), class: 'btn btn-outline-danger btn-sm ml-1 mr-1 mr-md-0', method: :delete, data: {confirm: 'Are you sure?'}, :"data-toggle" => 'tooltip', :status => ['Delete', ' ', attachment.filename, '?'].join('') do %>
                      <i class="fal fa-trash-alt"></i>
                    <% end if attachment.present? && policy(:attachment).destroy? %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="flex-fill">
          <h6 class="text-uppercase text-black-50 mb-1">Comments History</h6>
        </div>

        <% if @invoice_request.comments.persisted.size > 0 %>
          <div class="chats mb-3">
            <% @invoice_request.comments.each do |comment| %>
              <%= format_comment(comment) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>

<%if @company_reviews.present? && @company_reviews.map(&:rating).include?(nil) %>
  <%= render partial: 'shared/layouts/rating_modal_with_multiple_tab'%>
<%end %>