<div class="modal fade" id="cancelporequestbyisp">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
              Cancel PO Request
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
           </div>
        <%= simple_form_for([:overseers, @po_request], :url => cancel_porequest_by_isp_overseers_po_request_path(@po_request), :html => {:class => 'needs-validation p-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
          <div class="error bg-danger text-white mb-3 px-1 rounded"></div>
          <div class="modal-body">
              <%= f.input :cancellation_reason, label: 'Reason for Cancellation', as: :select, collection: enum_to_collection(PoRequest.cancellation_reasons, keep_raw: true, alphabetical: false), :include_blank => true %>
              <%= f.input :cancellation_remarks, label: 'Remarks', as: :text, :placeholder => 'Type Cancellation Reason', input_html: {:'data-parsely-no-valid-feedback' => ''}%>
              <%= f.input :attachments, wrapper: :custom_file, input_html: { multiple: true}, label: 'Attachments' %>
              <%= f.hidden_field :status, :value => 'Cancelled' %>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-warning confirm-cancel">
                Cancel PO Request
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
