<%= provide :container_fluid, true %>
<% content_for :page_title do %>
  <%= @po_request.readable_status %>
<% end %>

<div class="col-lg-12">
  <div class="page-header clearfix">
    <h2><%= action_name.capitalize %> <%= @po_request.readable_status %> for Order <%= format_id(@po_request.sales_order.order_number) %></h2>
    <p>This will <em>'<%= @po_request.new_record? ? 'Create' : 'Update' %> <%= @po_request.readable_status %>'</em> and log it under <strong><%= current_overseer.full_name %></strong>.</p>
    <% if action_name == 'edit' %>
      <div class="d-none d-md-inline-block float-right">
        <%= simple_form_for(:document_creation, :url => overseers_document_creations_path, :method => :post) do |f| %>
          <div class="mr-2 d-md-inline-block">
            <%= f.hidden_field :option, value: 'Purchase Order' %>
            <%= f.input :document_number, as: :integer, input_html: { value: session[:number] }, label: false, placeholder: "Enter Purchase Order #" %>
          </div>
          <%= f.submit "Request from SAP", class: "btn btn-rounded btn-dark" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= simple_form_for([:overseers, @po_request], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>
    <div class="card mb-2">
      <div class="card-header">
        <div class="form-row">
          <div class="col-4">
            <strong class="d-block">Order Number</strong>
            <%= format_id(@po_request.sales_order.order_number) %>
          </div>
          <div class="col-4">
            <strong class="d-block">Inquiry Number</strong>
            <%= format_id(@po_request.sales_order.inquiry.inquiry_number) %>
          </div>
          <div class="col-4">
            <strong class="d-block">Customer Committed Date</strong>
            <%= @po_request.sales_order.customer_committed_date %>
           </div>
        </div>
      </div>
      <div class="card-header">
        <div class="form-row">
          <% if policy(@po_request).update? %>
            <div class="col-lg-12">
              <%= action_button(action_name, @po_request) %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <h5 class="text-uppercase mt-2">
          <strong><%= f.object.supplier.to_s %></strong>
          <a href="#" class="btn btn-default btn-danger add-review float-right" data-toggle="modal" data-target="#modalRatingForm">Add/Edit Supplier Rating</a>
        </h5>

        <%= render 'overseers/po_requests/rows_form', f: f , product_path: service_autocomplete_overseers_products_path, stock: false%>
        <% if action_name.capitalize == "New" %>
          <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
            <i class="fal fa-plus-circle"></i> Create PO Request
          <% end %>
        <% else %>
          <%= button_tag(type: "submit", class: "btn btn-warning btn-block mb-2") do %>
            <i class="fal fa-pen"></i> Update PO Request
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @po_request.comments.persisted.size > 0 %>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="flex-fill">
            <h6 class="text-uppercase text-black-50 mb-1">Comments History</h6>
          </div>
          <div class="chats">
            <% @po_request.comments.each do |comment| %>
              <% if comment.persisted? %>
                <%= format_comment(comment) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>