<% content_for :page_title do %>
  <%= @po_request.readable_status %>
<% end %>
<%= provide :container_fluid, true %>
<div class="col-lg-12">
  <div class="page-header">
    <h2><%= action_name.capitalize %> <%= @po_request.readable_status %> for
      Order <%= format_id(@po_request.sales_order.order_number) %></h2>
    <p>This will <em>'<%= submit_text(@po_request, use_alias: @po_request.readable_status) %>'</em> and log it
      under
      <strong><%= current_overseer.full_name %></strong>.</p>
  </div>

  <%= simple_form_for([:overseers, @po_request], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>



    <div class="form-row">
      <div class="col-6">
        <%= f.association :sales_order, disabled: true, collection: [f.object.sales_order], label_method: :to_s, include_blank: "Type Order Number", input_html: {class: 'select2-ajax select2-wrap-text', :'data-source' => autocomplete_overseers_sales_orders_path, :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => ''}, label: "Order Number" %>
      </div>
      <div class="col-6">
        <%= f.association :inquiry, disabled: true, collection: [f.object.inquiry], label_method: :to_s, include_blank: "Type Inquiry Number", input_html: {class: 'select2-ajax select2-wrap-text', :'data-source' => autocomplete_overseers_inquiries_path, :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => ''}, label: "Inquiry Number" %>
      </div>
      <div class="col-6">
        <%= f.input :customer_committed_date, input_html: {value: f.object.sales_order.customer_committed_date}, label: 'Customer Committed Date', disabled: true, :wrapper => :custom_multi_select, include_blank: 'Committed Date' %>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-row align-items-end">
          <div class="flex-grow-1">
            <%= f.input :attachments, wrapper: :custom_file, input_html: {multiple: true}, label: 'Attachments' %>
          </div>
          <div class="form-group">
            <% f.object.attachments.each do |attachment| %>
              <%= link_to url_for(attachment), class: 'ml-md-1 btn btn-success', target: '_blank', :"data-toggle" => 'tooltip', :status => attachment.filename do %>
                <i class="fal fa-download"></i>
                <%= link_to overseers_attachment_path(attachment.id), class: 'btn btn-outline-danger btn-sm ml-1 mr-1 mr-md-0', method: :delete, data: {confirm: 'Are you sure?'}, :"data-toggle" => 'tooltip', :status => ['Delete', ' ', attachment.filename, '?'].join('') do %>
                  <i class="fal fa-trash-alt"></i>
                <% end if attachment.present? && policy(:attachment).destroy? %>
              <% end %>
            <% end if f.object.attachments.attached? %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <%= f.nested_fields_for :comments, f.object.comments.build(:overseer => current_overseer) do |po_request_comment| %>
          <%= po_request_comment.hidden_field :created_by_id %>
          <%= po_request_comment.hidden_field :updated_by_id %>
          <%= po_request_comment.input :message, :placeholder => 'Type message', input_html: {:'data-parsely-no-valid-feedback' => ''} %>
        <% end %>
      </div>

    </div>

    <div class="card mb-2">
      <div class="card-body">
        <div class="chats">
          <h5 class="text-uppercase">
            <strong><%= f.object.supplier.to_s %></strong>
          </h5>
        </div>

        <%= render 'overseers/po_requests/rows_form', f: f %>
      </div>
    </div>
    <% if action_name.capitalize == "New" %>
      <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
        <i class="fal fa-plus-circle"></i> Create PO Request
      <% end %>
    <% else %>
      <%= button_tag(type: "submit", class: "btn btn-warning btn-block mb-2") do %>
        <i class="fal fa-pen"></i> Update PO Request
      <% end %>
    <% end %>
  <% end %>

  <% if @po_request.comments.persisted.size > 0 %>
    <div class="card">
      <div class="card-body">
        <div class="flex-fill">
          <h6 class="text-uppercase text-black-50 mb-1">Comments History</h6>
        </div>
        <div class="chats mb-3">
          <% @po_request.comments.each do |comment| %>
            <% if comment.persisted? %>
              <%= format_comment(comment) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>


  </div>