<div class="form-row mt-2 po-request-form">

  <%= f.hidden_field :id %>
  <%= f.hidden_field :sales_order_id %>
  <%= f.hidden_field :inquiry_id %>
  <%= f.hidden_field :supplier_id %>
  <%= f.hidden_field :logistics_owner_id %>
  <div class="col-12 col-md-4">
    <%= f.input :supplier_po_type, as: :select, collection: enum_to_collection(PoRequest.supplier_po_types, keep_raw: true, alphabetical: false), :include_blank => true, label: 'Supplier PO Type', required: true %>
  </div>

  <% if f.object.persisted? %>
    <div class="col-12 col-md-4">
      <% if policy(@po_request).can_cancel? %>
        <%= f.input :status, as: :select, :wrapper => :custom_multi_select, collection: enum_to_collection(PoRequest.statuses.except("Requested", "Rejected"), alphabetical: false, keep_raw: true), :include_blank => false %>
      <% elsif policy(@po_request).can_reject? %>
        <%= f.input :status, as: :select, :wrapper => :custom_multi_select, collection: enum_to_collection(PoRequest.statuses.except("PO Created", "Cancelled", "Amend"), alphabetical: false, keep_raw: true), :include_blank => false %>
      <% elsif policy(@po_request).can_update_rejected_po_requests? %>
        <%= f.input :status, as: :select, :wrapper => :custom_multi_select, collection: enum_to_collection(PoRequest.statuses.except("PO Created", "Cancelled", "Amend"), alphabetical: false, keep_raw: true), :include_blank => false, :disabled => ['Rejected'] %>
      <% elsif policy(@po_request).can_process_amended_po_requests? %>
        <%= f.input :status, as: :select, :wrapper => :custom_multi_select, collection: enum_to_collection(PoRequest.statuses.except("Requested", "Rejected", "Cancelled"), alphabetical: false, keep_raw: true), :include_blank => false, :disabled => ['Rejected'] %>
      <% else %>
        <%= f.input :status, as: :select, :wrapper => :custom_multi_select, collection: enum_to_collection(PoRequest.statuses, alphabetical: false), disabled: true, :include_blank => false %>
      <% end %>
    </div>

    <div class="col-4 d-none status-rejected">
      <%= f.input :rejection_reason, as: :select, :wrapper => :custom_multi_select, collection: enum_to_collection(PoRequest.rejection_reasons, keep_raw: true, alphabetical: false), disabled: !policy(f.object).can_reject?, :include_blank => true %>
    </div>
    <div class="col-4 d-none status-cancelled">
      <%= f.input :cancellation_reason, disabled: !(policy(f.object).can_cancel?), :include_blank => true %>
    </div>
  <% else %>
    <div class="col-12 col-md-4">
      <%= f.input :status, as: :select, collection: enum_to_collection(PoRequest.statuses.except("PO Created", "Cancelled", "Rejected", "Amend"), alphabetical: false), :include_blank => false %>
    </div>
  <% end %>
  <% if f.object.persisted? %>

    <div class="col-4">
      <%= f.association :purchase_order, collection: [f.object.purchase_order], label_method: :to_s, include_blank: "Type Supplier PO Number", input_html: {class: 'select2-ajax select2-wrap-text', :'data-source' => autocomplete_overseers_purchase_orders_path(:inquiry_number => f.object.inquiry.inquiry_number, :has_po_request => true), :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => ''}, label: "Supplier PO Number" %>
    </div>
  <% end %>
  <div class="col-12 col-md-4">
    <%= f.association :contact, collection: (f.object.supplier.contacts.map {|contact| [contact.to_s, contact.id, {'data-contact-email' => contact.email || nil, 'data-contact-phone' => contact.phone || nil}]} if f.object.supplier) || [], input_html: {class: 'select2-single'}, required: true, hint: 'Note: If left blank, above selected contact\'s email will be applied' %>

  </div>

  <div class="col-12 col-md-4">
    <%= f.input :contact_email, label: 'Contact Email', placeholder: 'Contact email', required: true %>
  </div>
  <div class="col-12 col-md-4">
    <%= f.input :contact_phone, label: 'Contact Phone', placeholder: 'Contact phone', required: true %>
  </div>

  <div class="col-12 col-md-4">
    <%= f.input :supplier_committed_date, label: 'Supplier Committed Delivery Date', as: :string, input_html: {:'data-toggle' => 'datepicker', :class => 'supplier-committed-date'}, required: true %>
  </div>
  <div class="col-12 col-md-4">
    <%= f.association :payment_option, :wrapper => :custom_multi_select, include_blank: 'Select Payment Terms', required: true, label: 'Payment Terms:' %>
  </div>

  <div class="col-12 ">
    <div class="form-row">
      <div class="col-12 col-md-6">
        <%= f.association :bill_from, collection: Address.with_includes.where(:company => f.object.supplier).map {|supplier_address| [supplier_address.to_s, supplier_address.id, {'data-supplier-state' => supplier_address.state.id, 'data-city-name' => supplier_address.city_name}]}, input_html: {class: 'select2-single'}, required: true %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.association :ship_from, collection: Address.with_includes.where(:company => f.object.supplier).map {|supplier_address| [supplier_address.to_s, supplier_address.id, {'data-supplier-state' => supplier_address.state.id, 'data-city-name' => supplier_address.city_name}]}, input_html: {class: 'select2-single'}, required: true %>
      </div>

      <div class="col-12 col-md-6">
        <%= f.association :bill_to, collection: Warehouse.all.with_includes.map {|warehouse| [warehouse.to_s, warehouse.id, {'data-warehouse' => warehouse.address.city_name.try(:strip) || 'N/A', 'data-warehouse-state' => warehouse.address.state.id, 'data-warehouse-city' => warehouse.address.city_name}]}, input_html: {class: 'select2-single', 'data-warehouse-list': Warehouse.all.map {|warehouse| [warehouse.address.state.id]}.uniq, 'data-parsley-regular': 'regular', 'data-parsley-locations': [f.object.inquiry.bill_from.address.city_name, f.object.inquiry.shipping_address.city_name, f.object.inquiry.bill_from.address.state.id].join(',')}, required: true, hint: 'Note: If the Supplier Address is for e.g. from Kolkata where the BulkMRO does not have an office. The Supplier PO will be Billed TO where the Sales Order is being Billed From (Inquiry Bill From)' %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.association :ship_to, collection: Warehouse.all.with_includes.map {|warehouse| [warehouse.to_s, warehouse.id, {'data-warehouse' => warehouse.address.city_name.try(:strip) || 'N/A', 'data-warehouse-state' => warehouse.address.state.id, 'data-warehouse-city' => warehouse.address.city_name}]}, input_html: {class: 'select2-single', 'data-warehouse-list': Warehouse.all.map {|warehouse| [warehouse.address.state.id]}.uniq, 'data-parsley-regular': 'regular', 'data-parsley-locations': [f.object.inquiry.bill_from.address.city_name, f.object.inquiry.shipping_address.city_name, f.object.inquiry.bill_from.address.state.id].join(',')}, required: true, hint: 'Note: If the Supplier Address is for e.g. from Kolkata where the BulkMRO does not have an office. The Supplier PO will be Shipped TO where the Sales Order is being Shipped From (Inquiry Ship From)' %>
      </div>
      <div class="col-md-12 mb-2 d-none">
        <div class="card card-default">
          <div class="card-body">
            <strong>Depending Supplier PO Type:</strong>
            <ul>
              <li>DropShip and Route through
                <ul>
                  <li>If the Sales Order Bill From is Mumbai then the Supplier PO will be Billed To Mumbai.
                  </li>
                </ul>
              </li>
              <li>
                Regular
                <ul>
                  <li>If the Ship To Address is Mumbai then the Supplier PO will be billed to Mumbai.</li>
                </ul>
              </li>
              <li>
                Supplier is from a Location where BulkMRO does not have an office.
                <ul>
                  <li>
                    If the Supplier is from Kolkata where the BulkMRO does not have an office. The Supplier PO will be
                    Billed TO where the Sales Order is being Billed From.s
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="col-12 col-md-6">
    <div class="d-flex flex-row align-items-end">
      <div class="flex-grow-1">
        <%= f.input :attachments, wrapper: :custom_file, input_html: {multiple: true}, label: 'Attachments' %>
      </div>

      <% if f.object.persisted? %>
        <div class="form-group">
          <% f.object.attachments.each do |attachment| %>
            <%= link_to url_for(attachment), class: 'ml-md-1 btn btn-success', target: '_blank', :"data-toggle" => 'tooltip', :status => attachment.filename do %>
              <i class="fal fa-download"></i>
              <%= link_to overseers_attachment_path(attachment.id), class: 'btn btn-outline-danger btn-sm ml-1 mr-1 mr-md-0', method: :delete, data: {confirm: 'Are you sure?'}, :"data-toggle" => 'tooltip', :status => ['Delete', ' ', attachment.filename, '?'].join('') do %>
                <i class="fal fa-trash-alt"></i>
              <% end if attachment.present? && policy(:attachment).destroy? %>
            <% end %>
          <% end if f.object.attachments.attached? %>
        </div>
      <% end %>
    </div>
  </div>
  <% if f.object.persisted? %>
    <div class="col-12  col-md-6">
      <%= f.nested_fields_for :comments, f.object.comments.build(:overseer => current_overseer) do |po_request_comment| %>
        <%= po_request_comment.hidden_field :created_by_id %>
        <%= po_request_comment.hidden_field :updated_by_id %>
        <%= po_request_comment.input :message, :placeholder => 'Type message', input_html: {:'data-parsely-no-valid-feedback' => ''}, label: 'Comment Message' %>
      <% end %>
    </div>
  <% end %>
</div>
<hr>
<!--
<div class="form-row d-none d-md-flex">
  <div class="col-12 col-md-6">
    <div class="form-row">

      <div class="col-12 col-md-3">
        <div class="form-group mb-0">
          <label>Product</label>
        </div>
      </div>
      <div class="col-12 col-md-1">
        <div class="form-group mb-0">
          <label>Make</label>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group mb-0">
          <label>HSN</label>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group mb-0">
          <label data-toggle="tooltip" title="Tax Rate">T. Rate</label>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group mb-0">
          <label>Quantity</label>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group mb-0">
          <label data-toggle="tooltip" title="Discount percentage">Disc. %</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-row">
      <div class="col-12 col-md-1">
        <div class="form-group mb-0">
          <label data-toggle="tooltip" title="Unit of Measurement">UOM</label>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group mb-0">
          <label data-toggle="tooltip" title="Unit Price">UP</label>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group mb-0">
          <label data-toggle="tooltip" title="Total Price">TP</label>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group mb-0">
          <label data-toggle="tooltip" title="Total Tax">TT</label>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group mb-0">
          <label data-toggle="tooltip" title="Total Price with tax">TP with tax</label>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group mb-0">
          <label>Lead Date</label>
        </div>
      </div>
      <div class="col-12 col-md-1">
        <div class="form-group mb-0">
          <label>Remove</label>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<%= f.nested_fields_for :rows, f.object.persisted? ? f.object.rows.order(id: :desc) : f.object.rows do |po_request_row| %>
  <%= po_request_row.hidden_field :id %>
  <%= po_request_row.hidden_field :sales_order_row_id %>
  <%= po_request_row.hidden_field :product_id %>
  <%= po_request_row.hidden_field :tax_code_id %>
  <%= po_request_row.hidden_field :tax_rate_id %>
  <%= po_request_row.hidden_field :measurement_unit_id, value: po_request_row.object.measurement_unit_id || MeasurementUnit.default.id %>
  <div class="form-row po-request-row">
    <div class="col-12 col-md-12 mb-1">

      #<%= ((f.object.rows.index(po_request_row.object) || f.object.rows.size || 0) + 1) %>
      <%#= po_request_row.input :sr, input_html: {value: ((f.object.rows.index(po_request_row.object) || 0) + 1)}, disabled: true %>
    </div>
    <div class="col-12 col-md-12">
      <div class="form-row">

        <div class="col-12 col-md-3">
          <div class="select2-wrap">
            <%= po_request_row.association :product, collection: selected_option_or_nil(po_request_row, :product), include_blank: "Type SKU number, name, or brand", input_html: {class: 'select2-ajax select2-wrap-text', :'data-source' => service_autocomplete_overseers_products_path, :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => ''}, disabled: po_request_row.object.field_disabled? %>
          </div>
        </div>


        <div class="col-12 col-md-2">

          <%= po_request_row.input :brand, input_html: {value: po_request_row.object.product.try(:brand).to_s}, label: 'Make', disabled: true %>
          <%#= po_request_row.association :brand, label_method: :to_s, collection: selected_option_or_nil(po_request_row, :brand), include_blank: "Type to search", input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_brands_path}, disabled: po_request_row.object.field_disabled?, f.object.rows.first == po_request_row.object ? "Make" : false  %>
        </div>
        <div class="col-12 col-md-2">
          <%#= po_request_row.input :tax_code, f.object.rows.first == po_request_row.object ? "HSN" : false, disabled: po_request_row.object.field_disabled? %>
          <%= po_request_row.association :tax_code, label_method: :to_s, collection: selected_option_or_nil(po_request_row, :tax_code), include_blank: "Type to search", input_html: {class: 'select2-ajax select2-wrap-text', :'data-source' => autocomplete_overseers_tax_codes_path(is_service: !po_request_row.object.field_disabled?)}, label: 'HSN', required: true %>
        </div>
        <div class="col-12 col-md-2">
          <%#= po_request_row.input :tax_rate, f.object.rows.first == po_request_row.object ? "T. rate" : false, disabled: po_request_row.object.field_disabled? %>
          <%= po_request_row.association :tax_rate, collection: TaxRate.all, label_method: :to_s, include_blank: false, label: 'Tax Rate' %>
        </div>
        <div class="col-12 col-md-1">
          <%= po_request_row.input :quantity, input_html: {value: po_request_row.object.quantity, max: po_request_row.object.try(:sales_order_row).try(:quantity), min: 1}, disabled: false, required: true %>
        </div>

        <div class="col-12 col-md-1">
          <%= po_request_row.input :measurement_unit, value: po_request_row.object.measurement_unit || MeasurementUnit.default.name, disabled: true %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12">
      <div class="form-row">

        <div class="col-12 col-md-2">
          <%= po_request_row.input :unit_price, input_html: {value: po_request_row.object.unit_price || po_request_row.object.unit_price_per_quantity.round(2)}, readonly: po_request_row.object.field_disabled?, required: true %>
        </div>
        <div class="col-12 col-md-1">
          <%= po_request_row.input :discount_percentage, input_html: {value: po_request_row.object.discount_percentage || 0}, label: 'Disc. %', disabled: false %>
        </div>

        <div class="col-12 col-md-2">
          <%= po_request_row.input :converted_total_selling_price, input_html: {value: po_request_row.object.converted_total_selling_price}, disabled: true, label: 'Total Selling Price' %>
        </div>
        <div class="col-12 col-md-2">
          <%= po_request_row.input :converted_total_tax, input_html: {value: po_request_row.object.converted_total_tax}, disabled: true, label: 'Total Tax' %>
        </div>
        <div class="col-12 col-md-2">
          <%= po_request_row.input :converted_total_selling_price_with_tax, input_html: {value: po_request_row.object.converted_total_selling_price_with_tax}, disabled: true, label: 'Total Selling Price with Tax' %>
        </div>

        <div class="col-12 col-md-2">
          <%= po_request_row.input :lead_time, as: :string, input_html: {:'data-toggle' => 'datepicker', :class => 'lead-time'}, required: true %>
        </div>
        <% if f.object.rows.present? && f.object.rows.length > 1 %>
          <div class="col-12 col-md-1">
            <%= po_request_row.remove_nested_fields_link(class: 'btn btn-danger form-group align-self-center flex-grow-1 mt-3 ml-2') do %>

              Remove

            <% end if policy(po_request_row.object).destroy? %>
          </div>
        <% end %>
      </div>
    </div>
    <hr class="divider">
  </div>
<% end %>

<% if policy(:po_request).add_service_product? %>
  <div class="col-md-3">
    <%= f.add_nested_fields_link :rows, class: 'btn btn-outline-success btn-block mb-2 mb-md-0' do %>
      <i class="fal fa-plus-circle mr-1"></i>Add a Service product
    <% end %>
  </div>
<% end %>