<div class="card mb-2">
  <div class="card-body">
    <div>
      <h6 class="text-uppercase text-black-50 mb-1">Details</h6>
      <div class="form-row">
        <% if po_request.sales_order.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Sales Order #</strong>
            <%= link_to overseers_inquiry_sales_order_path(po_request.inquiry, po_request.sales_order), target: '_blank' do %>
              <%= format_id(po_request.sales_order.order_number) %>
            <% end %>
          </div>
        <% end %>

        <% if po_request.inquiry.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Inquiry #</strong>
            <% if policy(po_request.inquiry).edit? %>
              <%= link_to overseers_inquiry_path(po_request.inquiry), target: '_blank' do %>
                <%= format_id(po_request.inquiry.inquiry_number) %>
              <% end %>
            <% else %>
              <%= format_id(po_request.sales_order.order_number) %>
            <% end %>
          </div>
        <% end %>

        <% if po_request.status.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Status</strong>
            <%= status_badge(po_request.status) %>
          </div>
        <% end %>

        <% if po_request.inquiry.present? && po_request.inquiry.inside_sales_owner.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Inside Sales</strong>
            <%= po_request.inquiry.inside_sales_owner.to_s %>
          </div>
        <% end %>

        <% if po_request.purchase_order.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Purchase Order #</strong>
            <%= link_to overseers_inquiry_purchase_order_path(po_request.inquiry, po_request.purchase_order), target: '_blank' do %>
            <%= format_id(po_request.purchase_order.po_number) %>
            <% end %>
          </div>
        <% end %>

        <% if po_request.payment_request.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Payment Request</strong>
            <a href="<%= overseers_payment_request_path(po_request.payment_request) %>"><%= format_id(po_request.id) %></a>
          </div>
        <% end %>

        <% if po_request.sales_order.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Supplier PO Type</strong>
            <%= po_request.try(:supplier_po_type) %>
          </div>
        <% end %>

        <% if po_request.payment_option.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Payment Terms</strong>
            <%= po_request.payment_option %>
          </div>
        <% end %>

        <% if po_request.inquiry.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Customer Committed Date</strong>
            <%= po_request.inquiry.customer_committed_date %>
          </div>
        <% end %>

        <% if po_request.supplier_committed_date.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Supplier Committed Delivery Date</strong>
            <%#= po_request.supplier_committed_date %>
            <%= po_request.show_supplier_delivery_date %>
          </div>
        <% end %>

        <% if po_request.supplier.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Supplier</strong>
            <%= po_request.supplier.to_s %>
          </div>
        <% end %>

        <% if po_request.contact.present? %>
          <div class="col-6 col-md-6 mb-2">
            <strong class="d-block">Supplier Contact</strong>
            <%= po_request.contact.to_s %><br>
            <% if po_request.contact_email.present? %>
              <strong>Email: </strong><%= po_request.contact_email %><br>
            <% end %>
            <% if po_request.contact_phone.present? %>
              <strong>Phone: </strong><%= po_request.contact_phone %>
            <% end %>
          </div>
        <% end %>

        <% if po_request.bill_from.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Bill From</strong>
            <%= po_request.bill_from.to_s %>
          </div>
        <% end %>
        <% if po_request.ship_from.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Ship From</strong>
            <%= po_request.ship_from.to_s %>
          </div>
        <% end %>
        <% if po_request.bill_to.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Bill To</strong>
            <%= po_request.bill_to.to_s %>
          </div>
        <% end %>
        <% if po_request.ship_to.present? %>
          <div class="col-6 col-md-3 mb-2">
            <strong class="d-block">Ship To</strong>
            <%= po_request.ship_to.to_s %>
          </div>
        <% end %>

      </div>

      <% if po_request.attachments.attached? %>
        <div class="form-row">
          <div class="col-12 col-md-3 mb-2">
            <strong class="d-block">Attachments </strong>
            <% po_request.attachments.each do |attachment| %>
              <%= link_to url_for(attachment), class: 'mr-md-1 btn btn-success', target: '_blank', :"data-toggle" => 'tooltip', :status => attachment.filename do %>
                <i class="fal fa-download"></i>
                <%= link_to overseers_attachment_path(attachment.id), class: 'btn btn-outline-danger btn-sm mr-1', method: :delete, data: {confirm: 'Are you sure?'}, :"data-toggle" => 'tooltip', :status => ['Delete', ' ', attachment.filename, '?'].join('') do %>
                  <i class="fal fa-trash-alt"></i>
                <% end if attachment.present? && policy(:attachment).destroy? %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
