<%= provide :container_fluid, true %>
<%# provide :can_be_directly_created, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<% content_for :page_title do %>
  PO Requests
<% end %>

<% content_for :heading do %>
  <% if action_name == 'pending_stock' || 'pending_stock_approval' %>
    <%= action_name.capitalize.gsub('_',' ') %> Requests
  <%else %>
    <%= action_name == 'index' ? 'Completed PO Requests ' : (action_name == 'pending_and_rejected') ? 'Pending and Rejected PO Requests' : action_name.capitalize %>
  <% end %>
<% end %>

<% content_for(:heading_buttons) do %>
  <% if is_authorized(:sales_order, 'create_stock_po') %>
    <% if Inquiry.where(opportunity_type: 'stock').present? %>
      <a href = "<%= new_overseers_inquiry_po_request_path(Inquiry.where(opportunity_type: 'stock').last) %>" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down mr-md-1 mb-md-0 mb-1" >
        <i class="fal fa-plus-circle mr-1"></i>New Stock <%= controller_path.split('/').last.singularize.split("_").join(" ").upcase %>
      </a>
    <% else %>
      <span data-toggle="tooltip" title="Stock Inquiry Needed. Go to create Inquiry and select opportunity type as stock.">
      <a href=# class=" btn btn-success btn-rounded align-self-center btn-block-sm-down disabled">
        <i class="fal fa-plus-circle mr-1"></i>New Stock <%= controller_path.split('/').last.singularize.split("_").join(" ").upcase %>
      </a>
    </span>
    <% end %>
  <% end %>
  <% if is_authorized(:sales_order, 'index') %>
    <a href="<%= overseers_sales_orders_path %>" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down mr-md-1 mb-md-0 mb-1">
      <i class="fal fa-plus-circle mr-1"></i>New <%= controller_path.split('/').last.singularize.split("_").join(" ").upcase %>
    </a>
  <% end %>
<% end %>

<% content_for :hide_table_desc do %>
  <!--  To Do Filters-->
<% end %>
<% %>
<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort desktop">Entity Details</th>
  <th class="no-sort all" data-name="supplier">Supplier</th>
  <th class="no-sort all text-right">Committed Delivery Date</th>
  <th class="no-sort all">Price Details</th>
  <th class="no-sort all" >Margin %</th>
  <th class="no-sort desktop">Statuses</th>
  <th class="no-sort desktop">Latest Comment</th>
  <th class="no-sort all" data-name="sku" data-toggle="tooltip" title="Inside Sales & Procurement">IS&P</th>
  <th class="sort desktop" data-name="created_at">Requested At</th>
  <th class="no-sort desktop text-right" data-name="updated_at">Updated At</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
<div class="open-modal-form" data-status="<%= params[:status] %>"></div>