<%= provide :container_fluid, true %>
<%# provide :can_be_directly_created, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<% content_for :page_title do %>
  PO Requests
<% end %>

<% content_for :heading do %>
  <%= action_name == 'index' ? 'Completed PO Requests ' : (action_name == 'pending_and_rejected') ? 'Pending and Rejected PO Requests' : action_name.capitalize %>
<% end %>

<% content_for(:heading_buttons) do %>
  <% if policy(:sales_order).index? %>
    <a href="<%= overseers_sales_orders_path %>" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down mr-md-1 mb-md-0 mb-1">
      <i class="fal fa-plus-circle mr-1"></i>New <%= controller_path.split('/').last.singularize.split("_").join(" ").upcase %>
    </a>
  <% end %>
<% end %>

<% content_for :hide_table_desc do %>
  <!--  To Do Filters-->
<% end %>
<% %>
<% content_for :header_row do %>
  <th class="no-sort all"></th>
  <th class="no-sort desktop text-right" data-name="po_request_no">PO Request No.</th>
  <th class="no-sort desktop text-right" data-name="status">Status</th>
  <th class="no-sort desktop text-right" data-name="inquiry">Inquiry</th>
  <% if action_name == 'index' || action_name == "Completed" %>
    <th class="no-sort all text-right" data-name="po_number">PO Number</th>
  <% else %>
    <th class="no-sort all text-right" data-name="order">Order</th>
  <% end %>
  <th class="no-sort all" data-name="sku" data-toggle="tooltip" title="Inside Sales & Procurement">IS&P</th>
  <th class="no-sort all" data-name="supplier">Supplier</th>
  <th class="no-sort all text-right" data-name="cp">Buying Price</th>
  <th class="no-sort all text-right" data-name="sp">Selling Price</th>
  <th class="no-sort all text-right" data-name="po_margin">PO Margin %</th>
  <th class="no-sort all text-right" data-name="overall_margin">Overall Margin %</th>
  <th class="no-sort all text-right">Customer Committed Delivery Date</th>
  <th class="no-sort all text-right">Supplier Committed Delivery Date</th>
  <th class="sort desktop text-right" data-name="created_at">Requested At</th>
  <th class="no-sort desktop text-right" data-name="name">Updated At</th>
  <th class="no-sort desktop">Email Status</th>
  <th class="no-sort desktop">Latest Comment</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
<div class="cancellation-form-modal" data-status="<%= params[:status] %>"></div>