<% provide :manual_po_user_guide, true %>
<%= provide :container_fluid, true %>
<%# provide :can_be_directly_created, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<% content_for :page_title do %>
  PO Requests
<% end %>

<% content_for :heading do %>
  <% if action_name == 'pending_stock' || 'pending_stock_approval' %>
    <%= action_name.capitalize.gsub('_',' ') %> Requests
  <%else %>
    <%= action_name == 'index' ? 'Completed PO Requests ' : (action_name == 'pending_and_rejected') ? 'Pending and Rejected PO Requests' : action_name.capitalize %>
  <% end %>
<% end %>

<% content_for(:heading_buttons) do %>
  <% if is_authorized(:sales_order, 'create_stock_po') %>
    <button type="button" class=" btn btn-success btn-rounded bmro-button align-self-center btn-block-sm-down mr-md-1 mb-md-0 mb-1 manualPo" >Create Manual/Stock PO</button>
  <% end %>
  <% if is_authorized(:sales_order, 'index') %>
    <a href="<%= overseers_sales_orders_path %>" class=" btn btn-success btn-rounded bmro-button align-self-center btn-block-sm-down mr-md-1 mb-md-0 mb-1">
      <i class="fal fa-plus-circle mr-1"></i>New <%= controller_path.split('/').last.singularize.split("_").join(" ").titleize %>
    </a>
  <% end %>
<% end %>

<% content_for :hide_table_desc do %>
  <!--  To Do Filters-->
<% end %>
<% %>
<% content_for :header_row do %>
  <th class="no-sort bmro-table-changes all" width="98px">Quick Actions</th>
  <th class="no-sort desktop text-left">Entity Details</th>
  <th class="no-sort all text-left" data-name="supplier">Supplier</th>
  <th class="no-sort all text-left" data-name="customer">Customer</th>
  <th class="no-sort all text-left">Committed Delivery Date</th>
  <th class="no-sort all text-left">Price Details</th>
  <th class="no-sort all text-left" >Margin %</th>
  <th class="no-sort desktop text-left">Statuses</th>
  <th class="no-sort desktop text-left">Latest Comment</th>
  <th class="no-sort all text-left" data-name="sku" data-toggle="tooltip" title="Inside Sales & Procurement">IS&P</th>
  <th class="sort desktop text-left" data-name="created_at">Requested At</th>
  <th class="no-sort desktop text-left" data-name="updated_at">Updated At</th>
<% end %>

<div class="col-lg-12">
  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>
<div class="open-modal-form" data-status="<%= params[:status] %>"></div>

<%= render partial: 'manual_po_modal' %>