<%= provide :container_fluid, true %>
<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        PO Request for Order <%= format_id(@po_request.sales_order.order_number) %>&nbsp;<%= status_badge(@po_request.status) %>
      </h3>
      <div>
        <% if policy(@po_request).edit? && @po_request.status != 'Cancelled' %>
          <a href="<%= edit_overseers_po_request_path(@po_request) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit</a>
        <% end %>
        <% raise %>
        <a href="#" class="btn btn-default btn-rounded btn-danger align-self-center add-review" data-toggle="modal" data-target="#modalRatingForm">Add/Edit Supplier Rating</a>
        <% if @po_request.purchase_order.present? && !@po_request.purchase_order.is_legacy? %>
          <% if policy(@po_request).new_payment_request? %>
            <a href="<%= new_overseers_po_request_payment_request_path(@po_request) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-dollar-sign mr-1"></i>Payment Request</a>
          <% end %>
          <% if @po_request.payment_request.present? && policy(@po_request.payment_request).show? %>
            <a href="<%= overseers_payment_request_path(@po_request.payment_request) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-dollar-sign mr-1"></i>Payment Request</a>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="mb-3">
    <%= render 'overseers/po_requests/summary', po_request: @po_request %>

    <% if @po_request.rows.present? %>
      <div class="card mb-2">
        <div class="card-body">
          <div class="flex-fill">
            <h6 class="text-uppercase text-black-50 mb-1">Products</h6>
          </div>

          <table class="table table-bordered dt-responsive wrap-whitespace w-100 datatable m-0" data-fixed-header="false" data-sort="false">
            <thead>
            <tr>
              <th class="no-sort text-right">Sr. No.</th>
              <th class="no-sort">Product</th>
              <th class="no-sort">Make</th>
              <th class="no-sort">HSN</th>
              <th class="no-sort" data-toggle="tooltip" title="Tax Rate">T. Rate</th>
              <th class="no-sort text-right">Quantity</th>
              <th class="no-sort text-right" data-toggle="tooltip" title="Unit of Measurement">UoM</th>
              <th class="no-sort text-right" data-toggle="tooltip" title="Unit Price">UP</th>
              <th class="no-sort text-right" data-toggle="tooltip" title="Total Price">TP</th>
              <th class="no-sort text-right" data-toggle="tooltip" title="Total Tax">TT</th>
              <th class="no-sort text-right" data-toggle="tooltip" title="Total Price with tax">TP with Tax</th>
              <th class="no-sort text-right" data-toggle="tooltip" title="Discount percentage">Disc. %</th>
              <th class="no-sort text-right">Lead Date</th>
            </tr>
            </thead>
            <tbody>
            <% @po_request.rows.reverse.each_with_index do |row, sr_no| %>
              <% if row.product.present? %>

                <tr>
                  <td><%= sr_no + 1 %></td>
                  <td><%= row.product.to_s %></td>
                  <td><%= row.product.try(:brand).to_s %></td>
                  <td><%= row.tax_code %></td>
                  <td><%= row.tax_rate %></td>
                  <td><%= row.quantity.to_f %></td>
                  <td><%= row.measurement_unit %></td>
                  <td><%= format_currency(row.unit_price) %></td>
                  <td><%= format_currency(row.converted_total_selling_price) %></td>
                  <td><%= format_currency(row.converted_total_tax) %></td>
                  <td><%= format_currency(row.converted_total_selling_price_with_tax) %></td>
                  <td><%= percentage(row.discount_percentage, precision: 2) %></td>
                  <td><%= format_succinct_date(row.lead_time) %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>


    <% if @po_request.comments.persisted.size > 0 %>
      <div class="card">
        <div class="card-body">
          <div class="flex-fill">
            <h6 class="text-uppercase text-black-50 mb-1">Comments History</h6>
          </div>


          <div class="chats">
            <% @po_request.comments.each do |comment| %>
              <%= format_comment(comment) %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </section>
</div>

<% if @company_reviews.present? %>
  <%= render partial: 'shared/layouts/rating_modal_with_multiple_tab' %>
<% end %>