<% content_for :heading_byline do %>
  This will <em>'<%= submit_text(@category).downcase %>'</em> and log it under
  <strong><%= current_overseer.full_name %></strong>.
<% end %>

<%= render layout: 'shared/layouts/form' do %>
  <%= simple_form_for([:overseers, @category], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>

    <%= f.input :name %>

    <div class="form-row">
      <div class="col-6">
        <%= f.association :tax_code, collection: selected_option_or_nil(f, :tax_code), label_method: :to_s, include_blank: "Type to search", input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_tax_codes_path(is_service: false)} %>
      </div>
      <div class="col-6">
        <%= f.association :tax_rate, :wrapper => :custom_multi_select, include_blank: 'Select a Tax Rate' %>
      </div>
    </div>

    <% if @category.persisted? %>
      <%= f.association :parent, :label_method => :to_s, collection: selected_option_or_nil(f, :parent), input_html: {class: 'select2-ajax', :'data-source' => autocomplete_closure_tree_overseers_categories_path(calling_category_id: @category.to_param)} %>
    <% else %>
      <%= f.association :parent, :label_method => :to_s, input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_categories_path} %>
    <% end %>

    <div class="form-row">
      <div class="col-12 col-md-4">
        <%= f.input :is_service %>
      </div>
      <div class="col-12 col-md-4">
        <%= f.input :is_active %>
      </div>
    </div>


    <%= action_button(action_name, @category) %>
  <% end %>
<% end %>