<div class="col-lg-12">
  <section class="pt-0 pt-lg-0 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center bmro-form-heading">
        <%= @category.name %>
      </h3>
      <% if is_authorized(@category, 'edit') %>
        <a href="<%= edit_overseers_category_path(@category) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down bmro-button"><i class="fal fa-pen mr-1"></i>Edit
        Category</a>
      <% end %>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <div>
          <h6 class="text-uppercase text-black-50 mb-1 bmro-form-heading">Category Details</h6>
          <div class="form-row">
            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block bmro-summary-heading">Name</strong>
              <div class="bmro-summary-data">
              <%= @category.name %>
            </div>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block bmro-summary-heading">Description</strong>
              <div class="bmro-summary-data">
              <%= @category.description %>
            </div>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block bmro-summary-heading">Parent</strong>
              <div class="bmro-summary-data">
              <%= @category.parent.name if @category.parent.present? %>
            </div>
            </div>

            <% if @category.created_at %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block bmro-summary-heading">Created At</strong>
                <div class="bmro-summary-data">
                <%= format_date(@category.created_at) %>
              </div>
              </div>
            <% end %>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block bmro-summary-heading">Service</strong>
              <div class="bmro-summary-data">
              <%= format_boolean(@category.is_service) %>
              </div>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block bmro-summary-heading">Active</strong>
              <div class="bmro-summary-data">
              <%= format_boolean(@category.is_active) %>
              </div>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block bmro-summary-heading">SAP Synced</strong>
              <div class="bmro-summary-data">
              <%= format_boolean_label(@category.synced?, 'synced') %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>