<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        <%= @category.name %>
      </h3>
      <% if policy(@category).edit? %>
        <a href="<%= edit_overseers_category_path(@category) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit
        Category</a>
      <% end %>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <div>
          <h6 class="text-uppercase text-black-50 mb-1">Category Details</h6>
          <div class="form-row">
            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Name</strong>
              <%= @category.name %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Description</strong>
              <%= @category.description %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Parent</strong>
              <%= @category.parent.name if @category.parent.present? %>
            </div>

            <% if @category.created_at %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Created At</strong>
                <%= format_date(@category.created_at) %>
              </div>
            <% end %>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Service</strong>
              <%= format_boolean(@category.is_service) %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Active</strong>
              <%= format_boolean(@category.is_active) %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">SAP Synced</strong>
              <%= format_boolean_label(@category.synced?, 'synced') %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>