<div class="col-lg-12 ">
  <div class="page-header">
    <h2><%= action_name.capitalize %> Kit Product</h2>
    <p>This will <em>'<%= submit_text(@kit).downcase %>'</em> and log it under
      <strong><%= current_overseer.full_name %></strong>.</p>
  </div>

  <%= simple_form_for([:overseers, @kit], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <div class="card p-2">
      <%= render 'shared/snippets/form_errors', f: f %>

      <div class="form-row">
        <div class="col-12">
          <%= f.association :inquiry, collection: [f.object.inquiry], label_method: :to_s, include_blank: "Type Inquiry Number", input_html: {class: 'select2-ajax select2-wrap-text', :'data-source' => autocomplete_overseers_inquiries_path, :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => ''}, label: "Inquiry Number" %>
        </div>
      </div>

      <%= f.simple_fields_for :product do |product| %>
        <%= product.hidden_field :id %>

        <div class="form-row">
          <div class="col-12">
            <%= product.input :name %>
          </div>
          <div class="col-6">
            <%= product.input :sku, :readonly => true %>
          </div>
          <div class="col-6">
            <%= product.input :mpn, label: "Manufacturer Part Number" %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-6">
            <%= product.association :tax_code, collection: selected_option_or_nil(product, :tax_code), label_method: :to_s, include_blank: "Type to search", input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_tax_codes_path(is_service: false)}, label: "Tax code (Please Confirm With Inside Sales Owner)" %>
          </div>
          <div class="col-6">
            <%= product.input :best_tax_code, disabled: true %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-12 col-md-4">
            <%= product.association :measurement_unit, include_blank: false, input_html: {class: 'select2-single'} %>
          </div>
          <div class="col-6 col-md-4">
            <%= product.association :brand, collection: selected_option_or_nil(product, :brand), :wrapper => :custom_multi_select, input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_brands_path}, :required => true %>
          </div>
          <div class="col-6 col-md-4">
            <%= product.association :category, collection: selected_option_or_nil(product, :category), :wrapper => :custom_multi_select, include_blank: 'Select a category', label_method: :to_s, input_html: {class: 'select2-ajax', :'data-source' => autocomplete_closure_tree_overseers_categories_path(:is_service => false)} %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-12 col-md-4">
            <%= product.input :is_service %>
          </div>
        </div>
      <% end %>

      <% if @kit.inquiry.present? %>
        <div class="mt-3">
          <h6 class="text-uppercase text-black-50 mb-1">Products</h6>
          <div class="form-row d-none d-md-flex">
            <div class="col-6">
              <div class="form-group mb-0">
                <label>Product</label>
              </div>
            </div>

            <div class="col-1">
              <div class="form-group mb-0">
                <label>SAP Status</label>
              </div>
            </div>

            <div class="col-1">
              <div class="form-group mb-0">
                <label>Quantity</label>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group mb-0">
                <label>Tax Code</label>
              </div>
            </div>

            <div class="col-1">
              <div class="form-group mb-0">
                <label>Tax Rate</label>
              </div>
            </div>
          </div>
          <%= f.nested_fields_for :kit_product_rows, wrapper_tag: :div do |kit_product| %>
            <div class="form-row flex-row align-items-start">
              <%= kit_product.hidden_field :id %>
              <div class="col-6">
                <div class="select2-wrap">
                  <%= kit_product.association :product, collection: [kit_product.object.product], label_method: :to_s, include_blank: "Type SKU number, name, or brand", input_html: {class: 'select2-ajax select2-wrap-text', :'data-source' => autocomplete_overseers_products_path, :'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => ''}, label: false %>
                </div>
              </div>

              <div class="col-1">
                <div class="d-flex flex-row align-items-center">
                  <div>
                    <% if kit_product.object.persisted? %>
                      <%= format_boolean_label(kit_product.object.product.synced?, 'synced') %>
                    <% else %>
                    <span class="text-warning" data-toggle="tooltip" title="Save to see sync status">
                      <i class="far fa-ban"></i>
                    </span>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-5">
                <div class="d-flex flex-row align-items-center">
                  <div class="col-2">
                    <%= kit_product.input :quantity, :label => false, placeholder: placeholder_for(kit_product, :quantity), input_html: {:'data-parsley-errors-messages-disabled' => '', :'data-parsely-no-valid-feedback' => ''} %>
                  </div>
                  <div class="col-5 ">
                    <%= kit_product.association :tax_code, collection: selected_option_or_nil(kit_product, :tax_code), label_method: :to_s, include_blank: "Type to search", input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_tax_codes_path(is_service: kit_product.object.product.is_service)}, label: false if kit_product.object.product.present? %>
                  </div>
                  <div class="col-4">
                    <%= kit_product.association :tax_rate, collection: TaxRate.all, label_method: :to_s, include_blank: false, label: false %>
                  </div>
                  <div class="col-1 ">
                    <%= kit_product.remove_nested_fields_link do %>
                      <div class="form-group align-self-center flex-grow-1 ml-2">
                        <i class="far fa-times text-danger"></i>
                      </div>
                    <% end if policy(kit_product.object).destroy? %>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
          <br>
          <% if !f.object.persisted? %>
            <%= f.add_nested_fields_link :kit_product_rows, 'Add a product', class: 'btn btn-outline-success btn-block' %>
            <br>
          <% else %>
            <div class="form-row">
              <div class="col-md-3">
                <%= f.add_nested_fields_link :kit_product_rows, class: 'btn btn-outline-success btn-block mb-2 mb-md-0' do %>
                  <i class="fal fa-plus-circle mr-1"></i>Add a product
                <% end %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if action_name.capitalize == "New" %>
      <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
        <i class="fal fa-plus-circle"></i> <%= submit_text(@kit) %>
      <% end %>
    <% else %>
      <%= button_tag(type: "submit", class: "btn btn-warning btn-block") do %>
        <i class="fal fa-pen"></i> <%= submit_text(@kit) %>
      <% end %>
    <% end %>
    </div>
  <% end %>
  </div>
