<div class="dropdown-menu dropdown-menu-right cart-dropdown">
  <h6 class="dropdown-header d-none">Cart</h6>
  <div class="cart-items">
    <% current_cart.items.each do |cart_item| %>
      <div class="text-dark text-wrap" id="cart_item_<%= cart_item.id %>">
        <%= link_to customers_cart_item_path(cart_item), method: :delete, remote: true do %>
          <i class="fal fa-times ml-2 text-danger d-block float-right" id="delete_item"></i>
        <% end %>
        <span class="d-block text-small"><a href="<%= customers_product_path(Product.find(cart_item.product_id)) %>"><%= truncate(Product.find(cart_item.product_id).try(:name), :length => 30 ) %></a></span>
        <span class="d-block text-black-50">x <%= cart_item.quantity %></span>
        <div class="dropdown-divider" id="divider_<%= cart_item.id %>"></div>
      </div>
    <% end %>
  </div>
  <div class="cart-footer">
    <%= link_to "Cart", customers_cart_path, :class => "btn btn-dark btn-sm w-50" %>
    <%= link_to "Checkout", final_checkout_customers_checkouts_path, :class => "btn btn-success btn-sm w-50" %>
  </div>
</div>