<% if current_cart.items.present? %>
  <div class="dropdown-menu dropdown-menu-right cart-dropdown">
    <h6 class="dropdown-header d-none">Cart</h6>
    <div class="cart-items">
      <% current_cart.items.each do |cart_item| %>
        <div class="text-dark text-wrap" id="cart_item_<%= cart_item.id %>">
          <span class="d-block text-black-50 float-right"><%= cart_item.product.latest_unit_cost_price.to_f == 0.0 ? '-' : format_currency(cart_item.product.latest_unit_cost_price.to_f) %></span>
          <span class="d-block text-small"><a href="<%= customers_product_path(Product.find(cart_item.product_id)) %>"><%= truncate(Product.find(cart_item.product_id).try(:name), :length => 30 ) %></a></span>
          <%= link_to customers_cart_item_path(cart_item), method: :delete, remote: true do %>
            <i class="fal fa-times ml-2 text-danger d-block float-right" id="delete_item"></i>
          <% end %>
          <span class="d-block text-black-50">QTY <input type="text" placeholder="1" style="width: 60px"/></span>
          <div class="dropdown-divider" id="divider_<%= cart_item.id %>"></div>
        </div>
      <% end %>

    </div>

    <div class="cart-subtotal-container">
      <div>
        <strong>Subtotal: <%= format_currency(get_order_total(current_cart.items)) %></strong>
      </div>
    </div>
    <div class="cart-footer">
      <%= link_to "Checkout", final_checkout_customers_checkout_path, :class => "btn btn-success btn-sm w-50" %>
      <%= link_to "Cart", customers_cart_path, :class => "btn btn-dark btn-sm w-50" %>
    </div>
    <div class="empty-cart">
      <%= link_to "EMPTY CART", empty_cart_customers_cart_path %>
    </div>
  </div>
<% end %>
