<div class="col-lg-12">
  <%= simple_form_for([:overseers, @sales_order, @email_message], url: {action: @action, controller: 'overseers/sales_orders/email_messages'}, :html => {:class => 'card needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>

    <div class="card-body">
      <%= f.input :from, disabled: true %>
      <%= f.input :to %>
      <%= f.input :cc %>
      <%= f.input :bcc %>
      <%= f.input :subject %>
      <%= f.input :files, wrapper: :custom_file, input_html: {multiple: true} %>
      <%= f.input :body, input_html: {rows: 10, class: 'html-editor'} %>
    </div>
    <div class="card-footer">
      <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
        <i class="fal fa-paper-plane"></i> Send Email
      <% end %>
    </div>
  <% end %>
</div>