<div class="font-family: Arial; font-size: 14.5px;">
  <p style="color: #555;">Dear <%= @assignee   %></p>

  <p style="color: #555;">Name of the user - <%= @activity.created_by&.try(:full_name) %></b></p>
  <p style="color: #555;">Email Address - <%= @activity.created_by&.try(:email) %></p></b>
  <p style="color: #555;">Activity No - <%= @activity.activity_number %></p></b>
  <p style="color: #555;">Subject - <%= @activity.subject %></p></b>
  <p style="color: #555;">Due Date - <%= format_succinct_date(@activity.due_date) %></p></b>
  <p style="color: #555;">Status - <%= @activity.activity_status %></p></b>
  <p style="color: #555;">Click <%= link_to "here", edit_overseers_activity_url(@activity) %> to view the activity.</p></b>

  <br/>
  <p style="color: #555;">Thank you<br></p>
</div>








