
  <div class="bmro-dash-leftside">
    <div class="bmro-width100 leftside">
      <div class="bmro-width100 status-height">
        <div class="bmro-dash-box">
          <% @dashboard.main_statuses.each do |status| %>
            <div class="bmro-same-box col status-box" data-status="<%= status %>">
              <label><%= status %></label>
              <h5><%= @dashboard.get_status_metrics(status)[:'count'] %></h5>
              <span><%= format_currency(@dashboard.get_status_metrics(status)[:'value']) %></span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="bmro-width100 bmro-main-pedding main-pedding">
        <div class="bmro-dash-inqu h-100">
          <div class="bmro-width100 bmro-inquries-main inquiries-card h-100">
            <div class="inquiry-list-wrapper h-100">
              <%= render partial: 'inquiry_list_wrapper', locals:{inq_for_sales_dash: @dashboard.inq_for_sales_dash} %>
            </div>
          </div>

        </div>
        <div class="bmro-dash-task h-100" id="bmro-dash-task">
          <div class="bmro-width100 accordion bmro-all-task-action h-100">
            <div class="bmro-width100 bmro-pl-pr task-ht">

              <p class="bmro-big-heading bmro-fl bmro-cursol bmro-font-size-dash dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                All Tasks

            </div>
            <div class="bmro-width100 bmro-mt-collas subhead-height">
              <div class="bmro-width100 bmro-pl-pr">
                <div class="bmro-all-task-th bmro-task-td-width">
                  <span class="bmro-task-th">Inquiry</span>
                </div>
                <div class="bmro-all-task-th bmro-task-width">
                  <span class="bmro-task-th bmro-task-th-p0">Task</span>
                </div>
                <div class="bmro-all-task-th bmro-action-width bmro-text-left">
                  <span class="bmro-task-th d-flex justify-content-end">Actions</span>
                </div>
              </div>
            </div>
            <div class="bmro-width100 bmro-mt-collas content-mid-height">
              <div class="task-list-wrapper h-100">
                <%= render partial: 'task_list_wrapper', locals:{inq_for_sales_dash: @dashboard.inq_for_sales_dash, show_all_tasks: true, show_inquiry_tasks: false, inquiry_has_tasks: false} %>
              </div>
            </div>
          </div>

          <div class="bmro-width100 bmro-order-hide bmro-order-action inquiry-tasks">

          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'email_template' %>