<% provide :container_fluid, true %>

<div class="form-row mt-3 mt-lg-4">
  <% if dashboard.recent_inquiries.any? %>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="text-uppercase text-black-50 mb-0">Recently Updated Inquiries</h5>
          <table class="table datatable w-100 wrap-whitespace" data-fixed-header="false">
            <thead>
            <tr>
              <th class="no-sort"></th>
              <th class="no-sort">Inquiry</th>
              <th class="no-sort">Status</th>
              <th class="no-sort">Total</th>
            </tr>
            </thead>
            <tbody>
            <% dashboard.recent_inquiries.each do |inquiry| %>
              <tr>
                <td><%= row_action_button(edit_overseers_inquiry_path(inquiry), 'pencil', 'Go to Inquiry', 'warning', :_blank) %></td>
                <td><%= inquiry.inquiry_number %></td>
                <td><%= inquiry_status_badge(inquiry.status) %></td>
                <td><%= format_currency(inquiry.calculated_total) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% if dashboard.recent_sales_quotes.any? %>
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="text-uppercase text-black-50 mb-0">Recently Updated Quotes</h5>
        <table class="table datatable w-100 wrap-whitespace" data-fixed-header="false">
          <thead>
          <tr>
            <th class="no-sort"></th>
            <th class="no-sort">Inquiry</th>
            <th class="no-sort">Status</th>
            <th class="no-sort">Total</th>
          </tr>
          </thead>
          <tbody>
          <% dashboard.recent_sales_quotes.each do |sales_quote| %>
            <tr>
              <td>
                <%= row_action_button(overseers_inquiry_sales_quote_path(sales_quote.inquiry, sales_quote), 'eye', 'View Sales Quote', 'info') %>
              </td>
              <td><%= sales_quote.inquiry.inquiry_number %></td>
              <td><%= inquiry_status_badge(sales_quote.inquiry.status) %></td>
              <td><%= format_currency(sales_quote.calculated_total) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>

  <% if dashboard.recent_sales_orders.any? %>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="text-uppercase text-black-50 mb-0">Recently Updated Orders</h5>
          <table class="table datatable w-100 wrap-whitespace" data-fixed-header="false">
            <thead>
            <tr>
              <th class="no-sort"></th>
              <th class="no-sort">Inquiry</th>
              <th class="no-sort">Order</th>
              <th class="no-sort">Status</th>
              <th class="no-sort">Total</th>
            </tr>
            </thead>
            <tbody>
            <% dashboard.recent_sales_orders.each do |sales_order| %>
              <tr>
                <td>
                  <%= row_action_button(overseers_inquiry_sales_order_path(sales_order.inquiry, sales_order), 'eye', 'View Sales Order', 'info', :_blank) %>
                </td>
                <td><%= sales_order.inquiry.inquiry_number %></td>
                <td><%= sales_order.order_number %></td>
                <td><%= sales_order_status_badge(sales_order.remote_status) %></td>
                <td><%= format_currency(sales_order.calculated_total) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>