<%= render layout: 'overseers/dashboard/show' do %>

  <div class="form-row mt-3 mt-lg-4">

    <% if policy(:inquiry).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase text-black-50 mb-1"><strong>Inquiries Created</strong>
              </p>
              <h3 class="mb-0"><%= number_with_delimiter(Inquiry.all.size, delimiter: ',') %></h3>
            </div>
          </div>

          <div class="card-footer">
            <a href="<%= overseers_inquiries_path %>" class="btn btn-lg btn-block btn-success">See Inquiries</a>
          </div>
        </div>
      </div>
    <% end %>

    <% if policy(:company).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase text-black-50 mb-1"><strong>Companies Created</strong>
              </p>
              <h3 class="mb-0"><%= number_with_delimiter(Company.all.size, delimiter: ',') %></h3>
            </div>
          </div>
          <div class="card-footer">
            <a href="<%= overseers_companies_path %>" class="btn btn-lg btn-block btn-success">See Companies</a>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:product).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Products</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(Product.all.size, delimiter: ',') %></h3>
            </div>
          </div>
          <div class="card-footer">
            <a href="<%= overseers_products_path %>" class="btn btn-lg btn-block btn-success">See Products</a>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:brand).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Brands</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(Brand.all.size, delimiter: ',') %></h3>
            </div>
          </div>
          <div class="card-footer">
            <a href="<%= overseers_brands_path %>" class="btn btn-lg btn-block btn-success">See Brands</a>
          </div>
        </div>
      </div>
    <% end %>

    <% if policy(:overseer).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Overseers</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(Overseer.all.size, delimiter: ',') %></h3>
            </div>
          </div>
          <div class="card-footer">
            <a href="<%= overseers_overseers_path %>" class="btn btn-lg btn-block btn-success">See Overseers</a>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:category).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Categories</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(Category.all.size, delimiter: ',') %></h3>
            </div>
          </div>
          <div class="card-footer">
            <a href="<%= overseers_categories_path %>" class="btn btn-lg btn-block btn-success">See Categories</a>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:account).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Accounts</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(Account.all.size, delimiter: ',') %></h3>
            </div>
          </div>

          <div class="card-footer">
            <a href="<%= overseers_accounts_path %>" class="btn btn-lg btn-block btn-success">See Accounts</a>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:tax_code).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Tax Codes</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(TaxCode.all.size, delimiter: ',') %></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:contact).index? %>

      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Contacts</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(Contact.all.size, delimiter: ',') %></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if policy(:industry).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Industries</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(Industry.all.size, delimiter: ',') %></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if policy(:address_state).index? %>

      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Address State</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(AddressState.all.size, delimiter: ',') %></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:warehouse).index? %>

      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Warehouse</strong></p>
              <h3 class="mb-0"><%= number_with_delimiter(Warehouse.all.size, delimiter: ',') %></h3>
            </div>
          </div>
        </div>
      </div>

    <% end %>
    <div class="col-3 d-none">
      <div class="card">
        <ul class="nav nav-tabs nav-fill rounded-0">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#one" role="tab">Chart 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#two" role="tab">Chart 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#three" role="tab">Chart 3</a>
          </li>
        </ul>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="one">
              <canvas class="chart-bar" data-chart-axis='["Red", "Blue", "Yellow", "Green", "Purple", "Orange"]' data-chart-labels='["Mumbai", "Delhi"]' data-chart-data='[[12, 19, 3, 5, 2, 3], [2, 3, 12, 19, 3, 5]]'></canvas>
            </div>
            <div class="tab-pane fade" id="profile">...</div>
            <div class="tab-pane fade" id="contact">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
