<% provide :container_fluid, true %>
<%= render layout: 'overseers/dashboard/show' do %>
  <div class="pt-3 pt-lg-4 pb-3">
    <h3 class="text-black-50 mb-0">
      Hello <strong><%= current_overseer.first_name %></strong>!
    </h3>
  </div>

  <div class="form-row">
    <% if @dashboard.recent_inquiries.any? %>
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="text-uppercase text-black-50 mb-0">Recently Updated Inquiries</h5>
            <table class="table datatable w-100 wrap-whitespace" data-fixed-header="false">
              <thead>
              <tr>
                <th class="no-sort"></th>
                <th class="no-sort text-right">Inquiry</th>
                <th class="no-sort">Status</th>
                <th class="no-sort">Company</th>
                <th class="no-sort text-right">Total</th>
                <th class="no-sort text-right">Updated</th>
              </tr>
              </thead>
              <tbody>
              <% @dashboard.recent_inquiries.each do |inquiry| %>
                <tr>
                  <td><%= row_action_button(edit_overseers_inquiry_path(inquiry), 'pencil', 'Go to Inquiry', 'warning', :_blank) %></td>
                  <td><%= inquiry.inquiry_number %></td>
                  <td><%= status_badge(inquiry.status) %></td>
                  <td><%= inquiry.company.to_s.truncate(10) %></td>
                  <td><%= format_currency(inquiry.calculated_total) %></td>
                  <td><%= time_ago_in_words(inquiry.updated_at) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>

    <% if @dashboard.recent_sales_orders.any? %>
      <div class="col-12 col-lg-6 mt-3 mt-lg-0">
        <div class="card">
          <div class="card-body">
            <h5 class="text-uppercase text-black-50 mb-0">Recently Updated Orders</h5>
            <table class="table datatable w-100 wrap-whitespace" data-fixed-header="false">
              <thead>
              <tr>
                <th class="no-sort"></th>
                <th class="no-sort text-right">Inquiry</th>
                <th class="no-sort text-right">Doc ID</th>
                <th class="no-sort text-right">Order</th>
                <th class="no-sort">Status</th>
                <th class="no-sort">SAP Status</th>
                <th class="no-sort text-right">Total</th>
                <th class="no-sort text-right">Updated</th>
              </tr>
              </thead>
              <tbody>
              <% @dashboard.recent_sales_orders.each do |sales_order| %>
                <tr>
                  <td>
                    <%= row_action_button(overseers_inquiry_sales_order_path(sales_order.inquiry, sales_order), 'eye', 'View Sales Order', 'info', :_blank) %>
                  </td>
                  <td><%= sales_order.inquiry.inquiry_number %></td>
                  <td><%= sales_order.id %></td>
                  <td><%= sales_order.order_number %></td>
                  <td><%= status_badge(sales_order.status) %></td>
                  <td><%= status_badge(sales_order.remote_status) %></td>
                  <td><%= format_currency(sales_order.calculated_total) %></td>
                  <td><%= time_ago_in_words(sales_order.updated_at) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>