<div class="col-lg-12">
  <div class="row mt-3 mt-lg-4">
    <div class="col-4">
      <div class="card">
        <div class="card-header text-uppercase">
          <strong>Sales</strong>
        </div>
        <ul class="nav nav-tabs nav-fill rounded-0">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#contact" role="tab">Contact</a>
          </li>
        </ul>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="home">
              <canvas class="chart-bar"></canvas>
            </div>
            <div class="tab-pane fade" id="profile">...</div>
            <div class="tab-pane fade" id="contact">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card mb-3 ">
        <div class="card-body">
          <div class="text-center">
            <p class="text-uppercase text-black-50 mb-1"><strong>Inquiries Created</strong>
            </p>
            <h3 class="mb-0"><%= Inquiry.all.size %></h3>
          </div>
        </div>

        <% if policy(:inquiry).index? %>
          <div class="card-footer">
            <a href="<%= overseers_inquiries_path %>" class="btn btn-lg btn-block btn-success">See Inquiries</a>
          </div>
        <% end %>
      </div>
    </div>

    <% if policy(:company).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase text-black-50 mb-1"><strong>Companies Created</strong>
              </p>
              <h3 class="mb-0"><%= Company.all.size %></h3>
            </div>
          </div>
          <div class="card-footer">
            <a href="<%= overseers_companies_path %>" class="btn btn-lg btn-block btn-success">See Companies</a>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:company).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase text-black-50 mb-1"><strong>Companies w/ Inquiries</strong>
              </p>
              <h3 class="mb-0"><%= Company.joins(:inquiries).uniq.size %></h3>
            </div>
          </div>
            <div class="card-footer">
              <a href="<%= overseers_companies_path %>" class="btn btn-lg btn-block btn-success">See Companies</a>
            </div>
        </div>
      </div>
    <% end %>
    <% if policy(:product).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Products</strong></p>
              <h3 class="mb-0"><%= Product.all.size %></h3>
            </div>
          </div>
          <div class="card-footer">
            <a href="<%= overseers_products_path %>" class="btn btn-lg btn-block btn-success">See Products</a>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:brand).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Brands</strong></p>
              <h3 class="mb-0"><%= Brand.all.size %></h3>
            </div>
          </div>
            <div class="card-footer">
              <a href="<%= overseers_brands_path %>" class="btn btn-lg btn-block btn-success">See Brands</a>
            </div>
        </div>
      </div>
    <% end %>

    <% if policy(:overseer).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Overseers</strong></p>
              <h3 class="mb-0"><%= Overseer.all.size %></h3>
            </div>
          </div>
            <div class="card-footer">
              <a href="<%= overseers_overseers_path %>" class="btn btn-lg btn-block btn-success">See Overseers</a>
            </div>
        </div>
      </div>
    <% end %>
    <% if policy(:category).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Categories</strong></p>
              <h3 class="mb-0"><%= Category.all.size %></h3>
            </div>
          </div>
            <div class="card-footer">
              <a href="<%= overseers_categories_path %>" class="btn btn-lg btn-block btn-success">See Categories</a>
            </div>
        </div>
      </div>
    <% end %>
    <% if policy(:account).index? %>
      <div class="col-md-3">
        <div class="card mb-3 ">
          <div class="card-body">
            <div class="text-center">
              <p class="text-uppercase mb-1"><strong>Accounts</strong></p>
              <h3 class="mb-0"><%= Account.all.size %></h3>
            </div>
          </div>

            <div class="card-footer">
              <a href="<%= overseers_accounts_path %>" class="btn btn-lg btn-block btn-success">See Accounts</a>
            </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-3">
      <div class="card mb-3 ">
        <div class="card-body">
          <div class="text-center">
            <p class="text-uppercase mb-1"><strong>Tax Codes</strong></p>
            <h3 class="mb-0"><%= TaxCode.all.size %></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 ">
        <div class="card-body">
          <div class="text-center">
            <p class="text-uppercase mb-1"><strong>Contacts</strong></p>
            <h3 class="mb-0"><%= Contact.all.size %></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 ">
        <div class="card-body">
          <div class="text-center">
            <p class="text-uppercase mb-1"><strong>Industries</strong></p>
            <h3 class="mb-0"><%= Industry.all.size %></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 ">
        <div class="card-body">
          <div class="text-center">
            <p class="text-uppercase mb-1"><strong>Address State</strong></p>
            <h3 class="mb-0"><%= AddressState.all.size %></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 ">
        <div class="card-body">
          <div class="text-center">
            <p class="text-uppercase mb-1"><strong>Warehouse</strong></p>
            <h3 class="mb-0"><%= Warehouse.all.size %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>