<div class="col-12">
  <%= simple_form_for([:customers, @cart], :url => final_checkout_customers_checkout_path, :method => :get) do |cart| %>
  <section class="pt-3 pt-lg-4 pb-2 pb-lg-3">
    <div class="d-md-flex justify-content-between">
      <h1 class="display-5 mb-1">Cart</h1>
      <%= cart.hidden_field 'id' %>
    </div>
    <p class="lead mt-1">
      You have <strong><%= cart.object.items.size %></strong> product(s) in your cart.
    </p>
  </section>

  <div class="card mb-2">
    <div class="card-body py-2">
      <div class="text-left">
        <%= cart.simple_fields_for :items do |cart_item| %>
          <div class="<% if cart_item.object != cart.object.items.last %>border-bottom <% end %> py-2 d-flex flex-row align-items-center">

            <a href="<%= customers_product_path(cart_item.object.product) %>"><img class="" src="<%= url_for(cart_item.object.product.images.first)%>" width="60" /></a>
            <div class="ml-3 flex-grow-1">
              <%= link_to customers_cart_item_path(cart_item.object), :class => 'text-danger float-right', :data => {:method => "delete"} do %>
                <i class="fal fa-times"></i>
              <% end %>
              <p class="text-black-50 m-0 p-0"><strong>
                <a href="<%= customers_product_path(cart_item.object.product) %>">
                  <%= cart_item.object.product.name %></strong>
                </a>
              </p>
              <div class="form-row mt-1">
                <div class="col-md-1 col-4">
                  <%= cart_item.input_field :quantity, :class => 'form-control'  %>
                </div>
              </div>
              <%= hidden_field_tag 'contact_id', current_contact.id %>
              <%= hidden_field_tag 'page', 'edit_cart' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card-footer">
      <div class="form-row">
        <div class="col-md-12">
          <%= link_to customers_products_path, :class => "btn btn-success btn-block" do %>
            Add Products
          <% end %>
          <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
            <i class="fal fa-shopping-cart mr-1"></i>Proceed to Checkout
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

