<div class="bmro-full-container bmro-bg bmro-company-summary-slide">
  <div class="bmro-adjusting-form"><div class="card-body bmro-summary-body bmro-summary-body-pt bmro-bg">
    <div class=form-row>
      <div class="col-6 col-md-3">
        <strong class="d-block bmro-summary-heading">Order Number</strong>
        <span class="bmro-summary-data"> #<%= sales_order.try(:order_number).blank? ? "SAP Request Pending" : sales_order.order_number %></span>
      </div>
      <div class="col-6 col-md-3">
        <strong class="d-block bmro-summary-heading">Status</strong>
        <span class="bmro-summary-data"> <%= sales_order.status || sales_order.legacy_request_status %></span>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        <strong class="d-block bmro-summary-heading">SAP Status</strong>
        <span class="bmro-summary-data"> <%= sales_order.remote_status.blank? ? "SAP Request Pending" : sales_order.remote_status %></span>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        <strong class="d-block bmro-summary-heading">Opportunity Type</strong>
        <span class="bmro-summary-data"> <%= sales_order.inquiry.present? ? sales_order.inquiry.opportunity_type.capitalize.titleize : '-' %></span>
      </div>
      <% if sales_order.status || sales_order.legacy_request_status == "Approved" %>
        <div class="col-6 col-md-2 mt-2 mt-md-0 text-right">
          <% if is_authorized(@sales_order, 'show_pdf') %>
            <%= link_to proforma_overseers_inquiry_sales_order_path(@inquiry, @sales_order, format: :pdf), class: "btn btn-info btn-sm bmro-button", target: "_blank" do %>
              <i class="fal fa-eye-tras mr-1"></i>Proforma I.
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="bmro-summary-dotted-line"></div>

    <div class="form-row mb-1">
      <div class="col-6 col-md-3">
        <strong class="d-block bmro-summary-heading">Customer Purchase Order No.</strong>
        <span class="bmro-summary-data"> #<%= @inquiry.customer_po_number %></span>
      </div>
      <div class="col-6 col-md-2">
        <strong class="d-block bmro-summary-heading">Customer Order Date</strong>
        <span class="bmro-summary-data"> <%= @inquiry.customer_order_date %></span>
      </div>
      <div class="col-6 col-md-1 mt-2 mt-md-0">
        <strong class="d-block bmro-summary-heading">Currency</strong>
        <%= sales_order.currency %> (<%= sales_order.conversion_rate %>)
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        <strong class="d-block bmro-summary-heading">Customer Committed Date</strong>
        <span class="bmro-summary-data"> <%= @inquiry.customer_committed_date %></span>
      </div>
      <% if sales_order.revised_committed_delivery_date.present? %>
        <div class="col-6 col-md-2 mt-2 mt-md-0">
          <strong class="d-block bmro-summary-heading">Revised Customer Committed Delivery Date</strong>
          <span class="bmro-summary-data"><%= sales_order.revised_committed_delivery_date %></span>
        </div>
      <% end %>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        <strong class="d-block bmro-summary-heading">Payment Terms</strong>
        <span class="bmro-summary-data"> <%= @inquiry.payment_option %></span>
      </div>
    </div>

      <div class="bmro-summary-dotted-line"></div>
      <div class="card-alternative bmro-bg mt-3">
        <div class="form-row">
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block bmro-summary-heading">Supplier - Billing Address</strong>
            <span class="bmro-summary-data"> <% if @inquiry.bill_from.present? %>
              <%= @inquiry.bill_from.address.name.to_s %>
                <%= @inquiry.bill_from.address.to_compact_multiline_s %><br>
                <% if @inquiry.bill_from.address.phone.present? %>
                Contact: <%= @inquiry.contact.full_name %>
                  - <%= @inquiry.bill_from.address.phone %><br>
              <% end %>
                <% if @inquiry.bill_from.address.gst %>
                GST Number: <%= @inquiry.bill_from.address.gst %><br>
              <% end %>
            <% end %></span>
          </div>
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block bmro-summary-heading">Supplier - Shipping Address</strong>
            <span class="bmro-summary-data"> <% if @inquiry.ship_from.present? %>
              <%= @inquiry.ship_from.address.name.to_s %><br>
                <%= @inquiry.ship_from.address.to_compact_multiline_s %><br>
                <% if @inquiry.ship_from.address.mobile || @inquiry.ship_from.address.telephone %>
                Contact: <%= @inquiry.ship_from.address.mobile || @inquiry.ship_from.address.telephone %>
                  <br>
              <% end %>
                <% if @inquiry.ship_from.address.gst %>
                GST Number: <%= @inquiry.ship_from.address.gst %><br>
              <% end %>
            <% end %></span>
          </div>
        </div>

        <div class="form-row mt-0 mt-md-2">
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block bmro-summary-heading">Customer - Billing Address</strong>
            <span class="bmro-summary-data"> <%= (@inquiry.company.name) %><br>
              <%= @sales_order.serialized_billing_address.to_compact_multiline_s %><br>
              <% if @inquiry.contact.phone.present? %>
              Contact: <%= @inquiry.contact.full_name %> - <%= @inquiry.contact.phone %><br>
            <% end %>
              Email: <%= @inquiry.contact.email if @inquiry.contact.email.present? %>
              GST Number: <%= @sales_order.serialized_billing_address.gst || '-' %></span>
          </div>
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block bmro-summary-heading">Customer - Shipping Address</strong>
            <span class="d-block bmro-summary-data"><%= (@inquiry.shipping_company.name) %></span>
            <span class="d-block bmro-summary-data"><%= @sales_order.serialized_shipping_address.to_compact_multiline_s %></span>
            <% if @inquiry.shipping_contact.phone.present? %>
              <span class="d-block bmro-summary-data">Contact: <%= @inquiry.shipping_contact.full_name %>
                - <%= @inquiry.shipping_contact.phone %></span>
            <% end %>
            <span class="bmro-summary-data"> Email: <%= @inquiry.shipping_contact.email if @inquiry.shipping_contact.email.present? %></span>
            <span class="d-block bmro-summary-data">GST Number: <%= @sales_order.serialized_shipping_address.gst || '-' %></span>
          </div>
        </div>
      </div>

      <div class="bmro-summary-dotted-line bmro-Produts-summary-slide" id="Produts_summary"></div>
      <div class="form-row mt-3">
        <% if @inquiry.calculation_sheet.attached? %>

          <div class="col-6 mb-1">
            <strong class="d-block bmro-summary-heading">Calculation Sheet</strong>
            <span class="bmro-summary-link"> <%= link_to @inquiry.calculation_sheet, target: '_blank' do %>
              <%= @inquiry.calculation_sheet.filename %></span>
            <% end %>
              </div>

        <% end %>

        <% if @inquiry.attachments.present? %>

          <div class="col-6 mb-1">
            <strong class="d-block bmro-summary-heading ">Customer Purchase Order</strong>
            <span class="bmro-summary-link"> <%= link_to @inquiry.customer_po_sheet, target: '_blank' do %>
              <%= @inquiry.customer_po_sheet.filename %></span>
            <% end if @inquiry.customer_po_sheet.attached? %>
              </div>
          <div class="col-6 mb-1">
            <% if @inquiry.copy_of_email.attached? %>
              <strong class="d-block bmro-summary-heading">Email attachment</strong>
              <span class="bmro-summary-link"> <%= link_to @inquiry.copy_of_email, target: '_blank' do %>
                <%= @inquiry.copy_of_email.filename %></span>
              <% end %>
            <% end %>
          </div>
          <div class="col-6 mb-1">
            <strong class="d-block bmro-summary-heading">Supplier Quotes Attachment</strong>
            <span class="bmro-summary-link"> <% @inquiry.supplier_quotes.attachments.each do |attachment| %>
              <%= link_to url_for(attachment), target: '_blank', :status => attachment.filename do %>
              <%= attachment.filename %>
              <% end %>
            <% end if @inquiry.supplier_quotes.attached? %></span>
          </div>

        <% end %>
      </div>

      <div class="bmro-summary-dotted-line"></div>
      <div class="bmro-summary-product" >
        <table class="w-100 table table-bordered dt-responsive datatable wrap-whitespace bmro-datatable-style bmro-summary-table" data-fixed-header="false">
          <thead>
          <tr>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Serial Number">Sr.</span>
            </th>
            <th class="no-sort product-width-adjustment">
              <span>Product</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Quantity">Qty</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Unit of Measurement">UoM</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Unit Cost">UC</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Margin Percentage">%</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Unit Selling Price">USP</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Total Selling Price">TSP</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Total Selling Price with Tax">TSP w. Tax</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Code">T. Code</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">T. Rate</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Total Freight">T. Freight</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <% sales_order.rows.order(:sr_no).each do |row| %>
            <tr>
              <td>
                <span>#<%= row.sr_no %></span>
              </td>
              <td>
                <span><%= row.sales_quote_row %></span>
              </td>
              <td>
                <span><%= row.quantity %></span>
              </td>
              <td>
                <span><%= row.measurement_unit %></span>
              </td>
              <td>
                <span><%= format_currency(row.converted_unit_cost_price_with_unit_freight_cost, symbol: sales_order.currency_sign) %></span>
              </td>
              <td>
                <span><%= number_with_precision(row.margin_percentage, precision: 2) %></span>
              </td>
              <td>
                <span><%= format_currency(row.converted_unit_selling_price, symbol: sales_order.currency_sign) %></span>
              </td>
              <td>
                <span><%= format_currency(row.converted_total_selling_price, symbol: sales_order.currency_sign) %></span>
              </td>
              <td>
                <span><%= format_currency(row.converted_total_selling_price_with_tax, symbol: sales_order.currency_sign) %></span>
              </td>
              <td>
                <span><%= row.tax_code_six_digits if row.best_tax_code.present?  %></span>
              </td>
              <td>
                <span><%= row.best_tax_rate %></span>
              </td>
              <td>
                <span><%= format_currency(row.freight_cost_subtotal, symbol: sales_order.currency_sign) %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <% @sales_order.rows.each do |row| %>
          <%= hidden_field_tag :sales_order_id, row.sales_order_id %>
          <%= hidden_field_tag :id, row.id %>
          <% if row.product.present? && (row.product.kit.present? && row.product.kit.kit_product_rows.present?) %>
            <h4 class="mb-0 mt-3 text-small ">
              <span class="text-black-50 text-uppercase ">Kit product details - </span><strong class="text-black"><%= row.sales_quote_row.to_s %></strong>
            </h4>
            <table class="w-100 table table-bordered bmro-summary-table dt-responsive datatable mt-0" data-fixed-header="false">
              <thead>
              <tr>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Serial Number">Sr.</span>
                </th>
                <th class="no-sort">
                  <span>Product</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Quantity">Qty</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Tax Code">T. Code</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Tax Rate">T. Rate</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <% row.product.kit.kit_product_rows.each_with_index do |kit_product, index| %>
                <tr>
                  <td>
                    <span>#<%= (index + 1) %></span>
                  </td>
                  <td>
                    <span><%= kit_product.product.name %></span>
                  </td>
                  <td>
                    <span><%= kit_product.quantity %></span>
                  </td>
                  <td>
                    <span><%= kit_product.tax_code.try(:code) %></span>
                  </td>
                  <td>
                    <span><%= kit_product.tax_rate.to_s %></span>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        <% end %>

        <div class="bmro-summary-dotted-line"></div>


        <div class="card-footer bmro-summary-footer bmro-summary-product-bottom">
          <div class="form-row bmro-summary-footer-padding">
            <div class="col-6 col-md-1">
              <span class="bmro-summary-data bmro-summary-padding"> Products</span>
              <strong class="d-block bmro-summary-heading bmro-summary-padding"><%= sales_order.rows.size %></strong>
            </div>
            <div class="col-6 col-md-1 bmro-border-left bmrotf-width">
              <span class="bmro-summary-data bmro-summary-padding">Total Freight</span>
              <strong class="d-block bmro-summary-heading bmro-summary-padding"><%= format_currency(sales_order.calculated_freight_cost_total, symbol: sales_order.currency_sign) %></strong>
            </div>
            <div class="col-6 col-md-1 bmro-border-left">
              <span class="bmro-summary-data bmro-summary-padding"> Cost</span>
              <strong class="d-block bmro-summary-heading bmro-summary-padding"><%= format_currency(sales_order.converted_total_cost, symbol: sales_order.currency_sign) %></strong>
            </div>
            <div class="col-6 col-md-2 mt-2 mt-md-0 bmro-border-left">
              <span class="bmro-summary-data bmro-summary-padding"> Margin</span>
              <strong class="d-block bmro-summary-heading bmro-summary-padding"><%= format_currency(sales_order.converted_total_margin, symbol: sales_order.currency_sign) %>
                (<%= sales_order.calculated_total_margin_percentage %>%)</strong>
            </div>
            <div class="col-6 col-md-2 mt-2 mt-md-0 bmro-border-left">
              <span class="bmro-summary-data bmro-summary-padding"> Selling Price(E. tax)</span>
              <strong class="d-block bmro-summary-heading bmro-summary-padding"><%= format_currency(sales_order.converted_total, symbol: sales_order.currency_sign) %></strong>
            </div>
            <div class="col-6 col-md-1 mt-2 mt-md-0 bmro-border-left bmrotax-width">
              <span class="bmro-summary-data bmro-summary-padding"> Tax</span>
              <strong class="d-block bmro-summary-heading bmro-summary-padding"><%= format_currency(sales_order.converted_total_tax, symbol: sales_order.currency_sign) %></strong>
            </div>
            <div class="col-6 col-md-1 mt-2 mt-md-0 bmro-border-left">
              <span class="bmro-summary-data bmro-summary-padding"> TCS Amount</span>
              <strong class="d-block bmro-summary-heading bmro-summary-padding"><%= format_currency(sales_order.tcs_amount, symbol: sales_order.currency_sign) %></strong>
            </div>
            <div class="col-6 col-md-2 mt-2 mt-md-0 bmro-border-left">
              <span class="bmro-summary-data bmro-summary-padding"> Selling Price (I. tax)</span>
              <strong class="d-block bmro-summary-heading bmro-summary-padding"><%= format_currency(sales_order.converted_total_tax_with_tcs, symbol: sales_order.currency_sign) %></strong>
            </div>
          </div>
        </div>
      </div>

    </div></div>




  <div class="card bmro-summary-header">
    <div class="card-header bmro-bg bmro-card-border-summary">
        <% if sales_order.status || sales_order.legacy_request_status == "Approved" %>
          <div class="col-6 col-md-2 mt-2 mt-md-0 text-right">
            <% if is_authorized(@sales_order, 'show_pdf') %>
              <%= link_to proforma_overseers_inquiry_sales_order_path(@inquiry, @sales_order, format: :pdf), class: "btn bmro-button btn-info btn-sm", target: "_blank" do %>
                <i class="fal fa-eye-tras mr-1"></i>Proforma I.
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="bmro-view-right-ul">
          <nav class="bmro-nav">
            <ul class="bmro-label-ul">

              <li class="bmro-li-right">
                 <label data-path="company_summary" class="bmro-list-button bmro-company-summary">Company Details</label>
              </li>

              <li class="bmro-li-right bmro-active-li">
                  <label data-path="Produts_summary" class="bmro-list-button bmro-Produts-summary">Products</label>
              </li>
            </ul>
          </nav>
        </div>
        </div>
    </div>
  </div>
</div>