<div class="card">
  <div class="card-header">
    <div class=form-row>

      <div class="col-6 col-md-3">
        <strong class="d-block">Order Number</strong>
        #<%= sales_order.try(:order_number).blank? ? "SAP Request Pending" : sales_order.order_number %>
      </div>
      <div class="col-6 col-md-3">
        <strong class="d-block">Status</strong>
        <%= sales_order.status || sales_order.legacy_request_status %>
      </div>
      <div class="col-6 col-md-3 mt-2 mt-md-0">
        <strong class="d-block">SAP Status</strong>
        <%= sales_order.remote_status.blank? ? "SAP Request Pending" : sales_order.remote_status %>
      </div>
      <% if sales_order.status || sales_order.legacy_request_status == "Approved" %>
        <div class="col-6 col-md-3 mt-2 mt-md-0 text-right">
          <% if policy(@sales_order).show_pdf? %>
            <%= link_to proforma_overseers_inquiry_sales_order_path(@inquiry, @sales_order, format: :pdf), class: "btn btn-info btn-sm", target: "_blank" do %>
              <i class="fal fa-eye mr-1"></i>Proforma I.
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
  <div class="card-body">
    <div class="form-row mb-1">
      <div class="col-6 col-md-3">
        <strong class="d-block">Customer Purchase Order No.</strong>
        #<%= @inquiry.customer_po_number %>
      </div>
      <div class="col-6 col-md-3">
        <strong class="d-block">Customer Order Date</strong>
        <%= @inquiry.customer_order_date %>
      </div>
      <div class="col-6 col-md-3 mt-2 mt-md-0">
        <strong class="d-block">Currency</strong>
        <%= sales_order.currency %> (<%= sales_order.conversion_rate %>)
      </div>
      <div class="col-6 col-md-3 mt-2 mt-md-0">
        <strong class="d-block">Payment Terms</strong>
        <%= @inquiry.payment_option %>
      </div>
    </div>

    <div class="card-alternative mt-3">
      <div class="form-row">
        <div class="col-md-6 mt-2 mt-md-0">
          <strong class="d-block">Supplier - Billing Address</strong>
          <%= @inquiry.bill_from.address.name.to_s %>
          <%= @inquiry.bill_from.address.to_compact_multiline_s if @inquiry.bill_from.present? %><br>
          <% if @inquiry.bill_from.address.phone.present? %>
            <em>Contact</em>: <%= @inquiry.contact.full_name %> - <%= @inquiry.bill_from.address.phone %><br>
          <% end %>
          <% if @inquiry.bill_from.address.gst %>
            <em>GST Number</em>: <%= @inquiry.bill_from.address.gst %><br>
          <% end %>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <strong class="d-block">Supplier - Shipping Address</strong>
          <%= @inquiry.ship_from.address.name.to_s %><br>
          <%= @inquiry.ship_from.address.to_compact_multiline_s if @inquiry.ship_from.present? %><br>
          <% if @inquiry.ship_from.address.mobile || @inquiry.ship_from.address.telephone %>
            <em>Contact</em>: <%= @inquiry.ship_from.address.mobile || @inquiry.ship_from.address.telephone %><br>
          <% end %>
          <% if @inquiry.ship_from.address.gst %>
            <em>GST Number</em>: <%= @inquiry.ship_from.address.gst %><br>
          <% end %>
        </div>
      </div>

      <div class="form-row mt-0 mt-md-2">
        <div class="col-md-6 mt-2 mt-md-0">
          <strong class="d-block">Customer - Billing Address</strong>
          <%= (@inquiry.company.name) %><br>
          <%= @sales_order.serailized_billing_address.to_compact_multiline_s %><br>
          <% if @inquiry.contact.phone.present? %>
            Contact: <%= @inquiry.contact.full_name %> - <%= @inquiry.contact.phone %><br>
          <% end %>
          <em>Email</em>: <%= @inquiry.contact.email if @inquiry.contact.email.present? %>
          <span class="d-block"><em>GST Number</em>: <%= @sales_order.serailized_billing_address.gst || @inquiry.company.default_billing_address.gst %></span>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <strong class="d-block">Customer - Shipping Address</strong>
          <span class="d-block"><%= (@inquiry.shipping_company.name) %></span>
          <span class="d-block"><%= @sales_order.serailized_shipping_address.to_compact_multiline_s %></span>
          <% if @inquiry.contact.mobile || @inquiry.contact.telephone %>
            <span class="d-block"><em>Contact</em>: <%= @inquiry.contact.full_name %>
              - <%= @inquiry.contact.phone %></span>
          <% end %>
          <em>Email</em>: <%= @inquiry.contact.email if @inquiry.contact.email.present? %>
          <span class="d-block"><em>GST Number</em>: <%= @sales_order.serailized_shipping_address.gst || @inquiry.company.default_shipping_address.gst %></span>
        </div>
      </div>
    </div>

    <% if @inquiry.attachments.present? %>
      <div class="form-row mt-3">
        <div class="col-6">
          <strong class="d-block">Customer Purchase Order</strong>
          <%= link_to @inquiry.customer_po_sheet, target: '_blank' do %>
            <%= @inquiry.customer_po_sheet.filename %>
          <% end if @inquiry.customer_po_sheet.attached? %>
        </div>
        <div class="col-6">
          <% if @inquiry.copy_of_email.attached? %>
            <strong class="d-block">Email attachment</strong>
            <%= link_to @inquiry.copy_of_email, target: '_blank' do %>
              <%= @inquiry.copy_of_email.filename %>
            <% end %>
          <% end %>
        </div>
        <div class="col-6 mt-2">
          <strong class="d-block">Supplier Quotes Attachment</strong>
          <% @inquiry.supplier_quotes.attachments.each do |attachment| %>
            <%= link_to url_for(attachment), target: '_blank', :status => attachment.filename do %>
              <span class="d-block"><%= attachment.filename %></span>
            <% end %>
          <% end if @inquiry.supplier_quotes.attached? %>
        </div>
      </div>
    <% end %>

    <table class="w-100 table table-bordered dt-responsive datatable wrap-whitespace" data-fixed-header="false">
      <thead>
      <tr>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Serial Number">Sr.</span>
        </th>
        <th class="no-sort">
          <span>Product</span>
        </th>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Quantity">Qty</span>
        </th>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Unit of Measurement">UoM</span>
        </th>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Unit Cost">UC</span>
        </th>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Margin Percentage">%</span>
        </th>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Unit Selling Price">USP</span>
        </th>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Total Selling Price">TSP</span>
        </th>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Total Selling Price with Tax">TSP w. Tax</span>
        </th>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Tax Code">T. Code</span>
        </th>
        <th class="no-sort">
          <span data-toggle="tooltip" title="Tax Rate">T. Rate</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <% sales_order.rows.each do |row| %>
        <tr>
          <td>
            <span>#<%= row.sr_no %></span>
          </td>
          <td>
            <span><%= row.sales_quote_row %></span>
          </td>
          <td>
            <span><%= row.quantity %></span>
          </td>
          <td>
            <span><%= row.measurement_unit %></span>
          </td>
          <td>
            <span><%= format_currency(row.converted_unit_cost_price_with_unit_freight_cost,symbol:sales_order.inquiry_currency.sign) %></span>
          </td>
          <td>
            <span><%= number_with_precision(row.margin_percentage, precision: 2) %></span>
          </td>
          <td>
            <span><%= format_currency(row.converted_unit_selling_price,symbol:sales_order.inquiry_currency.sign) %></span>
          </td>
          <td>
            <span><%= format_currency(row.converted_total_selling_price,symbol:sales_order.inquiry_currency.sign) %></span>
          </td>
          <td>
            <span><%= format_currency(row.converted_total_selling_price_with_tax,symbol:sales_order.inquiry_currency.sign) %></span>
          </td>
          <td>
            <span><%= row.best_tax_code %></span>
          </td>
          <td>
            <span><%= row.best_tax_rate %></span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% @sales_order.rows.each do |row| %>
      <%= hidden_field_tag :sales_order_id, row.sales_order_id %>
      <%= hidden_field_tag :id, row.id %>
      <% if row.product.present? && (row.product.kit.present? && row.product.kit.kit_product_rows.present?) %>
        <h4 class="mb-0 mt-3 text-small ">
          <span class="text-black-50 text-uppercase ">Kit product details - </span><strong class="text-black"><%= row.sales_quote_row.to_s %></strong>
        </h4>
        <table class="w-100 table table-bordered dt-responsive datatable mt-0" data-fixed-header="false">
          <thead>
          <tr>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Serial Number">Sr.</span>
            </th>
            <th class="no-sort">
              <span>Product</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Quantity">Qty</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Code">T. Code</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">T. Rate</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <% row.product.kit.kit_product_rows.each_with_index do |kit_product, index| %>
            <tr>
              <td class="col-1">
                <span>#<%= (index + 1) %></span>
              </td>
              <td class="col-6">
                <span><%= kit_product.product.name %></span>
              </td>
              <td class="col-2">
                <span><%= kit_product.quantity %></span>
              </td>
              <td class="col-2">
                <span><%= kit_product.tax_code.try(:code) %></span>
              </td>
              <td class="col-2">
                <span><%= kit_product.tax_rate.to_s %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>

  </div>
  <div class="card-footer">
    <div class=form-row>
      <div class="col-6 col-md-2">
        Products
        <strong class="d-block"><%= sales_order.rows.size %></strong>
      </div>
      <div class="col-6 col-md-2">
        Cost
        <strong class="d-block"><%= format_currency(sales_order.converted_total_cost,symbol:sales_order.inquiry_currency.sign) %></strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Margin
        <strong class="d-block"><%= format_currency(sales_order.converted_total_margin) %>
          (<%= sales_order.calculated_total_margin_percentage %>%)</strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Selling Price (E. tax)
        <strong class="d-block"><%= format_currency(sales_order.converted_total,symbol:sales_order.inquiry_currency.sign) %></strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Tax
        <strong class="d-block"><%= format_currency(sales_order.converted_total_tax,symbol:sales_order.inquiry_currency.sign) %></strong>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        Selling Price (I. tax)
        <strong class="d-block"><%= format_currency(sales_order.converted_total_with_tax,symbol:sales_order.inquiry_currency.sign) %></strong>
      </div>
    </div>
  </div>
</div>