<div class="col-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <%= simple_form_for(@sales_order, url: create_confirmation_overseers_inquiry_sales_order_path(@inquiry, @sales_order), method: :post, :html => {:class => 'was-validated needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
      <%= f.hidden_field :parent_id %>
      <%= f.hidden_field :sales_quote_id %>

      <% if f.object.errors.any? %>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <div class="card">
        <div class="card-header">
          <div class=form-row>
            <div class="col-8 col-md-3">
              Total Selling Price (Excl. tax)<br>
              <strong><%= format_currency(f.object.calculated_total) %></strong>
            </div>
            <div class="col-4 col-md-2">
              Total Tax<br>
              <strong><%= format_currency(f.object.calculated_total_tax) %></strong>
            </div>
            <div class="col-8 col-md-3 mt-2 mt-md-0">Total Selling Price (Incl. tax)<br>
              <strong><%= format_currency(f.object.calculated_total_with_tax) %></strong>
            </div>
            <div class="col-4 col-md-2 mt-2 mt-md-0">Total Margin<br>
              <strong><%= format_currency(f.object.calculated_total_margin) %></strong>
            </div>
            <div class="col-12 col-md-2 mt-2 mt-md-0 d-flex align-items-center">
              <%= f.input :confirm_ord_values, as: :boolean, wrapper: :custom_boolean, label: 'Confirm order values', :required => true %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-6">
              <strong>Currency</strong>
              <br> <%= f.object.currency %>
            </div>
            <div class="col-6">
              <strong>Conversion rate</strong>
              <br> <%= f.object.conversion_rate %>
            </div>
          </div>
          <div class="card-alternative mt-3">
            <div class="form-row">
              <div class="col-md-6">
                <strong>Shipping Address</strong><br>
                <%= @inquiry.shipping_address %>
                <div class="mt-1">
                  <%= f.input :confirm_shipping_address, as: :boolean, wrapper: :custom_boolean, :required => true %>
                </div>
              </div>
              <div class="col-md-6 mt-2 mt-md-0">
                <strong>Billing Address</strong>
                <br> <%= @inquiry.billing_address %>
                <div class="mt-1">
                  <%= f.input :confirm_billing_address, as: :boolean, wrapper: :custom_boolean, :required => true %>
                </div>
              </div>
            </div>
          </div>

          <%= f.nested_fields_for :rows, wrapper_tag: :div do |row| %>
            <%= row.hidden_field :sales_order_id %>
            <%= row.hidden_field :id %>
           <div>
             <h6 class="text-uppercase mb-0 mt-3">
               <strong><%= row.object.sales_quote_row %></strong>
               <p class="lead text-black-50 text-small d-block mt-1">#<%= row.object.sr_no %></p>
             </h6>
             <div class="form-row my-2">
               <div class="col-md-3">
                 <strong>Unit Selling Price</strong><br>
                 <span><%= row.object.unit_selling_price %></span>
               </div>
               <div class="col-md-3 mt-2 mt-md-0">
                 <strong>Unit Selling Price (in <%= f.object.currency.sign %>)</strong><br>
                 <span><%= row.object.converted_unit_selling_price %></span>
               </div>
               <div class="col-md-3 mt-2 mt-md-0">
                 <strong>Unit Cost with Freight</strong><br>
                 <span><%= row.object.unit_cost_price_with_unit_freight_cost %></span>
               </div>
               <div class="col-md-3 mt-2 mt-md-0">
                 <strong>Total Selling Price</strong><br>
                 <span><%= row.object.total_selling_price %></span>
               </div>
             </div>
             <div class="form-row my-2">
               <div class="col-md-3">
                 <strong>Total Selling Price with Tax</strong><br>
                 <span><%= row.object.total_selling_price_with_tax %></span>
               </div>
               <div class="col-md-3 mt-2 mt-md-0">
                 <strong>Margin Percentage</strong><br>
                 <span><%= row.object.margin_percentage %></span>
               </div>
               <div class="col-md-3 mt-2 mt-md-0">
                 <strong>Tax Code</strong><br>
                 <span><%= row.object.tax_code %></span>
               </div>
               <div class="col-md-3 mt-2 mt-md-0">
                 <strong>UOM</strong><br>
                 <span><%= row.object.measurement_unit %></span>
               </div>
             </div>
             <div class="form-row my-2">
               <div class="col-md-3 mt-2 mt-md-0">
                 <strong>Quantity</strong><br>
                 <span><%= row.object.quantity %></span>
               </div>
             </div>
           </div>
            <hr class="my-2">
          <% end %>

          <div class="form-row">
            <div class="col-6">
              <%= f.input :confirm_hsn_codes, as: :boolean, wrapper: :custom_boolean, label: 'Confirm HSN Codes', :required => true %>
            </div>
            <div class="col-6">
              <%= f.input :confirm_tax_rates, as: :boolean, wrapper: :custom_boolean, label: 'Confirm Tax Rates', :required => true %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-row">
          <div class="col-6">
            <%= link_to "Cancel", edit_overseers_inquiry_sales_order_path(@inquiry, @sales_order), class: 'btn btn-danger btn-block' %>
          </div>
          <div class="col-6">
            <%= f.submit 'Save and Confirm', name: 'save_and_send', class: 'btn btn-success btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
