<% content_for :heading do %>
  View Sales Order <%= ['#', @sales_order.order_number].join if @sales_order.order_number.present? %>
<% end %>

<div class="col-12">
  <%= render layout: 'overseers/inquiries/tabs_layout' do %>
    <%= simple_form_for(@sales_order, url: "", method: :post, :html => {:class => 'was-validated needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
      <%= f.hidden_field :parent_id %>
      <%= f.hidden_field :sales_quote_id %>

      <% if f.object.errors.any? %>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <%= render 'overseers/inquiries/sales_orders/order_display', f: f %>
    <% end %>
  <% end %>
</div>
