<div class="page fixed">
  <div class="main-container col1-layout">
    <div class="main">
      <div class="col-main">
        <div id="compare-wrapper">
          <div class="compare_open" id="compare_popup"></div>
          <div style=" float:left; width: 49%; padding-top: 1px;padding-bottom: 10px; text-align: left;">
            <%= wicked_pdf_image_tag 'BMIS_Logo_PNG.png',:width => "50%" %>
          </div>
          <div style="float:right;width:49%; padding-top: 1px;padding-bottom: 10px;text-align: right; vertical-align:center">
            <b><span style="color:#000; font-size: 17.5px;">Packing Slip #<%= locals[:packing_slip].id %></span></b>
          </div>
          <br clear="all">
          <div style="background: #d3d3d3; border:1px solid; border-radius: 5px;padding-top: 1px;padding-bottom: 1px; text-align: center;">
            <span><b>Packing Slip #<%= locals[:packing_slip].id %></b></span>
          </div>
          <br clear="all">
          <div style="width: 100%;">
            <table border="0" cellspacing="0" class="pdf-table" style="font-size: 12px;">
              <tbody>
              <tr>
                <td align="left" style="width:25%; padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <b><span>Quotation #</span></b></td>
                <td align="left" style="width:25%;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <span><%= locals[:packing_slip].outward_dispatch.ar_invoice_request.sales_order.sales_quote.id %></span></td>
                <td align="left" style="width:25%;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <b><span>Customer Inquiry Reference</span></b></td>
                <td align="left" style="width:25%; padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <span>
                    <%= @packing_slip.outward_dispatch.sales_order.sales_quote.id %>
                  </span>
                </td>
              </tr>
              <tr>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <b><span>Sales Order #</span></b>
                  </td>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <span> <%= locals[:packing_slip].outward_dispatch.ar_invoice_request.sales_order.order_number %></span>
                </td>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <b><span>Sales Order Date</span></b>
                  </td>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <span><%= format_succinct_date(locals[:packing_slip].outward_dispatch.ar_invoice_request.sales_order.created_at) %></span></td>
              </tr>
              <tr>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <b><span>Packing Slip #</span></b>
                  </td>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <span> <%= "#{locals[:packing_slip].outward_dispatch.ar_invoice_request.inquiry.inquiry_number}-#{locals[:packing_slip].id}" %></span>
                </td>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <b><span>Packing Slip Date</span></b>
                  </td>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <span><%= format_succinct_date(locals[:packing_slip].created_at) %></span></td>
              </tr>
              <tr>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <b><span>Box #</span></b>
                </td>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <span> <%= "#{locals[:packing_slip].box_number}" %></span>
                </td>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <b><span>Box Details</span></b>
                </td>
                <td align="left" style="border-top: 1px solid #3c3c3c;padding-left: 10px;padding-bottom: 5px;" valign="top">
                  <span><%= "#{locals[:packing_slip].box_dimension}" %></span></td>
              </tr>
              </tbody>
            </table>
          </div>
          <br clear="all">
          <div class="address-blocks">
            <div style=" " class="heading heading-left">
              <b><span>Supplier - Bill from:</span></b>
            </div>
            <div class="heading heading-right">
              <b><span>Supplier - Ship from:</span></b>
            </div>

            <br clear="all">
            <table border="0" cellspacing="0" style="width: 100%; margin-top: 10px;">
              <tbody>
              <tr>
                <td class="address-wrapper" style="height: auto;width: 49%;">
                  <strong><%= (locals[:inquiry].bill_from.address.name.to_s + '<br>').html_safe if locals[:inquiry].bill_from.address.name.present? %></strong>
                  <% if locals[:inquiry].bill_from.address.present? %>
                    <%= locals[:inquiry].bill_from.address.to_multiline_s %><br>
                    GST No.: <%= locals[:inquiry].bill_from.address.gst %><br>
                  <% end %>
                </td>

                <td style="width: 2%;"></td>
                <td class="address-wrapper" style="height: auto;width: 49%;">
                  <strong><%= (locals[:inquiry].ship_from.address.name.to_s + '<br>').html_safe if locals[:inquiry].ship_from.address.name.present? %></strong>
                  <% if locals[:inquiry].ship_from.address.present? %>
                    <%= locals[:inquiry].ship_from.address.to_multiline_s %><br>
                    GST No.: <%= locals[:inquiry].ship_from.address.gst %><br>
                  <% end %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <br clear="all">
          <div class="address-blocks">
            <div style=" " class="heading heading-left">
              <b><span>Customer - Bill from:</span></b>
            </div>
            <div class="heading heading-right">
              <b><span>Customer - Ship from:</span></b>
            </div>

            <br clear="all">
            <table border="0" cellspacing="0" style="width: 100%; margin-top: 10px;">
              <tbody>
              <tr>
                <td class="address-wrapper" style="height: auto;width: 49%;">
                  <%= locals[:inquiry].contact.to_s %>
                  <br clear="all">
                  <strong><%= (locals[:inquiry].billing_address.name.to_s + '<br>').html_safe if locals[:inquiry].billing_address.name.present? %></strong>
                  <% if locals[:inquiry].billing_address.present? %>
                    <%= locals[:inquiry].billing_address.to_multiline_s %><br>
                    GST No.: <%= locals[:inquiry].billing_address.gst %><br>
                  <% end %>
                </td>

                <td style="width: 2%;"></td>
                <td class="address-wrapper" style="height: auto;width: 49%;">
                  <%= locals[:inquiry].contact.to_s %>
                  <br clear="all">
                  <strong><%= (locals[:inquiry].shipping_address.name.to_s + '<br>').html_safe if locals[:inquiry].shipping_address.name.present? %></strong>
                  <% if locals[:inquiry].shipping_address.present? %>
                    <%= locals[:inquiry].shipping_address.to_multiline_s %><br>
                    GST No.: <%= locals[:inquiry].shipping_address.gst %><br>
                  <% end %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <br clear="all">
          <div style="width: 100%;">
            <table border="0" cellspacing="0" class="pdf-table" style="font-size: 12px;">
              <thead>
              <tr>
                <th align="center" valign="center">
                  <b><span>Sr.<br>
                    No.</span></b></th>
                <th align="center" valign="center">
                  <b><span>SKU</span></b></th>
                <th align="center" valign="center">
                  <b><span>Mfr<br>
                    Model</span></b></th>
                <th align="center" valign="center">
                  <b><span>Description</span></b></th>
                <th align="center" valign="center">
                  <b><span>HSN / SAC</span></b></th>
                <th align="center" valign="center">
                  <b><span>UOM</span></b></th>
                <th align="center" valign="center">
                  <b><span>Qty</span></b></th>
              </tr>
              </thead>
              <tbody>
                <% locals[:packing_slip].rows.each_with_index do |item, index| %>
                  <tr>
                    <td align="center" valign="top">
                      <span><%= index + 1 %></span></td>
                    <td align="center" valign="top">
                      <span><%= item.ar_invoice_request_row.product.sku %></span></td>
                    <td align="center" valign="top">
                      <span><%= item.ar_invoice_request_row.product.mpn.present? ? item.ar_invoice_request_row.product.mpn : '-' %></span></td>
                    <td align="center" valign="top">
                      <span><%= item.ar_invoice_request_row.product.name %></span></td>
                    <td align="center" valign="top">
                      <span><%= item.ar_invoice_request_row.sales_order_row.best_tax_code.to_s[0..3] %></span></td>
                    <td align="center" valign="top">
                      <span><%= item.ar_invoice_request_row.sales_order_row.measurement_unit %></span></td>
                    <td align="center" valign="top">
                      <span><%= item.delivery_quantity %></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>