<div class="col-lg-12">
   <%= render layout: 'overseers/inquiries/tabs_layout' do %>
   <section class="pb-4 pb-lg-5">
      <div class="card">
         <div class="card-body">
            <table class="table">
               <theader>
                  <tr>
                     <th>Customer Name</th>
                     <th>Customer email</th>
                     <th>Reason</th>
                     <th>Required Changes</th>
                     <th>Sales Quote</th>
                     <th>Supportting documents</th>
                  </tr>
               </theader>
               <tbody>
                  <% @revision_requests.each do |revision_request| %>
                  <tr>
                     <td><%= revision_request.contact.name %></td>
                     <td><%= revision_request.contact.email %></td>
                     <td><%= revision_request.reason %></td>
                     <td><%= revision_request.required_changes %></td>
                     <td><%= link_to revision_request.sales_quote.id, overseers_inquiry_sales_quote_path(@inquiry, revision_request.sales_quote), target: "_blank" %></td>
                     <td>
                        <ul class="list-inline">
                           <% revision_request.files.each do |file| %>
                           <li class="list-inline-item" >
                              <%= link_to url_for(file), target: '_blank', :"data-toggle" => 'tooltip', :status => file.filename do %>
                              <i class="fal fa-download"></i>
                              <% end %>
                           </li>
                           <% end %>
                        </ul>
                     </td>
                  </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
      </div>
   </section>
   <% end %>
</div>