<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>
<% provide :container_fluid, true %>
<% provide :can_be_directly_exported_filtered_records, true %>

<% provide :heading_buttons do %>
  <div class="btn-group">
    <a href="<%= export_all_overseers_sales_orders_path(format: :csv) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1 mb-md-0 mb-1" data-toggle="tooltip" title="All sales orders" ><i class="fal fa-download mr-1"></i>Sales
      Orders</a>
    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="<%= export_for_logistics_overseers_sales_orders_path(format: :csv) %>">Sales Orders
        (Logistics)</a>
      <a class="dropdown-item" href="<%= export_rows_overseers_sales_orders_path(format: :csv) %>">Sales Order Rows</a>
      <a class="dropdown-item" href="<%= export_for_sap_overseers_sales_orders_path(format: :csv) %>">Sales Order
        (SAP)</a>
      <% if policy(:sales_order).export_for_reco?%>
        <a class="dropdown-item" href="<%= export_for_reco_overseers_sales_orders_path(format: :csv) %>">Sales Order
        For Inquiry RECO</a>
       <% end %>
    </div>
  </div>
<% end %>

<div class="col-lg-12">
  <%= render partial: "summary_with_extra_box", locals: {klass: SalesOrder, statuses: SalesOrder.remote_statuses, label: 'Total Sales Order'} %>
</div>

<div class="col-lg-12">
  <% content_for :header_row do %>
    <th class="no-sort all"></th>
    <th class="sort all text-right" data-name="order_number">Order</th>
    <th class="sort desktop text-right" data-name="mis_date">Order Date</th>
    <th class="sort desktop text-right" data-name="inquiry_number">Inquiry</th>
    <th class="no-sort desktop text-right" data-name="invoice_total">Sales Invoices</th>
    <th class="no-sort desktop">PO # - Subject</th>
    <th class="no-sort desktop text-right" data-name="status">Status</th>
    <th class="no-sort desktop " data-name="remote_status">SAP Status</th>
    <th class="no-sort desktop" data-name="account_id">Account</th>
    <th class="no-sort desktop" data-name="inside_sales_executive">Inside Sales</th>
    <th class="no-sort desktop" data-name="outside_sales_executive">Outside Sales</th>
    <th class="sort desktop text-right" data-name="quote_total">Quote Total</th>
    <th class="sort desktop text-right" data-name="order_total">Order Total</th>
    <th class="no-sort desktop text-right" data-name="margin">Margin(%)</th>
    <th class="sort desktop text-right" data-name="created_at">Created Date</th>
    <th class="no-sort desktop text-right">SAP Status</th>
  <% end %>
  <% content_for :filter_row do %>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="daterange"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="dropdown"></td>
    <td class="status-filter" data-filter="dropdown"></td>
    <td data-filter="ajax"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="dropdown"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
    <td data-filter="false"></td>
  <% end %>

  <%= render layout: 'shared/layouts/datatable' do %>
  <% end %>
</div>