<%= provide :container_fluid, true %>
<div class="col-lg-12">

  <div class="page-header">
    <h2>PO Requests for Order <%= format_id(@sales_order.order_number) %></h2>
    <p>This will <em>Create purchase order requests</em> and log it under
      <strong><%= current_overseer.full_name %></strong>.</p>
  </div>

  <%= simple_form_for(@sales_order, url: preview_purchase_orders_requests_overseers_sales_order_path, method: :POST, :html => {:class => 'needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <div class="card mb-2">
      <div class="card-body">
        <%= render 'shared/snippets/form_errors', f: f %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :order_number, as: :string %>
        <%= f.hidden_field :inquiry, as: :string %>

        <div class="form-row">
          <div class="form-group col-6">
            <strong class="d-block">Order Number</strong>
            <%= link_to overseers_inquiry_sales_order_path(f.object.inquiry, f.object) do %>
              <%= f.object.order_number %>
            <% end %>
          </div>
          <div class="form-group col-6">
            <strong class="d-block">Inquiry</strong>
            <%= link_to overseers_inquiry_path(f.object.inquiry) do %>
              <%= f.object.inquiry %>
            <% end %>
          </div>
          <br>
          <div class="col-6">
            <%= f.input :customer_committed_date, label: 'Customer Committed Date', disabled: true, :wrapper => :custom_multi_select, include_blank: 'Committed Date' %>
          </div>
        </div>
      </div>
    </div>
    <% if @po_requests.present? %>
      <div class="card">
        <div class="card-body">
          <%= f.simple_fields_for :po_requests, @po_requests.values do |po_request| %>
            <div class="simple-row">
              <%= po_request.hidden_field :id %>
              <%= po_request.hidden_field :supplier_id %>
              <%= po_request.hidden_field :inquiry_id %>
              <p class="text">
                <span class="lead text-black-50 text-small mt-1 mr-1">#<%= (@po_requests.index(po_request.object) || 0) %></span>
                <strong><%= po_request.object.supplier.to_s %>
                  : <%= po_request.object.supplier.try(:legacy_email) %></strong>
                <%= link_to_remove_association po_request, {class: 'btn btn-danger align-self-center', wrapper_class: 'simple-row', "data-v": "", "data-v-on:click": "dropRow(_index_)"} do %>
                  Remove Supplier
                <% end %>
              <div class="form-row mt-2">
                <div class="col-12 col-md-3">
                  <%= po_request.input :supplier_po_type, as: :select, collection: enum_to_collection(PoRequest.supplier_po_types, alphabetical: false), :include_blank => false, label: 'Supplier PO Type' %>
                </div>
                <div class="col-12 col-md-3">
                  <%= po_request.input :status, as: :select, collection: enum_to_collection(PoRequest.statuses.reject {|status| ["PO Created", "Cancelled", "Rejected"].include?(status)}, alphabetical: false), :include_blank => false %>
                </div>
                <div class="col-12 col-md-6">
                  <%= po_request.association :contact, as: :select, collection: po_request.object.supplier.contacts, :include_blank => false %>
                </div>
                <%= po_request.association :logistics_owner, as: :hidden, required: true %>
                <div class="col-12 col-md-6">
                  <%= po_request.input :contact_email, label: 'Contact Email', required: false, placeholder: 'If left blank, above selected contact\'s email will be applied' %>
                </div>
                <div class="col-12 col-md-6">
                  <%= po_request.input :contact_phone, label: 'Contact Phone', required: false, placeholder: 'If left blank, above selected contact\'s number will be applied' %>
                </div>
                <div class="col-12 col-md-6">
                  <%= po_request.association :bill_from, collection: Address.where(:company => po_request.object.supplier).map {|supplier_address| [supplier_address.to_s, supplier_address.id, {'data-supplier-state' => supplier_address.state.id}]}, input_html: {class: 'select2-single'}, required: true %>
                </div>
                <div class="col-12 col-md-6">
                  <%= po_request.association :ship_from, collection: selected_option_or_nil(po_request, :ship_from), label_method: :to_s, input_html: {class: 'select2-ajax', :'data-source' => autocomplete_overseers_company_addresses_path(po_request.object.supplier)}, required: true %>
                </div>
                <div class="col-12 col-md-6">
                  <%= po_request.association :bill_to, collection: Warehouse.all.map {|warehouse| [warehouse.to_s, warehouse.id, {'data-warehouse' => warehouse.address.city_name.try(:strip) || 'N/A', 'data-warehouse-state' => warehouse.address.state.id}]}, input_html: {class: 'select2-single', 'data-warehouse-list': Warehouse.all.map {|warehouse| [warehouse.address.state.id]}.uniq, 'data-parsley-locations': [f.object.inquiry.bill_from.address.city_name, f.object.inquiry.shipping_address.city_name, f.object.inquiry.bill_from.address.state.id].join(',')}, required: true %>
                </div>
                <div class="col-12 col-md-6">
                  <%= po_request.association :ship_to, collection: Warehouse.all.map {|warehouse| [warehouse.to_s, warehouse.id, {'data-warehouse' => warehouse.address.city_name.try(:strip) || 'N/A', 'data-warehouse-state' => warehouse.address.state.id}]}, input_html: {class: 'select2-single', 'data-warehouse-list': Warehouse.all.map {|warehouse| [warehouse.address.state.id]}.uniq, 'data-parsley-locations': [f.object.inquiry.bill_from.address.city_name, f.object.inquiry.shipping_address.city_name, f.object.inquiry.bill_from.address.state.id].join(',')}, required: true %>
                </div>
                <div class="col-12 col-md-6">
                  <%= po_request.input :status, as: :select, collection: enum_to_collection(PoRequest.statuses.reject {|status| ["PO Created", "Cancelled", "Rejected"].include?(status)}, alphabetical: false), :include_blank => false %>
                </div>
                <div class="col-12 col-md-6">
                  <%= po_request.input :supplier_committed_date, label: 'Supplier Committed Date', as: :string, input_html: {:'data-toggle' => 'datepicker', :class => 'supplier-committed-date'}, required: true %>
                </div>
                <div class="col-12 col-md-6">
                  <strong class="form-control-label" for="payment_option">Payment Terms:</strong>
                  <%= po_request.association :payment_option, :wrapper => :custom_multi_select, include_blank: 'Select Payment Terms', required: true, label: false %>
                </div>
                <div class="col-12 col-md-6">
                  <div class="d-flex flex-row align-items-end">
                    <div class="flex-grow-1">
                      <%= po_request.input :attachments, wrapper: :custom_file, input_html: {multiple: true}, label: 'Attachments' %>
                    </div>
                  </div>
                </div>
              </div>

              <%= render 'overseers/po_requests/rows_form', po_request: po_request %>
            </div>
            <hr class="<%= f.object.po_requests.last == po_request.object ? 'd-none' : '' %>"/>
          <% end %>
        </div>
        <div class="card-footer">
          <% if policy(@sales_order).create_purchase_orders_requests? %>
            <%= button_tag(type: "submit", class: "btn btn-warning btn-block") do %>
              <i class="fal fa-pen"></i> Preview PO request
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="card text-lg-center">
        <div class="card-body">
          <p>
            All PO Requests have already been created
          </p>
          <table class="table table-bordered dt-responsive wrap-whitespace w-100 mb-0" data-fixed-header="false">
            <tr>
              <th class="no-sort desktop" data-name="name">PO Request No.</th>
              <th class="no-sort desktop text-right" data-name="name">Inquiry</th>
              <th class="no-sort all text-right" data-name="sku">Order</th>
              <th class="no-sort all" data-name="sku">Inside Sales</th>
              <th class="no-sort all" data-name="supplier">Supplier</th>
              <th class="no-sort desktop">Status</th>
              <th class="no-sort all" data-name="logistics_owner">Logistics Owner</th>
            </tr>

            <% @sales_order.po_requests.each do |po_request| %>
              <tr>
                <td><%= link_to edit_overseers_po_request_path(po_request), target: :_blank do %>
                    <%= format_id(po_request.id) %>
                  <% end %>
                </td>
                <td><%= format_id(po_request.inquiry.inquiry_number) %></td>
                <td><%= format_id(po_request.sales_order.order_number) %></td>
                <td><%= po_request.inquiry.inside_sales_owner %></td>
                <td><%= po_request.supplier.try(:name) || '-' %></td>
                <td><%= po_request.status || '-' %></td>
                <td><%= po_request.logistics_owner || '-' %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>

  <% end %>
</div>
<%= render partial: 'shared/layouts/rating_modal_with_multiple_tab' %>