<div class="col-lg-12">

  <div class="page-header">
    <h2>PO Requests for Order <%= format_id(@sales_order.order_number) %></h2>
    <p>This will <em>Create purchase order requests</em> and log it under
      <strong><%= current_overseer.full_name %></strong>.</p>
  </div>

  <%= simple_form_for(@sales_order, url: create_purchase_orders_requests_overseers_sales_order_path, method: :POST, :html => {:class => 'needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :order_number %>
    <%= f.hidden_field :inquiry %>
    <%= f.hidden_field :payment_option %>
    <%= f.hidden_field :customer_committed_date %>

    <div class="card mb-2">
      <div class="card-body">
        <!--        <div>-->
        <h6 class="text-uppercase text-black-50 mb-1">Details</h6>
        <div class="form-row">
          <% if @sales_order.present? %>
            <div class="col-4 col-md-4 mb-2">
              <strong class="d-block">Sales Order #</strong>
              <%= format_id(@sales_order.order_number) %>
            </div>
          <% end %>

          <% if @sales_order.inquiry.present? %>
            <div class="col-6 col-md-4 mb-2">
              <strong class="d-block">Inquiry #</strong>
              <%= @sales_order.inquiry.to_s %>
            </div>
          <% end %>

          <% if @sales_order.inquiry.present? %>
            <div class="col-5 col-md-4 mb-2">
              <strong class="d-block">Customer Committed Date</strong>
              <%= @sales_order.inquiry.customer_committed_date %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @po_requests.present? %>
      <div class="card">
        <div class="card-body">
          <%= f.simple_fields_for :po_requests, @po_requests.values, wrapper_tag: :div do |po_request| %>
            <div>
              <%= po_request.hidden_field :id %>
              <%= po_request.hidden_field :supplier_id %>
              <%= po_request.hidden_field :inquiry_id %>
              <%= po_request.hidden_field :supplier_committed_date %>
              <%= po_request.hidden_field :blobs %>
              <%= po_request.hidden_field :status %>
              <%= po_request.hidden_field :bill_from_id %>
              <%= po_request.hidden_field :ship_from_id %>
              <%= po_request.hidden_field :bill_to_id %>
              <%= po_request.hidden_field :ship_to_id %>
              <%= po_request.hidden_field :contact_id %>
              <%= po_request.hidden_field :contact_email %>
              <%= po_request.hidden_field :contact_phone %>
              <%= po_request.hidden_field :logistics_owner_id %>
              <%= po_request.hidden_field :payment_option_id %>
              <%= po_request.hidden_field :supplier_po_type %>


              <strong class="d-block text-uppercase">
                <span class="lead text-black-50 text-small mt-1 mr-1">#<%= (po_request.index + 1) || 0 %></span>
                <%= po_request.object.supplier.to_s %>
                : <%= po_request.object.supplier.try(:legacy_email) %>
              </strong>
              <div class="form-row mt-2">
                  <div class="col-5 col-md-3 mb-2">
                    <strong class="d-block">Bill From</strong>
                    <%= po_request.object.bill_from.to_s %>
                  </div>
                  <div class="col-5 col-md-3 mb-2">
                    <strong class="d-block">Ship From</strong>
                    <%= po_request.object.ship_from.to_s %>
                  </div>
                  <div class="col-5 col-md-3 mb-2">
                    <strong class="d-block">Bill To</strong>
                    <%= po_request.object.bill_to.to_s %>
                  </div>
                  <div class="col-5 col-md-3 mb-2">
                    <strong class="d-block">Ship To</strong>
                    <%= po_request.object.ship_to.to_s %>
                  </div>

                <% if po_request.object.contact.present? %>
                  <div class="col-2 col-md-1 mb-2">
                    <strong class="d-block">Contact</strong>
                    <%= po_request.object.contact.to_s %>
                  </div>
                <% end %>
                <% if po_request.object.contact_email.present? %>
                  <div class="col-2 col-md-1 mb-2">
                    <strong class="d-block">Contact Email</strong>
                    <%= po_request.object.contact_email.to_s %>
                  </div>
                <% end %>
                <% if po_request.object.contact_phone.present? %>
                  <div class="col-2 col-md-1 mb-2">
                    <strong class="d-block">Contact Number</strong>
                    <%= po_request.object.contact_phone.to_s %>
                  </div>
                <% end %>
                <% if po_request.object.logistics_owner.present? %>
                  <div class="col-2 col-md-2 mb-2">
                    <strong class="d-block">Logistics Owner</strong>
                    <%= po_request.object.logistics_owner.to_s %>
                  </div>
                <% end %>
                <div class="col-2 col-md-1 mb-2">
                  <strong class="d-block">Status</strong>
                  <%= po_request.object.status %>
                </div>
                <div class="col-2 col-md-1 mb-2">
                  <strong class="d-block">P. Terms</strong>
                  <%= po_request.object.payment_option %>
                </div>
                <% if po_request.object.supplier_committed_date.present? %>
                  <div class="col-2 col-md-3 mb-2">
                    <strong class="d-block">Supplier Committed Date</strong>
                    <%= po_request.object.supplier_committed_date %>
                  </div>
                <% end %>
                <div class="col-2 col-md-2 mb-2">
                  <strong class="d-block">Attachments</strong>
                  <% po_request.object.attachments.each_with_index do |attachment, index| %>
                    <%= "#{(index + 1)} ." if attachment.blob_id.present? %> <%= attachment.filename if attachment.blob_id.present? %> <br>
                  <% end if po_request.object.attachments.attached? %>
                </div>
              </div>
              <table class="w-100 table table-bordered dt-responsive wrap-whitespace" data-fixed-header="false">
                <thead>
                <tr>
                  <th class="no-sort">Sr. No.</th>
                  <th class="no-sort">Product</th>
                  <th class="no-sort">Make</th>
                  <th class="no-sort">HSN</th>
                  <th class="no-sort">T. Rate</th>
                  <th class="no-sort">Quantity</th>
                  <th class="no-sort">UOM</th>
                  <th class="no-sort">UP</th>
                  <th class="no-sort">TP</th>
                  <th class="no-sort">TT</th>
                  <th class="no-sort">TP with Tax</th>
                  <th class="no-sort">Discount %</th>
                  <th class="no-sort">Lead time</th>
                </tr>
                </thead>
                <tbody>
                <%= po_request.nested_fields_for :rows, po_request.object.rows do |po_request_row| %>
                  <%= po_request_row.hidden_field :id %>
                  <%= po_request_row.hidden_field :sales_order_row_id %>
                  <%= po_request_row.hidden_field :product_id %>
                  <%= po_request_row.hidden_field :tax_code_id %>
                  <%= po_request_row.hidden_field :tax_rate_id %>
                  <%= po_request_row.hidden_field :measurement_unit_id %>
                  <%= po_request_row.hidden_field :quantity %>
                  <%= po_request_row.hidden_field :discount_percentage %>
                  <%= po_request_row.hidden_field :unit_price %>
                  <%= po_request_row.hidden_field :lead_time %>

                  <% if po_request_row.present? %>

                    <tr>
                      <td><%= ((po_request.object.rows.index(po_request_row.object) || 0) + 1) %></td>
                      <td><%= po_request_row.object.product.to_s %></td>
                      <td><%= po_request_row.object.product.try(:brand).to_s %></td>
                      <td><%= po_request_row.object.tax_code %></td>
                      <td><%= po_request_row.object.tax_rate.to_s %></td>
                      <td><%= number_with_precision(po_request_row.object.quantity.to_f, precision: 2) %></td>
                      <td><%= po_request_row.object.product.try(:measurement_unit).to_s %></td>
                      <td><%= format_currency(po_request_row.object.unit_price, symbol: @sales_order.inquiry_currency.currency.sign) %></td>
                      <td><%= format_currency(po_request_row.object.converted_total_selling_price, symbol: @sales_order.inquiry_currency.currency.sign) %></td>
                      <td><%= format_currency(po_request_row.object.converted_total_tax, symbol: @sales_order.inquiry_currency.currency.sign) %></td>
                      <td><%= format_currency(po_request_row.object.converted_total_selling_price_with_tax, symbol: @sales_order.inquiry_currency.currency.sign) %></td>
                      <td><%= percentage(po_request_row.object.discount_percentage, precision: 2) %></td>
                      <td>
                        <%= format_succinct_date(po_request_row.object.lead_time) %></td>
                    </tr>
                  <% end %>
                <% end %>
                </tbody>
              </table>
              <div class="col-md-3 d-none">
                <%= po_request.add_nested_fields_link :rows, class: 'btn btn-outline-success btn-block mb-2 mb-md-0' do %>
                  <i class="fal fa-plus-circle mr-1"></i>Add a Service product
                <% end %>
              </div>
            </div>
            <hr class="<%= f.object.po_requests.last == po_request.object ? 'd-none' : '' %>"/>
          <% end %>
        </div>
        <div class="card-footer">
          <% if policy(@sales_order).create_purchase_orders_requests? %>
            <div class="form-row">
              <div class="col-md-6">
                <%= link_to :back, :class => "btn btn-warning btn-block" do %>
                  <i class="fal fa-angle-double-left"></i> Back
                <% end %>
              </div>
              <div class="col-md-6">
                <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
                  <i class="fal fa-pen"></i> Create PO request
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="card text-lg-center">
        <div class="card-body">
          All quantities satisfied
        </div>
      </div>
    <% end %>
  <% end %>
</div>