  <div class="page fixed">
    <div class="main-container col1-layout">
      <div class="main">
        <div class="col-main">
          <div id="compare-wrapper">
            <div class="compare_open" id="compare_popup"></div>

            <div style=" float:left; width: 49%; padding-top: 1px;padding-bottom: 10px; text-align: left;">
              <%= wicked_pdf_image_tag 'BMIS_Logo_PNG.png', :width => "50%" %>
            </div>
            <div style="float:right;width:49%; padding-top: 1px;padding-bottom: 10px;text-align: right; vertical-align:center">
              <b><span style="color:#000; font-size: 30px">Sales Order #<%= @sales_order.id %></span></b>
            </div>
            <br clear="all">
            <div style="border:1px solid; border-radius: 5px;padding: 2px">
              <table border="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                  <td style="font-size: 16px;text-align: -webkit-center;font-weight: bold;">
                    <span style="color:#F58220">Bulk MRO Industrial Supply Pvt. Ltd.</span></td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    <span style="color:#000000">
                      <% if @sales_order.inquiry.bill_from.present? %>
                      <%= @sales_order.inquiry.bill_from.address.to_header_multiline_s  %>
                      <% end %>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    <span style="color:#000000" style="position: relative;top: -5px;">Telephone: +91-22-4921-4921 <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Website: www.bulkmro.com <span style="padding-left: 1%;padding-right: 1%;font-weight:bold;font-size: 20px;position: relative;top: -2px;">.</span>Email: sales@bulkmro.com</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <br clear="all">
            <div style="background: #d3d3d3; border:1px solid; border-radius: 5px;padding-top: 1px;padding-bottom: 1px; text-align: center;">
              <span style="color:#000000"><b>Sales Order #<%= @sales_order.id %></b></span>
            </div>
            <br clear="all">
            <div style="border:1px solid; border-radius: 5px;">
              <table border="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                  <td align="left" colspan="5" height="20" style="width:25%; padding-left: 10px;" valign="top">
                    <b><span style="color:#000000">Quotation #</span></b> <span style="float:right">:</span></td>
                  <td align="left" colspan="5" style="width:25%;padding-left: 10px;" valign="top">
                    <span style="color:#000000"><%= @sales_order.sales_quote.quotation_uid %></span></td>
                  <td align="left" colspan="5" style="width:25%;padding-left: 10px;" valign="top">
                    <b><span style="color:#000000">Date of Quotation</span></b> <span style="float:right">:</span></td>
                  <td align="left" colspan="6" style="width:25%; padding-left: 10px;" valign="top">
                    <span style="color:#000000">
                      <% if @sales_order.sales_quote.created_at.present? %>
                      <%= @sales_order.sales_quote.created_at.strftime("%d-%b-%Y") %>
                      <% end %>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td align="left" colspan="5" height="20" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <b><span style="color:#000000">Customer Purchase Order #</span></b>
                    <span style="float:right">:</span></td>
                  <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <span style="color:#000000">NPO17-733??</span></td>
                  <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <b><span style="color:#000000">Customer Purchase Order Date</span></b>
                    <span style="float:right">:</span></td>
                  <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <span style="color:#000000">21-Dec-2017??</span></td>
                </tr>
                <tr>
                  <td align="left" colspan="5" height="20" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                    <b><span style="color:#000000">Sales Order #</span></b> <span style="float:right">:</span></td>
                  <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                    <span style="color:#000000"><%= @sales_order.id %></span></td>
                  <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <b><span style="color:#000000">Sales Order Date</span></b> <span style="float:right">:</span></td>
                  <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <% if @sales_order.created_at.present? %>
                    <span style="color:#000000"><%= @sales_order.created_at.strftime("%d-%b-%Y") %></span>
                    <% end %>
                      </td>
                </tr>
                <tr>
                  <td align="left" colspan="5" height="20" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <b><span style="color:#000000">Payment Method</span></b> <span style="float:right">:</span></td>
                  <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                    <span style="color:#000000">Bank Transfer</span></td>
                  <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                    <b><span style="color:#000000">Payment Terms</span></b> <span style="float:right">:</span></td>
                  <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                    <span style="color:#000000"><%= @sales_order.inquiry.payment_option %></span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <br clear="all">
            <div style=" float:left; background: #d3d3d3;width: 49%; border:1px solid; border-radius: 5px;padding-top: 1px;padding-bottom: 1px; text-align: center;">
              <b><span style="color:#000000">Supplier - Bill from :</span></b>
            </div>
            <div style="float:right;background: #d3d3d3;width:49%; border:1px solid; border-radius: 5px;padding-top: 1px;padding-bottom: 1px;text-align: center;">
              <b><span style="color:#000000">Supplier - Ship from :</span></b>
            </div>
            <br clear="all">
            <table border="0" cellspacing="0" style="width: 100%;">
              <tbody>
              <tr>
                <td style="width:48%;">
                  <div style="margin-top: 10px;float: left;width: 98%;padding: 4px 10px;border: 1px solid;border-radius: 5px;text-align: left; height: 140px;">
                    <span style="color:#000000">
                      <%#= @sales_order.inquiry.bill_from  %>
                      Bulk MRO Industrial Supply Pvt. Ltd.<br>
                      <% if @sales_order.inquiry.bill_from.present? %>
                      <%= @sales_order.inquiry.bill_from.address.to_multiline_s  %><br>
                      GST No. : <%= @sales_order.inquiry.bill_from.address.gst %><br>
                        <% end %>
                      PAN No. : AAGCB7343G</span>
                  </div>
                </td>
                <td style="width:4%;"></td>
                <td style="width:48%;">
                  <div style="height: 140px ;margin-top: 10px;float: right;width: 98%;padding: 4px 10px;border: 1px solid;border-radius: 5px;text-align: left;">
                    <span style="color:#000000">
                      <%#= @sales_order.inquiry.ship_from  %>
                      Bulk MRO Industrial Supply Pvt. Ltd.<br>
                      <% if @sales_order.inquiry.ship_from.present? %>
                      <%= @sales_order.inquiry.ship_from.address.to_multiline_s  %><br>
                      GST No. : <%= @sales_order.inquiry.ship_from.address.gst %><br>
                      <% end %>
                      PAN No. : AAGCB7343G</span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <br clear="all">
            <div style=" float:left; background: #d3d3d3;width: 49%; border:1px solid; border-radius: 5px;padding-top: 1px;padding-bottom: 1px; text-align: center;">
              <b><span style="color:#000000">Customer - Bill to :</span></b>
            </div>
            <div style="float:right;background: #d3d3d3;width:49%; border:1px solid; border-radius: 5px;padding-top: 1px;padding-bottom: 1px; text-align: center;">
              <b><span style="color:#000000">Customer - Ship to :</span></b>
            </div>
            <br clear="all">
            <table border="0" cellspacing="0" style="width: 100%;">
              <tbody>
              <tr>
                <td style="width:48%;">
                  <div style="margin-top: 10px;float: left;width: 98%;padding: 4px 10px;border: 1px solid;border-radius: 5px;text-align: left; height: 175px;">
                    <%= @sales_order.inquiry.contact.full_name %><br>
                    <%= @sales_order.inquiry.shipping_address.name %><br>
                    <% if @sales_order.inquiry.shipping_address.present? %>
                    <%= @sales_order.inquiry.shipping_address.to_multiline_s %>
                    <% end %>
                    <br>
                    Tel: <%= @sales_order.inquiry.shipping_address.telephone %><br>
                    GST No. :<%= @sales_order.inquiry.shipping_address.gst %><br>
                  </div>
                </td>
                <td style="width:4%;"></td>
                <td style="width:48%;">
                  <div style="height: 175px;margin-top: 10px;float: right;width: 98%;padding: 4px 10px;border: 1px solid;border-radius: 5px;text-align: left;">
                    <%= @sales_order.inquiry.contact.full_name %><br>
                    <%= @sales_order.inquiry.billing_address.name %><br>
                    <% if @sales_order.inquiry.shipping_address.present? %>
                    <%= @sales_order.inquiry.billing_address.to_multiline_s %>
                    <% end %>
                    <br>
                    Tel: <%= @sales_order.inquiry.billing_address.telephone %><br>
                    GST No. :<%= @sales_order.inquiry.billing_address.gst %><br>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <br clear="all">
            <div style="width: 100%;">
              <table border="0" cellspacing="0" style="width: 100%;border-radius: 6px;border-collapse: separate;">
                <thead>
                <tr>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;border-top-left-radius: 5px;background: #d3d3d3;border-bottom:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">Sr.<br>
                    No.</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">SKU</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">Mfr<br>
                    Model</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">Description</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">Make</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">HSN/<br>
                    SAC<br>
                    Code</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">UOM</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">Qty</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">Unit Price<br>
                    (INR)</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">Subtotal<br>
                    (INR)</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">Tax<br>
                    Rate</span></b></th>
                  <% if @sales_order.sales_quote.tax_summary.to_i == 0 ||
                         (@sales_order.sales_quote.tax_summary.to_s.include? "IGST")  %>
                    <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="center">
                      <b><span style="color:#000000">IGST<br>
                    Rate</span></b></th>
                    <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="center">
                      <b><span style="color:#000000">IGST<br>
                    Amt</span></b></th>
                  <% else %>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">CGST<br>
                    Rate</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">CGST<br>
                    Amt</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">SGST<br>
                    Rate</span></b></th>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">SGST<br>
                    Amt</span></b></th>
                  <% end %>
                  <th align="center" style="text-align: center;border-top: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;border-top-right-radius: 5px; background: #d3d3d3;border-bottom:1px solid #3c3c3c;border-left:1px solid #3c3c3c;" valign="center">
                    <b><span style="color:#000000">Total<br>
                    (INR)</span></b></th>
                </tr>
                </thead>
                <tbody>
                <% @sales_order.rows.each do |item| %>
                  <tr>
                    <td align="center" style="border-left: 1px solid #3c3c3c;font-size: 11px; text-align: center;" valign="top">
                      <span style="color:#000000"><%= item.sales_quote_row.sr_no %></span></td>
                    <td align="center" style="font-size: 11px;border-left: 1px solid #3c3c3c; text-align: center;" valign="top">
                      <span style="color:#000000"><%= item.sales_quote_row.product.sku %></span></td>
                    <td align="center" style="font-size: 11px;border-left: 1px solid #3c3c3c; text-align: center;" valign="top">
                      <span style="color:#000000"></span></td>
                    <td align="left" style="padding-left: 3px;padding-bottom: 8px;font-size: 11px;border-left: 1px solid #3c3c3c; text-align:left;" valign="top">
                      <span style="color:#000000"><%= item.sales_quote_row.product.name %><br></span></td>
                    <td align="center" style="font-size: 11px;border-left: 1px solid #3c3c3c; text-align: center;" valign="top">
                      <span style="color:#000000"></span></td>
                    <td align="left" style="font-size: 11px;border-left: 1px solid #3c3c3c; text-align: center;" valign="top">
                      <span style="color:#000000"><%= item.tax_code.chapter %></span></td>
                    <td align="center" style="font-size: 11px;border-left: 1px solid #3c3c3c; text-align: center;" valign="top">
                      <span style="color:#000000"><%= item.sales_quote_row.product.measurement_unit.name %></span></td>
                    <td align="center" style="border-left: 1px solid #3c3c3c; text-align: center;" valign="top">
                      <span style="color:#000000"><%= item.quantity %></span></td>
                    <td align="right" style="font-size: 11px;border-left: 1px solid #3c3c3c;text-align: right;" valign="top">
                      <span style="color:#000000"><%= item.unit_selling_price %></span></td>
                    <td align="right" style="font-size: 11px;border-left: 1px solid #3c3c3c; text-align:right;" valign="top">
                      <span style="color:#000000"><%= item.total_selling_price %></span></td>
                    <td align="center" style="font-size: 11px;border-left: 1px solid #3c3c3c; border-left: 1px solid #3c3c3c;" valign="top">
                      <span style="color:#000000"><%= item.tax_code.tax_percentage %>%</span></td>
                    <% if @sales_order.sales_quote.tax_summary.to_i == 0 ||
                        (@sales_order.sales_quote.tax_summary.to_s.include? "IGST")  %>
                      <td align="center" style="font-size: 11px;border-left: 1px solid #3c3c3c;" valign="top">
                        <span style="color:#000000"><%= item.tax_code.tax_percentage %>%</span></td>
                      <td align="right" style="font-size: 11px;border-left: 1px solid #3c3c3c; text-align:right;" valign="top">
                        <span style="color:#000000"><%= item.total_tax %></span></td>
                    <% else %>
                    <td align="center" style="font-size: 11px;border-left: 1px solid #3c3c3c;" valign="top">
                      <span style="color:#000000"><%= item.tax_code.tax_percentage / 2 %>%</span></td>
                    <td align="right" style="font-size: 11px;border-left: 1px solid #3c3c3c; text-align:right;" valign="top">
                      <span style="color:#000000"><%= item.total_tax / 2 %></span></td>
                    <td align="center" style="font-size: 11px;border-left: 1px solid #3c3c3c;" valign="top">
                      <span style="color:#000000"><%= item.tax_code.tax_percentage / 2 %>%</span></td>
                    <td align="right" style="font-size: 11px;border-left: 1px solid #3c3c3c; text-align:right;" valign="top">
                      <span style="color:#000000"><%= item.total_tax / 2 %></span></td>
                    <% end %>
                    <td align="right" style="border-right:1px solid #3c3c3c;font-size: 11px;border-left: 1px solid #3c3c3c; text-align: right" valign="top">
                      <span style="color:#000000"><%= item.total_selling_price_with_tax %></span></td>
                  </tr>
                <% end %>

                <tr>
                  <td align="center" style="font-size: 11px;background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="center" style="font-size: 11px;background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                    <span style="color:#000000"><b><span style="color:#000000">Total</span></b></span></td>
                  <td align="center" style="font-size: 11px;background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c; border-top: 1px solid #3c3c3c;text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c; border-top: 1px solid #3c3c3c;text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="right" style="font-size: 11px;background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: right;" valign="top">
                    <b><span style="color:#000000"><%= @sales_order.calculated_total %></span></b></td>
                  <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <% if @sales_order.sales_quote.tax_summary.to_i == 0 ||
                      (@sales_order.sales_quote.tax_summary.to_s.include? "IGST")  %>
                  <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="right" style="font-size: 11px;background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: right;" valign="top">
                    <b><span style="color:#000000"><%= @sales_order.calculated_total_tax %></span></b></td>
                  <% else %>
                    <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: center;" valign="top">
                      <span style="color:#000000"></span></td>
                    <td align="right" style="font-size: 11px;background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: right;" valign="top">
                      <b><span style="color:#000000"><%= @sales_order.calculated_total_tax / 2 %></span></b></td>
                  <td align="center" style="background: #d3d3d3;border-left: 1px solid #3c3c3c; border-top: 1px solid #3c3c3c;text-align: center;" valign="top">
                    <span style="color:#000000"></span></td>
                  <td align="right" style="font-size: 11px;background: #d3d3d3;border-left: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c; text-align: right;" valign="top">
                    <b><span style="color:#000000"><%= @sales_order.calculated_total_tax / 2 %></span></b></td>
                  <% end %>
                  <td align="right" style="border-right:1px solid #3c3c3c;border-left:1px solid #3c3c3c;font-size: 11px;background: #d3d3d3;border-top: 1px solid #3c3c3c; text-align: right;" valign="top">
                    <b><span style="color:#000000"><%= @sales_order.calculated_total_with_tax %></span></b></td>
                </tr>
                <tr>
                  <td style="border-bottom-left-radius: 5px; font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <% if @sales_order.sales_quote.tax_summary.to_i != 0 ||
                      (!@sales_order.sales_quote.tax_summary.to_s.include? "IGST")  %>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;" valign="top"></td>
                  <% end %>
                  <td style=" font-size: 11px;background: #d3d3d3;border-bottom: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c; border-bottom-right-radius: 5px;" valign="top"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <br clear="all">
            <div id="noteInvoiceContainer" style="border:1px solid; border-radius: 5px;">
              <table border="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                  <td align="left" colspan="16" height="20" style="background: #d3d3d3; padding-left: 10px;border-bottom: 1px solid #3c3c3c;" valign="top">
                    <b><span style="color:#000000">Other Information :</span></b></td>
                </tr>
                <tr>
                  <td align="left" style=" padding-left: 10px;" valign="top"><span style="color:#000000">1. Please reference our Bulk MRO Industrial Supply Pvt. Ltd. Quote Number when remitting Wire Transfer payment.<br>
                    2. Bulk MRO Industrial Supply Pvt. Ltd. is not responsible for any banking fees.</span></td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                </tbody>
              </table>
              <table border="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr style="background: #d3d3d3;">
                  <td align="left" class="invoiceheader1" colspan="16" height="20" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-top: 1px solid #3c3c3c;" valign="top">
                    <b><span style="color:#000000">Payment By Wire Transfer To :</span></b></td>
                </tr>
                <tr>
                  <td colspan="4" style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <b><span style="color:#000000">Bank :</span></b></td>
                  <td colspan="6" style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <span style="color:#000000">Kotak Mahindra Bank Ltd</span></td>
                  <td colspan="6" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;">
                    <span style="color:#000000">State Bank of India</span></td>
                </tr>
                <tr>
                  <td colspan="4" style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <b><span style="color:#000000">Address :</span></b></td>
                  <td colspan="6" style="padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <span style="color:#000000">Aum Saheel Tower, Mumbai 400080.</span></td>
                  <td colspan="6" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;">
                    <span style="color:#000000">Kalpa Taru - 39, Pedder Road, Mumbai 400026.</span></td>
                </tr>
                <tr>
                  <td colspan="4" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <b><span style="color:#000000">Account Name :</span></b></td>
                  <td colspan="6" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <span style="color:#000000">Bulk MRO Industrial Supply Pvt. Ltd.</span></td>
                  <td colspan="6" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;">
                    <span style="color:#000000">Bulk MRO Industrial Supply Pvt. Ltd.</span></td>
                </tr>
                <tr>
                  <td colspan="4" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <b><span style="color:#000000">Account Number :</span></b></td>
                  <td colspan="6" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <span style="color:#000000">9412329433</span></td>
                  <td colspan="6" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;">
                    <span style="color:#000000">35924122136</span></td>
                </tr>
                <tr>
                  <td colspan="4" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <b><span style="color:#000000">NEFT/RTGS Code :</span></b></td>
                  <td colspan="6" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c;">
                    <span style="color:#000000">KKBK0001411</span></td>
                  <td colspan="6" style=" padding-left: 10px;border-bottom: 1px solid #3c3c3c;">
                    <span style="color:#000000">SBIN0000510</span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <br clear="all">
          </div>
        </div>
      </div>
    </div>
  </div>