<% provide :container_fluid, true %>
<% provide :controller_is_aliased, true %>
<% content_for :page_title do %>
  Order <%= ['#', @sales_order.order_number].join if @sales_order.order_number.present? %>
<% end %>

<div class="col-12">
  <div class="pt-3 pt-lg-4 pb-2 pb-lg-3">
    <div class="d-md-flex justify-content-between">
      <h1 class="display-5 mb-1">Order <%= ['#', @sales_order.order_number].join if @sales_order.order_number.present? %></h1>
      <div>
        <% if @sales_order.serialized_pdf.attachment %>
          <a href="<%= url_for(@sales_order.serialized_pdf) %>" class=" btn btn-info btn-rounded align-self-center btn-block-sm-down mr-md-1 mb-md-0 mb-1">
            <i class="fal fa-download mr-1"></i>Download PDF
          </a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <div class=form-row>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">Inquiry Number</strong>
          #<%= @sales_order.inquiry.inquiry_number %>
        </div>
        <div class="col-6 col-md-3 mb-0 mb-md-0">
          <strong class="d-block">PO Number</strong>
          #<%= @sales_order.inquiry.customer_po_number %>
        </div>
        <div class="col-6 col-md-3 mb-0 mb-md-0">
          <strong class="d-block">Currency</strong>
          <%= @sales_order.currency %>
        </div>
        <div class="col-6 col-md-3 mb-0 mb-md-0">
          <strong class="d-block">Payment Method</strong>
          Bank Transfer
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row mb-1">
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">PO Date</strong>
          <%= format_date(@sales_order.inquiry.customer_order_date) %>
        </div>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">Date of Quotation</strong>
          <%= format_date(@sales_order.sales_quote.sent_at) %>
        </div>
        <div class="col-6 col-md-3">
          <strong class="d-block">Sales Order Date</strong>
          <%= format_date(@sales_order.approval.created_at) %>
        </div>
        <div class="col-6 col-md-3">
          <strong class="d-block">Payment Terms</strong>
          <%= @sales_order.inquiry.payment_option.name %>
        </div>
      </div>
      <div class="card-alternative mt-3 pb-3">
        <div class="form-row">
          <div class="col-12 col-md-6">
            <strong class="d-block">Supplier - Billing Address</strong>
            <%= @sales_order.inquiry.bill_from.address.name.to_s %><br>
            <%= @sales_order.inquiry.bill_from.address.to_compact_multiline_s if @sales_order.inquiry.bill_from.present? %>
            <% if @sales_order.inquiry.bill_from.address.phone.present? %>
              <span class="d-block"><em>Contact</em>:  <%= @sales_order.inquiry.contact.full_name %></span>
              - <%= @sales_order.inquiry.bill_from.address.phone %><br>
            <% end %>
            <span class="d-block"><em>GST Number</em>: <%= @sales_order.inquiry.bill_from.address.gst %></span>
          </div>

          <div class="col-12 col-md-6 mt-2 mt-md-0">
            <strong class="d-block">Supplier - Shipping Address</strong>
            <%= @sales_order.inquiry.ship_from.address.name.to_s %><br>
            <%= @sales_order.inquiry.ship_from.address.to_compact_multiline_s if @sales_order.inquiry.ship_from.present? %>
            <% if @sales_order.inquiry.ship_from.address.mobile || @sales_order.inquiry.ship_from.address.telephone %>
              <span class="d-block"><em>Contact</em>: <%= @sales_order.inquiry.ship_from.address.mobile || @sales_order.inquiry.ship_from.address.telephone %></span>
            <% end %>
            <span class="d-block"><em>GST Number</em>: <%= @sales_order.inquiry.ship_from.address.gst %></span>
          </div>
        </div>

        <div class="form-row mt-2">
          <div class="col-12 col-md-6">
            <strong class="d-block">Customer - Billing Address</strong>
            <%= @sales_order.inquiry.billing_contact.full_name %><br>
            <%= @sales_order.inquiry.company.name %><br>
            <%= @sales_order.inquiry.billing_address.to_compact_multiline_s %><br>
            <% if @sales_order.inquiry.contact.phone.present? %>
              <span class="d-block"><em>Contact</em>: <%= @sales_order.inquiry.contact.full_name %> - <%= @sales_order.inquiry.contact.phone %></span>
            <% end %>
            <span class="d-block"><em>Email</em>: <a href="mailto:<%= @sales_order.inquiry.contact.email if @sales_order.inquiry.contact.email.present? %>"><%= @sales_order.inquiry.contact.email if @sales_order.inquiry.contact.email.present? %></a></span>
            <span class="d-block"><em>GST Number</em>: <%= @sales_order.inquiry.billing_address.gst || @sales_order.inquiry.company.default_billing_address.gst %></span>
           </div>

          <div class="col-12 col-md-6 mt-2 mt-md-0">
            <strong class="d-block">Customer - Shipping Address</strong>
            <%= @sales_order.inquiry.shipping_contact.try(:full_name) || (@sales_order.inquiry.billing_contact.full_name) %>
            <br>
            <%= @sales_order.inquiry.company.name %><br>
            <%= @sales_order.inquiry.shipping_address.to_compact_multiline_s %><br>
            <% if @sales_order.inquiry.contact.mobile || @sales_order.inquiry.contact.telephone %>
              <span class="d-block"><em>Contact</em>: <%= @sales_order.inquiry.contact.full_name %> - <%= @sales_order.inquiry.contact.phone %></span>
            <% end %>
            <span class="d-block"><em>Email</em>: <a href="mailto:<%= @sales_order.inquiry.contact.email if @sales_order.inquiry.contact.email.present? %>"><%= @sales_order.inquiry.contact.email if @sales_order.inquiry.contact.email.present? %></a></span>
            <span class="d-block"><em>GST Number</em>: <%= @sales_order.inquiry.shipping_address.gst || @sales_order.inquiry.company.default_shipping_address.gst %></span>
           </div>
        </div>
      </div>

      <% if @sales_order.inquiry.attachments.present? %>
        <div class="form-row mt-3">
          <% if @sales_order.inquiry.customer_po_sheet.attached? %>
            <div class="col-6">
              <strong class="d-block">Purchase Order</strong>
              <%= link_to @sales_order.inquiry.customer_po_sheet, target: '_blank' do %>
                <%= @sales_order.inquiry.customer_po_sheet.filename %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div>
        <div class="form-row my-2 text-small">
          <div class="col-12">
            <table class="datatable table table-bordered dt-responsive" data-fixed-header="false">
              <thead>
              <tr>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Serial Number">Sr. No.</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Product Number">Product</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Manufacturer Code">Mfr. Model</span>
                </th>
                <th class="no-sort">
                  <span>Description</span>
                </th>
                <th class="no-sort">
                  <span>Make</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Unit Of Measurement">UoM</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Quantity">Qty</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Unit Price">Unit Price</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Tax">Tax</span>
                </th>
                <th class="no-sort">
                  <span data-toggle="tooltip" title="Subtotal">Subtotal</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <% @sales_order.sales_order_rows.each do |row| %>
                <tr>
                  <td>
                      <span>
                          #<%= row.sr_no %>
                      </span>
                  </td>
                  <td>
                      <span>
                          <%= row.sales_quote_row.product.remote_uid %>
                      </span>
                  </td>
                  <td>
                      <span>
                              <%= row.sales_quote_row.product.mpn %>
                      </span>
                  </td>
                  <td>
                      <span>
                            <%= row.sales_quote_row.product.name || "-" %>
                      </span>
                  </td>
                  <td>
                      <span>
                        <% if row.sales_quote_row.product.brand %>
                          <%= row.sales_quote_row.product.brand.name %>
                        <% else %>
                          -
                        <% end %>
                      </span>
                  </td>
                  <td>
                      <span>
                          <%= row.measurement_unit || row.product.measurement_unit || MeasurementUnit.default %>
                      </span>
                  </td>
                  <td>
                      <span>
                          <%= row.quantity %>
                      </span>
                  </td>
                  <td>
                      <span>
                        <%= format_currency(row.unit_selling_price) %>
                      </span>
                  </td>
                  <td>
                      <span>
                          <%= [row.best_tax_code.tax_percentage, '%'].join('') %>
                      </span>
                  </td>
                  <td>
                      <span>
                          <%= format_currency(row.total_selling_price) %>
                      </span>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class=form-row>
        <div class="col-6 col-md-3">
          Line Items
          <strong class="d-block"><%= @sales_order.rows.size %></strong>
        </div>
        <div class="col-6 col-md-3">
          Subtotal
          <strong class="d-block"><%= format_currency(@sales_order.calculated_total) %></strong>
        </div>
        <div class="col-6 col-md-3 mt-2 mt-md-0">
          Tax
          <strong class="d-block"><%= format_currency(@sales_order.calculated_total_tax) %></strong>
        </div>
        <div class="col-6 col-md-3 mt-2 mt-md-0">
          Grand Total
          <strong class="d-block"><%= format_currency(@sales_order.calculated_total_with_tax) %></strong>
        </div>
      </div>
    </div>
  </div>

  <% if @sales_order.inquiry.bill_from.present? && @sales_order.inquiry.bill_from.legacy_id == 12 %>
    <div class="card mt-3">
      <div class="card-body">
        <p class="text-uppercase text-black-50 mb-1">Note</p>
        <p class="mb-0">
          1. Order once confirmed cannot be cancelled or returned.
          2. Delayed payments will attract 2% interest per month.
          3. If any modifications are required in the invoice ,please communicate the same in writing within 2 working days otherwise the invoice will be deemed accepted.
          4. Order once confirmed cannnot be cancelled.
          5. Invoice will be deemed accepted unless any discrepancy is raised within 7 days from the date of invoice.
        </p>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <p class="text-uppercase text-black-50 mb-1">Wire Transfer Details</p>
        <div class="form-row">
          <div class="col-md-6">
            <p class="mb-0">
              <strong class="d-block">First Republic Bank</strong>
              Address: 2274 EI Camino Real Palo Alto, CA 94306<br>
              Account Name: Bulk MRO Industrial Supply , INC ABA : 32108166 <br>
              Account Number: 80003839610<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="card mt-3">
      <div class="card-body">
        <p class="text-uppercase text-black-50 mb-1">Other Information</p>
        <p class="mb-0">
          1. Please reference our Bulk MRO Industrial Supply Pvt. Ltd. Quote Number when remitting Wire Transfer payment.<br>
          2. Bulk MRO Industrial Supply Pvt. Ltd. is not responsible for any banking fees.
        </p>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <p class="text-uppercase text-black-50 mb-1">Wire Transfer Details</p>
        <div class="form-row">
          <% if @sales_order.currency.name.present? %>
            <% if @sales_order.currency.name.to_s == 'USD' || @sales_order.currency.name.to_s == 'EUR' || @sales_order.currency.name.to_s == 'GBP' %>
              <%= render 'shared/layouts/view_templates/primary_bank_info', currency: @sales_order.currency.name.to_s %>
            <% else %>
              <%= render 'shared/layouts/view_templates/bank_info' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
</div>