<div class="col-12">
  <div class="page-header">
    <div class="">
      <h2>
        Order <%= ['#', @sales_order.order_number].join if @sales_order.order_number.present? %>
      </h2>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <div class=form-row>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">Quotation Number</strong>
          #<%= @sales_order.sales_quote_id %>
        </div>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">PO Number</strong>
          #<%= @sales_order.inquiry.customer_po_number %>
        </div>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">Payment Method</strong>
          Bank Transfer
        </div>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">Currency</strong>
          <%= @sales_order.currency %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row mb-1">
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">PO Date</strong>
          <%= format_date(@sales_order.inquiry.customer_order_date) %>
        </div>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">Date of Quotation</strong>
          <%= format_date(@sales_order.sales_quote.sent_at) %>
        </div>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">Sales Order Date</strong>
          <%= format_date(@sales_order.approval.created_at) %>
        </div>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
          <strong class="d-block">Payment Terms</strong>
          <%= @sales_order.inquiry.payment_option.name %>
        </div>
      </div>
      <div class="card-alternative mt-3 pb-3">
        <div class="form-row">
          <div class="col-12 col-md-6">
            <strong class="d-block">Supplier - Billing Address</strong>
            <%= @sales_order.inquiry.bill_from.address.name.to_s %><br>
            <%= @sales_order.inquiry.bill_from.address.to_compact_multiline_s if @sales_order.inquiry.bill_from.present? %>
            <% if @sales_order.inquiry.bill_from.address.phone.present? %>
              <span class="d-block"><em>Contact</em>:  <%= @sales_order.inquiry.contact.full_name %></span>
              - <%= @sales_order.inquiry.bill_from.address.phone %><br>
            <% end %>
            <span class="d-block"><em>GST Number</em>: <%= @sales_order.inquiry.bill_from.address.gst %></span>
          </div>

          <div class="col-12 col-md-6 mt-2 mt-md-0">
            <strong class="d-block">Supplier - Shipping Address</strong>
            <%= @sales_order.inquiry.ship_from.address.name.to_s %><br>
            <%= @sales_order.inquiry.ship_from.address.to_compact_multiline_s if @sales_order.inquiry.ship_from.present? %>
            <% if @sales_order.inquiry.ship_from.address.mobile || @sales_order.inquiry.ship_from.address.telephone %>
              <span class="d-block"><em>Contact</em>: <%= @sales_order.inquiry.ship_from.address.mobile || @sales_order.inquiry.ship_from.address.telephone %></span>
            <% end %>
            <span class="d-block"><em>GST Number</em>: <%= @sales_order.inquiry.ship_from.address.gst %></span>
          </div>
        </div>

        <div class="form-row mt-2">
          <div class="col-12 col-md-6">
            <strong class="d-block">Customer - Billing Address</strong>
            <%= @sales_order.inquiry.billing_contact.full_name %><br>
            <%= @sales_order.inquiry.company.name %><br>
            <%= @sales_order.inquiry.billing_address.to_compact_multiline_s %><br>
            <% if @sales_order.inquiry.contact.phone.present? %>
              <span class="d-block"><em>Contact</em>: <%= @sales_order.inquiry.contact.full_name %>
                - <%= @sales_order.inquiry.contact.phone %></span>
            <% end %>
            <span class="d-block"><em>GST Number</em>: <%= @sales_order.inquiry.billing_address.gst || @sales_order.inquiry.company.default_billing_address.gst %></span>
            <span class="d-block"><em>Email</em>: <%= @sales_order.inquiry.contact.email if @sales_order.inquiry.contact.email.present? %></span>
          </div>

          <div class="col-12 col-md-6 mt-2 mt-md-0">
            <strong class="d-block">Customer - Shipping Address</strong>
            <%= @sales_order.inquiry.shipping_contact.try(:full_name) || (@sales_order.inquiry.billing_contact.full_name) %>
            <br>
            <%= @sales_order.inquiry.company.name %><br>
            <%= @sales_order.inquiry.shipping_address.to_compact_multiline_s %><br>
            <% if @sales_order.inquiry.contact.mobile || @sales_order.inquiry.contact.telephone %>
              <span class="d-block"><em>Contact</em>: <%= @sales_order.inquiry.contact.full_name %>
                - <%= @sales_order.inquiry.contact.phone %></span>
            <% end %>
            <span class="d-block"><em>GST Number</em>: <%= @sales_order.inquiry.shipping_address.gst || @sales_order.inquiry.company.default_shipping_address.gst %></span>
            <span class="d-block"><em>Email</em>: <%= @sales_order.inquiry.contact.email if @sales_order.inquiry.contact.email.present? %></span>
          </div>
        </div>
      </div>

      <% if @sales_order.inquiry.attachments.present? %>
        <div class="form-row mt-3">
          <div class="col-6">
            <strong class="d-block">PO Sheet</strong>
            <%= link_to @sales_order.inquiry.customer_po_sheet, target: '_blank' do %>
              <%= @sales_order.inquiry.customer_po_sheet.filename %>
            <% end if @sales_order.inquiry.customer_po_sheet.attached? %>
          </div>
          <div class="col-6">
            <strong class="d-block">Email Attachment</strong>
            <%= link_to @sales_order.inquiry.copy_of_email, target: '_blank' do %>
              <%= @sales_order.inquiry.copy_of_email.filename %>
            <% end if @sales_order.inquiry.copy_of_email.attached? %>
          </div>
        </div>
      <% end %>

      <% @sales_order.sales_order_rows.each do |row| %>
        <div>

          <h6 class="text-uppercase mb-0 mt-3">
            <span class="lead text-black-50 text-small mr-1 mt-1">#<%= row.sr_no %></span>
            <strong><%= row.sales_quote_row %></strong>
          </h6>
          <div class="form-row my-2 text-small">
            <div class="col-12">
              <table class="w-100 datatable table table-bordered dt-responsive table-unstyled" data-fixed-header="false">
                <thead>
                <tr>
                  <th class="no-sort">
                    <span data-toggle="tooltip" title="Product Code">Product</span><br>
                  </th>
                  <th class="no-sort">
                    <span data-toggle="tooltip" title="Manufacturer Code">Mfr Model</span><br>
                  </th>
                  <th class="no-sort">
                    <span data-toggle="tooltip" title="Description">Description</span><br>
                  </th>
                  <th class="no-sort">
                    <span data-toggle="tooltip" title="Brand">Make</span>
                  </th>
                  <th class="no-sort">
                    <span data-toggle="tooltip" title="Unit Of Measurement">UOM</span><br>
                  </th>
                  <th class="no-sort">
                    <span data-toggle="tooltip" title="Quantity">Qty</span><br>
                  </th>
                  <th class="no-sort <%= @sales_order.currency.name == 'INR' ? 'd-none' : '' %>">
                      <span data-toggle="tooltip" title="Unit Selling Price in currency">USP (in <%= @sales_order.currency.sign %>
                        )</span>
                  </th>
                  <th class="no-sort">
                    <span data-toggle="tooltip" title="Unit Price">Unit Price</span><br>
                  </th>
                  <th class="no-sort">
                    <span data-toggle="tooltip" title="Tax">Tax</span><br>
                  </th>
                  <th class="no-sort">
                    <span data-toggle="tooltip" title="Subtotal">Subtotal</span><br>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                      <span>
                          <%= row.sales_quote_row.product.remote_uid %>
                      </span>
                  </td>
                  <td>
                      <span>
                              <%= row.sales_quote_row.product.mpn %>
                      </span>
                  </td>
                  <td>
                      <span>
                              <%= row.sales_quote_row.product.description || "Not Available" %>
                      </span>
                  </td>
                  <td>
                      <span>
                        <% if row.sales_quote_row.product.brand %>
                          <%= row.sales_quote_row.product.brand.name %>
                        <% else %>
                          Not Available
                        <% end %>
                      </span>
                  </td>
                  <td>
                      <span>
                          <%= row.measurement_unit || row.product.measurement_unit || MeasurementUnit.default %>
                      </span>
                  </td>
                  <td>
                      <span>
                          <%= row.quantity %>
                      </span>
                  </td>
                  <td>
                      <span>
                        <%= row.unit_selling_price %>
                      </span>
                  </td>
                  <td>
                      <span>
                          <%= row.best_tax_code %>
                      </span>
                  </td>
                  <td>
                      <span>
                          <%= row.total_selling_price %>
                      </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
      <hr class="my-2">

    </div>
    <div class="card-footer">
      <div class=form-row>
        <div class="col-6 col-md-3">
          Line Items
          <strong class="d-block"><%= @sales_order.rows.size %></strong>
        </div>
        <div class="col-6 col-md-3">
          Subtotal
          <strong class="d-block"><%= format_currency(@sales_order.calculated_total) %></strong>
        </div>
        <div class="col-6 col-md-3 mt-2 mt-md-0">
          Tax
          <strong class="d-block"><%= format_currency(@sales_order.calculated_total_tax) %></strong>
        </div>
        <div class="col-6 col-md-3 mt-2 mt-md-0">
          Grand Total
          <strong class="d-block"><%= format_currency(@sales_order.calculated_total_with_tax) %></strong>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <p class="text-uppercase text-black-50 mb-1">Other Information</p>
      <p class="mb-0">
        - Please reference our Bulk MRO Industrial Supply Quote Number when remitting Wire Transfer payment.<br>
        - Bulk MRO Industrial Supply is not responsible for any banking fees.
      </p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <p class="text-uppercase text-black-50 mb-1">Wire Transfer Details</p>
      <div class="form-row">
        <div class="col-md-6">
          <p class="mb-0">
            <strong class="d-block">Kotak Mahindra Bank Ltd</strong>
            Address: Aum Saheel Tower, Mumbai - 400 080<br>
            Account Name: Bulk MRO Industrial Supply Pvt. Ltd.<br>
            Account Number: 9412329433<br>
            NEFT / RTGS Code: KKBK0001411
          </p>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <p class="mb-0">
            <strong class="d-block">State Bank Of India</strong>
            Address: Kalpa Taru – 39, Pedder Road, Mumbai - 400 026<br>
            Account Name: Bulk MRO Industrial Supply Pvt. Ltd.<br>
            Account Number: 35924122136<br>
            NEFT / RTGS Code: SBIN0000510
          </p>
        </div>
      </div>
    </div>
  </div>
</div>