<div class="col-lg-12">
  <table>
    <th class="no-sort">Name</th>
    <th>SKU</th>
    <th>Category</th>
    <th>Created</th>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.sku %></td>
        <td><%= product.category.name %></td>
        <td><%= format_date(product.created_at) %></td>
        <td>
          <%= row_action_button(customers_product_path(product), 'fal fa-eye', 'View Product', 'dark') %>
        </td>
      </tr>
    <% end %>
  </table>
</div>