<% provide :container_fluid, true %>
<% provide :can_be_ajaxed, true %>
<% provide :wrap_whitespace, true %>

<% content_for :heading_buttons do %>
  <a href="<%= customers_products_path(view: 'list_view') %>" class="btn btn-lg btn-light" data-toggle="tooltip" title="List View"><i class="fal fa-list-ul"></i></a>
  <a href="<%= customers_products_path(view: 'grid_view') %>" class="btn btn-lg btn-light" data-toggle="tooltip" title="Grid View"><i class="fal fa-grip-horizontal"></i></a>
<% end %>

<% content_for :header_row do %>
  <th class="no-sort"></th>
  <th class="no-sort">Name</th>
  <th class="no-sort">SKU</th>
  <th class="no-sort">Category</th>
  <th class="no-sort">Created</th>
  <th class="no-sort">Approved</th>
<% end %>

<div class="col-lg-12" id="products_index">
  <% if params[:view] == 'list_view' %>
    <%= render partial: 'shared/layouts/datatable' %>
  <% else %>
    <%= render layout: 'shared/layouts/grid' do %>

      <div class="input-group input-group-round">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">filter_list</i></span>
        </div>
        <input type="search" name="q" class="form-control filter-list-input" placeholder="Filter by anything [press ENTER to SEARCH]" value="<%= params[:q] %>" onchange="searchsubmit(this.value)">
      </div>

      <div class="form-row" id="grid_container">
        <% if @products.count > 0 %>
          <% @products.each do |product| %>
            <div class="col-2">
              <div class="card mb-2">
                <div class="card-body">
                  <img src="https://images.homedepot-static.com/productImages/40844572-aeb6-4397-a347-5b1c2e5b44ac/svn/sharkbite-ball-valves-22222-0000lf-64_1000.jpg" />
                  <h5 class="mb-0 text-small"><strong><%= truncate(product.name, :length => 20) %> (#<%= product.sku %>)</strong></h5>
                  <h5 class="mb-0 mt-1 text-small text-black-50"><strong>₹20,400</strong></h5>
                  <hr class="my-2">
                  <p class="mb-0 text-small text-black-50">
                    <strong class="d-block"><%= product.brand.try(:name) %> #71-670</strong>
                    <em class="d-block">MOQ - 50</em>
                  </p>
                </div>
                <div class="card-footer p-2">
                  <%= link_to "Add to Cart", customers_cart_items_path(product_id: product.id, quantity: 1), method: :post, remote: true, class: "btn btn-block btn-success" %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col-12">
            <div class="card mb-12">
              <div class="card-body">
                <p class="text-small text-black-50 ">
                  <strong class="d-block ">No matching record found</strong>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-12">
        <%= paginate @products_paginate, remote: true, :params => {:view => "grid_view", :q => params[:q]} %>
      </div>
    <% end %>
  <% end %>
</div>