<% if inquiry.sales_quote.present? %>
  <!--      Add Customer PO number.-->
  <% if inquiry.customer_po_number.blank? %>
<!--    <div class="bmro-width100 bmro-padding-task">-->
<!--      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">-->
<!--        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%#= inquiry.inquiry_number %></span>-->
<!--      </div>-->
<!--      <div class="bmro-task-print bmro-task-width bmro-fl">-->
<!--        <div class="bmro-commited-data bmro-task-td">-->
<!--          Add Customer PO number.-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">-->
        <%#= simple_form_for :inquiry, html: {class: 'sales-form-inline'}, :url => update_inquiry_overseers_dashboard_path do |f| %>
          <%#= f.hidden_field :inquiry_number, value: inquiry.inquiry_number %>
          <%#= f.input :customer_po_number, placeholder: "Enter PO No.", :as => :string, input_html: {class: "form-control bmro-new-submit-input"}, label: false %>
          <%#= f.submit :submit, class: "btn bmro-button btn-dashboard" %>
        <%# end %>
<!--      </div>-->
<!--    </div>-->

    <div class="bmro-width100 bmro-padding-task">
      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">
        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%= inquiry.inquiry_number %></span>
      </div>
      <div class="bmro-task-print bmro-task-width bmro-fl">
        <div class="bmro-commited-data bmro-task-td">
          Add Customer PO number
        </div>
      </div>
      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">
        <a href="<%= overseers_inquiry_path(inquiry) %>" class="btn bmro-button btn-dashboard" role="button" target="_blank" data-id="<%= inquiry.inquiry_number %>"> Add Customer PO Number
        </a>
      </div>
    </div>
  <% end %>

  <!--      Add Customer Order date.-->
  <% if inquiry.customer_order_date.blank? %>
<!--    <div class="bmro-width100 bmro-padding-task">-->
<!--      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">-->
<!--        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%#= inquiry.inquiry_number %></span>-->
<!--      </div>-->
<!--      <div class="bmro-task-print bmro-task-width bmro-fl">-->
<!--        <div class="bmro-commited-data bmro-task-td">-->
<!--          Add Customer Order date.-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">-->
        <%#= simple_form_for :inquiry, html: {class: 'sales-form-inline'}, :url => update_inquiry_overseers_dashboard_path do |f| %>
          <%#= f.hidden_field :inquiry_number, value: inquiry.inquiry_number %>
          <%#= f.input :customer_order_date, placeholder: "Select Order Date", as: :string, input_html: {:'readonly' => true, :'data-toggle' => 'datepicker', class: 'bmro-form-input form-control bmro-new-submit-input'}, label: false %>
          <%#= f.submit :submit, class: "btn bmro-button btn-dashboard" %>
        <%# end %>
<!--      </div>-->
<!--    </div>-->

    <div class="bmro-width100 bmro-padding-task">
      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">
        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%= inquiry.inquiry_number %></span>
      </div>
      <div class="bmro-task-print bmro-task-width bmro-fl">
        <div class="bmro-commited-data bmro-task-td">
          Add Customer Order date
        </div>
      </div>
      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">
        <a href="<%= overseers_inquiry_path(inquiry) %>" class="btn bmro-button btn-dashboard" role="button" target="_blank" data-id="<%= inquiry.inquiry_number %>"> Add Date
        </a>
      </div>
    </div>
  <% end %>


  <!--      Upload Customer PO  -->
  <% if !inquiry.customer_po_sheet.attached? %>
    <div class="bmro-width100 bmro-padding-task">
      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">
        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%= inquiry.inquiry_number %></span>
      </div>
      <div class="bmro-task-print bmro-task-width bmro-fl">
        <div class="bmro-commited-data bmro-task-td">
          Upload Customer PO
        </div>
      </div>
      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">
        <a href="<%= overseers_inquiry_path(inquiry) %>" class="btn bmro-button btn-dashboard" role="button" target="_blank" data-id="<%= inquiry.inquiry_number %>"> Upload Customer PO
        </a>
      </div>
    </div>
  <% end %>

  <!--      Add Customer PO Delivery date.-->
  <% if inquiry.customer_po_delivery_date.blank? %>
    <div class="bmro-width100 bmro-padding-task">
      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">
        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%= inquiry.inquiry_number %></span>
      </div>
      <div class="bmro-task-print bmro-task-width bmro-fl">
        <div class="bmro-commited-data bmro-task-td">
          Add Customer PO Delivery Date.
        </div>
      </div>
      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">
        <a href="<%= overseers_inquiry_path(inquiry) %>" class="btn bmro-button btn-dashboard" role="button" target="_blank" data-id="<%= inquiry.inquiry_number %>"> Add Date
        </a>
      </div>
    </div>
  <% end %>

  <!--      Upload Committed Email  -->
  <% if !inquiry.customer_po_delivery_attachment.attached? %>
    <div class="bmro-width100 bmro-padding-task">
      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">
        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%= inquiry.inquiry_number %></span>
      </div>
      <div class="bmro-task-print bmro-task-width bmro-fl">
        <div class="bmro-commited-data bmro-task-td">
          Upload Customer PO Delivery Email
        </div>
      </div>
      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">
        <a href="<%= overseers_inquiry_path(inquiry) %>" class="btn bmro-button btn-dashboard" role="button" target="_blank" data-id="<%= inquiry.inquiry_number %>"> Upload Email
        </a>
      </div>
    </div>
  <% end %>

  <!--      Add Customer PO Recieved date.-->
  <% if inquiry.customer_po_delivery_date.blank? %>
    <div class="bmro-width100 bmro-padding-task">
      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">
        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%= inquiry.inquiry_number %></span>
      </div>
      <div class="bmro-task-print bmro-task-width bmro-fl">
        <div class="bmro-commited-data bmro-task-td">
          Add Customer PO Recieved date.
        </div>
      </div>
      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">
        <a href="<%= overseers_inquiry_path(inquiry) %>" class="btn bmro-button btn-dashboard" role="button" target="_blank" data-id="<%= inquiry.inquiry_number %>"> Add date
        </a>
      </div>
    </div>
  <% end %>

  <!--      Upload Committed Email  -->
  <% if !inquiry.customer_po_received_attachment.attached? %>
    <div class="bmro-width100 bmro-padding-task">
      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">
        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%= inquiry.inquiry_number %></span>
      </div>
      <div class="bmro-task-print bmro-task-width bmro-fl">
        <div class="bmro-commited-data bmro-task-td">
          Upload Customer PO Recieved Email
        </div>
      </div>
      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">
        <a href="<%= overseers_inquiry_path(inquiry) %>" class="btn bmro-button btn-dashboard" role="button" target="_blank" data-id="<%= inquiry.inquiry_number %>"> Upload Email
        </a>
      </div>
    </div>
  <% end %>

  <!--      Add Customer Commited Delivery date.-->
  <% if inquiry.customer_committed_date.blank? %>
    <div class="bmro-width100 bmro-padding-task">
      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">
        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%= inquiry.inquiry_number %></span>
      </div>
      <div class="bmro-task-print bmro-task-width bmro-fl">
        <div class="bmro-commited-data bmro-task-td">
          Add Customer Commited date.
        </div>
      </div>
      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">
        <a href="<%= overseers_inquiry_path(inquiry) %>" class="btn bmro-button btn-dashboard" role="button" target="_blank" data-id="<%= inquiry.inquiry_number %>"> Add Date
        </a>
      </div>
    </div>
  <% end %>

  <!--      Upload Committed Email  -->
  <%  if !inquiry.committed_delivery_attachment.attached? %>
    <div class="bmro-width100 bmro-padding-task">
      <div class="bmro-task-no-td bmro-task-td-width bmro-fl bmro-position-relative">
        <span class="bmro-big-heading bmro-fl bmro-no-mrl bmro-td-span"><%= inquiry.inquiry_number %></span>
      </div>
      <div class="bmro-task-print bmro-task-width bmro-fl">
        <div class="bmro-commited-data bmro-task-td">
          Upload Committed Delivery Email
        </div>
      </div>
      <div class="bmro-action-button-parent bmro-action-width bmro-fl text-right">
        <a href="<%= overseers_inquiry_path(inquiry) %>" class="btn bmro-button btn-dashboard" role="button" target="_blank" data-id="<%= inquiry.inquiry_number %>"> Upload Email
        </a>
      </div>
    </div>
  <% end %>
<% end %>