<div class="modal fade" id="addComment">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center mb-0 mt-2 px-0 p-0">
        <div class="card-header-tabs w-100">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-black-150 text-lg-center w-100 text-large pt-1 pb-1">
            <strong class="text-uppercase">Add Comment</strong>
          </h4>
        </div>
      </div>
      <div class="modal-body mb-3 px-0 p-0">
        <%= simple_form_for([:overseers, obj], :url => url, :html => {:class => 'needs-validation p-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
          <div class="error bg-danger text-white mb-3 px-1 rounded"></div>
          <div class="card">
            <div class="card-body">
              <div class="form-row">
                <div class="col">
                  <%= f.nested_fields_for :comments, f.object.comments.build(:overseer => current_overseer) do |comment| %>
                    <%= comment.hidden_field :created_by_id %>
                    <%= comment.hidden_field :updated_by_id %>
                    <%= comment.input :message, :placeholder => 'Type message', :id => 'commentsId', input_html: {:'data-parsely-no-valid-feedback' => ''} %>
                  <% end %>
                </div>
              </div>
              <div class="form-row mb-2 mt-0 ml-0">
                <button type="submit" class="btn btn-success confirm-cancel">
                  Add Comment
                </button>
              </div>
              <% if obj.comments.persisted.size > 0 %>
                <div class="card">
                  <div class="card-body">
                    <div class="flex-fill">
                      <h6 class="text-uppercase text-black-50 mb-1">Comments History</h6>
                    </div>
                    <div class="chats">
                      <% obj.comments.all.limit(5).each do |comment| %>
                        <% if comment.persisted? %>
                          <%= format_comment(comment, trimmed: true) %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="card-footer">
                      <a href="<%= view_more %>" class="btn btn-success btn-block align-self-center btn-block-sm-down">View
                        More</a>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>