<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'shared/layouts/components/meta' %>
  <%= render 'shared/layouts/components/fonts' %>
  <%= render 'shared/layouts/components/stylesheets' %>
  <%= render 'shared/layouts/components/ga' %>
  <%= render 'shared/layouts/components/scripts' %>

  <%# if overseer_signed_in? %>
  <%#= render 'shared/layouts/components/usersnap' %>
  <%# end %>
  <!-- Google Tag Manager -->
  <% if Rails.env.production? %>
    <script>
        document.addEventListener('turbolinks:load', function(event) {
            var url = event.data.url;  dataLayer.push({
                'event':'pageView',
                'virtualUrl': url
            });
        });(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PDPC36K');
    </script>
  <% end %>

  <!-- End Google Tag Manager -->
</head>

<body data-controller="<%= controller_name %>" data-controller-action="<%= action_name %>">

  <%= navigation if local_assigns[:navigation].present? %>
  <div class="layout layout-nav-top layout-body-wrapper">
    <div class="main-container">
      <!-- <%= render 'shared/layouts/components/breadcrumbs' if local_assigns[:navigation].present? %> -->

      <div class="container bmro-container bmro-container-fluid <% if content_for?(:container_fluid) %>-fluid<% end %>">
        <%= render 'shared/layouts/components/breadcrumbs' if (local_assigns[:navigation].present? &&  !params[:controller].include?('dashboard')) %>
        <div class="<% if !(controller_name == "dashboard" && current_overseer.inside_sales_executive?) %>row<% end %> justify-content-center bmro-padd-col">
          <%= yield %>

          <% flash.each do |message_type, message| %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= message %>
              <button class="close" data-dismiss="alert" aria-label="Close">
                <i class="fal fa-times"></i>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>