<% if content_for?(:heading) || (content_for?(:can_be_directly_created) && policy(current_model.singularize.to_sym).new?) || !content_for?(:hide_table_desc) %>
  <section class="pt-3 pt-lg-4 pb-2 pb-lg-3">
    <div class="d-md-flex justify-content-between">
      <% if content_for?(:heading) %>
        <h1 class="display-5 mb-1"><%= yield :heading %></h1>
      <% else %>
        <h1 class="display-5 mb-1"><%= current_model.titleize %></h1>
      <% end unless content_for?(:hide_table_heading) %>
      <% if content_for?(:can_be_directly_created) || content_for?(:can_be_directly_exported) || content_for?(:heading_buttons) %>
        <div>
          <% if content_for?(:heading_buttons)%>
            <%= yield :heading_buttons %>
          <% end %>
          <% if content_for?(:can_be_directly_created) && policy(current_model.singularize.to_sym).new? %>
            <a href="<%= [request.path, '/', 'new'].join %>" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down mr-md-1 mb-md-0 mb-1" >
              <i class="fal fa-plus-circle mr-1"></i>New <%= controller_path.split('/').last.singularize.split("_").join(" ").upcase %>
            </a>
          <% end %>
          <% if content_for?(:can_be_directly_exported) && policy(current_model.singularize.to_sym).export_all? %>
            <a href="<%= [request.path, '/', 'export_all.csv'].join %>" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1" >
              <i class="fal fa-download mr-1"></i><%= controller_path.split('/').last.pluralize.split("_").join(" ").upcase %>
            </a>
          <% end %>

          <% if content_for?(:can_be_directly_generated) && policy(current_model.singularize.to_sym).generate_all? %>
            <a href="<%= [request.path, '/', 'generate_all'].join %>" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down">
              <i class="fal fa-download mr-1"></i>Generate <%= controller_path.split('/').last.pluralize.split("_").join(" ").upcase %>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>

    <% unless content_for?(:hide_table_desc) %>
      <p class="lead mt-1">
        All <%= current_model.humanize.downcase %> searchable with relevant term/keywords.
      </p>
    <% end %>
  </section>
<% end %>
<section class="pb-4 pb-lg-5">
  <table class="datatable table table-bordered dt-responsive
    <% if content_for?(:wrap_whitespace) %> wrap-whitespace
    <% end %>" data-search="Enter search term/keywords"
         <% if content_for?(:can_be_ajaxed) %>data-ajax="<%= request.fullpath %>"
         <% end %>>
    <thead>
    <tr>
      <%= yield :header_row %>
    </tr>
    <% if content_for?(:filter_row) %>
      <tr class="filters d-none d-lg-table-row">
        <%= yield :filter_row %>
      </tr>
    <% end %>
    </thead>
    <tbody>
    <%= yield %>
    </tbody>
  </table>
</section>
