<% if content_for?(:heading) || (content_for?(:can_be_directly_created) && is_authorized(current_model.singularize.downcase, 'new')) || !content_for?(:hide_table_desc) %>
  <section class="section-padding-adjustment">
    <div class="d-md-flex justify-content-between">
      <!-- <div>
       <%# if content_for?(:heading) %>
         <h1 class="display-5 mb-1"><%#= yield :heading %></h1>
       <%# else %>
         <h1 class="display-5 mb-1"><%#= current_model.titleize %></h1>
       <%# end unless content_for?(:hide_table_heading) %>
       <%# unless content_for?(:hide_table_desc) %>
         <%# if content_for?(:table_desc) %>
           <p class="lead mt-1 mb-1">
             <%#= yield :table_desc %>
           </p>
         <%# else %>
           <p class="lead mt-1 mb-1">
             All <%#= current_model.humanize.downcase %> searchable with relevant term/keywords.
           </p>
         <%# end %>
       <%# end %>
     </div>-->
    </div>

    <%= yield :notice_message %>

  </section>
<% end %>
<div class="bmro-ar-invoice">
  <div class="bmro-invoice-heading">
     <span class="bmro-downimg"></span><h4>AR Invoice</h4>
  </div>
  <div class="bmro-summary" id="accordionExample">
    <div class="bmro-summary-box1">
      <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="bmro-click-toggle">
      Sales Invoice Summary</a>          
      <div id="collapseOne" class="bmro-collaps collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="bmro-invoice-data">
          <div class="bmro-invoice-edit">
            <label>Invoiced</label>
            <span>13,396</span>
          </div> 
          <div class="bmro-invoice-edit">
            <label>paid</label>
            <span>93</span>
          </div> 
          <div class="bmro-invoice-edit">
            <label>ready for dispatch</label>
            <span>578</span>
          </div> 
          <div class="bmro-invoice-edit">
            <label>partial:shipped</label>
            <span>72</span>
          </div>                                     
        </div>
      </div>
    </div>  

    <div class="bmro-summary-box1"> 
      <a href="#" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo" class="bmro-click-toggle collapsed">
      Proof of delivery summary(aug,19)</a>
      <div id="collapsetwo" class="bmro-collaps collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="bmro-invoice-data">
          <div class="bmro-invoice-edit">
            <label>Invoiced created</label>
            <span>396</span>
          </div> 
          <div class="bmro-invoice-edit">
            <label>regular</label>
            <span>93</span>
          </div> 
          <div class="bmro-invoice-edit">
            <label>route through</label>
            <span>578</span>
          </div> 
          <div class="bmro-invoice-edit">
            <label>partial:shipped</label>
            <span>12</span>        
          </div>
      </div>
     </div>     
  </div>
</div>
<div class="bmro-invoice-boxes">
  <div class="bmro-ar-reports">
    <label class="bmro-ar-report-head">Invoiced</label>
    <h5 class="bmro-ar-report-data">13,396</h5>
    <span class="bmro-ar-report-subdata">₹313,250,273</span>
  </div>
  <div class="bmro-ar-reports bmro-ar-reports-paid">
    <label class="bmro-ar-report-head">paid</label>
    <h5 class="bmro-ar-report-data">96</h5>
    <span class="bmro-ar-report-subdata">₹313,250,273</span>
  </div>
  <div class="bmro-ar-reports bmro-ar-reports-cancelled">
    <label class="bmro-ar-report-head">cancelled</label>
    <h5 class="bmro-ar-report-data">314</h5>
    <span class="bmro-ar-report-subdata">₹313,250,273</span>
  </div>
  <div class="bmro-ar-reports">
    <label class="bmro-ar-report-head">partial:shipped</label>
    <h5 class="bmro-ar-report-data">104</h5>
    <span class="bmro-ar-report-subdata">₹313,250,273</span>
  </div>
  <div class="bmro-ar-reports">
    <label class="bmro-ar-report-head">shipped</label>
    <h5 class="bmro-ar-report-data">02</h5>
    <span class="bmro-ar-report-subdata">₹313,250,273</span>
  </div>
  <div class="bmro-ar-reports bmro-ar-reports-cancelled">
    <label class="bmro-ar-report-head">material delivery delayed</label>
    <h5 class="bmro-ar-report-data">00</h5>
    <span class="bmro-ar-report-subdata">₹0</span>
  </div>
  <div class="bmro-ar-reports bmro-ar-reports-delivered-pen">
    <label class="bmro-ar-report-head">delivered:grn pending</label>
    <h5 class="bmro-ar-report-data">01</h5>
    <span class="bmro-ar-report-subdata">₹00</span>
  </div>
  <div class="bmro-ar-reports bmro-ar-reports-cancelled">
    <label class="bmro-ar-report-head">delivered:grn delayed</label>
    <h5 class="bmro-ar-report-data">00</h5>
    <span class="bmro-ar-report-subdata">₹0</span>
  </div> 
  <div class="bmro-ar-reports bmro-ar-reports-material-ready">
    <label class="bmro-ar-report-head">material ready for dispatch</label>
    <h5 class="bmro-ar-report-data">578</h5>
    <span class="bmro-ar-report-subdata">₹313,250,273</span>
  </div>
  <div class="bmro-ar-reports bmro-ar-reports-cancelled">
    <label class="bmro-ar-report-head">material rejected</label>
    <h5 class="bmro-ar-report-data">00</h5>
    <span class="bmro-ar-report-subdata">₹0</span>
  </div>                 
</div>

<div class="bmro-search-tabel">
  <div class="bmro-input-search">
    <input type="text" name="" class="bmro-form-input" placeholder="Search by Account, Company, Owner ect...">
  </div>
  <div class="bmro-input-search">
    <select class="chosen-select form-control is-valid select required select2-ajax bmro-form-input bmro-dropdown-icon select2-hidden-accessible">
    <option value=""></option>
     <option>one</option>
     <option>United</option>
     <option>States</option>
     <option>one</option>
     <option>United</option>
     <option>States</option>
     <option>one</option>
     <option>United</option>
     <option>States</option>
     <option>one</option>
     <option>United</option>
     <option>States</option>
     <option>one</option>
     <option>United</option>
     <option>States</option>               
   </select>
  </div> 
  <script type="text/javascript">
          $(function() {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
      });
  </script>      
</div>

<section class="pb-4 pb-lg-5">

  <table class="datatable table table-bordered table-hover dt-responsive bmro-datatable-style
   <% if content_for?(:wrap_whitespace) %> wrap-whitespace
   <% end %>" data-search="Enter search term/keywords"
         <% if content_for?(:can_be_ajaxed) %>data-ajax="<%= request.fullpath %>"
         <% end %><% if not content_for?(:enable_sort_on_last_column) %>data-sorting="false"<% end %>>
    <thead>
    <tr>
      <%= yield :header_row %>
    </tr>
    <% if content_for?(:filter_row) %>
      <tr class="filters d-none d-lg-table-row">
        <%= yield :filter_row %>
      </tr>
    <% end %>
    <% if content_for?(:summary_row) %>
      <tr class="table-summary d-none d-lg-table-row text-dark">
        <%= yield :summary_row %>
      </tr>
    <% end %>
    </thead>
    <tbody>
    <%= yield %>
    </tbody>
  </table>
</section>