<% if content_for?(:heading) || (content_for?(:can_be_directly_created) && policy(current_model.singularize.to_sym).new?) || !content_for?(:hide_table_desc) %>

  <section class="pt-3 pt-lg-4 pb-2 pb-lg-3">
    <div class="d-md-flex justify-content-between">
      <% if content_for?(:heading) %>
        <h1 class="display-5 mb-1"><%= yield :heading %></h1>
      <% else %>
        <h1 class="display-5 mb-1"><%= current_model.humanize %></h1>
      <% end unless content_for?(:hide_table_heading) %>

      <div>
        <a href="<%= customers_products_path(view: 'list_view') %>" class="btn btn-lg btn-light" data-toggle="tooltip" title="List View"><i class="fal fa-list-ul"></i></a>
        <a href="<%= customers_products_path(view: 'grid_view') %>" class="btn btn-lg btn-light" data-toggle="tooltip" title="Grid View"><i class="fal fa-grip-horizontal"></i></a>
      </div>

      <% if content_for?(:can_be_directly_created) && policy(current_model.singularize.to_sym).new? %>
        <a href="<%= [request.path, '/', 'new'].join %>" class="d-sm-block btn btn-success btn-rounded align-self-center btn-block-sm-down">
          <i class="fal fa-plus-circle mr-1"></i>New <%= controller_path.split('/').last.singularize.upcase %>
        </a>
      <% end %>

      <% if content_for?(:can_be_directly_exported) && policy(current_model.singularize.to_sym).export_sheet? %>
        <a href="<%= [request.path, '/', 'export_sheet.csv'].join %>" class="d-sm-block btn btn-success btn-rounded align-self-center btn-block-sm-down">
          <i class="fal fa-download mr-1"></i>Export <%= controller_path.split('/').last.singularize.split("_").join(" ").upcase %>
        </a>
      <% end %>
    </div>

    <% unless content_for?(:hide_table_desc) %>
      <p class="lead mt-1">
        All <%= current_model.humanize.downcase %> filterable in any way that we want.
      </p>
    <% end %>
  </section>
<% end %>

<div class="input-group input-group-round">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="material-icons">filter_list</i></span>
  </div>
  <input type="search" name="q" class="form-control filter-list-input" placeholder="Filter by anything [press ENTER to SEARCH]" value="<%= params[:q] %>" onchange="searchsubmit(this.value)">
</div>

<div class="form-row" id="grid_container">
  <% if @products.count > 0 %>
    <% @products.each do |product| %>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="card mb-2">
          <div class="card-body">
            <% if product.images.first.present? %>
              <img src="<%= url_for(product.images.first) %>" />
            <% else %>
              <img src="<%= image_path('coming_soon.png') %>" />
            <% end %>
            <h5 class="mb-0 text-small"><strong><%= truncate(product.name, :length => 20) %> (#<%= product.sku %>)</strong></h5>
            <h5 class="mb-0 mt-1 text-small text-black-50"><strong><%= product.latest_unit_cost_price.to_f == 0.0 ? '-' : format_currency(product.latest_unit_cost_price.to_f) %></strong></h5>

            <hr class="my-2">
            <p class="mb-0 text-small text-black-50">
              <strong class="d-block"><%= product.brand.try(:name) %></strong>
<!--              <em class="d-block">MOQ - 50</em>-->
            </p>
          </div>
          <div class="card-footer p-2">
            <%= link_to "Add to Cart", customers_cart_items_path(product_id: product.id, quantity: 1), method: :post, remote: true, class: "btn btn-block btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-12">
      <div class="card mb-12">
        <div class="card-body">
          <p class="text-small text-black-50 ">
            <strong class="d-block ">No matching record found</strong>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="col-12">
  <%= paginate @products_paginate, remote: true, :params => {:view => "grid_view", :q => params[:q]} %>
</div>