<div class="d-md-flex justify-content-between">
  <% if content_for?(:heading_buttons)%>
    <h3 class="display-5 mb-1 d-none d-md-block"><%= children.to_s.titlecase %></h3>
    <%= yield :heading_buttons %>
  <% end %>
</div>
<p class="mt-md-1 d-none d-md-block">
  All <%= children.to_s.downcase %> searchable with relevant term/keywords under <strong><%= entity.name %></strong>.
</p>

<table class="datatable table table-bordered dt-responsive w-100" data-fixed-header="false" data-search="Enter search term/keywords" data-ajax="<%= yield :ajax_url %>">
  <thead>
  <tr>
    <%= yield :header_row %>
  </tr>
  </thead>
  <tbody></tbody>
</table>