<a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4" type="button" data-toggle="collapse" data-target="#summary">
   Summary
</a>

<div id="summary" class="collapse">
    <% @summery_data.each do |data| %>
      <h5 class="m-2"><%= data[0].to_s.tr("_"," ").capitalize %></h5>
      <div class="mt-2 form-row d-flex flex-row align-content-stretch">
        <% data[1].each do |data_elm| %>
          <div class="col-4 col-md-3 col-lg-3 col-xl-2 d-flex flex-row align-content-stretch">
            <div name="status" class="summary_box card w-100 mb-2 rim rim-bottom border-<%= data_elm[1][:color] %>" >
              <div class="card-body px-3 pt-3 pb-3">
                <div class="text-center d-flex flex-column h-100">
                  <p class="mb-1 text-small text-uppercase text-<%= data_elm[1][:color] %>">
                    <strong><%=data_elm[1][:name] %></strong>
                  </p>
                  <h5 class="mb-0 mt-auto text-<%= data_elm[1][:color] %> status-count-50"><%= format_currency(data_elm[1][:total_count]) %></h5>
                  <hr class="my-2">
                  <h5 class="my-0 text-small text-<%= data_elm[1][:color] %> ">&#8377;<%= data_elm[1][:value] %></h5>
                </div>
              </div>
            </div>
          </div>
        <%end %>
      </div>
<% end %>
</div>