<div class="modal fade" id="modalRatingForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 text-uppercase text-black-50 text-small pt-2">Company Review</h4>
      </div>
      <%= simple_form_for([:overseers, @company_review], :url => url, :method => 'PUT') do |f| %>
        <div class="modal-body mx-3">
          <h6 class="text pb-2">
            Kindly share your feedback for <strong><%= @company_review.rateable %></strong>.
          </h6>
          <%= f.hidden_field :id %>
          <%= f.simple_fields_for :company_ratings, @company_review.company_ratings, wrapper_tag: :div do |company_rating| %>
            <div class="simple-row">
              <div class="form-row mt-2">
                <div class="col-12">
                  <h6 class="text-uppercase mb-0">
                    <strong><%= company_rating.object.review_question %></strong>
                  </h6>
                  <div class="mb-2 mt-1 star">
                    <%= rating_for company_rating.object ,nil, disable_after_rate:false %>
<!--                    <div class=<%#= 'star-' + company_rating.index.to_s %>></div>-->
                    <%#= company_rating.hidden_field :rating, :include_blank => false, class: "rating-" + company_rating.index.to_s, "data-rating": company_rating.object.rating %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer p-0">
          <div class="card-footer w-100">
            <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
              Submit Review
            <% end %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="rating-modal">
  <a href="#" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRatingForm" data-backdrop="static" data-keyboard="false"></a>
</div>
