<% if klass.name == 'Inquiry' %>
  <% statuses = statuses.except('Lead by O/S') %>
<% end %>

<div class="bmro-ar-invoice">
  <div class="bmro-invoice-heading">
    <div class="dropdown">
      <span class="bmro-downimg"></span>
      <h4 class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inquiry</h4>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">dropdown 1</a>
        <a class="dropdown-item" href="#">dropdown 2</a>
        <a class="dropdown-item" href="#">dropdown 3</a>
      </div>
    </div>
    <input class="form-control is-valid string required bmro-form-ar-invoice bmro-date-bag" data-toggle="daterangepicker" required="required" aria-required="true" type="text" value="25-Sep-2019">
  </div>
  <div class="bmro-summary" id="accordionExample">
    <div class="bmro-summary-box1">
      <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="bmro-click-toggle bmro-invoice-one collapsed">
        Inquiry Summary</a>
      <div id="collapseOne" class="bmro-collaps bmro-collaps1 collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="bmro-invoice-data">
          <div class="bmro-invoice-edit">
            <label>Invoiced</label>
            <span>13,396</span>
          </div>
          <div class="bmro-invoice-edit">
            <label>paid</label>
            <span>93</span>
          </div>
          <div class="bmro-invoice-edit">
            <label>ready for dispatch</label>
            <span>578</span>
          </div>
          <div class="bmro-invoice-edit">
            <label class="bmro-invoice-capi">Partial:shipped</label>
            <span>72</span>
          </div>
        </div>
      </div>
    </div>

    <!--    <div class="bmro-summary-box2">-->
    <!--      <a href="#" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo" class="bmro-click-toggle bmro-invoice-two collapsed">-->
    <!--        Proof of delivery summary(aug,19)</a>-->
    <!--      <div id="collapsetwo" class="bmro-collaps bmro-collaps2 collapse" aria-labelledby="headingOne" data-parent="#accordionExample">-->
    <!--        <div class="bmro-invoice-data">-->
    <!--          <div class="bmro-invoice-edit">-->
    <!--            <label>Invoiced created</label>-->
    <!--            <span>396</span>-->
    <!--          </div>-->
    <!--          <div class="bmro-invoice-edit">-->
    <!--            <label>regular</label>-->
    <!--            <span>93</span>-->
    <!--          </div>-->
    <!--          <div class="bmro-invoice-edit">-->
    <!--            <label>route through</label>-->
    <!--            <span>578</span>-->
    <!--          </div>-->
    <!--          <div class="bmro-invoice-edit">-->
    <!--            <label>Total Pending POD</label>-->
    <!--            <span>12</span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>


  <div class="bmro-invoice-boxes bmro-invoice-box-one bmro-invoice-boxes-hide" id="displayText">
    <% statuses.each do |status, status_id| %>
      <a data-value="<%= status_id %>" name="status" class="summary_box" href="#">

        <div class="bmro-ar-reports rim rim-bottom border-<%= status_color(status) %> status-<%= status_id %>">
          <label class="bmro-ar-report-head"><%= format_enum(status) %></label>
          <h5 class="bmro-ar-report-data status-count-<%= status_id %>"></h5>
          <span class="bmro-ar-report-subdata status-value-<%= status_id %>"></span>
        </div>
      </a>
    <% end %>
  </div>

</div>