<a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4" type="button" data-toggle="collapse" data-target="#summary">
  <%=klass.name.pluralize %> Summary
</a>

<div id="summary" class="collapse">
  <div class="mt-2 form-row d-flex flex-row align-content-stretch">
    <% statuses.each do |status, v| %>
      <% if status != 'Regret' %>
          <div class="col-4 col-md-3 col-lg-3 col-xl-2 d-flex flex-row align-content-stretch">
            <div class="card w-100 mb-2 rim rim-bottom border-<%= status_color(klass, status) %>">
              <div class="card-body px-3 pt-3 pb-3">
                <div class="text-center d-flex flex-column h-100">
                  <p class="mb-1 text-small"><strong><%= status == 'Order Lost' ? 'Order Lost / Regret' : status %></strong></p>
                  <a href = "<%= [request.fullpath,"?status=",v].join %>"><h5 class="mb-0 mt-auto text-<%= status_color(klass, status) %>"><%= status_count(klass, status) %></h5></a>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>