<div class="brmo-float">
  <a class="btn btn-light text-left btn-lg btn-block mt-1 mt-lg-4 bmro-click-toggle bmro-invoice-one collapsed bmro-collapse-button-bg" type="button" data-toggle="collapse" data-target="#summary">
    <% if alias_name.present? %>
      <%= alias_name.titleize %> Summary&nbsp;&nbsp;&nbsp;
    <% else %>
      <%= klass.name.titleize.pluralize %> Summary&nbsp;&nbsp;&nbsp;
    <% end %><!-- 
    <i class="fa fa-chevron-down" aria-hidden="true"></i> -->
  </a>
  <div class="brmo-float">
    <div class="bmro-collaps bmro-collaps2">
      <div class="bmro-invoice-data">
        <div class="bmro-invoice-edit">
          <label>Invoiced created</label>
          <span>396</span>
        </div>
        <div class="bmro-invoice-edit">
          <label>regular</label>
          <span>93</span>
        </div>
        <div class="bmro-invoice-edit">
          <label>route through</label>
          <span>578</span>
        </div>
        <div class="bmro-invoice-edit">
          <label>Total Pending POD</label>
          <span>12</span>
        </div>
      </div>
    </div>
  </div> 
<script type="text/javascript">
  $(".bmro-click-toggle").click(function(){
    $(this).parent().toggleClass("bmro-collaps2-bg");
  });
</script>  
</div>
<% if klass.name == 'Inquiry' %>
  <% statuses = statuses.except('Lead by O/S') %>
<% end %>
<div id="summary" class="collapse bmro-float bmro-collaps-bg">
  <div class="mt-2 form-row d-flex flex-row align-content-stretch">
    <% statuses.each do |status, status_id| %>
      <div class="col-4 col-md-3 col-lg-3 col-xl-2 d-flex flex-row align-content-stretch">
        <a data-value="<%= status_id %>" name="status" class="summary_box card w-100 mb-2 rim rim-bottom border-<%= status_color(status) %> status-<%= status_id %>" href="#">
          <div class=" px-2 pt-2 brmo-inward-card">
            <div class="d-flex flex-column h-100">
              <p class="mb-1 text-small bmro-inward-p text-uppercase text-<%= status_color(status) %>">
                <strong><%= format_enum(status) %></strong>
              </p>
              <h5 class="mb-0 brmo-inward-head mt-auto text-<%= status_color(status) %> status-count-<%= status_id %>"></h5>
              <h5 class="my-0 brmo-inward-head text-small text-<%= status_color(status) %> status-value-<%= status_id %>">&#8377;0</h5>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>