<div class="bmro-card bmro-card-padding bmro-bg">
  <%= render 'shared/snippets/page_header', e: @overseer %>

  <%= simple_form_for([:overseers, @overseer], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>

    <div class="form-row">
      <div class="col-3 col-md-2">
        <%= f.input :legacy_id, label: 'Legacy ID', input_html: { class: 'bmro-form-input' }, disabled: true %>
      </div>
      <div class="col-4 col-md-5">
        <%= f.input :first_name, input_html: { class: 'bmro-form-input' } %>
      </div>
      <div class="col-5 col-md-5">
        <%= f.input :last_name, input_html: { class: 'bmro-form-input' } %>
      </div>

    </div>

    <%#= f.input :role, :wrapper => :custom_multi_select, as: :select, collection: enum_to_collection(Overseer.roles), include_blank: false %>

    <% if @overseer.persisted? %>
      <%= f.association :parent, :wrapper => :custom_multi_select, :label_method => :to_s, collection: Overseer.except_objects(@overseer.self_and_descendants), include_blank: 'Select a parent', input_html: { class: 'bmro-form-input bmro-dropdown-icon' } %>
    <% else %>
      <%= f.association :parent, :wrapper => :custom_multi_select, :label_method => :to_s, include_blank: 'Select a parent', input_html: { class: 'bmro-form-input bmro-dropdown-icon' } %>
    <% end %>
    <div class="form-row">
      <div class="col-12 col-md-4">
        <%= f.input :email, :required => true, input_html: { class: 'bmro-form-input' } %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.input :mobile, input_html: { class: 'bmro-form-input' } %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.input :telephone, input_html: { class: 'bmro-form-input' } %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-6 col-md-4">
        <%= f.input :designation, input_html: { class: 'bmro-form-input' } %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.input :department, input_html: { class: 'bmro-form-input' } %>
      </div>
      <div class="col-6 col-md-4">
        <%= f.input :function, input_html: { class: 'bmro-form-input' } %>
      </div>
      <div class="col-12 col-md-4">
        <%= f.input :geography, input_html: { class: 'bmro-form-input' } %>
      </div>
      <div class="col-12 col-md-2">
        <%= f.input :status, as: :check_boxes, :wrapper => :vertical_collection_inline, collection: enum_to_collection(Overseer.statuses.except("inactive")) %>
      </div>
      <% if policy(:overseer).edit_super_admin? %>
        <div class="col-12 col-md-2">
          <%= f.input :is_super_admin, label: 'Is Super Admin?',:wrapper => :vertical_collection_inline, as: :radio_buttons %>
        </div>
      <% end %>
    </div>
    <div class="bmro-button-parent">
    <%= action_button(action_name, @overseer) %>
    </div>
  <% end %>

</div>