<a href="<%= new_overseers_overseer_path %>">
  <button type="button" class="btn btn-primary m-t-10">+ Add Overseer</button>
</a>

<div class="table-responsive">
  <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Hierarchy</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @overseers.each do |overseer| %>
      <tr>
        <td><%= overseer.id %></td>
        <td><%= overseer.to_s %></td>
        <td><%= overseer.hierarchy_to_s %></td>
        <td><%= overseer.role %></td>
        <td><a href="<%= edit_overseers_overseer_path(overseer) %>">Edit</a></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>