<div class="page fixed">
  <div class="main-container col1-layout">
    <div class="card">
      <div class="card-body" style="color: #000;">
        <div class="main">
          <div class="col-main">
            <div id="compare-wrapper">
              <div class="compare_open" id="compare_popup"></div>
              <div style=" float:left; width: 49%; padding-top: 1px;padding-bottom: 10px; text-align: left;">
                <%= image_tag 'BMIS_Logo_PNG.png', :width => "40%" %>
              </div>
              <div style="float:right;width:49%; padding-top: 1px;padding-bottom: 10px;text-align: right; vertical-align:center">
                <b><span style="color:#000; font-size: 17.5px;">DELIVERY CHALLAN #<%= @delivery_challan.id %></span></b>
              </div>
              <br clear="all">
              <%= render 'overseers/delivery_challans/address', record: @delivery_challan.inquiry.bill_from %>
              <br clear="all">
              <div style="background: #d3d3d3; border:1px solid; border-radius: 5px;padding-top: 1px;padding-bottom: 1px; text-align: center;">
                <span><b>DELIVERY CHALLAN #: BMPL-V-1/2018-19</b></span>
              </div>
              <br clear="all">
              <div style="border:1px solid; border-radius: 5px;">
                <table border="0" cellspacing="0" style="width: 100%;">
                  <tbody>
                  <tr>
                    <td align="left" colspan="5" style="width:25%; padding-left: 10px;" valign="top">
                      <b><span>Inquiry #</span></b> <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="5" style="width:25%;padding-left: 10px;" valign="top">
                      <span><%= @delivery_challan.inquiry.inquiry_number %></span>
                    </td>
                    <td align="left" colspan="5" style="width:25%;padding-left: 10px;" valign="top">
                      <b><span>Quotation #</span></b> <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="6" style="width:25%; padding-left: 10px;" valign="top">
                  <span>
                    <%= @delivery_challan.inquiry.sales_quotes.last %>
                  </span>
                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <b><span>Sales Order#	</span></b>
                      <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <span><%= @delivery_challan.sales_order.order_number %></span>
                    </td>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <b><span>Type of Goods Movement #</span></b>
                      <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <span><%=@delivery_challan.goods_type %></span>
                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                      <b><span>Delivery Challan #	</span></b> <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                      <span>BMPL-V-1/2018-19</span>
                    </td>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <b><span>Delivery Challan Date</span></b> <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <span>: <%= @delivery_challan.delivery_challan_date %></span>
                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                      <b><span>Customer Purchase Order</span></b> <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                      <span><%= @delivery_challan.inquiry.customer_po_number %></span>
                    </td>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <b><span>Customer Purchase Order Date</span></b> <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <span>: <%= @delivery_challan.inquiry&.customer_order_date %></span>
                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <b><span>Payment terms </span></b> <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                      <span><%= @delivery_challan.inquiry.payment_option.to_s %></span>
                    </td>
                    <td align="left" colspan="5" style="border-top: 1px solid #3c3c3c; padding-left: 10px;" valign="top">
                      <b><span>Customer Inquiry Ref</span></b> <span style="float:right">:</span>
                    </td>
                    <td align="left" colspan="6" style="border-top: 1px solid #3c3c3c;padding-left: 10px;" valign="top">
                      <span><%= @delivery_challan.inquiry.subject %></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <br clear="all">
              <div class="address-blocks">
                <div style=" " class="heading heading-left">
                  <b><span>Supplier - Bill from:</span></b>
                </div>
                <div class="heading heading-right">
                  <b><span>Supplier - Ship from:</span></b>
                </div>
                <br clear="all">
                <table border="0" cellspacing="0" style="width: 100%; margin-top: 10px;">
                  <tbody>
                  <tr>
                    <td class="address-wrapper" style="height: auto;width: 49%;">
                      <% if @delivery_challan.inquiry.bill_from.present? %>
                        <%= @delivery_challan.inquiry.bill_from.address.name.to_s %>
                        <%= @delivery_challan.inquiry.bill_from.address.to_compact_multiline_s %><br>
                        <% if @delivery_challan.inquiry.bill_from.address.phone.present? %>
                          Contact: <%= @delivery_challan.inquiry.contact.full_name %>
                          - <%= @delivery_challan.inquiry.bill_from.address.phone %><br>
                        <% end %>
                        <% if @delivery_challan.inquiry.bill_from.address.gst %>
                          GST Number: <%= @delivery_challan.inquiry.bill_from.address.gst %><br>
                        <% end %>
                      <% end %>
                    </td>
                    <td style="width: 2%;"></td>
                    <td class="address-wrapper" style="height: auto;width: 49%;">
                      <% if @delivery_challan.inquiry.ship_from.present? %>
                        <%= @delivery_challan.inquiry.ship_from.address.name.to_s %>
                        <%= @delivery_challan.inquiry.ship_from.address.to_compact_multiline_s %><br>
                        <% if @delivery_challan.inquiry.ship_from.address.phone.present? %>
                          Contact: <%= @delivery_challan.inquiry.contact.full_name %>
                          - <%= @delivery_challan.inquiry.ship_from.address.phone %><br>
                        <% end %>
                        <% if @delivery_challan.inquiry.ship_from.address.gst %>
                          GST Number: <%= @delivery_challan.inquiry.ship_from.address.gst %><br>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <br clear="all">
              <div class="address-blocks">
                <div style=" " class="heading heading-left">
                  <b><span>Customer - Bill to :</span></b>
                </div>
                <div class="heading heading-right">
                  <b><span>Customer - Ship to :</span></b>
                </div>
                <br clear="all">
                <table border="0" cellspacing="0" style="width: 100%; margin-top: 10px;">
                  <tbody>
                  <tr>
                    <td class="address-wrapper" style="height: auto;width: 49%;">
                      <%= @delivery_challan.inquiry.company.name %><br>
                      <%= @delivery_challan.inquiry.billing_address.to_compact_multiline_s %><br>
                      <% if @delivery_challan.inquiry.contact.phone.present? %>
              <span class="d-block"><em>Contact</em>: <%= @delivery_challan.inquiry.contact.full_name %>
                - <%= @delivery_challan.inquiry.contact.phone %></span>
                      <% end %>
                      <span class="d-block"><em>Email</em>: <%= @delivery_challan.inquiry.contact.email if @delivery_challan.inquiry.contact.email.present? %></span>
                      <span class="d-block"><em>GST Number</em>: <%= @delivery_challan.inquiry.billing_address.gst || @delivery_challan.inquiry.company.default_billing_address.gst %></span>
                    </td>
                    <td style="width: 2%;"></td>
                    <td class="address-wrapper" style="height: auto;width: 49%;">
                      <%= @delivery_challan.inquiry.company.name %><br>
                      <%= @delivery_challan.inquiry.shipping_address.to_compact_multiline_s %><br>
                      <% if @delivery_challan.inquiry.contact.mobile || @delivery_challan.inquiry.contact.telephone %>
              <span class="d-block"><em>Contact</em>: <%= @delivery_challan.inquiry.contact.full_name %>
                - <%= @delivery_challan.inquiry.contact.phone %></span>
                      <% end %>
                      <span class="d-block"><em>Email</em>: <%= @delivery_challan.inquiry.contact.email if @delivery_challan.inquiry.contact.email.present? %></span>
                      <span class="d-block"><em>GST Number</em>: <%= @delivery_challan.inquiry.shipping_address.gst || @delivery_challan.inquiry.company.default_shipping_address.gst %></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <br clear="all">
              <div style="width: 100%;">
                <table border="0" cellspacing="0" class="pdf-table" style="font-size: 12px;">
                  <thead>
                  <tr>
                    <th align="center" valign="center">
                      <b><span>Sr.<br>
                    No.</span></b></th>
                    <th align="center" valign="center">
                      <b><span>SKU</span></b></th>
                    <th align="center" valign="center">
                      <b><span>Mfr<br>
                    Model</span></b></th>
                    <th align="center" valign="center">
                      <b><span>Description</span></b></th>
                    <th align="center" valign="center">
                      <b><span>HSN/<br>
                    SAC<br>
                    Code</span></b></th>
                    <th align="center" valign="center">
                      <b><span>UOM</span></b></th>
                    <th align="center" valign="center">
                      <b><span>Quantity</span></b></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @delivery_challan.rows.order(:created_at).each_with_index do |item, index| %>
                    <tr>
                      <td align="center" valign="top">
                        <span><%= index + 1 %></span>
                      </td>
                      <td align="center" valign="top">
                        <span><%= item.product.present? ? item.product.sku : '' %></span>
                      </td>
                      <td align="center" valign="top">
                        <span><%= item.product.present? ? item.product.mpn : '' %></span>
                      </td>
                      <td align="left" valign="top">
                        <span><%= item.product.present? ? item.product.name : '' %></span>
                      </td>
                      <td align="center" valign="top">
                                        <span>
                    <%= item.sales_quote_row.tax_code.to_s %>
                                        </span>
                      </td>
                      <td align="center" valign="top">
                        <span><%= item.product.present? ? item.product.measurement_unit.to_s : '' %></span>
                      </td>
                      <td align="center" valign="top">
                        <span><%= number_to_currency(item.quantity, precision: 2, unit: '') %></span>
                      </td>
                      <!--                      <td align="right" valign="top">-->
                      <!--                        <span><%#= number_to_currency(item.unit_selling_price, precision: 2, unit: '') %></span>-->
                      <!--                      </td>-->
                      <!--                      <td align="right" valign="top">-->
                      <!--                        <span><%#= number_to_currency(item.total_selling_price, precision: 2, unit: '') %></span>-->
                      <!--                      </td>-->
                      <!--                      <td align="center" valign="top">-->
                      <!--                        <span><%#= item.tax_rate.round(0) %>%</span>-->
                      <!--                      </td>-->
                      <%# if (locals[:metadata][:PoTaxRate].to_s.include? "IG") || (item.metadata['PopTaxRate'].to_s.include? "IG") %>
                      <!--                        <td align="center" valign="top">-->
                      <!--                          <span><%#= item.tax_rate.round(0) %>%</span>-->
                      <!--                        </td>-->
                      <!--                        <td align="right" valign="top">-->
                      <!--                          <span><%#= number_to_currency(item.total_tax, precision: 2, unit: '') %></span>-->
                      <!--                        </td>-->
                      <%# else %>
                      <!--                        <td align="center" valign="top">-->
                      <!--                          <span><%#= number_to_currency((item.tax_rate.to_f / 2), precision: 2, unit: '') %>%</span>-->
                      <!--                        </td>-->
                      <!--                        <td align="right" valign="top">-->
                      <!--                          <span><%#= number_to_currency(item.total_tax / 2, precision: 2, unit: '') %></span>-->
                      <!--                        </td>-->
                      <!--                        <td align="center" valign="top">-->
                      <!--                          <span><%#= number_to_currency((item.tax_rate.to_f / 2), precision: 2, unit: '') %>%</span>-->
                      <!--                        </td>-->
                      <!--                        <td align="center" valign="top">-->
                      <!--                          <span><%#= number_to_currency(item.total_tax / 2, precision: 2, unit: '') %><br></span>-->
                      <!--                        </td>-->
                      <%# end %>
                      <!--                      <td align="right" valign="top">-->
                      <!--                        <span><%#= number_to_currency(item.total_selling_price_with_tax, precision: 2, unit: '') %></span>-->
                      <!--                      </td>-->
                    </tr>
                  <% end %>
                  <tr class="pdf-table-total-row">
                    <td align="center" valign="top">
                      <span></span>
                    </td>
                    <td align="center" valign="top">
                      <span><b><span>Total</span></b></span>
                    </td>
                    <td align="center" valign="top">
                      <span></span>
                    </td>
                    <td align="center" valign="top">
                      <span></span>
                    </td>
                    <td align="center" valign="top">
                      <span></span>
                    </td>
                    <td align="center" valign="top">
                      <span></span>
                    </td>
                    <td align="center" valign="top">
                      <span></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <br clear="all">
                <table border="0" cellspacing="0" style="width: 100%;">
                  <tbody>
                  <tr class="mb-5">
                    <td align="left" colspan="5" style="width:25%; padding-left: 5%;" valign="top">
                      <b><span>Received By	</span></b>
                    </td>
                    <td align="right" colspan="6" style="width:25%; padding-right: 15%;" valign="top">
                      <b><span>SIGNATURE:	</span></b>
                    </td>
                  </tr>
                  <br clear="all">
                  <tr>
                    <td align="left" colspan="5" style="width:25%; padding-left: 5%;" valign="top">
                      <b><span>Name :	</span></b>
                    </td>
                    <td align="right" colspan="6" style="width:25%; padding-right: 15%;" valign="top">
                      <b><span>Date :	</span></b>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

