<% content_for :heading do %>
  View Delivery Challan #<%= @delivery_challan.delivery_challan_number %>
<% end %>
<div class="col-12">
  <%#= render layout: 'overseers/inquiries/tabs_layout' do %>
  <div class="card">
    <div class="card-header bmro-bg">
      <div class=form-row>
        <div class="col-6 col-md-1 mt-1 mt-md-0">
          <strong class="d-block bmro-summary-heading">Quotation #</strong>
          <div class="bmro-summary-data">
            <%= @inquiry.inquiry_number %>
          </div>
        </div>
        <div class="col-6 col-md-3 mt-1 mt-md-0">
          <strong class="d-block bmro-summary-heading">Customer Inquiry Reference</strong>
          <div class="bmro-summary-data">
            <%= [@inquiry.inquiry_number, @inquiry.subject].join(" - ") %>
          </div>
        </div>
        <div class="col-6 col-md-3 mt-1 mt-md-0">
          <strong class="d-block bmro-summary-heading">Customer Purchase Order # </strong>
          <div class="bmro-summary-data">
            <%= @inquiry.customer_po_number if @inquiry.customer_po_number.present? %>
          </div>
        </div>
        <div class="col-6 col-md-3 mt-2  mt-md-0">
          <strong class="d-block bmro-summary-heading">Customer Purchase Order Date </strong>
          <div class="bmro-summary-data">
            <%= @inquiry.customer_order_date.strftime("%d-%b-%Y") if @inquiry.customer_order_date.present? %>
          </div>
        </div>

        <div class="col-6 col-md-2 mt-2 mt-md-0 text-right">
          <% if is_authorized(@delivery_challan, 'show') && policy(@delivery_challan).show? %>
            <%= row_action_button(overseers_delivery_challan_path(@delivery_challan, format: :pdf), 'download', 'Download', 'success', :_blank, 'get', '', false, 'O') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body bmro-bg">
      <div class="form-row mb-1">
        <div class="col-12 col-md-2 mt-1 mt-md-0">
          <strong class="d-block bmro-summary-heading">Sales Order # </strong>
          <div class="bmro-summary-data">
            <%= @delivery_challan.sales_order.order_number if @delivery_challan.sales_order.present? %>
          </div>
        </div>
        <div class="col-6 col-md-2 mt-1 mt-md-0">
          <strong class="d-block bmro-summary-heading">Sales Order Date</strong>
          <div class="bmro-summary-data">
            <%= @delivery_challan.sales_order&.mis_date.strftime("%d-%b-%Y") if @delivery_challan.sales_order.present? %>
          </div>
        </div>
        <div class="col-6 col-md-2 mt-1 mt-md-0">
          <strong class="d-block bmro-summary-heading">Delivery Challan #</strong>
          <div class="bmro-summary-data">
            <%= @delivery_challan.delivery_challan_number %>
          </div>
        </div>
        <div class="col-6 col-md-3 mt-1 mt-md-0">
          <strong class="d-block bmro-summary-heading">Delivery Challan Dates</strong>
          <div class="bmro-summary-data">
            <%= @delivery_challan.created_at.strftime("%d-%b-%Y") %>
          </div>

        </div>
        <div class="col-6 col-md-3 mt-1 mt-md-0">
          <strong class="d-block bmro-summary-heading">Payment Terms</strong>
          <div class="bmro-summary-data">
            <%= @inquiry.payment_option %>
          </div>
        </div>
      </div>

      <div class="card-alternative bmro-bg mt-3">
        <div class="form-row">
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block bmro-summary-heading">Supplier - Bill from:</strong>
            <div class="bmro-summary-data">
              <% if @delivery_challan.supplier_bill_from.present? %>
                <%= @delivery_challan.supplier_bill_from.address.name.to_s %><br>
                <%= @delivery_challan.supplier_bill_from.address.to_compact_multiline_s %><br>
              <% else %>
                ''
              <% end %>
              <% if @delivery_challan.supplier_bill_from.address.phone.present? %>
                <em>Contact</em>: <%= @inquiry.contact.full_name %>
                - <%= @delivery_challan.supplier_bill_from.address.phone %><br>
              <% end %>
              <% if @delivery_challan.supplier_bill_from.address.gst && @delivery_challan.display_gst_pan.present? %>
                <em>GST Number</em>: <%= @delivery_challan.supplier_bill_from.address.gst %><br>
              <% end %>
            </div>
          </div>
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block bmro-summary-heading">Supplier - Ship from:</strong>
            <div class="bmro-summary-data">
              <% if @delivery_challan.supplier_ship_from.present? %>
                <%= @delivery_challan.supplier_ship_from.address.name.to_s %><br>
                <%= @delivery_challan.supplier_ship_from.address.to_compact_multiline_s %><br>
                <% if @delivery_challan.supplier_ship_from.address.mobile || @delivery_challan.supplier_ship_from.address.telephone %>
                  <em>Contact</em>: <%= @delivery_challan.supplier_ship_from.address.mobile || @delivery_challan.supplier_ship_from.address.telephone %>
                  <br>
                <% end %>
                <% if @delivery_challan.supplier_ship_from.address.gst && @delivery_challan.display_gst_pan.present? %>
                  <em>GST Number</em>: <%= @delivery_challan.supplier_ship_from.address.gst %><br>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-row mt-0 mt-md-2">
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block bmro-summary-heading">Customer - Bill to:</strong>
            <div class="bmro-summary-data">
              <%= @inquiry.contact.full_name %><br>
              <%= @inquiry.company.name %><br>
              <%= @delivery_challan.customer_bill_from.to_compact_multiline_s if @delivery_challan.customer_bill_from.present? %>
              <br>
              <% if @inquiry.billing_contact.present? %>
                Tel: <%= @inquiry.billing_contact.phone || @inquiry.billing_contact.mobile || @inquiry.billing_contact.telephone %>
              <% else %>
                Tel: <%= @inquiry.contact.phone || @inquiry.contact.mobile || @inquiry.contact.telephone %>
              <% end %> <br>
              <em>Email</em>: <%= @inquiry.contact.email if @inquiry.contact.email.present? %><br>
              <% if @delivery_challan.display_gst_pan.present? %>
                GST No.:<%= @delivery_challan.customer_bill_from&.gst %>
              <% end %>
            </div>
          </div>
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block bmro-summary-heading">Customer - Ship to:</strong>
            <div class="bmro-summary-data">
              <%= @inquiry.contact.full_name %><br>
              <%= (@inquiry.shipping_company.name) %>
              <br>
              <%= @delivery_challan.customer_ship_from.to_compact_multiline_s if @delivery_challan.customer_ship_from.present? %>
              <br>
              <% if @inquiry.contact.mobile || @inquiry.contact.telephone %>
            <span class="d-block bmro-summary-heading"><em>Contact</em>: <%= @inquiry.contact.full_name %>
              - <%= @inquiry.contact.phone %></span>
              <% end %>
              <em>Email</em>: <%= @inquiry.contact.email if @inquiry.contact.email.present? %>
              <% if @delivery_challan.display_gst_pan.present? %>
                <span class="d-block bmro-summary-heading"><em>GST Number</em>: <%= @delivery_challan.customer_ship_from.gst || @inquiry.company.default_serialized_shipping_address.gst %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% if @inquiry.attachments.present? %>
        <div class="form-row mt-3">
          <div class="col-6">
            <strong class="d-block bmro-summary-heading">Customer Purchase Order</strong>
            <div class="bmro-summary-data">
              <%= link_to @inquiry.customer_po_sheet, target: '_blank' do %>
                <%= @inquiry.customer_po_sheet.filename %>
              <% end if @inquiry.customer_po_sheet.attached? %>
            </div>
          </div>
          <!--  <div class="col-6">
              <% if @inquiry.copy_of_email.attached? %>
                <strong class="d-block bmro-summary-heading">Email attachment</strong>
                <div class="bmro-summary-data">
                <%= link_to @inquiry.copy_of_email, target: '_blank' do %>
                  <%= @inquiry.copy_of_email.filename %>
                <% end %>
              <% end %>
            </div>
            </div> -->
          <div class="col-6">
            <strong class="d-block bmro-summary-heading">Supplier Quotes Attachment</strong>
            <div class="bmro-summary-data">
              <% @inquiry.supplier_quotes.attachments.each do |attachment| %>
                <%= link_to url_for(attachment), target: '_blank', :status => attachment.filename do %>
                  <span class="d-block"><%= attachment.filename %></span>
                <% end %>
              <% end if @inquiry.supplier_quotes.attached? %>
            </div>
          </div>
        </div>
      <% end %>
      <table class="w-100 table table-bordered bmro-summary-table bmro-datatable-style dt-responsive datatable wrap-whitespace" data-fixed-header="false">
        <thead>
        <tr>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Serial Number">Sr.</span>
          </th>
          <th class="no-sort">
            <span>SKU</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="MPN">Mfr</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Description">Description</span>
          </th>
          <% if @delivery_challan.display_rates.present? && @delivery_challan.sales_order.present? %>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Make">Make</span>
            </th>
          <% end %>
          <th class="no-sort">
            <span data-toggle="tooltip" title="">HSN /SAC Code</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="e">UOM</span>
          </th>
          <th class="no-sort">
            <span data-toggle="tooltip" title="Quantity">Qty</span>
          </th>
          <% if @delivery_challan.display_rates.present? && @delivery_challan.sales_order.present? %>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Unit Price">Unit Price</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Subtotal">Subtotal</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">Tax Rate</span>
            </th>
            <% if @delivery_challan.sales_order.sales_quote.tax_summary.strip == '0' ||
                (@delivery_challan.sales_order.sales_quote.tax_summary.to_s.include? "IGST") %>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Tax Rate">IGST Rate</span>
              </th>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Tax Rate">IGST Amt</span>
              </th>
            <% else %>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Tax Rate">CGST Rate</span>
              </th>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Tax Rate">CGST Amt</span>
              </th>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Tax Rate">SGST Rate</span>
              </th>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Tax Rate">SGST Amt</span>
              </th>
            <% end %>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">Total<br>
              (<%= @delivery_challan.inquiry.currency.name %>)</span>
            </th>
          <% elsif @delivery_challan.display_rates.present? && @delivery_challan.Sample? %>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Unit Price">Unit Price</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Subtotal">Subtotal</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">Tax Rate</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">CGST Rate</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">CGST Amt</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">SGST Rate</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">SGST Amt</span>
            </th>
            <th class="no-sort">
              <span data-toggle="tooltip" title="Tax Rate">Total<br>
              (<%= @delivery_challan.inquiry.currency.name %>)</span>
            </th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @delivery_challan.rows.order(:created_at).each_with_index do |item, index| %>
          <tr>
            <td>
              <span>#<%= index + 1 %></span>
            </td>
            <td>
              <span><%= item.product.present? ? item.product.sku : '' %></span>
            </td>
            <td>
              <span><%= item.product.present? ? item.product.mpn : '' %></span>
            </td>
            <td>
              <span><%= item.product.present? ? item.product.name : '' %></span>
            </td>
            <% if @delivery_challan.display_rates.present? && @delivery_challan.sales_order.present? %>
              <td>
                <span><%= item.product.brand.to_s %></span>
              </td>
            <% end %>
            <td>
              <span><%= item.sales_quote_row&.tax_code_six_digits %></span>
            </td>
            <td>
              <span><%= item.product.present? ? item.product.measurement_unit.to_s : '' %></span>
            </td>
            <td>
              <span><%= number_to_currency(item.quantity, precision: 2, unit: '') %></span>
            </td>
            <% if @delivery_challan.display_rates.present? && @delivery_challan.sales_order.present? %>
              <td>
                <span><%= number_to_currency(item.sales_quote_row.converted_unit_selling_price, precision: 2, unit: '') %></span>
              </td>
              <td>
                <span><%= number_to_currency(item.converted_total_selling_price, precision: 2, unit: '') %></span>
              </td>
              <td>
                <span><%= item.sales_quote_row.applicable_tax_percentage * 100 %>%</span>
              </td>
              <% if @delivery_challan.sales_order.sales_quote.tax_summary.strip == '0' ||
                  (@delivery_challan.sales_order.sales_quote.tax_summary.to_s.include? "IGST") %>
                <td>
                  <span><%= item.sales_quote_row.applicable_tax_percentage * 100 %>%</span>
                </td>
                <td>
                  <span><%= number_to_currency(item.converted_total_tax, precision: 2, unit: '') %></span>
                </td>
              <% else %>
                <td>
                <span><%= item.sales_quote_row.best_tax_rate.tax_percentage / 2 if item.sales_quote_row.best_tax_rate.present? %>
                  %</span>
                </td>
                <td>
                  <span><%= number_to_currency(item.converted_total_tax.to_f / 2, precision: 2, unit: '') %></span>
                </td>
                <td>
                <span><%= item.sales_quote_row.best_tax_rate.tax_percentage / 2 if item.sales_quote_row.best_tax_rate.present? %>
                  %</span>
                </td>
                <td>
                  <span><%= number_to_currency(item.converted_total_tax / 2, precision: 2, unit: '') %></span>
                </td>
              <% end %>
              <td>
                <span><%= number_to_currency(item.converted_total_selling_price_with_tax.round(2), precision: 2, unit: '') %></span>
              </td>
            <% elsif @delivery_challan.display_rates.present? && @delivery_challan.Sample? %>
              <td>
                <span><%= number_to_currency(item.converted_unit_selling_price, precision: 2, unit: '') %></span>
              </td>
              <td>
                <span><%= number_to_currency(item.converted_total_selling_price, precision: 2, unit: '') %></span>
              </td>
              <td>
                <span><%= item.applicable_tax_percentage * 100 %>%</span>
              </td>
              <td>
              <span><%= item.best_tax_rate.tax_percentage / 2 if item.best_tax_rate.present? %>
                %</span>
              </td>
              <td>
                <span><%= number_to_currency(item.converted_total_tax.to_f / 2, precision: 2, unit: '') %></span>
              </td>
              <td>
              <span><%= item.best_tax_rate.tax_percentage / 2 if item.best_tax_rate.present? %>
                %</span>
              </td>
              <td>
                <span><%= number_to_currency(item.converted_total_tax / 2, precision: 2, unit: '') %></span>
              </td>
              <td>
                <span><%= number_to_currency(item.converted_total_selling_price_with_tax.round(2), precision: 2, unit: '') %></span>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-footer bmro-summary-footer bmro-summary-product-bottom">
      <% if @delivery_challan.display_rates.present? && @delivery_challan.sales_order.present? %>
        <div class="form-row bmro-summary-footer-padding">
          <div class="col-6 col-md-3">
            Products
            <strong class="d-block bmro-summary-heading"><%= @delivery_challan.rows.count %></strong>
          </div>
          <div class="col-6 col-md-3 mt-2 mt-md-0">
            Subtotal
            <strong class="d-block bmro-summary-heading"><%= format_currency(@delivery_challan.converted_total_with_tax.to_f - @delivery_challan.converted_total_tax.to_f, precision: 2, symbol: nil) %></strong>
          </div>
          <div class="col-6 col-md-3">
            Total Tax Amt
            <strong class="d-block bmro-summary-heading"><%= format_currency(@delivery_challan.converted_total_tax, precision: 2, symbol: nil) %></strong>
          </div>
          <div class="col-6 col-md-3">
            Grand Total
            <strong class="d-block bmro-summary-heading"><%= format_currency(@delivery_challan.converted_total_with_tax.to_f, precision: 2, symbol: nil) %></strong>
          </div>
      <% end %>
      </div>
    </div>
    <% if @delivery_challan.comments.persisted.size > 0 %>
      <div class="card">
        <div class="card-body">
          <div class="flex-fill">
            <h6 class="text-uppercase text-black-50 mb-1">Delivery Challan History</h6>
          </div>
          <div class="chats">
            <% @delivery_challan.comments.each do |comment| %>
              <div class="media chat-item comments-wrap w-100">
                <div class="media-body">
                  <div class="chat-item-title">
                    <span class="chat-item-author"><%= comment.author.full_name if comment.author.present? %>
                      <span class="mr-1"><strong><span class="badge badge-secondary"><%= comment.author_role %></span></strong></span>
                    </span>
                  </div>
                  <div class="chat-item-body">
                    <%= simple_format comment.message.gsub(/\\r\\n/, "\n") %>
                  </div>
                  <div class="mt-2">
                    <%= format_times_ago(comment.created_at) + ' on ' + format_date_with_time(comment.created_at) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  <%# end %>

</div>