<div class="font-family: Arial; font-size: 14.5px;">
  <p style="color: #555;">Dear Customer,</p>
  <p style="color: #555;">Please find attached the statement of your account as per our system. </p>
  <p style="color: #555;">The total outstanding amount as on date <b><%= format_currency(@account.invoices.not_cancelled_invoices.sum(&:calculated_total) - (@account.sales_receipts.sum(&:payment_amount_received))) %></b>. across all your group companies. Summary can be seen as below:</p>
  <table border="1" cellspacing="0" class="table table-bordered" align="center" width="100%" style="color: #333;">
    <tbody>
    <tr>
      <th style="padding: 5px; text-align: center;">Sr No.</th>
      <th style="padding: 5px; text-align: center;">Name Of Entity</th>
      <th style="padding: 5px; text-align: center;">Amount Invoiced</th>
      <th style="padding: 5px; text-align: center;">Amount Received</th>
      <th style="padding: 5px; text-align: center;">Amount Outstanding</th>
      <th style="padding: 5px; text-align: center;">No. of Days Outstanding</th>
    </tr>
    <% @account.companies.each_with_index do |company,index| %>
      <tr>
        <td style="padding: 5px; text-align: center;"><%= index+1 %></td>
        <td style="padding: 5px; text-align: center;"><%= company.name %></td>
        <td style="padding: 5px; text-align: center;"><%= format_currency(company.invoices.not_cancelled_invoices.sum(&:calculated_total)) %></td>
        <td style="padding: 5px; text-align: center;"><%= index+1 %></td>
        <td style="padding: 5px; text-align: center;"><%= index+1 %></td>
        <td style="padding: 5px; text-align: center;"><%= index+1 %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p style="color: #555;">We request you to please clear the payments at the earliest.</p>
  <p style="color: #555;">We are also sending detailed emails for each group company in subsequent mails.</p>
  <p style="color: #555;">Assuring you of our best services always.</p>
  <p style="color: #555;">Sincerely,</p>
  <p style="color: #555;">Bulk MRO Accounts Department</p>
</div>