<!DOCTYPE html>
<html lang="en">
   <head>
      <%= render 'shared/layouts/components/meta' %>
      <%= render 'shared/layouts/components/fonts' %>
      <%= render 'shared/layouts/components/stylesheets' %>
      <%= render 'shared/layouts/components/ga' %>
      <%= render 'shared/layouts/components/scripts' %>
      <%= javascript_include_tag 'trainings/application', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'shared/trainings.css', media: 'all', 'data-turbolinks-track': 'reload' %>
      <!-- Google Tag Manager -->
      <% if Rails.env.production? %>
      <script>
         document.addEventListener('turbolinks:load', function(event) {
             var url = event.data.url;  dataLayer.push({
                 'event':'pageView',
                 'virtualUrl': url
             });
         });(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                 new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
             j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
             'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','GTM-PDPC36K');
      </script>
      <% end %>
      <!-- End Google Tag Manager -->
   </head>
   <body data-controller="<%= controller_name %>" data-controller-action="<%= action_name %>" data-currency-name="<%= Settings.currency.name %>">
      <div class="wrapper">
         <!--Top menu -->
         <div class="sidebar">
            <!--profile image & text-->
            <ul>
               <li>
                  <a href="#" class="active">
                  <span class="item">Home</span>
                  </a>
               </li>
               <% @trainings.each do |training| %>
                 <li>
                    <a href="<%= training_path(id: training['slug']) %>">
                    <span class="item"><%= training['title'] %></span>
                    </a>
                 </li>
               <% end %>
            </ul>
         </div>
         <!--menu item-->
         <div class="main">
            <div class="row">
              <div class="col-md-12 text-justify">
                <h1>
                  <%= yield :title %>
                </h1>
                <%= render "trainings/shared/search_form" %>
                <div class="content">
                  <%= yield %>
                </div>
              </div>
           </div>
        </div>
      </div>
      </div>
   </body>
</html>