<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="action-content">
      <p>Dear <%= @contact.first_name %>,</p>
      <p>Thank you for your inquiry.<br/></p>
      <p>Your inquiry reference number is <%= format_id(@inquiry.id) %> for your consideration.</p>
      <p>We will revert to you shortly with a formal quotation.</p>
      <p>Please mention this reference number for all your correspondence related to this inquiry.</p>
      <p>If there is any additional information you may require, please feel free to call me at <a href="tel:02249214921">022-4921-4921</a> or email at <a href="mailto:sales@bulkmro.com">sales@bulkmro.com</a> and talk to our expert and friendly Sales Agents.</p>

      <p>We look forward to your feedback and valuable purchase order.</p>
      <p>Have a nice day!</p>
      <br/>
      <p>Regards,<br><%= @overseer.full_name %></p>
  </tr>
</table>

<!--<%# if @overseer.username.present? %><b style="font-size:12.8px;font-family:arial,sans-serif"><span style="color:black;font-family:Tahoma;font-size:10pt"><font color="#000000"><%#= @overseer.username %></font></span></b><%# end %>-->

<% if @overseer.designation.present? %><p style="margin:0in 0in 0pt;"><span style="font-size:8pt;font-family:Tahoma"><font color="#000000"><%= @overseer.designation %></font></span> <span style="font-size:8pt;font-family:Tahoma"><font color="#000000"><br></font></span></p><% end %>

<div>
  <div>
    <div dir="ltr">
      <div style="font-size:12.8px">
        <p style="margin:0in 0in 0pt"><img class="CToWUd" height="46" src="https://www.bulkmro.com/skin/frontend/base/default/images/emaillogo.jpg" width="420"><br></p>
      </div>
    </div>
  </div>
  <div style="font-size:12.8px">
    <p style="margin:0in 0in 0pt;font-size:12.8px"><span style="color:rgb(0,0,0);font-family:Tahoma;font-size:13.33px"><span style="font-size:8pt"><b>Bulk MRO Industrial Supply Pvt. Ltd.</b></span>&nbsp;<br></span></p><span lang="PT-BR" style="font-size:8pt"><span style="font-size:10.66px"></span></span>

    <p style="margin:0in 0in 0pt"><span lang="PT-BR" style="font-size:8pt">
      <% if @overseer.mobile.present? %><span lang="PT-BR" style="font-size:8pt">M: <%= @overseer.mobile %> |&nbsp;</span><% end %>
      <% if @overseer.telephone.present? %><span lang="PT-BR" style="font-size:8pt">T: <%= @overseer.telephone %> |&nbsp;</span><% end %>
      <span lang="PT-BR" style="font-size:8pt">E:&nbsp;<span style="font-size:8pt"><a href="mailto:<%= @overseer.email %>" style="color:rgb(34,34,34)" target="_blank"><span lang="PT-BR" style="color:rgb(19,72,101)"><%= @overseer.email %><wbr></span></a></span> <span lang="PT-BR" style="font-size:8pt"><br>

      </span></span><span lang="PT-BR"></span></span></p>
    <p style="margin:0in 0in 0pt;font-size:12.8px"><span lang="PT-BR" style="font-size:8pt">2nd Floor, A Wing, Todi Estate, Sun Mill Compound,</span><span style="font-size:8pt">&nbsp;Lower Parel,&nbsp;</span><span style="font-size:8pt">Mumbai 400013, India</span></p>
    <p></p><span lang="PT-BR"><font color="#000000" face="Tahoma"><span style="font-size:10.66px">TIN Number: 27391218005V |&nbsp;CTIN Number: 27391218005C</span></font></span>
  </div>
  <div style="font-size:12.8px">
    <span lang="PT-BR"><font color="#000000" face="Tahoma"><span style="font-size:10.66px">GST Maharashtra: 27AAGCB7343G1ZN | GST Gujarat: 24AAGCB7343G1ZT | GST Delhi: 07AAGCB7343G1ZP&nbsp;</span></font></span>
  </div>
  <div style="font-size:12.8px">
    <span style="color:rgb(0,0,0);font-family:Tahoma;font-size:13.33px"><span lang="PT-BR"><font color="#000000" face="Tahoma"><span style="font-size:10.66px"><b><a data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.bulkmro.com/&amp;source=gmail&amp;ust=1498028627885000&amp;usg=AFQjCNEoWcZis0ygcdhmEZCRQDplmEVLKQ" href="http://www.bulkmro.com/" target="_blank"><font color="#1155CC">www.bulkmro.com</font></a></b></span></font></span></span><br>
    <span style="font-family:Tahoma"><span lang="PT-BR"><b><span style="font-size:10.66px"><font color="#FF0000"></font></span></b></span></span>
    <div class="gmail_default" style="font-family:arial,helvetica,sans-serif;font-size:small;display:inline">
      <span style="font-family:Tahoma"><b><font color="#FF0000">​​</font></b></span>
    </div><span style="font-family:Tahoma"><b><font color="#FF0000">NOTE: WE HAVE MOVED OUR CORPORATE OFFICE. PLEASE UPDATE YOUR ADDRESS BOOK.</font><br></b></span><b></b><span style="color:rgb(0,0,0);font-size:8pt;font-family:Tahoma"><br></span>
    <p style="margin:0in 0in 0pt"><span lang="PT-BR"><span style="font-size:11pt;font-family:calibri,sans-serif;color:white"><img border="0" class="CToWUd" height="27" src="https://www.bulkmro.com/skin/frontend/default/default/images/tree-logo.jpg" width="31"></span><b style="font-family:'times new roman',serif;font-size:16px"><u><span lang="EN-GB" style="font-size:7pt;font-family:'trebuchet ms',sans-serif;color:rgb(150,201,57)">Go Green – Save Paper, Save Tree, Save Planet (Please dont print unless you really need to)</span></u></b><font color="#000000" face="Tahoma"><br></font></span></p>
  </div>
</div>