<%= provide :container_fluid, true %>
<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        Rating of <%= @company_review.company.name %> given by <%= @company_review.created_by.name %>
      </h3>
      <% if @company_review.created_by == current_overseer %>
        <button type="button" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down change-company-review" data-toggle="modal" data-target="#modalRatingForm">Change Rating</button>
        <% end %>
    </div>
  </section>
  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <% @company_review.company_ratings.each do |company_rating| %>
          <div class="form-row mb-3">
            <div class="col-md-2 col-xs-12">
              <strong class="d-block"><%= company_rating.review_question.question %></strong>
              <div class="star" data-rating="<%= company_rating.review_question.rating %>">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>

<%= render partial: 'shared/layouts/rating_modal', locals: {url: update_rating_overseers_company_review_path(@company_review)} %>
