<div class="col-lg-12 ">
  <div class="page-header">
    <h2><%= action_name.capitalize %> Material Readiness Followup</h2>
    <p>This will <em>'<%= submit_text(@mrf).downcase %>'</em> and log it under
      <strong><%= current_overseer.full_name %></strong>.</p>
  </div>

  <%= simple_form_for([:overseers, @purchase_order, @mrf], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <div class="card">
      <%= render 'shared/snippets/form_errors', f: f %>
      <div class="card-body">
        <div class="form-row">
          <div class="col-6">
            <%= f.input :purchase_order, :input_html => { value: @purchase_order.po_number }, readonly: true, label: "Purchase Order Number" %>
          </div>

          <div class="col-6">
            <%= f.input :logistics_owner_id, required: true, collection: Overseer.logistics.alphabetical, include_blank: 'Select an Logistics Owner', input_html: {class: "select2-single"}, label: "Logistics Owner" %>
          </div>

          <div class="col-12 col-md-12">
            <div class="d-block d-md-flex align-items-end">
              <div class="flex-grow-1">
                <%= f.input :attachments, wrapper: :custom_file, input_html: {multiple: true}, label: 'Supplier Documents' %>
              </div>

              <div class="form-group">
                <% f.object.attachments.each do |attachment| %>
                  <%= link_to url_for(attachment), class: 'ml-md-1 btn btn-success', target: '_blank', :"data-toggle" => 'tooltip', :status => attachment.filename do %>
                    <i class="fal fa-download"></i>
                    <%= link_to overseers_attachment_path(attachment.id), class: 'btn btn-outline-danger btn-sm ml-1 mr-1 mr-md-0', method: :delete, data: {confirm: 'Are you sure?'}, :"data-toggle" => 'tooltip', :status => ['Delete', ' ', attachment.filename, '?'].join(''), required: true do %>
                      <i class="fal fa-trash-alt"></i>
                    <% end if attachment.present? && policy(:attachment).destroy? %>
                  <% end %>
                <% end if f.object.attachments.attached? %>
              </div>
            </div>
          </div>

          <div class="col-6">
            <%= f.input :type_of_doc, collection: enum_to_collection(MaterialReadinessFollowup.type_of_docs), required: true, label: "Type of Document", input_html: {class: "select2-single"} %>
          </div>

          <div class="col-6">
            <%= f.input :status, as: :select, collection: enum_to_collection(MaterialReadinessFollowup.statuses), disabled: true %>
          </div>

          <div class="col-12">
            <%= f.nested_fields_for :comments, f.object.comments.build(:overseer => current_overseer) do |mrf_comment| %>
              <%= mrf_comment.hidden_field :created_by_id %>
              <%= mrf_comment.hidden_field :updated_by_id %>
              <%= mrf_comment.input :message, :placeholder => 'Type message', input_html: {:'data-parsely-no-valid-feedback' => ''} %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="form-row flex-row align-items-center">
          <div class="col-4">
            <%= f.input :expected_dispatch_date, as: :string, input_html: {:'data-toggle' => 'datepicker' }, required: true %>
          </div>
          <div class="col-4">
            <%= f.input :expected_delivery_date, as: :string, input_html: {:'data-toggle' => 'datepicker' }, required: true %>
          </div>
          <div class="col-4">
            <%= f.input :actual_delivery_date, as: :string, input_html: {:'data-toggle' => 'datepicker' }, required: true %>
          </div>
        </div>
      </div>

      <div class="card-body">
        <%= f.simple_fields_for :mrf_rows do |m| %>
          <div class="form-row flex-row">
            <div class="col-4">
              <%= m.label :name %><br/>
              <%= m.label :name,"#{m.object.purchase_order_row.get_product.name.truncate(50)}" %>
            </div>
            <div class="col-2">
              <%= m.label :sku %><br/>
              <%= m.label :sku,"#{m.object.purchase_order_row.get_product.sku}" %>
            </div>
            <div class="col-3">
              <%= m.input :quantity, input_html: { value: m.object.quantity }, readonly: true %>
            </div>
            <div class="col-3">
              <%= m.input :pickup_quantity, type: "number", input_html: { value: m.object.pickup_quantity.to_i }, min: 0, max: m.object.pickup_quantity.to_i %>
            </div>
            <hr/>
          </div>
        <% end %>
      </div>

      <%= button_tag(type: "submit", class: "btn btn-warning btn-block") do %>
        <i class="fal fa-pen"></i> <%= submit_text(@mrf) %>
      <% end %>
    </div>
  <% end %>
  </div>
