<ol>
   <li>Click on Menu and then click on Logistics</li>
   <li>Click on Inward completed queue</li>
   <li>
      <p>Enter the inquiry number or supplier PO number in the search bar</p>
      <%= image_tag "trainings/logistics5", class: "training_img" %>
   </li>
   <li>Click on the (+) icon, a new page will open</li>
   <li>
      <p>Select the sales order from the given drop down list</p>
      <%= image_tag "trainings/logistics3", class: "training_img" %>
   </li>
   <li>
      <p>Then click on Next</p>
      <%= image_tag "trainings/logistics4", class: "training_img" %>
   </li>
   <li>A new page will open, fill in all the required information and click on save and confirm.</li>
   <li>A delivery challan preview will open, click on save</li>
   <li>Now click on Menu and open the Inward completed queue, enter the inquiry number in the search bar.</li>
   <li>
      <p>On the quick actions, you will see a button (+) to create AR invoice request</p>
      <%= image_tag "trainings/logistics2", class: "training_img" %>
   </li>
   <li>
      <p>A new page will open</p>
      <%= image_tag "trainings/logistics1", class: "training_img" %>
   </li>
   <li>Enter the required information and click on Create AR invoice request</li>
</ol>