<h2>Overview:</h2>
<p>The task management system is a new feature that allows users to create, update and manage tasks within the application. The system is designed to make it easy for users to keep track of their tasks, collaborate with other team members, and stay organized.</p>
<h2>Task Index Page:</h2>
<p>The task index page is the main hub for all tasks in the system. From this page, users can view all tasks, filter tasks by status, priority, and perform actions on tasks such as creating new tasks, editing existing tasks, and completing tasks. Users can also add comments for the shared tasks. </p>
<h2>
How to Create a Task
</h2>
   <p>To create a new task, follow these steps:
</h2>
<ol>
   <li>
   <p>Navigate to the task index page by clicking on Menu and then sales.</p>
   <%= image_tag "trainings/task_management_1.png", class: "training_img" %></li>
   <li>
     <p>Click the "New Task" button.</p>
     <%= image_tag "trainings/task_management_3.png", class: "training_img" %>
   </li>
   <li>
     <p>A new page will open as shown below.</p>
   </li>
   <li>
     <p>Enter a subject for the task.</p></li>
   <li>
     <p>Select a company department relevant to the task</p></li>
   <li>
     <p>Set a due date for the task.</p></li>
   <li>
     <p>Select the priority.</p></li>
   <li>
     <p>Select the company. If the task is related to the internal team, then select “Bulk MRO Industrial Supply”</p></li>
   <li>
     <p>Attach supporting documents, if applicable.</p></li>
   <li>
     <p>Assign the task to a team member, if applicable.</li>
   <li>
     <p>Add any additional details or comments about the task in the description field.</p></li>
   <li>
     <p>Click the "Create Task" button to create the task.</p></li>
</ol>
<h2>How to Update a Task:</h2>
<p>To update an existing task, follow these steps:</p>
<ol>
   <li><p>Navigate to the task index page.</p><%= image_tag "trainings/task_management_2.png", class: "training_img" %></li>
   <li>Find the task you want to update.</li>
   <li>On the quick actions click on the pencil icon to edit the task.</li>
   <li>Edit any relevant fields such as the task title, due date, status, priority, or assigned team member.</li>
   <li>Add any additional details or comments about the task.</li>
   <li>Click "Update" to update the task.</li>
</ol>
<h2>How to add comments:</h2>
<p>Follow the steps below to add and view comments-</p>
<ol>
   <li>Navigate to the task management index page. </li>
   <li><p>On the quick actions click on the ‘comments’ button to add and view comments.</p><%= image_tag "trainings/task_management_5.png", class: "training_img" %></li>
   <li>Select a user to tag in the comment and add documents if any.</li>
   <li>Enter your comment in the text box.</li>
</ol>
<h2>Notifications and Reminders</h2>
<p>The task management system has built-in notifications and reminders to help users stay on top of their tasks. Users will receive a notification when a new task is assigned to them, and they will receive reminders as the due date is passed. Users will receive notifications if they are tagged in the comment. </p>
<h2>Daily Digest Report for Managers</h2>
<p>Managers should receive a daily digest report of all tasks assigned to their team members on email by itops@bulkmro.com. This report includes a summary of all tasks, their due dates, and their status. The report is designed to help managers stay up to date on their team's progress and identify any potential issues.</p>
<%= image_tag "trainings/task_management_4.png", class: "training_img" %>