<div class="col-md-12">
  <section class="pt-3 pt-lg-4 pb-2 pb-lg-3">
    <div class="d-md-flex justify-content-between">
      <h1 class="display-5 mb-1">
        Remote Request #<%= @remote_request.id %>
      </h1>
    </div>
    <% if @remote_request.response['error_message'] %>
      <p class="lead mt-1">
        <%= @remote_request.response['error_message'] %>.
      </p>
    <% end %>
  </section>



  <section class="mb-3">
    <div class="card mb-2">
      <div class="card-body">
        <% if @remote_request.response['error_message'] %>

            <a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4 bg-highlight-<%= status_color(@remote_request.status) %>" type="button" data-toggle="collapse" data-target="#error_summary">
              Error
            </a>

            <div id="error_summary" class="collapse show">
              <div class="mt-2 p-2 d-flex flex-row align-content-stretch">
                <%= ap(@remote_request.response['error_message'], plain: true).html_safe %>
              </div>
            </div>
        <% end %>

          <a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4 bg-highlight-<%= status_color(@remote_request.status) %>" type="button" data-toggle="collapse" data-target="#request_summary">
            Request
          </a>

          <div id="request_summary" class="collapse show">
            <div class="mt-2 p-2 flex-row align-content-stretch">
              <%= ap(@remote_request.request, plain: true, indent: -1).html_safe %>
            </div>
          </div>

          <a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4 bg-highlight-<%= status_color(@remote_request.status) %>" type="button" data-toggle="collapse" data-target="#response_summary">
            Response
          </a>
          <div id="response_summary" class="collapse show">
            <div class="mt-2 p-2 flex-row align-content-stretch">
              <%= ap(@remote_request.response['raw_response'], plain: true, indent: -1).html_safe %>
            </div>
          </div>
      </div>
    </div>
  </section>

</div>