<div class="col-md-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        Remote Request <%= @remote_request.id %>
      </h3>
    </div>
  </section>

  <div class="row bg-white">
    <% if @remote_request.response['error_message'] %>
      <div class="col-lg-12">
        <a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4 bg-highlight-<%= status_color(@remote_request.status) %>" type="button" data-toggle="collapse" data-target="#error_summary">
          Error
        </a>

        <div id="error_summary" class="collapse show">
          <div class="mt-2 p-2 d-flex flex-row align-content-stretch">
            <%= ap(@remote_request.response['error_message'], plain: true).html_safe %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-lg-12">
      <a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4 bg-highlight-<%= status_color(@remote_request.status) %>" type="button" data-toggle="collapse" data-target="#request_summary">
        Request
      </a>

      <div id="request_summary" class="collapse show">
        <div class="mt-2 p-2 flex-row align-content-stretch">
          <%= ap(@remote_request.request, plain: true, indent: -1).html_safe %>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4 bg-highlight-<%= status_color(@remote_request.status) %>" type="button" data-toggle="collapse" data-target="#response_summary">
        Response
      </a>
      <div id="response_summary" class="collapse show">
        <div class="mt-2 p-2 flex-row align-content-stretch">
          <%= ap(@remote_request.response['raw_response'], plain: true, indent: -1).html_safe %>
        </div>
      </div>
    </div>

  </div>
</div>