<div class="col-xl-5 col-lg-6 col-md-7">
  <div class="text-center">
    <h1 class="h2">
      <img src="<%= image_path('BMIS_Logo_PNG.png') %>" height="30"/>
    </h1>
    <p>Welcome back &#x1f44b;!</p>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'needs-validation text-left', :novalidate => 'novalidate'}) do |f| %>
      <a href="<%= overseer_google_oauth2_omniauth_authorize_path %>" class="btn btn-lg btn-block btn-danger my-2" role="button" type="submit">
        Continue with <i class="fab fa-google"></i>
      </a>

      <% if params.has_key?('debug') %>
        <p class="">..or sign in with your email address.</p>
        <div class="form-group">
          <%= f.input :email, :class => 'form-control', :required => 'required', :placeholder => "name@bulkmro.com", autofocus: true, autocomplete: "email", value: (Rails.env.production? || Rails.env.staging?) ? '' : 'ashwin.goyal@bulkmro.com' %>
        </div>
        <div class="form-group">
          <%= f.input :password, :class => 'form-control', :required => 'required', :placeholder => "••••••••", autocomplete: "off", value: (Rails.env.production? || Rails.env.staging?) ? '' : 'abc123' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <%= f.check_box :remember_me, :class => 'custom-control-input' %>
              <%= f.label :remember_me, :class => 'custom-control-label' %>
            </div>
          </div>
        <% end -%>

        <%= button_tag(type: "submit", class: "btn btn-light btn-block") do %>
          Sign In
        <% end %>
      <% end %>
      <p class="text-center">
        <small>Lost? Ping the sysadmin on <a href="mailto:ashwin.goyal@bulkmro.com">ashwin.goyal@bulkmro.com</a>.
        </small>
      </p>
    <% end %>
  </div>
</div>
