<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        <%= @purchase_order_queue.product.name %>
      </h3>
      <% if policy(@purchase_order_queue).edit? %>
        <a href="<%= edit_overseers_product_path(@purchase_order_queue) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit
          Product</a>
      <% end %>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <div>
          <h6 class="text-uppercase text-black-50 mb-1">Product Details</h6>
          <div class="form-row">
            <% if @purchase_order_queue.product.sku? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">BM Number</strong>
                <%= @purchase_order_queue.product.sku %>
              </div>
            <% end %>

            <% if @purchase_order_queue.product.category.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Category</strong>
                <%= @purchase_order_queue.product.category %>
              </div>
            <% end %>

            <% if @purchase_order_queue.product.brand.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Brand</strong>
                <%= @purchase_order_queue.product.brand %>
              </div>
            <% end %>

            <% if @purchase_order_queue.product.mpn? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Manufacturer Part Number</strong>
                <%= @purchase_order_queue.product.mpn %>
              </div>
            <% end %>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Is Service?</strong>
              <%= format_boolean(@purchase_order_queue.product.is_service) %>
            </div>

          </div>
        </div>
        <div class="mt-3">
          <h6 class="text-uppercase text-black-50 mb-1 d-block">Accounting and Logistics</h6>
          <div class="form-row">
            <% if @purchase_order_queue.product.tax_code.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Tax Code</strong>
                <%= @purchase_order_queue.product.tax_code %>
              </div>
            <% end %>

            <% if @purchase_order_queue.product.measurement_unit %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Unit of Measurement</strong>
                <%= @purchase_order_queue.product.measurement_unit %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>