<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        PO Request for Sales Order #<%= @purchase_order_queue.sales_order.order_number %>
      </h3>
      <% if policy(@purchase_order_queue).edit? %>
        <a href="<%= edit_overseers_purchase_order_queue_path(@purchase_order_queue) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit</a>
      <% end %>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <div>
          <h6 class="text-uppercase text-black-50 mb-1">Details</h6>
          <div class="form-row">
            <% if @purchase_order_queue.sales_order.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Sales Order #</strong>
                <%= @purchase_order_queue.sales_order.order_number %>
              </div>
            <% end %>

            <% if @purchase_order_queue.inquiry.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Inquiry #</strong>
                <%= @purchase_order_queue.inquiry.inquiry_number %>
              </div>
            <% end %>

            <% if @purchase_order_queue.status.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Status</strong>
                <%= @purchase_order_queue.status %>
              </div>
            <% end %>

            <% if @purchase_order_queue.purchase_order_number.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">PO #</strong>
                <%= @purchase_order_queue.purchase_order_number %>
              </div>
            <% end %>

            <% if @purchase_order_queue.attachments.attached? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Attachments </strong>
                <%#= @purchase_order_queue.status %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="flex-fill">
            <h6 class="text-uppercase text-black-50 mb-1">Comments History</h6>
          </div>

          <% if @purchase_order_queue.purchase_order_comments.persisted.size > 0 %>
            <div class="chats mb-3">
              <% @purchase_order_queue.purchase_order_comments.each do |comment| %>
                <div class="media chat-item">
                  <div class="media-body">
                    <div class="chat-item-title">
                      <span class="chat-item-author"><%= comment.created_by.full_name if comment.created_by.present? %></span>
                      <span><%= time_ago_in_words(comment.created_at) if comment.created_at.present? %> ago</span>
                    </div>
                    <div class="chat-item-body">
                      <p><%= comment.message %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>