<div class="navbar navbar-expand-lg bg-light navbar-light sticky-top">
    <!-- Drawer Toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Drawer Toggle -->

    <!-- Logo -->
    <a class="navbar-brand" href="<%= overseers_dashboard_path %>">
      <img alt="BulkMRO" src="<%= image_path('BMIS_Logo_PNG.png') %>" height="22" />
    </a>
    <!-- Logo -->

    <!-- Settings Dropdown MOBILE -->
    <div class="d-flex align-items-center">
        <div class="d-block d-lg-none ml-2">
            <div class="dropdown">
                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fal fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                    <%= link_to destroy_overseer_session_path, method: :delete, :class => 'ml-lg-2' do %>
                    <i class="fal fa-power-off"></i>&nbsp;Sign Out
                    <% end %>

                </div>
            </div>
        </div>
    </div>
    <!-- Settings Dropdown MOBILE -->

    <!-- Navigation Bar -->
    <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
        <ul class="navbar-nav">
            <%= nav_item 'Dashboard', overseers_dashboard_path, policy(:dashboard).show? %>
            <%= nav_item 'Accounts', overseers_accounts_path, policy(:account).index? %>
            <%= nav_item 'Companies', overseers_companies_path, policy(:company).index? %>
            <%= nav_item 'Brands', overseers_brands_path, policy(:brand).index? %>
            <%= nav_item 'Products', overseers_products_path, policy(:product).index? %>
            <%= nav_item 'Approval Queue', pending_overseers_products_path, policy(:product).pending? %>
            <%= nav_item 'Inquiries', overseers_inquiries_path, policy(:inquiry).index? %>
            <%= nav_item 'Categories', overseers_categories_path, policy(:category).index? %>
            <%= nav_item 'Overseers', overseers_overseers_path, policy(:overseer).index? %>
        </ul>
    </div>
    <!-- Navigation Bar -->

    <!-- Settings Dropdown DESKTOP -->
    <div class="d-none d-lg-block">
        <div class="dropdown">
            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fal fa-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <%= link_to destroy_overseer_session_path, method: :delete, :class => 'ml-lg-2' do %>
                <i class="fal fa-power-off"></i>&nbsp;Sign Out
                <% end %>
            </div>
        </div>
    </div>
    <!-- Settings Dropdown DESKTOP -->
</div>