<%= render 'overseers/layouts/components/headway' %>

<div class="navbar navbar-expand-lg bg-light navbar-light sticky-top">
  <!-- Drawer Toggle -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Drawer Toggle -->

  <!-- Logo -->
  <a class="navbar-brand" href="<%= overseers_dashboard_path %>">
    <img alt="BulkMRO" src="<%= image_path('BMIS_Logo_PNG.png') %>" height="22"/>
  </a>
  <!-- Logo -->

  <!-- Settings Dropdown MOBILE -->
  <div class="d-flex align-items-center">
    <div class="d-block d-lg-none ml-2">
      <div class="dropdown">
        <a href="#" role="button" data-toggle="dropdown">
          <i class="fal fa-cog"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to edit_overseers_profile_path, :class => 'dropdown-item' do %>
            <i class="fal fa-cog"></i>&nbsp;Profile
          <% end %>
          <%= link_to destroy_overseer_session_path, method: :delete, :class => 'dropdown-item' do %>
            <i class="fal fa-power-off"></i>&nbsp;Sign Out
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Settings Dropdown MOBILE -->

  <!-- Navigation Bar -->
  <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
    <ul class="navbar-nav">
      <%= nav_item 'Dashboard', overseers_dashboard_path, policy(:dashboard).show? %>
      <%= nav_item 'Accounts', overseers_accounts_path, policy(:account).index? %>
      <%= nav_item 'Companies', overseers_companies_path, policy(:company).index? %>
      <%= nav_item 'Addresses', overseers_addresses_path, policy(:address).index? %>
      <%= nav_item 'Contacts', overseers_contacts_path, policy(:contact).index? %>
      <% if policy(:product).index? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="productsDropdown">
            <%= nav_dropdown_item 'List', overseers_products_path, policy(:product).index? %>
            <%= nav_dropdown_item 'Queue', pending_overseers_products_path, policy(:product).pending? %>
            <div class="dropdown-divider"></div>
            <%= nav_dropdown_item 'Kits', overseers_kits_path, policy(:kit).index? %>
            <%= nav_dropdown_item 'Categories', overseers_categories_path, policy(:category).index? %>
            <%= nav_dropdown_item 'Brands', overseers_brands_path, policy(:brand).index? %>
            <%= nav_dropdown_item 'Measurement Units', overseers_measurement_units_path, policy(:measurement_unit).index? %>
            <%= nav_dropdown_item 'Tax Codes', overseers_tax_codes_path, policy(:tax_code).index? %>
            <%= nav_dropdown_item 'Warehouses', overseers_warehouses_path, policy(:warehouse).index? %>
            <%= nav_dropdown_item 'Payment Terms', overseers_payment_options_path, policy(:payment_option).index? %>
          </div>
        </li>
      <% end %>
      <% if policy(:inquiry).index? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="inquiriesDropdown" role="button" data-toggle="dropdown">
            Inquiries
          </a>
          <div class="dropdown-menu" aria-labelledby="inquiriesDropdown">
            <%= nav_dropdown_item 'List', overseers_inquiries_path, policy(:inquiry).index? %>
            <%= nav_dropdown_item 'Smart Queue', smart_queue_overseers_inquiries_path, policy(:inquiry).smart_queue? %>
            <% if policy(:customer_order).index? %><div class="dropdown-divider"></div><% end %>
            <%= nav_dropdown_item 'Online Orders', overseers_customer_orders_path, policy(:customer_order).index? %>
          </div>
        </li>
      <% end %>
      <% if policy(:sales_order).index? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Sales Orders
          </a>
          <div class="dropdown-menu">
            <%= nav_dropdown_item 'List', overseers_sales_orders_path, policy(:sales_order).index? %>
            <%= nav_dropdown_item 'Pending Approval', pending_overseers_sales_orders_path, policy(:sales_order).pending? %>
            <%= nav_dropdown_item 'SAP Draft Pending', drafts_pending_overseers_sales_orders_path, policy(:sales_order).drafts_pending? %>
            <div class="dropdown-divider"></div>
            <%= nav_dropdown_item 'Purchase Orders', overseers_purchase_orders_path, policy(:purchase_order).index? %>
            <%= nav_dropdown_item 'Pending PO Requests', pending_overseers_po_requests_path, policy(:po_request).pending? %>
            <%= nav_dropdown_item 'Completed PO Requests', overseers_po_requests_path, policy(:po_request).index? %>
            <div class="dropdown-divider"></div>
            <%= nav_dropdown_item 'Payment Requests', overseers_payment_requests_path, policy(:payment_request).index? %>
            <%= nav_dropdown_item 'Pending Payment Requests', overseers_payment_requests_path(:status => 'Pending'), policy(:payment_request).index? %>
            <%= nav_dropdown_item 'Completed Payment Requests', overseers_payment_requests_path(:status => 'Completed'), policy(:payment_request).index? %>
            <div class="dropdown-divider"></div>
            <%= nav_dropdown_item 'Sales Invoices', overseers_sales_invoices_path, policy(:sales_invoice).index? %>
            <%= nav_dropdown_item 'Sales Shipments', overseers_sales_shipments_path, policy(:sales_shipment).index? %>
          </div>
        </li>
      <% end %>

      <% if policy(:sales_order).index? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Invoice Requests
          </a>
          <div class="dropdown-menu">
            <%= nav_dropdown_item 'All', overseers_invoice_requests_path, policy(:sales_invoice).index? %>
            <%= nav_dropdown_item 'Pending GRPO', pending_overseers_invoice_requests_path(:status => 'Pending GRPO'), policy(:sales_invoice).index? %>
            <%= nav_dropdown_item 'Pending AP Invoice', pending_overseers_invoice_requests_path(:status => 'Pending AP Invoice'), policy(:sales_invoice).index? %>
            <%= nav_dropdown_item 'Pending AR Invoice', pending_overseers_invoice_requests_path(:status => 'Pending AR Invoice'), policy(:sales_invoice).index? %>
            <%= nav_dropdown_item 'Completed', completed_overseers_invoice_requests_path, policy(:sales_invoice).index? %>
          </div>
        </li>
      <% end %>

      <% if policy(:report).index? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-toggle="dropdown">
            Reports
          </a>
          <div class="dropdown-menu">
            <% Report.all.each do |report| %>
              <%= nav_dropdown_item report.name.titleize, overseers_report_path(report), policy(report).show? %>
            <% end %>
            <%= nav_dropdown_item 'Activities', overseers_activities_path, policy(:activity).index? %>
          </div>
        </li>
      <% end %>
      <%= nav_item 'Overseers', overseers_overseers_path, policy(:overseer).index? %>
      <% if (Rails.env.development?) || policy(:remote_request).index? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Tools
          </a>
          <div class="dropdown-menu">
            <%= nav_dropdown_item 'Remote Requests', overseers_remote_requests_path, policy(:remote_request).index? %>
            <%= nav_dropdown_item 'Callback Requests', overseers_callback_requests_path, policy(:callback_request).index? %>
          </div>
        </li>
      <% end %>

      <% if Rails.env.development? || policy(:dashboard).chewy? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-toggle="dropdown">
            Chewy
          </a>
          <div class="dropdown-menu">
            <% chewy_indices.each do |chewy_index| %>
              <%= nav_dropdown_item chewy_index.titleize, reset_index_overseers_dashboard_path(index: chewy_index), true %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= nav_dropdown_item 'Reset All', chewy_overseers_dashboard_path, true %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- Navigation Bar -->

  <% if current_overseer.cannot_send_emails? %>
    <span class="badge badge-danger text-uppercase p-1 mr-2 d-none d-md-block" data-toggle="tooltip" title="Set your Google Apps SMTP password"><strong>Emails Disallowed</strong></span>
  <% end %>

  <!-- Settings Dropdown DESKTOP -->
  <div class="d-none d-lg-block">
    <div class="dropdown">
      <a class="d-inline">
        <span class="headway mr-2" style="z-index: 1030;"></span>
      </a>
      <%= link_to edit_overseers_profile_path, class: 'mr-2' do %>
        <i class="fal fa-user"></i>
      <% end %>
      <a href="#" role="button" data-toggle="dropdown">
        <i class="fal fa-cog"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to destroy_overseer_session_path, method: :delete, :class => 'dropdown-item' do %>
          <i class="fal fa-power-off"></i>&nbsp;Sign Out
        <% end %>
      </div>
    </div>
  </div>
  <!-- Settings Dropdown DESKTOP -->
</div>