<%#= render 'overseers/layouts/components/headway' %>

<div class="navbar navbar-expand-lg bg-light navbar-light sticky-top" id="nav-sticky">
  <!-- Drawer Toggle -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Drawer Toggle -->

  <!-- Logo -->
  <a class="navbar-brand" href="<%= overseers_dashboard_path %>">
    <img alt="BulkMRO" src="<%= image_path('BMIS_Logo_PNG.png') %>" height="22"/>
  </a>
  <!-- Logo -->

  <!-- Settings Dropdown MOBILE -->
  <div class="d-flex align-items-center">
    <div class="d-block d-lg-none ml-2">
      <div class="dropdown">
        <a href="#" data-toggle="dropdown">
          <i class="fal fa-cog"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to edit_overseers_profile_path, :class => 'dropdown-item' do %>
            <i class="fal fa-cog"></i>&nbsp;Profile
          <% end %>
          <%= link_to destroy_overseer_session_path, method: :delete, :class => 'dropdown-item' do %>
            <i class="fal fa-power-off"></i>&nbsp;Sign Out
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Settings Dropdown MOBILE -->

  <!-- Navigation Bar -->
  <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
    <ul class="navbar-nav">
      <%= nav_item 'Dashboard', overseers_dashboard_path, is_authorized(:dashboard, 'show') %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          B. Partners
        </a>
        <div class="dropdown-menu">
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Accounts / Aliases</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'Accounts / Aliases', overseers_accounts_path, is_authorized(:account, 'index') %>
              <%= nav_dropdown_item 'Accounts Receivable', payment_collections_overseers_accounts_path, is_authorized(:account, 'payment_collections') %>
              <%= nav_dropdown_item 'Ageing Report', ageing_report_overseers_accounts_path, is_authorized(:account, 'ageing_report') %>
              <%= nav_dropdown_item 'Receipts', overseers_sales_receipts_path, is_authorized(:sales_receipt, 'index') %>
            </ul>
          </div>
          <%= nav_dropdown_item 'Companies', overseers_companies_path, is_authorized(:company, 'index') %>
          <%= nav_dropdown_item 'Suppliers', overseers_suppliers_path, is_authorized(:company, 'index') %>
          <%= nav_dropdown_item 'Addresses', overseers_addresses_path, is_authorized(:address, 'index') %>
          <%= nav_dropdown_item 'Contacts', overseers_contacts_path, is_authorized((:contact), 'index') %>
          <%= nav_dropdown_item 'Banks', overseers_banks_path, is_authorized(:bank, 'index') %>
          <%= nav_dropdown_item 'IFSC Codes', overseers_ifsc_codes_path, is_authorized(:ifsc_code, 'index') %>
          <div class="dropdown-divider"></div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Company Creation Requests</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_company_creation_requests_path, is_authorized(:company_creation_request, 'index') %>
              <%= nav_dropdown_item 'Requested', requested_overseers_company_creation_requests_path, is_authorized(:company_creation_request,'requested') %>
              <%= nav_dropdown_item 'Created/Completed', created_overseers_company_creation_requests_path, is_authorized(:company_creation_request,'created') %>
            </ul>
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Contact Creation Requests</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_contact_creation_requests_path, is_authorized(:contact_creation_request, 'index') %>
              <%= nav_dropdown_item 'Requested', requested_overseers_contact_creation_requests_path, is_authorized(:contact_creation_request, 'requested') %>
              <%= nav_dropdown_item 'Created/Completed', created_overseers_contact_creation_requests_path, is_authorized(:contact_creation_request, 'created') %>
            </ul>
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Company Reviews</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'List', overseers_company_reviews_path, is_authorized(:company_review,'index') %>
              <%= nav_dropdown_item 'Review Questions', overseers_review_questions_path, is_authorized(:review_questions, 'index') %>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Catalog
        </a>
        <div class="dropdown-menu">
          <%= nav_dropdown_item 'Product List', overseers_products_path, is_authorized(:product, 'index') %>
          <%= nav_dropdown_item 'Product Approval Queue', pending_overseers_products_path, is_authorized(:product, 'pending') %>
          <div class="dropdown-divider"></div>
          <%= nav_dropdown_item 'Kits', overseers_kits_path, is_authorized(:kit, 'index') %>
          <%= nav_dropdown_item 'Categories', overseers_categories_path, is_authorized(:category, 'index') %>
          <%= nav_dropdown_item 'Brands', overseers_brands_path, is_authorized(:brand, 'index') %>
          <%= nav_dropdown_item 'Measurement Units', overseers_measurement_units_path, is_authorized(:measurement_unit, 'index') %>
          <%= nav_dropdown_item 'HSN / SAC Codes', overseers_tax_codes_path, is_authorized(:tax_code, 'index') %>
          <div class="dropdown-divider"></div>
          <%= nav_dropdown_item 'Payment Terms', overseers_payment_options_path, is_authorized(:payment_option, 'index') %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Sales
        </a>
        <div class="dropdown-menu">
          <%= nav_dropdown_item 'Inquiries', overseers_inquiries_path, is_authorized(:inquiry, 'index') %>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Online Orders</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'List', overseers_customer_orders_path, is_authorized(:customer_order, 'index') %>
              <%= nav_dropdown_item 'Online Payments List', payments_overseers_customer_orders_path, is_authorized(:customer_order, 'payments') %>
            </ul>
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Sales Orders</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'Sales Orders List', overseers_sales_orders_path, is_authorized(:sales_order, 'index') %>
              <%= nav_dropdown_item 'SO Not Invoiced', not_invoiced_overseers_sales_orders_path, is_authorized(:sales_order, 'not_invoiced') %>
              <%= nav_dropdown_item 'Pending Approval', pending_overseers_sales_orders_path, is_authorized(:sales_order, 'pending') %>
              <%= nav_dropdown_item 'Pending SAP Sync', drafts_pending_overseers_sales_orders_path, is_authorized(:sales_order, 'drafts_pending') %>
              <%= nav_dropdown_item 'Cancelled SO', cancelled_overseers_sales_orders_path, is_authorized(:sales_order, 'cancelled') %>
            </ul>
          </div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">GRPO</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_invoice_requests_path, is_authorized(:invoice_request, 'index') %>
              <%= nav_dropdown_item 'Pending', pending_overseers_invoice_requests_path(:status => 'GRPO Pending'), is_authorized(:invoice_request, 'pending') %>
              <%= nav_dropdown_item 'Rejected', pending_overseers_invoice_requests_path(:status => 'GRPO Request Rejected'), is_authorized(:invoice_request, 'pending') %>
              <%= nav_dropdown_item 'Cancelled', cancelled_overseers_invoice_requests_path(:status => 'Cancelled GRPO'), is_authorized(:invoice_request, 'cancelled') %>
            </ul>
          </div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">AP Invoice Requests</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_invoice_requests_path, is_authorized(:invoice_request, 'index') %>
              <%= nav_dropdown_item 'Pending', pending_overseers_invoice_requests_path(:status => 'Pending AP Invoice'), is_authorized(:invoice_request, 'show_pending_ap_invoice_queue') %>
              <%= nav_dropdown_item 'Completed', pending_overseers_invoice_requests_path(:status => 'Inward Completed'), is_authorized(:invoice_request, 'pending') %>
              <%= nav_dropdown_item 'Rejected', pending_overseers_invoice_requests_path(:status => 'AP Invoice Request Rejected'), is_authorized(:invoice_request, 'pending') %>
              <%= nav_dropdown_item 'Completed', completed_overseers_invoice_requests_path, is_authorized(:invoice_request, 'completed') %>
            </ul>
          </div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">AR Invoice Requests</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_ar_invoice_requests_path, policy(:ar_invoice_request).index? %>
              <%= nav_dropdown_item 'Pending', overseers_ar_invoice_requests_path(:status => "AR Invoice requested"), policy(:ar_invoice_request).index? %>
              <%= nav_dropdown_item 'Cancelled', overseers_ar_invoice_requests_path(:status => "Cancelled AR Invoice"), policy(:ar_invoice_request).index? %>
              <%= nav_dropdown_item 'Rejected', overseers_ar_invoice_requests_path(:status => "AR Invoice Request Rejected"), policy(:ar_invoice_request).index? %>
              <%= nav_dropdown_item 'Completed', overseers_ar_invoice_requests_path(:status => "Completed AR Invoice Request"), policy(:ar_invoice_request).index? %>
            </ul>
          </div>
          <%= nav_dropdown_item 'Sales Receipt', overseers_sales_receipts_path, is_authorized(:sales_receipt, 'index') %>
          <div class="dropdown-divider"></div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Freight Requests</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_freight_requests_path, is_authorized(:freight_request, 'index') %>
              <%= nav_dropdown_item 'Pending Requests', overseers_freight_requests_path(:status => 'Freight Quote Requested'), is_authorized(:freight_request, 'index') %>
              <%= nav_dropdown_item 'Completed Requests', overseers_freight_requests_path(:status => 'Freight Quote Submitted'), is_authorized(:freight_request, 'index') %>
            </ul>
          </div>

          <div class="dropdown-divider"></div>
          <%= nav_dropdown_item 'Smart Queue', smart_queue_overseers_inquiries_path, is_authorized(:inquiry, 'smart_queue') %>
          <%= nav_dropdown_item 'Sales Shipments', overseers_sales_shipments_path, is_authorized(:sales_shipment, 'index') %>
          <div class="dropdown-divider"></div>
          <%= nav_dropdown_item 'Activities', overseers_activities_path, is_authorized(:activity, 'index') %>
          <%= nav_dropdown_item 'Activities Approval Queue', pending_overseers_activities_path, is_authorized(:activity, 'pending') %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Logistics
        </a>
        <div class="dropdown-menu">
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Purchase Orders</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'Purchase Orders List', overseers_purchase_orders_path, is_authorized(:purchase_order, 'index') %>
              <div class="dropdown-divider"></div>
              <%= nav_dropdown_item 'Pending Purchase Order Requests', pending_and_rejected_overseers_po_requests_path, is_authorized(:po_request, 'pending_and_rejected') %>
              <%= nav_dropdown_item 'Under Amend Purchase Order Requests', under_amend_overseers_po_requests_path, is_authorized(:po_request, 'under_amend') %>
              <%= nav_dropdown_item 'Amended Purchase Order Requests', amended_overseers_po_requests_path, is_authorized(:po_request, 'amended') %>
              <%= nav_dropdown_item 'Cancelled Purchase Order Requests', cancelled_overseers_po_requests_path, is_authorized(:po_request, 'cancelled') %>
              <%= nav_dropdown_item 'Completed Purchase Order Requests', overseers_po_requests_path, is_authorized(:po_request, 'index') %>
              <div class="dropdown-divider"></div>
              <%= nav_dropdown_item 'All Stock Requests', stock_overseers_po_requests_path, is_authorized(:po_request, 'stock') %>
              <%= nav_dropdown_item 'Pending Stock Approval', pending_stock_approval_overseers_po_requests_path, is_authorized(:po_request, 'pending_stock_approval') %>
              <%= nav_dropdown_item 'Completed Stock Requests', completed_stock_overseers_po_requests_path, is_authorized(:po_request, 'completed_stock') %>
              <div class="dropdown-divider"></div>
              <%= nav_dropdown_item 'Material Readiness Queue', material_readiness_queue_overseers_purchase_orders_path, is_authorized(:purchase_order, 'material_readiness_queue') %>
              <%= nav_dropdown_item 'Inward Dispatch Queue', inward_dispatch_pickup_queue_overseers_purchase_orders_path, is_authorized(:purchase_order, 'inward_dispatch_pickup_queue') %>
              <%= nav_dropdown_item 'Inward Delivered Queue', inward_dispatch_delivered_queue_overseers_purchase_orders_path, is_authorized(:purchase_order, 'inward_dispatch_delivered_queue') %>
              <%= nav_dropdown_item 'Inward Completed Queue', inward_completed_queue_overseers_purchase_orders_path, is_authorized(:purchase_order, 'inward_completed_queue') %>
            </ul>
          </div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Payment Requests</a>
            <ul class="dropdown-menu">
              <%#= nav_dropdown_item 'Pending Payment Logistics', overseers_payment_requests_path(:owner => 'Logistics'), is_authorized(:payment_request).edit_payment_logistics? %>
              <%#= nav_dropdown_item 'Pending Payment Accounts', overseers_payment_requests_path(:owner => 'Accounts'), is_authorized(:payment_request).edit_payment_queue? %>
              <!--              <div class="dropdown-divider"></div>-->
              <%= nav_dropdown_item 'All Requests', overseers_payment_requests_path, is_authorized(:payment_request, 'index') %>
              <%= nav_dropdown_item 'Pending Payment Requests', overseers_payment_requests_path(:status => 'Pending'), is_authorized(:payment_request, 'index') %>
              <%= nav_dropdown_item 'Completed Payment Requests', overseers_payment_requests_path(:status => 'Completed'), is_authorized(:payment_request, 'index') %>
              <%= nav_dropdown_item 'Rejected Payment Requests', overseers_payment_requests_path(:status => 'Rejected'), is_authorized(:payment_request, 'index') %>
            </ul>
          </div>
          <%= nav_dropdown_item 'AR Invoices', overseers_sales_invoices_path, is_authorized(:sales_invoice, 'index') %>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">GRPO</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_invoice_requests_path, is_authorized(:invoice_request, 'index') %>
              <%= nav_dropdown_item 'Pending', pending_overseers_invoice_requests_path(:status => 'GRPO Pending'), is_authorized(:invoice_request, 'index') %>
              <%= nav_dropdown_item 'Rejected', pending_overseers_invoice_requests_path(:status => 'GRPO Request Rejected'), is_authorized(:invoice_request, 'index')%>
              <%= nav_dropdown_item 'Cancelled', cancelled_overseers_invoice_requests_path(:status => 'Cancelled GRPO'), is_authorized(:invoice_request, 'cancelled') %>
            </ul>
          </div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">AP Invoices Requests</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_invoice_requests_path, is_authorized(:invoice_request, 'index') %>
              <%= nav_dropdown_item 'Pending', pending_overseers_invoice_requests_path(:status => 'Pending AP Invoice'), is_authorized(:invoice_request, 'show_pending_ap_invoice_queue') %>
              <%= nav_dropdown_item 'Completed', pending_overseers_invoice_requests_path(:status => 'Inward Completed'), is_authorized(:invoice_request, 'show_pending_ap_invoice_queue')%>
              <%= nav_dropdown_item 'Rejected', pending_overseers_invoice_requests_path(:status => 'AP Invoice Request Rejected'), is_authorized(:invoice_request, 'show_pending_ap_invoice_queue') %>
              <%= nav_dropdown_item 'Completed', is_authorized(:invoice_request, 'index') %>
              <%= nav_dropdown_item 'Cancelled AP Invoice', cancelled_overseers_invoice_requests_path(:status => 'Cancelled AP Invoice'), is_authorized(:invoice_request, 'show_pending_ap_invoice_queue') %>
            </ul>
          </div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">AR Invoice Requests</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_ar_invoice_requests_path, is_authorized(:ar_invoice_request, 'index') %>
              <%= nav_dropdown_item 'Pending', overseers_ar_invoice_requests_path(:status => "AR Invoice requested"), is_authorized(:ar_invoice_request, 'index') %>
              <%= nav_dropdown_item 'Cancelled', overseers_ar_invoice_requests_path(:status => "Cancelled AR Invoice"), is_authorized(:ar_invoice_request, 'index') %>
              <%= nav_dropdown_item 'Rejected', overseers_ar_invoice_requests_path(:status => "AR Invoice Request Rejected"), is_authorized(:ar_invoice_request, 'index') %>
              <%= nav_dropdown_item 'Completed', overseers_ar_invoice_requests_path(:status => "Completed AR Invoice Request"), is_authorized(:ar_invoice_request, 'index') %>
            </ul>
          </div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Outward Dispatches</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_outward_dispatches_path, is_authorized(:outward_dispatch, 'index') %>
              <%= nav_dropdown_item 'Material Ready for Dispatch', overseers_outward_dispatches_path(:status => "Material Ready for Dispatch"), is_authorized(:outward_dispatch, 'index') %>
              <%= nav_dropdown_item 'Material Delivered', overseers_outward_dispatches_path(:status => 'Material Delivered'), is_authorized(:outward_dispatch, 'index') %>
            </ul>
          </div>
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Freight Requests</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Requests', overseers_freight_requests_path, is_authorized(:freight_request, 'index') %>
              <%= nav_dropdown_item 'Pending Requests', overseers_freight_requests_path(:status => 'Freight Quote Requested'), is_authorized(:freight_request, 'index') %>
              <%= nav_dropdown_item 'Completed Requests', overseers_freight_requests_path(:status => 'Freight Quote Submitted'), is_authorized(:freight_request, 'index') %>
            </ul>
          </div>

          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Freight Quotes</a>
            <ul class="dropdown-menu">
              <%= nav_dropdown_item 'All Quotes', overseers_freight_quotes_path, is_authorized(:freight_quote, 'index') %>
            </ul>
          </div>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Inventory
        </a>
        <div class="dropdown-menu">
          <%= nav_dropdown_item 'Warehouses', overseers_warehouses_path, is_authorized(:warehouse, 'index') %>
        </div>
      </li>

      <% if is_authorized(:report, 'index') %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Reports
          </a>
          <div class="dropdown-menu">
            <% Report.all.each do |report| %>
              <%= nav_dropdown_item report.name.titleize, overseers_report_path(report), is_authorized(report, 'show') %>
            <% end %>
            <%= nav_dropdown_item 'KRA Report', kra_report_overseers_inquiries_path, is_authorized(:inquiry, 'kra_report') %>
            <%= nav_dropdown_item 'Company Report', company_report_overseers_companies_path, is_authorized(:company, 'company_report') %>
            <%= nav_dropdown_item 'Pipeline Report', pipeline_report_overseers_inquiries_path, is_authorized(:inquiry, 'pipeline_report') %>
            <%= nav_dropdown_item 'TAT Report', tat_report_overseers_inquiries_path, is_authorized(:inquiry, 'tat_report') %>
            <%= nav_dropdown_item 'Customer Order Status Report', customer_order_status_report_overseers_sales_orders_path, is_authorized(:sales_order, 'customer_order_status_report') %>
            <%= nav_dropdown_item 'Logistics Scorecard', overseers_logistics_scorecards_path, is_authorized(:purchase_order, 'logistics_scorecard') %>
          </div>
        </li>
      <% end %>

      <% if is_authorized(:remote_request, 'index') %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Admin
          </a>
          <div class="dropdown-menu">
            <%= nav_dropdown_item 'Overseers', overseers_overseers_path, is_authorized(:overseer, 'index') %>
            <%= nav_dropdown_item 'Overseers Roles', overseers_acl_roles_path, is_authorized(:overseer, 'index') %>
            <% if (Rails.env.development?) || is_authorized(:remote_request, 'index') %>
              <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Tools</a>
                <div class="dropdown-menu">
                  <%= nav_dropdown_item 'Remote Requests', overseers_remote_requests_path, is_authorized(:remote_request, 'index') %>
                  <%= nav_dropdown_item 'Callback Requests', overseers_callback_requests_path, is_authorized(:callback_request, 'index') %>
                  <%= nav_dropdown_item 'Resync Remote Requests', overseers_resync_remote_requests_path, is_authorized(:resync_remote_request, 'index') %>
                  <%= nav_dropdown_item 'Document Creation Form', new_overseers_document_creation_path, is_authorized(:document_creation, 'new') %>
                  <%= nav_dropdown_item 'ACL Resources', overseers_acl_resources_path, is_authorized(:acl_resource, 'index') %>
                </div>
              </div>
            <% end %>
            <% if Rails.env.development? || is_authorized(:dashboard, 'chewy') %>
              <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Chewy</a>
                <div class="dropdown-menu">
                  <% chewy_indices.each do |chewy_index| %>
                    <%= nav_dropdown_item chewy_index.titleize, reset_index_overseers_dashboard_path(index: chewy_index), true %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= nav_dropdown_item 'Reset All', chewy_overseers_dashboard_path, true %>
                </div>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
      <li>
        <%= nav_item 'Docs', overseers_path(page: 'index'), is_authorized(:doc, 'index') %>
      </li>
    </ul>

  </div>
  <!-- Navigation Bar -->
  <img src="<%= image_path('new-feature.png') %>" class="mr-1" height="30"/>
  <input id="global-search" class="global-search" placeholder="Search Inquiry, Account, Company, Product" data-toggle="tooltip" title="Use this input search box for global level Inquiry, Account, Company & Product search ">

  <% if current_overseer.cannot_send_emails? %>
    <span class="badge badge-danger text-uppercase p-1 mr-2 ml-2 d-none d-md-block" data-toggle="tooltip" title="Set your Google Apps SMTP password"><strong>Emails Disallowed</strong></span>
  <% end %>

  <!-- Settings Dropdown DESKTOP -->
  <div class="d-none d-lg-block">
    <div class="dropdown">
      <a class="d-inline d-none">
        <span class="headway mr-2" style="z-index: 1030;"></span>
      </a>
      <div class="btn-group mr-2" data-behavior="notifications">
        <a class="align-self-center d-flex" href="#" role="button" data-toggle="dropdown" data-behavior="notifications-link">
          <i class="fal fa-bell"></i><span class="badge ml-1 align-self-center" data-behavior="unread-count">0</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right notifications">
          <h6 class="dropdown-header text-uppercase m-0 text-center d-none">Notifications</h6>
          <div class="notification-items" data-behavior="notification-items"></div>
          <div class="dropdown-divider"></div>
          <%= link_to overseers_notifications_path, class: 'dropdown-item text-center' do %>
            View All
          <% end %>
        </div>
      </div>
      <div class="btn-group">
        <%= link_to edit_overseers_profile_path, class: 'mr-2' do %>
          <i class="fal fa-user"></i>
        <% end %>
      </div>
      <div class="btn-group">
        <a href="#" data-toggle="dropdown">
          <i class="fal fa-cog"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to destroy_overseer_session_path, method: :delete, :class => 'dropdown-item' do %>
            <i class="fal fa-power-off"></i>&nbsp;Sign Out
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Settings Dropdown DESKTOP -->
</div>