<div class="col-lg-12">
  <% content_for :heading_byline do %>
    This will <em>'update/approve/reject <%= @inquiry %>'</em> and log it under
    <strong><%= current_overseer.full_name %></strong>.
  <% end %>

  <%= render layout: 'overseers/inquiries/tabs_layout' do %>

    <% if @sales_order.present? %>
      <%= simple_form_for(@sales_order, url: "", method: :post) do |f| %>
        <%= f.hidden_field :parent_id %>
        <%= f.hidden_field :sales_quote_id %>

        <% if f.object.errors.any? %>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
        <%= render 'overseers/inquiries/sales_orders/show_summary', sales_order: f.object %>
      <% end %>
    <% end %>

    <section class="pb-4 pb-lg-5">
      <div id="accordion">
        <div class="card mt-2">
          <a class="btn btn-light text-left text-black-50 btn-lg btn-block" type="button" data-toggle="collapse" data-target="#internal-comments">
            Internal Comments
          </a>
          <div id="internal-comments" class="collapse <%= show_if(params[:show_to_customer].blank? || params[:show_to_customer] == 'false') %>" data-parent="#accordion">
            <div class="card-body">
              <%= simple_form_for([:overseers, @inquiry.comments.build(:sales_order => @sales_order)], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
                <%= f.hidden_field :sales_order_id %>
                <%= render 'shared/snippets/form_errors', f: f %>
                <%= render 'overseers/inquiries/comments/comments', f: f, inquiry: @inquiry, comments: @inquiry.comments.internal_comments, sales_order: @sales_order, show_to_customer: false %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card mt-2">
          <a class="btn btn-light text-left text-black-50 btn-lg btn-block" type="button" data-toggle="collapse" data-target="#customer-comments">
            Customer Comments
          </a>
          <div id="customer-comments" class="collapse <%= show_if(params[:show_to_customer].present? && params[:show_to_customer] == 'true') %>" data-parent="#accordion">
            <div class="card-body">
              <%= simple_form_for([:overseers, @inquiry.comments.build(:sales_order => @sales_order)], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
                <%= f.hidden_field :sales_order_id %>
                <%= render 'shared/snippets/form_errors', f: f %>
                <%= render 'overseers/inquiries/comments/comments', f: f, inquiry: @inquiry, comments: @inquiry.comments.customer_comments, sales_order: @sales_order, show_to_customer: true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>