<div class="col-lg-12">
  <% content_for :heading_byline do %>
    This will <em>'update/approve/reject <%= @inquiry %>'</em> and log it under
    <strong><%= current_overseer.full_name %></strong>.
  <% end %>

  <%= render layout: 'overseers/inquiries/tabs_layout' do %>

    <% if @sales_order.present? %>
      <%= simple_form_for(@sales_order, url: "", method: :post) do |f| %>
        <%= f.hidden_field :parent_id %>
        <%= f.hidden_field :sales_quote_id %>

        <% if f.object.errors.any? %>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
        <%= render 'overseers/inquiries/sales_orders/show_summary', f: f %>
      <% end %>
    <% end %>

    <%= simple_form_for([:overseers, @inquiry.comments.build(:sales_order => @sales_order)], :html => {:class => 'needs-validation mt-3', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
      <%= f.hidden_field :sales_order_id %>

      <%= render 'shared/snippets/form_errors', f: f %>

      <div class="card">
        <div class="card-body">
          <% if @comments.persisted.size > 0 %>
            <div class="chats mb-3">
              <% @comments.persisted.each do |comment| %>
                <div class="media chat-item">
                  <div class="media-body">
                    <div class="chat-item-title">
                      <span class="chat-item-author"><%= comment.created_by.full_name %></span>
                      <span>
                        <span class="mr-1"><strong>
                          <% if comment.approval.present? %><span class="badge badge-success">Approved</span><% end %>
                          <% if comment.rejection.present? %><span class="badge badge-danger">Rejected</span><% end %>
                        </strong></span>
                        <%= time_ago_in_words(comment.created_at) %> ago</span>
                    </div>
                    <div class="chat-item-body">
                      <p><%= comment.message %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

          <%= f.input :message, required: true, :placeholder => 'Type message', input_html: {:'data-parsely-no-valid-feedback' => ''} %>

          <div class="flex-fill">
            <%= f.submit 'Reply', name: 'reply', class: 'btn btn-dark' %>
            <% if @sales_order.present? %>
              <% if @sales_order.calculated_total_margin_percentage.to_f < 10.0 %>
                <% if current_overseer.email == 'devang.shah@bulkmro.com' %>
                  <%= f.submit 'Reply and Approve', name: 'approve', class: 'btn btn-success' if policy(@sales_order).approve? %>
                <% else %>
                  <%= f.submit 'Reply and Approve', name: 'approve', class: 'btn btn-success btn-disabled', disabled: true, :"data-toggle" => 'tooltip', title: "Margin is below 10%; need Devang Shah's approval to move forward" %>
                <% end %>
              <% else %>
                <%= f.submit 'Reply and Approve', name: 'approve', class: 'btn btn-success' if policy(@sales_order).approve? %>
              <% end %>
              <%= f.submit 'Reply and Reject', name: 'reject', class: 'btn btn-danger' if policy(@sales_order).reject? %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>