<div class="col-lg-12">
  <%= render 'shared/snippets/page_header', e: @address %>

  <%= simple_form_for([:overseers, @company, @address], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= f.hidden_field :company_id %>
    <%= render 'shared/snippets/form_errors', f: f %>

    <div class="form-row">
      <% if policy(@address).edit_remote_uid? %>
        <div class="col-3 col-md-1">
          <%= f.input :legacy_id, disabled: true %>
        </div>
        <div class="col-12 col-md-6">
          <%= f.input :name %>
        </div>
        <div class="col-12 col-md-5">
          <%= f.input :remote_uid, :label => 'SAP Address ID' %>
        </div>
      <% else %>
        <div class="col-3 col-md-1">
          <%= f.input :legacy_id, disabled: true %>
        </div>
        <div class="col-9 col-md-11">
          <%= f.input :name %>
        </div>
      <% end %>
    </div>
    <%= f.input :street1, label: 'Address Line 1' %>
    <%= f.input :street2, label: 'Address Line 2' %>

    <div class="form-row">
      <div class="col-6 col-md-3">
        <%= f.input :country_code, as: :country, :required => true, :wrapper => :custom_multi_select, priority_countries: ["IN", "US"] %>
      </div>
      <div class="col-6 col-md-3">
        <%= f.association :state, :wrapper => :custom_multi_select, collection: AddressState.indian %>
      </div>
      <div class="col-6 col-md-3">
        <%= f.input :city_name %>
      </div>
      <div class="col-6 col-md-3">
        <%= f.input :pincode %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-6">
        <%= f.input :telephone, label: 'Office Telephone' %>
      </div>
      <div class="col-6">
        <%= f.input :mobile, label: 'Office Mobile' %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-md-6">
        <%= f.input :gst, label: 'GST Number' %>
      </div>
      <div class="col-6 col-md-6">
        <%= f.input :is_sez, as: :select, :wrapper => :custom_multi_select, label: 'Is SEZ', required: true %>
      </div>
      <div class="col-6 col-md-6 d-none">
        <%= f.input :gst_type, :wrapper => :custom_multi_select, as: :select, collection: enum_to_collection(Address.gst_types), label: 'GST Type' %>
      </div>
      <div class="col-12 col-md-12">
        <%= f.input :gst_proof, :wrapper => :custom_file, required: false, accept: 'image/png, application/pdf, image/jpeg', label: 'GST Number Proof' %>
      </div>
    </div>

    <%= action_button(action_name, @address) %>
  <% end %>
</div>