<div class="col-lg-12">
  <%= render 'shared/snippets/page_header', e: @address %>

  <%= simple_form_for([:overseers, @company, @address], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= f.hidden_field :company_id %>
    <%= render 'shared/snippets/form_errors', f: f %>

    <div class="form-row">
      <% if policy(@address).edit_remote_uid? %>
        <div class="col-3 col-md-1">
          <%= f.input :legacy_id, disabled: true %>
        </div>
        <div class="col-12 col-md-6">
          <%= f.input :name %>
        </div>
        <div class="col-12 col-md-5">
          <%= f.input :remote_uid, :label => 'SAP Address ID' %>
        </div>
      <% else %>
        <div class="col-3 col-md-1">
          <%= f.input :legacy_id, disabled: true %>
        </div>
        <div class="col-9 col-md-11">
          <%= f.input :name %>
        </div>
      <% end %>
    </div>
    <%= f.input :street1, label: 'Address Line 1' %>
    <%= f.input :street2, label: 'Address Line 2' %>

    <div class="form-row">
      <div class="col-6 col-md-3">
        <%= f.input :country_code, as: :country, :required => true, :wrapper => :custom_multi_select, priority_countries: ["IN", "US"] %>
      </div>
      <div class="col-6 col-md-3">
        <%= f.association :state, :wrapper => :custom_multi_select, collection: AddressState.indian %>
      </div>
      <div class="col-6 col-md-3">
        <%= f.input :city_name %>
      </div>
      <div class="col-6 col-md-3">
        <%= f.input :pincode %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-6">
        <%= f.input :telephone, label: 'Office Telephone' %>
      </div>
      <div class="col-6">
        <%= f.input :mobile, label: 'Office Mobile' %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-md-6">
        <div class="form-group string optional address_telephone">
        <label class="form-control-label text-capitalize string optional" >GST Number</label>

        <%#= f.label 'GST Number' %>
        <%#= f.input :gst, label: 'GST Number' %>
        <div class="form-inline" style="margin-bottom: 8px">

          <%= text_field_tag 'gst_code_1', nil, class: 'form-control col-2 col-md-2 gst-change', id: 'gst_code_1', maxlength:'2', disabled: true %>

          <%= text_field_tag 'gst_code_2', nil, class: 'form-control gst-change', id: 'gst_code_2', maxlength:'10' %>

          <%= text_field_tag 'gst_code_3', nil, class: 'form-control col-1 col-md-1 gst-change', id: 'gst_code_3', maxlength:'1' %>

          <%= text_field_tag 'gst_code_4', nil, class: 'form-control col-1 col-md-1 gst-change', id: 'gst_code_4', maxlength:'1' %>

          <%= text_field_tag 'gst_code_5', nil, class: 'form-control col-1 col-md-1 gst-change', id: 'gst_code_5', maxlength:'1' %>

        </div>


        <%= f.input :gst, label: false, readonly: true%>
        </div>
        </div>

      <div class="col-6 col-md-4 d-none">
        <%= f.input :gst_type, :wrapper => :custom_multi_select, as: :select, collection: enum_to_collection(Address.gst_types), label: 'GST Type' %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :gst_proof, :wrapper => :custom_file, required: false, accept: 'image/png, application/pdf, image/jpeg', label: 'GST Number Proof' %>
      </div>
    </div>

    <%= action_button(action_name, @address) %>
  <% end %>
</div>