<div class="col-12">
  <section class="pt-3 pt-lg-4 pb-2 pb-lg-3">
    <div class="d-md-flex justify-content-between">
      <h1 class="display-5 mb-1">Checkout</h1>
    </div>
    <p class="lead mt-1">
      You have <strong><%= @cart.items.size %></strong> product(s) in your cart worth
      <strong><%= format_currency(order_total(current_cart.items)) %></strong>.
    </p>
  </section>

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0"><strong>Your Checkout Progress</strong></h5>
        </div>
        <% if @cart.default_billing_address_id.present? %>
          <div class="card-body">
            <div id="billing-info">
              <strong class="d-block">Billing Address | <a href="#checkout-billing">Change</a></strong>
              <div id="billing_address">
                <br/>
                <p class="mb-0">
                  <label class="d-flex justify-content-center align-items-center flex-row">
                    <span class="flex-grow-1 ml-2">
                      <%= current_contact.name %><br/>
                      <%= billing_address(@cart.default_billing_address_id) %>
                    </span>
                  </label>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <% if @cart.default_shipping_address_id.present? %>
          <div class="card-body">
            <div id="shipping-info">
              <strong class="d-block">Shipping Address | <a href="#checkout-shipping">Change</a></strong>
              <div id="shipping_address">
                <br/>
                <p class="mb-0">
                  <label class="d-flex justify-content-center align-items-center flex-row">
                    <span class="flex-grow-1 ml-2">
                      <%= current_contact.name %><br/>
                      <%= shipping_address(@cart.default_shipping_address_id) %>
                    </span>
                  </label>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="accordion col-md-9" id="checkout">
      <div class="card">
        <div class="card-header">
          <a data-toggle="collapse" data-parent="#checkout" href="#checkout-billing">
            <h5 class="mb-0">
              <strong>Billing Details</strong>
            </h5>
          </a>
        </div>

        <div id="checkout-billing" class="collapse <%= show_if(params[:next_step].blank?) %>" data-parent="#checkout">
          <div class="card-body">
            <p>Select a billing address from your address book.</p>
            <%= simple_form_for [:customers, @cart], :url => update_billing_address_customers_cart_path, :method => :patch do |f| %>
              <% current_contact_companies.each do |company| %>
                <% if company.default_billing_address_id.present? %>
                  <label class="d-flex justify-content-center align-items-center flex-row">
                    <span class="h-100">
                      <%= f.radio_button :default_billing_address_id, company.default_billing_address_id %>
                    </span>
                    <span class="flex-grow-1 ml-2">
                      <%= company.default_billing_address.try(:to_multiline_s) %>
                    </span>
                  </label>
                <% end %>
              <% end %>
              <%= f.button :submit, 'Continue', class: 'btn btn-success btn-block mt-4' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed" data-toggle="collapse" data-parent="#checkout" href="#checkout-shipping">
            <h5 class="mb-0"><strong>Shipping Details</strong></h5>
          </a>
        </div>

        <div id="checkout-shipping" class="collapse <%= show_if(params[:next_step]  == 'shipping') %>" data-parent="#checkout">
          <div class="card-body">
            <p>Select a shipping address from your address book.</p>
            <%= simple_form_for [:customers, @cart], :url => update_shipping_address_customers_cart_path, :method => :patch do |f| %>
              <% current_contact_companies.each do |company| %>
                <% if company.default_shipping_address_id.present? %>
                  <label class="d-flex justify-content-center align-items-center flex-row">
                    <span class="h-100">
                      <%= f.radio_button :default_shipping_address_id, company.default_shipping_address_id %>
                    </span>
                    <span class="flex-grow-1 ml-2">
                      <%= company.default_shipping_address.try(:to_multiline_s) %>
                    </span>
                  </label>
                <% end %>
              <% end %>
              <%= f.button :submit, 'Continue', class: 'btn btn-success btn-block mt-4' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed" data-toggle="collapse" data-parent="#checkout" href="#checkout-reference">
            <h5 class="mb-0"><strong>Purchase Order Details</strong></h5>
          </a>
        </div>
        <div id="checkout-reference" class="collapse <%= show_if(params[:next_step]  == 'po_reference') %>" data-parent="#checkout">
          <div class="card-body">
            <%= simple_form_for [:customers, @cart], :url => add_po_number_customers_cart_path, :method => :patch do |f| %>
              <%= f.input :po_reference, label: 'PO Reference Number', placeholder: 'e.g. 4591519126' %>
              <%= f.button :submit, 'Continue', class: 'btn btn-success btn-block mt-4' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed" data-toggle="collapse" data-parent="#checkout" href="#checkout-summary">
            <h5 class="mb-0"><strong>Order Summary</strong></h5>
          </a>
        </div>

        <div id="checkout-summary" class="collapse <%= show_if(params[:next_step]  == 'summary') %>" data-parent="#checkout">
          <div class="card-body">
            <div class="col-12">
              <div class="text-left">
                <table class="table table-striped mb-0">
                  <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Info</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Subtotal</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% current_cart.items.each do |cart_item| %>
                    <tr>
                      <td><img class="" src="<%= url_for(cart_item.product.images.first) %>" width="60"/></td>
                      <td><%= cart_item.product.name.truncate(80) %></td>
                      <td><%= cart_item.product.latest_unit_cost_price.to_f == 0.0 ? '-' : format_currency(cart_item.product.latest_unit_cost_price.to_f) %></td>
                      <td>x <%= cart_item.quantity %></td>
                      <td><%= format_currency(cart_item.product.latest_unit_cost_price.to_f * cart_item.quantity) %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td colspan="5" style="text-align: right;">
                      <strong>Subtotal:</strong> <%= format_currency(order_total(current_cart.items)) %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="form-row">
              <div class="col-12 col-md-6">
                <%= link_to customers_cart_path, :class => "btn btn-warning btn-block" do %>
                  Modify Cart
                <% end %>
              </div>
              <div class="col-12 col-md-6 mt-2 mt-md-0">
                <%= link_to customers_customer_orders_path(contact_id: current_contact.id), method: :post, :class => "btn btn-success btn-block" do %>
                  Checkout
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>