<div class="col-12">
  <section class="pt-3 pt-lg-4 pb-2 pb-lg-3">
    <div class="d-md-flex justify-content-between">
      <h1 class="display-5 mb-1">Checkout</h1>
    </div>
    <p class="lead mt-1">
      You have <strong><%= @cart.items.size %></strong> product(s) in your cart worth
      <strong><%= format_currency(current_cart.grand_total) %></strong>.
    </p>
  </section>

  <div class="row flex-lg-row-reverse">
    <div class="col-lg-3">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0"><strong>Summary</strong></h5>
        </div>
        <div class="card-body">
          <% if @cart.po_reference.present? && @cart.po_reference != 0 %>
            <strong class="d-block">PO Reference<a data-toggle="collapse" data-parent="#checkout" href="#checkout-billing" class="float-right">Change</a></strong>
            <%= @cart.po_reference %>
            <hr>
          <% end %>
          <% if @cart.billing_address.present? %>
            <strong class="d-block">Billing Address <a data-toggle="collapse" data-parent="#checkout" href="#checkout-billing" class="float-right">Change</a></strong>
            <em class="d-block mt-1"><%= current_contact.name %></em>
            <%= current_cart.billing_address.to_multiline_s %><br/>
            <% if current_contact.telephone.present? %>
              T: <%= current_contact.telephone %><br/>
            <% end %>
            GST No: <%= current_cart.billing_address.gst %>
          <% end %>
          <% if @cart.shipping_address.present? %>
            <hr>
            <strong class="d-block">Shipping Address <a data-toggle="collapse" data-parent="#checkout" href="#checkout-shipping" class="float-right">Change</a></strong>
            <em class="d-block mt-1"><%= current_contact.name %></em>
            <%= current_cart.shipping_address.to_multiline_s %><br/>
            <% if current_contact.telephone.present? %>
              T: <%= current_contact.telephone %><br/>
            <% end %>
            GST No: <%= current_cart.shipping_address.gst %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="accordion col-lg-9" id="checkout">
      <div class="card">
        <div class="card-header">
          <a data-toggle="collapse" data-parent="#checkout" href="<%= @cart.billing_address.present? ? "#checkout-billing" : "" %>">
            <h5 class="mb-0">
              <strong>Billing Details</strong>
            </h5>
          </a>
        </div>

        <div id="checkout-billing" class="collapse <%= show_if(params[:next_step].blank?) %>" data-parent="#checkout">
          <div class="card-body">
            <%= simple_form_for [:customers, @cart], :url => update_billing_address_customers_cart_path, :method => :patch do |f| %>
              <%= f.input :po_reference, label: 'PO Reference Number', placeholder: 'e.g. 4591519126' %>
              <p>Select a billing address from your address book.</p>
              <% current_contact_companies.each do |company| %>
                <% if company.billing_address.present? %>
                  <label class="d-flex justify-content-center align-items-center flex-row">
                    <span class="h-100">
                      <%= f.radio_button :billing_address_id, company.billing_address.id %>
                    </span>
                    <span class="flex-grow-1 ml-2">
                      <%= company.billing_address.try(:to_multiline_s) %><br/>
                      <% if current_contact.telephone.present? %>
                        T: <%= current_contact.telephone %><br/>
                      <% end %>
                      GST No: <%= company.billing_address.gst %>
                    </span>
                  </label>
                <% end %>
              <% end %>
              <%= f.button :submit, 'Continue', class: 'btn btn-success btn-block mt-4' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed" data-toggle="collapse" data-parent="#checkout" href="<%= @cart.shipping_address.present? ? "#checkout-shipping" : "" %>">
            <h5 class="mb-0"><strong>Shipping Details</strong></h5>
          </a>
        </div>

        <div id="checkout-shipping" class="collapse <%= show_if(params[:next_step] == 'shipping') %>" data-parent="#checkout">
          <div class="card-body">
            <p>Select a shipping address from your address book.</p>
            <%= simple_form_for [:customers, @cart], :url => update_shipping_address_customers_cart_path, :method => :patch do |f| %>
              <% current_contact_companies.each do |company| %>
                <% if company.shipping_address.present? %>
                  <label class="d-flex justify-content-center align-items-center flex-row">
                    <span class="h-100">
                      <%= f.radio_button :shipping_address_id, company.shipping_address.id %>
                    </span>
                    <span class="flex-grow-1 ml-2">
                      <%= company.shipping_address.try(:to_multiline_s) %><br/>
                      <% if current_contact.telephone.present? %>
                        T: <%= current_contact.telephone %><br/>
                      <% end %>
                      GST No: <%= company.default_shipping_address.gst %>
                    </span>
                  </label>
                <% end %>
              <% end %>
              <%= f.button :submit, 'Continue', class: 'btn btn-success btn-block mt-4' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed" data-toggle="collapse" data-parent="#checkout" href="<%= (@cart.billing_address.present? &&
              @cart.shipping_address.present?) ? "#checkout-summary" : "" %>">
            <h5 class="mb-0"><strong>Products Summary</strong></h5>
          </a>
        </div>

        <div id="checkout-summary" class="collapse <%= show_if(params[:next_step] == 'summary') %>" data-parent="#checkout">
          <div class="card-body pt-0">
            <div class="text-left">
              <table class="datatable table table-bordered dt-responsive wrap-whitespace" style="width: 100%;">
                <thead>
                <tr>
                  <th class="no-sort desktop">Image</th>
                  <th class="no-sort all">Product</th>
                  <th class="all">Price</th>
                  <th class="all">Qty</th>
                  <th class="all">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <% current_cart.items.each do |cart_item| %>
                  <tr>
                    <td>
                      <% if cart_item.customer_product.best_images.present? %>
                        <img src="<%= url_for_image(cart_item.customer_product.best_images.first, fallback_url: image_path('coming_soon.png')) %>" alt="<%= cart_item.customer_product.sku %>" height="40" />
                      <% else %>
                        <img src="<%= image_path('coming_soon.png') %>" alt="<%= cart_item.customer_product.sku %>" height="40" />
                      <% end %>  
                    </td>
                    <td><%= cart_item.product.name.truncate(80) %></td>
                    <td><%= format_currency(cart_item.customer_product.customer_price.to_f) %></td>
                    <td><%= cart_item.quantity %></td>
                    <td><%= format_currency(cart_item.customer_product.customer_price.to_f * cart_item.quantity) %></td>
                  </tr>
                <% end %>
                <tr>
                  <table style="width: 100%;">
                    <tbody style="float: right">
                    <tr>
                      <td><strong>Subtotal:</strong></td>
                      <td style="float: right"><%= format_currency(current_cart.calculated_total) %></td>
                    </tr>
                    <% if @cart.billing_address.present? %>
                      <% current_cart.tax_line_items.each do |key, value| %>
                        <tr>
                          <td><strong><%= TaxRateString.for(current_cart.billing_address, current_cart.default_warehouse_address, current_cart.default_warehouse_address, key) %>:</strong></td>
                          <td style="float: right"><%= format_currency(value) %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td><strong>Total Tax:</strong></td>
                        <td style="float: right"><%= format_currency(current_cart.calculated_total_tax) %></td>
                      </tr>
                      <tr>
                        <h5>
                          <td><h5>Grand Total:</h5></td>
                          <td style="float: right"><h5><%= format_currency(current_cart.grand_total) %></h5></td>
                        </h5>
                      </tr>
                    <% else %>
                      <tr>
                        <td><i class="fas fa-info-circle" title="Taxes will be displayed after you select a billing address"></i><strong>Total Tax:</strong></td>
                        <td style="float: right">-</td>
                      </tr>
                      <tr>
                        <td><h5>Grand Total:</h5></td>
                        <td style="float: right"><h5><%= format_currency(current_cart.grand_total) %></h5></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <div class="form-row">
              <% if @cart.items.any? %>
                <div class="col-12 <%= (@cart.billing_address.present? && @cart.shipping_address.present?) ? "col-md-6" : "col-md-12" %>">
                  <%= link_to customers_cart_path, :class => "btn btn-warning btn-block" do %>
                    Modify Cart
                  <% end %>
                </div>
                <% if @cart.billing_address.present? && @cart.shipping_address.present? %>
                  <div class="col-12 col-md-6 mt-2 mt-md-0">
                    <%= link_to customers_customer_orders_path(contact_id: current_contact.id), method: :post, :class => "btn btn-success btn-block" do %>
                      Place Order
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="col-12 col-md-12">
                  <%= link_to customers_products_path, :class => "mt-2 btn btn-outline-success btn-block btn-sm" do %>
                    Add Products
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>