<div class="col-lg-12">
  <%= render 'shared/snippets/page_header', e: @annual_target %>
  <%= simple_form_for([:overseers, @annual_target], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>
    <% if params['overseer_id'].present? %>
      <%= render 'overseers/annual_targets/overseer_targets_form', f: f %>
    <% end %>
    <% if params['account_id'].present? %>
      <%= render 'overseers/annual_targets/account_targets_form', f: f %>
    <% end %>
    <div class="form-row">
      <%= action_button(action_name, @annual_target) %>
    </div>
  <% end %>
</div>





