<div class="form-row">
  <div class="col-6 col-md-6">
    <%= f.hidden_field :overseer_id, value: params[:overseer_id].present? ? params[:overseer_id] : @annual_target.overseer_id %>
    <%= f.input :overseer, label: 'Name', :required => 'true', :class => 'form-control', disabled: true %>
  </div>

  <div class="col-6 col-md-6">
    <%= f.input :year, as: :select, collection: AnnualTarget.year_range, label: 'Year', :placeholder => 'Year', :required => 'true', :class => 'form-control', include_blank: 'Select Year', selected: AnnualTarget.current_year %>
  </div>
</div>
<div class="form-row">
  <div class="col-6 col-md-6">
    <%= f.input :manager_id, required: true, collection: Overseer.managers.alphabetical, label: 'Manager', selected: @annual_target.manager_id.present? ? @annual_target.manager_id : '', input_html: {class: "select2-single"}, disabled: @overseer.parent.present? ? true : false %>
  </div>
  <div class="col-6 col-md-6">
    <%= f.input :business_head_id, required: true, collection: Overseer.managers.alphabetical, label: 'Business Head', selected: @annual_target.business_head_id.present? ? @annual_target.business_head_id : '', input_html: {class: "select2-single"}, disabled: @overseer.parent.present? && @overseer.parent.parent.present? ? true : false %>
  </div>
</div>

<div class="form-row">
  <div class="col-6 col-md-4">
    <%= f.input :inquiry_target, label: 'Inquiry Target', :required => 'true', :class => 'form-control', :input_html => {:type => "number"}, disabled: @annual_target.disabled_status('inquiry_target') %>
  </div>
</div>






