<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= raw breadcrumbs(yield(:page_title), yield(:controller_is_aliased)) %>
    </ol>
  </nav>
  <% if content_for?(:can_be_directly_created) || content_for?(:can_be_searched_or_created) || content_for?(:can_be_directly_exported) || content_for?(:can_be_directly_export_by_daterange) || content_for?(:heading_buttons) || content_for?(:can_be_directly_downloaded) || content_for?(:can_be_directly_exported_filtered_records) || content_for?(:can_be_directly_exported_inquiry_tat) || content_for?(:can_exported_report) %>
    <div>
      <% if content_for?(:can_be_searched_or_created) && is_authorized(current_model.singularize.downcase,'search_or_create') %>
        <div class="d-none d-md-inline-block align-top">
          <%= simple_form_for(:document_creation, :url => overseers_document_creations_path, class: 'd-flex', :method => :post) do |f| %>
            <div class="mr-2 d-md-inline-block align-top">
              <%= f.hidden_field :option, value: current_model.singularize.titleize.gsub('_', '') %>
              <%= f.input :document_number, as: :integer, input_html: { value: session[:number] }, label: false, placeholder: "Enter #{current_model.singularize.titleize.gsub('_', '')} #" %>
            </div>
            <%= f.submit "Request from SAP", class: "btn btn-rounded btn-dark" %>
          <% end %>
        </div>
      <% end %>
      <% if content_for?(:heading_buttons)%>
        <%= yield :heading_buttons %>
      <% end %>
      <% if content_for?(:can_be_directly_export_by_daterange) && is_authorized(current_model.singularize.downcase,'export_all') %>
        <div class="d-none d-md-inline-block">
          <div class="mr-2 d-md-inline-block export_daterange_wrapper">
            <input type="text" id="export_daterange" name="export_daterange" class="form-control" data-toggle="daterangepicker" data-direction="left" placeholder="Pick a daterange" />
          </div>
          <a href="<%= [request.path, '/', 'export_all.csv'].join %>" id="export_daterange_button" class="mt-md-0 mt-1 mr-2 btn btn-success btn-rounded align-self-center btn-block-sm-down export_daterange_wrapper" <% if Export.send(controller_path.split('/').last).not_filtered.last.present? %>data-badge="<%= [time_ago_in_words(Export.send(controller_path.split('/').last).not_filtered.last.created_at), "ago"].join(' ') %><% end %>">
            <i class="fal fa-download mr-1"></i><%= controller_path.split('/').last.pluralize.split("_").join(" ").upcase %>
          </a>
        </div>
      <% end %>
      <% if content_for?(:can_be_directly_created) && is_authorized(current_model.singularize.downcase,'new') %>
        <a href="<%= [request.path, '/', 'new'].join %>" class="mt-md-0 mt-1 mr-2 btn btn-success btn-rounded align-self-center btn-block-sm-down mr-md-1 mb-md-0 mb-1" target="_blank" >
          <i class="fal fa-plus-circle mr-1"></i>New <%= controller_path.split('/').last.singularize.split("_").join(" ").upcase %>
        </a>
      <% end %>
      <% if content_for?(:can_be_directly_exported) && is_authorized(current_model.singularize.downcase,'export_all') %>
        <a href="<%= [request.path, '/', 'export_all.csv'].join %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1" <% if Export.send(controller_path.split('/').last).not_filtered.last.present? %>data-badge="<%= [time_ago_in_words(Export.send(controller_path.split('/').last).not_filtered.last.created_at), "ago"].join(' ') %><% end %>">
          <i class="fal fa-download mr-1"></i><%= controller_path.split('/').last.pluralize.split("_").join(" ").upcase %>
        </a>
      <% end %>

      <% if content_for?(:can_be_directly_exported_filtered_records) && is_authorized(current_model.singularize.downcase,'export_filtered_records') %>
        <%= button_tag(type: 'button', class: "btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1", id: 'export_filtered_records') do %>
          <i class="fal fa-envelope mr-1"></i> Filtered <%= controller_path.split('/').last.pluralize.split("_").join(" ").upcase %>
        <% end %>
      <% end %>
      <% if content_for?(:can_be_directly_exported_inquiry_tat) && is_authorized(current_model.singularize.downcase, 'export_inquiries_tat') %>
        <%= link_to ("#{export_inquiries_tat_overseers_inquiries_path}.csv"), class: "btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1", 'data-badge': ([time_ago_in_words(Export.where(export_type: 2).last.created_at), "ago"].join(' ') if Export.where(export_type: 2).last.present?) do %>
          <i class="fal fa-download mr-1"></i><%= controller_path.split('/').last.pluralize.split("_").join(" ").upcase %> TAT
        <% end %>
      <% end %>
      <% if content_for?(:can_exported_report) && is_authorized(current_model.singularize.downcase, 'export_report') %>
        <%= link_to ("#{export_report_overseers_report_path}.csv"), class: "btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1", 'data-badge': ([time_ago_in_words(Export.where(export_type: 2).last.created_at), "ago"].join(' ') if Export.where(export_type: 2).last.present?) do %>
          <i class="fal fa-download mr-1"></i><%= controller_path.split('/').last.pluralize.split("_").join(" ").upcase %>
        <% end %>
      <% end %>
      <% if content_for?(:can_be_directly_downloaded) %>
        <% if params['action'].include?'report'
             report_name = params['action']
             report_query = params[report_name].as_json.to_query(report_name) if params[report_name].present?
             report_url = params[report_name].present? ? "export_#{report_name}?#{report_query}.csv" : "export_#{report_name}.csv"
           end %>
        <a href="<%= report_url %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1" >
          <i class="fal fa-download mr-1"></i><%= action_name.split('/').last.split("_").join(" ").upcase%>
        </a>
      <% end %>
      <% if content_for?(:can_be_directly_generated) && is_authorized(current_model.singularize.downcase).generate_all? %>
        <a href="<%= [request.path, '/', 'generate_all'].join %>" class=" btn btn-success btn-rounded align-self-center btn-block-sm-down">
          <i class="fal fa-download mr-1"></i>Generate <%= controller_path.split('/').last.pluralize.split("_").join(" ").upcase %>
        </a>
      <% end %>
      <% if content_for?(:can_be_exported_material_readiness_queue) && is_authorized(current_model.singularize.downcase,'export_material_readiness') %>
        <a href= "<%= [request.path.chomp('material_readiness_queue'), 'export_material_readiness.csv'].join %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down ml-1" <% if Export.send(controller_path.split('/').last).not_filtered.last.present? %>data-badge="<%= [time_ago_in_words(Export.send(controller_path.split('/').last).not_filtered.last.created_at), "ago"].join(' ') %><% end %>">
          <i class="fal fa-download mr-1"></i>Material Readiness Queue
        </a>
      <% end %>

    </div>
  <% end %>
</div>
