<% content_for :page_title do %>
  IFSC Codes
<% end %>
<div class="col-lg-12">
  <%= render 'shared/snippets/page_header', e: @ifsc_code %>

  <%= simple_form_for([:overseers, @ifsc_code], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>

    <div class="form-row">
      <div class="col-4">
        <%= f.association :bank, collection: Bank.all, required: true, prompt: "Choose a bank" %>
      </div>

      <div class="col-4">
        <%= f.input :branch, required: true %>
      </div>

      <div class="col-4">
        <%= f.input :ifsc_code, required: true, label: 'IFSC Code' %>
      </div>

    </div>

    <div class="form-row">
      <div class="col-12">
        <%= f.input :address, required: true %>
      </div>

      <div class="col-4">
        <%= f.input :city %>
      </div>

      <div class="col-4">
        <%= f.input :district %>
      </div>

      <div class="col-4">
        <%= f.input :state %>
      </div>

      <div class="col-4">
        <%= f.input :contact %>
      </div>
    </div>

    <%= action_button(action_name, @ifsc_code) %>
  <% end %>
</div>