<div class="font-family: Arial; font-size: 14.5px;">
  <p style="color: #555;">Dear <%= @inquiry.inside_sales_owner.full_name %>,</p>
  <p style="color: #555;">You have a purchase quote from <%= @supplier.name %></p> 
  <p style="color: #555;">Kindly find the details here under
    <%= link_to 'Click here to view quote in Sprint', edit_supplier_rfqs_overseers_inquiry_supplier_rfqs_url(@inquiry.id) %>
  </p>
  <table border="1" cellspacing="0" class="table table-bordered" align="center" width="100%" style="color: #333;">
    <tbody>
      <tr>
        <th style="padding: 5px; text-align: center;">Sr No.</th>
        <th style="padding: 5px; text-align: center;">Product</th>
        <th style="padding: 5px; text-align: center;">MPN</th>
        <th style="padding: 5px; text-align: center;">Brand</th>
        <th style="padding: 5px; text-align: center;">Qty</th>
        <th style="padding: 5px; text-align: center;">Quote Per Unit</th>
        <th style="padding: 5px; text-align: center;">Total Quote Value</th>
      </tr>
      <% @inquiry_product_suppliers.each_with_index do |inquiry_product, index| %>
        <tr>
          <td style="padding: 5px; text-align: center;"><%= index + 1 %></td>
          <td style="padding: 5px; text-align: left;"><%= inquiry_product.product.to_s %></td>
          <td style="padding: 5px; text-align: center;"><%= inquiry_product.product.mpn %></td>
          <td style="padding: 5px; text-align: left;"><%= inquiry_product.product.brand.to_s %></td>
          <td style="padding: 5px; text-align: center;"><%= inquiry_product.quantity %></td>
          <td style="padding: 5px; text-align: center;"><%= inquiry_product.unit_cost_price.to_i if inquiry_product.unit_cost_price.present? %></td>
          <td style="padding: 5px; text-align: center;"><%= inquiry_product.final_unit_price.to_i if inquiry_product.final_unit_price.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>
  <p style="color: #555;">Regards,<br>Team BulkMRO</p>
</div>
