<div class="col-lg-12 mb-12">
    <%= link_to 'Go to Inquiry', overseers_inquiry_sales_orders_path(@sales_order.inquiry) %>
  <% @comments.persisted.each do |comment| %>
    <div><%= comment.message %> by <%= comment.created_by.full_name %> <% if comment.approval.present? %>and approved it wut<% end %><% if comment.rejection.present? %> and rejected it!<% end %>
    </div>
  <% end %>

  <%= simple_form_for([:overseers, @sales_order.comments.build]) do |f| %>

    <% if f.object.errors.any? %>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>

    <%= f.input :message %>

    <%= f.submit 'Reply', name: 'reply' %>
    <%= f.submit 'Reply and Approve', name: 'approve' if policy(@sales_order).approve? %>
    <%= f.submit 'Reply and Reject', name: 'reject' if policy(@sales_order).reject? %>
  <% end %>
</div>