<div class="bmro-width100 bmro-sales-pedding subhead-height">
  <span class="bmro-inqu-no"><%= @dashboard.inq_for_dash(executivelink).count %></span>
  <p class="bmro-menu bmro-font-size-dash dropdown-toggle" id="My-inquries" data-toggle="dropdown" role="button">
    My Inquiries
  </p>
  <div class="bmro-star-parent bmro-reset-button bmro-inquiry-show-hide bmro-cursol">
    <label class="bmro-cursol">Undo</label>
  </div>
  <div class="bmro-star-parent bmro-reset-button bmro-cursol" onClick="window.location.reload();">
    <label class="bmro-cursol">Reset All</label>
  </div>
</div>
<div class="bmro-width100 bmro-dash-table-mt sales-dash-left">
  <div class="bmro-width100 bmro-pl-pr">
    <div class="bmro-all-task-th bmro-fl bmro-Inquries-width1">
      <span class="bmro-task-th bmro-task-th-p0">Inquiry No</span>
    </div>
    <div class="bmro-all-task-th bmro-fl bmro-Inquries-width2">
      <span class="bmro-task-th bmro-task-th-p0 ">Account</span>
    </div>
    <div class="bmro-all-task-th  bmro-fr bmro-Inquries-width3 bmro-text-right">
      <span class="bmro-task-th ">Orders</span>
    </div>
  </div>
  <div class="bmro-width100 sub-content-height">
    <% inq_for_dash.each do |inquiry| %>
      <div class="bmro-width100 bmro-Inquries-task">
        <div class="bmro-task-no-td bmro-Inquries-width1 bmro-fl bmro-position-relative">
          <!-- <span class="bmro-dash-star"></span>-->
          <span class="bmro-big-heading bmro-fl  bmro-td-span bmro-cursol bmro-order-show inquiry" data-inquiry="<%= inquiry.inquiry_number %>" data-executive-link="<%= executivelink %>"><%= inquiry.inquiry_number %></span>
        </div>
        <div class="bmro-task-print bmro-Inquries-width2 bmro-fl">
          <span class="bmro-account-label-one"><%= inquiry.company.name %></span>
          <span class="bmro-account-label-two"><%= inquiry.subject %></span>
          <span class="bmro-status-label bmro-<%= status_color(inquiry.status) %>" data-id="<%= inquiry.inquiry_number %>"><strong><%= inquiry.status %></strong></span>
        </div>
        <!-- bmro-right-side-open-->
        <div class="bmro-Inquries-width3 bmro-fl bmro-text-right">
          <span class="bmro-big-heading  bmro-td-span"><%= inquiry.sales_orders.count %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>