<div class="mt-3 card-alternative">
  <div class="new-contact-form <%= (@activity.contact_creation_request&.id.present? && !@activity.contact.present?)  ? "" : "d-none"%> mt-3" >
    <h6 class="text-uppercase mb-1 font-weight-bold">Add new contact details</h6>
    <%= f.fields_for :contact_creation_request do |contact_creation_request_field|%>
      <%= contact_creation_request_field.hidden_field :activity_id %>
      <div class="form-row">
        <div class="col-6 col-md-6">
          <%= contact_creation_request_field.input :first_name %>
        </div>
        <div class="col-6 col-md-6">
          <%= contact_creation_request_field.input :last_name %>
        </div>
        <div class="col-12 col-md-6">
          <%= contact_creation_request_field.input :email %>
        </div>
        <div class="col-12 col-md-6">
          <%= contact_creation_request_field.input :telephone, label: "Telephone" %>
        </div>
        <div class="col-12 col-md-6">
          <%= contact_creation_request_field.input :mobile_number, label: "Mobile Number" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

