<div class="col-lg-12 XYZ">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        <%= @product.name %>
      </h3>
      <div>
        <% if @product.is_kit %>
          <a href="<%= overseers_kit_path(@product.kit) %>" class="btn btn-info btn-rounded align-self-center btn-block-sm-down mr-1"><i class="fal fa-eye mr-1"></i>View
            Kit</a>
        <% end %>
        <% if policy(@product).edit? %>
          <a href="<%= edit_overseers_product_path(@product) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down mr-1 mt-1 mt-md-0"><i class="fal fa-pen mr-1"></i>Edit
            Product</a>
        <% end %>
        <% if policy(@product).resync_inventory? %>
          <a href="<%= resync_inventory_overseers_product_path(@product) %>" class="btn btn-primary btn-rounded align-self-center btn-block-sm-down mt-1 mt-md-0"><i class="fal fa-pen mr-1"></i>Resync
            Inventory</a>
        <% end %>
      </div>
    </div>
  </section>

  <section class="mb-3">
    <div class="card">
      <div class="card-body">
        <div>
          <% if @product.is_kit %>
            <ul class="list-group text-info mb-3">
              <li class="list-group-item">
                <h5 class="text-info mb-0">This is a kit product.</h5>
              </li>
            </ul>
          <% end %>
          <h6 class="text-uppercase text-black-50 mb-1">Product Details</h6>
          <div class="form-row">
            <% if @product.sku? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">BM Number</strong>
                <%= @product.sku %>
              </div>
            <% end %>

            <% if @product.category.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Category</strong>
                <%= @product.category %>
              </div>
            <% end %>

            <% if @product.brand.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Brand</strong>
                <%= @product.brand %>
              </div>
            <% end %>

            <% if @product.mpn? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Manufacturer Part Number</strong>
                <%= @product.mpn %>
              </div>
            <% end %>
            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Created By</strong>
              <%= (@product.created_by || (@product.inquiry_import_row.inquiry.created_by if @product.inquiry_import_row)).try(:name) || '-' %>
            </div>


            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Service</strong>
              <%= format_boolean(@product.is_service) %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">Active</strong>
              <%= format_boolean(@product.is_active) %>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <strong class="d-block">SAP Synced</strong>
              <%= format_boolean_label(@product.synced?, 'synced') %>
            </div>
            <% if @product.created_at %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Created At</strong>
                <%= format_date(@product.created_at) %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mt-3">
          <h6 class="text-uppercase text-black-50 mb-1 d-block">Accounting and Logistics</h6>
          <div class="form-row">
            <% if @product.tax_code.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Tax Code</strong>
                <%= @product.tax_code %>
              </div>
            <% end %>

            <% if @product.tax_rate.present? %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Tax Rate</strong>
                <%= @product.tax_rate %>
              </div>
            <% end %>

            <% if @product.measurement_unit %>
              <div class="col-6 col-md-3 mb-2">
                <strong class="d-block">Unit of Measurement</strong>
                <%= @product.measurement_unit %>
              </div>
            <% end %>


          </div>
        </div>
        <button type="button" class="btn btn-m btn-block btn-warning" data-toggle="modal" data-target="#inventoryModal" style="margin-top: 25px;">View
          Inventory
        </button>
        <div class="modal fade" id="inventoryModal" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Product Inventory</h4>
              </div>
              <div class="modal-body">
                <table class="table table-bordered dt-responsive datatable w-100">
                  <thead>
                  <tr>
                    <th class="no-sort">Warehouse</th>
                    <th class="no-sort text-right">In Stock</th>
                    <th class="no-sort text-right">Committed</th>
                    <th class="no-sort text-right">Ordered</th>
                    <th class="no-sort text-right">Available</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @product.stocks.order(instock: :desc).each do |stock| %>
                    <tr>
                      <td><%= stock.warehouse.name %></td>
                      <td><%= stock.instock %></td>
                      <td><%= stock.committed %></td>
                      <td><%= stock.ordered %></td>
                      <td><%= (stock.instock - stock.committed) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if @product.inquiry_products.any? && policy(@product).sku_purchase_history? %>
    <div class="d-md-flex justify-content-between mt-5">
      <h3 class="display-5 mb-1">Purchase History</h3>
    </div>
    <p class="mt-md-1 d-none d-md-block mb-2">
      History searchable with relevant term/keywords under <strong><%= @product.name %></strong>.
    </p>

    <table class="datatable table table-bordered dt-responsive abc" data-search="Enter search term/keywords" style="width:100%;">
      <thead>
      <tr>
        <th class="no-sort"></th>
        <th class="no-sort">Inquiry #</th>
        <th class="no-sort">Buyer</th>
        <th class="no-sort">Seller</th>
        <th class="no-sort">Rating</th>
        <th class="no-sort">Buying Price</th>
        <th class="no-sort">Selling Price</th>
        <th class="no-sort">Inquiry Date</th>
        <th class="no-sort">Sales Order Date</th>
      </tr>
      </thead>
      <% @inquiry_products.each do |inquiry_product| %>
        <tbody>
        <% inquiry_product.inquiry_product_suppliers.each do |inquiry_product_supplier| %>
          <tr>
            <td>
              <% if policy(inquiry_product.inquiry).edit? %>
                <%= row_action_button(edit_overseers_inquiry_path(inquiry_product.inquiry), 'pencil', 'Edit Inquiry', 'warning') %>
              <% end %>
            </td>
            <td><%= inquiry_product.inquiry.inquiry_number %></td>
            <td data-toggle="tooltip" title="(<%= inquiry_product.inquiry.company.account.alias %>) <%= inquiry_product.inquiry.company.account.name %>">(<%= inquiry_product.inquiry.company.account.alias %>
              ) <%= inquiry_product.inquiry.company.account.name.truncate(25) %></td>

            <td data-toggle="tooltip" title="(<%= inquiry_product_supplier.supplier.account.alias %>) <%= inquiry_product_supplier.supplier.name %>">(<%= inquiry_product_supplier.supplier.account.alias %>
              ) <%= inquiry_product_supplier.supplier.name.truncate(25) %></td>
            <td>
              <%= format_star(inquiry_product_supplier.supplier.rating) %>
            </td>
            <td><%= format_currency(inquiry_product_supplier.try(:unit_cost_price)) %></td>
            <td><%= format_currency(inquiry_product_supplier.final_sales_quote_row.try(:unit_selling_price)) %></td>
            <td><%= format_date(inquiry_product.inquiry.quotation_date) %></td>
            <td><%= format_date(inquiry_product.final_sales_order.try(:sent_at)) %></td>
          </tr>
        <% end %>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>

