<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-4 pb-lg-5">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        <%= @product.name %>
      </h3>
      <% if policy(@product).edit? %>
        <a href="<%= edit_overseers_product_path(@product) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit
          Product</a>
      <% end %>
    </div>
  </section>

  <% if @product.inquiry_products.any? && policy(@product).view_purchase_history? %>
    <table class="datatable table table-bordered dt-responsive" data-search="Filter by anything" style="width:100%;">
      <thead>
        <tr>
          <th colspan="1">Inquiry #</th>
          <th colspan="1">Alias Name</th>
          <th colspan="1">Company Name</th>
          <th colspan="1">SKU</th>
          <th colspan="1">Brand</th>
          <th colspan="1">Description</th>
          <th colspan="1">Quote Date</th>
          <th colspan="1">Quote Buying</th>
          <th colspan="1">SO Date</th>
          <th colspan="1">Selling Price</th>
        </tr>
      </thead>
      <% @inquiry_products.each do |inquiry_product| %>
      <tbody>
        <br>
        <td><%= inquiry_product.inquiry.inquiry_number%></td>
        <td><%= inquiry_product.inquiry.company.account.alias%></td>
        <td><%= inquiry_product.inquiry.company.account.name%></td>
        <td><%= inquiry_product.product.sku%></td>
        <td><%= inquiry_product.product.brand.name%></td>
        <td><%= inquiry_product.product.name%></td>
        <td><%= inquiry_product.inquiry.quotation_date || '-'%></td>
        <td><%= inquiry_product.sales_quote_row&.unit_cost_price&.round(2) || '-' %></td>
        <td><%= inquiry_product.approved_sales_order&.sent_at || '-' %></td>
        <td><%= inquiry_product.sales_quote_row&.unit_selling_price&.round(2) || '-' %></td>
      </tbody>
      <% end %>
    </table>
  <% end %>
</div>
