<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th colspan="1">Inquiry #</th>
      <th colspan="1">Alias Name</th>
      <th colspan="1">Company Name</th>
      <th colspan="1">SKU</th>
      <th colspan="1">Brand</th>
      <th colspan="1">Description</th>
      <th colspan="1">Quote Date</th>
      <th colspan="1">Quote Buying</th>
      <th colspan="1">SO Date</th>
      <th colspan="1">Selling Price</th>
    </tr>
  </thead>
  <% @inquiry_products.each do |inquiry_product| %>
  <tbody>
    <br>
    <td><%= inquiry_product.inquiry.inquiry_number%></td>
    <td><%= inquiry_product.inquiry.company.account.alias%></td>
    <td><%= inquiry_product.inquiry.company.account.name%></td>
    <td><%= inquiry_product.product.sku%></td>
    <td><%= inquiry_product.product.brand.name%></td>
    <td><%= inquiry_product.product.name%></td>
    <td><%= inquiry_product.inquiry.quotation_date&.strftime('%e %b, %Y')%></td>
    <td><%= inquiry_product.sales_quote_row&.unit_cost_price&.round(2) %></td>
    <td><%= inquiry_product.approved_sales_order&.sent_at&.strftime('%e %b, %Y') %></td>
    <td><%= inquiry_product.sales_quote_row&.unit_selling_price&.round(2) %></td>
  </tbody>
  <% end %>
</table>
