<a class="btn btn-light text-left btn-lg btn-block mt-3 mt-lg-4" type="button" data-toggle="collapse" data-target="#pod-summary">
  Overall Scorecard
</a>
<div id="pod-summary" class="collapse show">
  <div class="mt-2 form-row d-flex flex-row align-content-stretch text-right">
    <% if @months.present? %>
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <table class="table w-100 wrap-whitespace">
              <tbody>
              <tr>
                <th></th>
                <% @months.each do |month| %>
                  <th><strong><%= month %></strong></th>
                <% end %>
              </tr>
              <tr>
                <th class="text-uppercase text-left">Not Delivered</th>
                <% @records.each do |month, record| %>
                  <td class="text-uppercase">
                    <a href="<%= filtered_path(overseers_logistics_scorecards_path, [
                        filter_by_value('Delay Bucket', 'Not Delivered', 0),
                        filter_by_monthrange('Committed Delivery Date to Customer', month)
                    ]) %>">
                      <%= record["scorecard"]["buckets"].map {|bucket| bucket['doc_count'] if bucket['key'] == 0}.compact.first || 0 %>
                    </a>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th class="text-uppercase text-left">On or Before Time</th>
                <% @records.each do |month, record| %>
                  <td class="text-uppercase">
                    <a href="<%= filtered_path(overseers_logistics_scorecards_path, [
                        filter_by_value('Delay Bucket', 'On or Before Time', 1),
                        filter_by_monthrange('Committed Delivery Date to Customer', month)
                    ]) %>">
                      <%= record["scorecard"]["buckets"].map {|bucket| bucket['doc_count'] if bucket['key'] == 1}.compact.first || 0 %>
                    </a>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th class="text-uppercase text-left">Delay by 2 days</th>
                <% @records.each do |month, record| %>
                  <td class="text-uppercase">
                    <a href="<%= filtered_path(overseers_logistics_scorecards_path, [
                        filter_by_value('Delay Bucket', 'Delay by 2 days', 2),
                        filter_by_monthrange('Committed Delivery Date to Customer', month)
                    ]) %>">
                      <%= record["scorecard"]["buckets"].map {|bucket| bucket['doc_count'] if bucket['key'] == 2}.compact.first || 0 %>
                    </a>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th class="text-uppercase text-left">Delay by 2-7 days</th>
                <% @records.each do |month, record| %>
                  <td class="text-uppercase">
                    <a href="<%= filtered_path(overseers_logistics_scorecards_path, [
                        filter_by_value('Delay Bucket', 'Delay by 2-7 days', 3),
                        filter_by_monthrange('Committed Delivery Date to Customer', month)
                    ]) %>">
                      <%= record["scorecard"]["buckets"].map {|bucket| bucket['doc_count'] if bucket['key'] == 3}.compact.first || 0 %>
                    </a>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th class="text-uppercase text-left">Delay by 7-14 days</th>
                <% @records.each do |month, record| %>
                  <td class="text-uppercase">
                    <a href="<%= filtered_path(overseers_logistics_scorecards_path, [
                        filter_by_value('Delay Bucket', 'Delay by 7-14 days', 4),
                        filter_by_monthrange('Committed Delivery Date to Customer', month)
                    ]) %>">
                      <%= record["scorecard"]["buckets"].map {|bucket| bucket['doc_count'] if bucket['key'] == 4}.compact.first || 0 %>
                    </a>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th class="text-uppercase text-left">Delay by 14-28 days</th>
                <% @records.each do |month, record| %>
                  <td class="text-uppercase">
                    <a href="<%= filtered_path(overseers_logistics_scorecards_path, [
                        filter_by_value('Delay Bucket', 'Delay by 14-28 days', 5),
                        filter_by_monthrange('Committed Delivery Date to Customer', month)
                    ]) %>">
                      <%= record["scorecard"]["buckets"].map {|bucket| bucket['doc_count'] if bucket['key'] == 5}.compact.first || 0 %>
                    </a>
                  </td>
                <% end %>
              </tr>
              <tr>
                <th class="text-uppercase text-left">Delay by >28 days</th>
                <% @records.each do |month, record| %>
                  <td class="text-uppercase">
                    <a href="<%= filtered_path(overseers_logistics_scorecards_path, [
                        filter_by_value('Delay Bucket', 'Delay by >28 days', 6),
                        filter_by_monthrange('Committed Delivery Date to Customer', month)
                    ]) %>">
                      <%= record["scorecard"]["buckets"].map {|bucket| bucket['doc_count'] if bucket['key'] == 6}.compact.first || 0 %>
                    </a>
                  </td>
                <% end %>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>