<div class="col-12">

  <div class="form-row text-center mt-5 mt-lg-4">
    <% @data.geographies.each do |geography| %>
      <div class="col-3">
        <div class="card mb-2">
          <div class="card-body">
            <h2><%= geography.count %></h2>
            <h5 class="text-uppercase text-black-50"><%= geography.name %></h5>
            <div class="form-row">
              <div class="col-6">
                <p>
                  Meeting<br>
                  <strong><%= geography.meeting %></strong>
                </p>
              </div>
              <div class="col-6">
                <p>
                  Others<br>
                  <strong><%= geography.not_meeting %></strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render layout: 'search_layout' do %>
    <table class="table-bordered table">
      <thead>
      <tr>
        <th></th>
        <% @data.geographies.each do |geography| %>
          <th colspan="<%= geography.overseers.size %>"><%= geography.name %></th>
        <% end %>
      </tr>

      <tr>
        <th></th>
        <% @data.geographies.each do |geography| %>
          <% geography.overseers.each do |overseer| %>
            <td><%= overseer.count %></td>
          <% end %>
        <% end %>
      </tr>

      <tr>
        <th>Date</th>
        <% @data.geographies.each do |geography| %>
          <% geography.overseers.each do |overseer| %>
            <td><%= "#{overseer.name.split(' ').first[0]}.#{overseer.name.split(" ").last[0]}" %></td>
          <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody>

      <% @report.start_date.upto(@report.end_date) do |date| %>
        <tr>
          <td><%= format_date_without_time(date) %></td>
          <% @data.geographies.each do |geography| %>
            <% geography.overseers.each do |overseer| %>
              <td><%= get_entry(@data.entries, date, overseer.id) %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>