<%= render layout: 'search_layout' do %>
  <% @data.geographies.each do |geography| %>
    <div class="">
      <p>Geography: <%= geography.name %></p>
      <p>Count: <%= geography.count %></p>
      <p>Meeting: <%= geography.meeting %></p>
      <p>Others: <%= geography.not_meeting %></p>
    </div>
  <% end %>

  <hr/>
  <table class="table-bordered table">
    <thead>
    <tr>
      <th></th>
      <% @data.geographies.each do |geography| %>
        <th colspan="<%= geography.overseers.size %>"><%= geography.name %></th>
      <% end %>
    </tr>

    <tr>
      <th></th>
      <% @data.geographies.each do |geography| %>
        <% geography.overseers.each do |overseer| %>
          <td><%= overseer.count %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <th>Date</th>
      <% @data.geographies.each do |geography| %>
        <% geography.overseers.each do |overseer| %>
          <td><%= overseer.name %></td>
        <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @report.start_date.upto(@report.end_date) do |date| %>
      <tr>
        <td><%= format_date_without_time(date) %></td>
        <% @data.geographies.each do |geography| %>
          <% geography.overseers.each do |overseer| %>
            <td><%= get_entry(@data.entries, date, overseer.id) %></td>
          <% end %>
        <% end %>
      </tr>

    <% end %>
    </tbody>
  </table>
<% end %>