<% provide :container_fluid, true %>

<div class="col-lg-12 mb-0">
  <div class="page-header mb-0">
    <h2>Pipeline Report</h2>
    <p>Pipeline report from <strong><%= format_date_without_time(@report.start_at) %></strong> to
      <strong><%= format_date_without_time(@report.end_at) %></strong>.</p>
  </div>
</div>

<div class="col-12">
  <%= render layout: 'search_layout' do %>
    <table class="table-bordered table">
      <thead>
      <tr>
        <th>Month</th>
        <% @data.statuses.each do |status| %>
          <th><%= status.name %></th>
        <% end %>
        <th>Grand Total</th>
        <th>Won%</th>
      </tr>
      </thead>
      <tbody>
      <% total_counts = sum_of_total_number_and_values(@data.entries) %>
      <% (@report.start_at.to_date..@report.end_at.to_date).map(&:beginning_of_month).uniq.each do |month| %>
        <tr>
          <td><%= month.strftime("%b, %Y") %></td>
          <% @data.statuses.each do |status| %>
            <td><%= get_pipeline_entry(@data.entries, month.strftime("%b, %Y"), status) %></td>
          <% end %>
          <td>
            <%= @data.entries[month.strftime("%b, %Y")]["Total"] if @data.entries.present? %>
          </td>
          <td>
            <%= @data.entries[month.strftime("%b, %Y")]["Percentage"] if @data.entries.present? %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Total Number</td>
        <% @data.statuses.each do |status, status_count| %>
          <td>
            <%= get_sum_of_entries(@data.entries.values.map{|a| a[status.name]}.compact.map{|a| a[0]}) %>
          </td>
        <% end %>
        <td>
          <%= total_counts[0] %>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Total Value</td>
        <% @data.statuses.each do |status, status_count| %>
          <td>
            <%= get_sum_of_entries(@data.entries.values.map{|a| a[status.name]}.compact.map{|a| a[1]}) %>
          </td>
        <% end %>
        <td>
          <%= total_counts[1] %>
        </td>
        <td>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>
</div>