<div class="col-lg-12">

  <%= render 'shared/snippets/page_header', e: @packing_slip %>

  <%= simple_form_for([:overseers,@outward_dispatch, @packing_slip], :html => {:class => 'needs-validation', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :outward_dispatch_id %>
    <%#= f.hidden_field :sales_order_id %>
    <!-- <div class="card mb-2">
      <div class="card-body">
        <div class="">
          
          <div class="form-row">

          </div>
        </div>
      </div>
    </div> -->
    <div class="card">
      <div class="card-body">
        <div class="">
          <h6 class="text-uppercase text-black-50 mb-1 bmro-form-heading"> Entity Details</h6>
          <div class="form-row">
            <div class="col-4 col-md-4">
              <%= f.input :bill_to, input_html: { class: 'bmro-form-input' } %>
            </div>
            <div class="col-4 col-md-4">
              <%= f.input :billing_address, input_html: { class: 'bmro-form-input' } %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-4 col-md-4">
              <div class="select2-wrapper">
                <%= f.select :ship_to_id, Warehouse.active.map {|x| [x.to_s, x.id]}, {:include_blank => 'Select ship to warehouse'}, :class => 'form-control select2-multiple bmro-com-contacts', :"data-placeholder" => 'Select ship to warehouse' %>
              </div>
            </div>
            <div class="col-4 col-md-4">
              <div class="select2-wrapper">
                <%= f.select :shipping_address_id, @customer_addresses.map {|x| [x.to_s, x.id]}, {:include_blank => 'Select shipping address'}, :class => 'form-control select2-multiple bmro-com-contacts', :"data-placeholder" => 'Select shipping address' %>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-4 col-md-4">
              <%= f.input :box_number, input_html: { class: 'bmro-form-input' }, required:true%>
            </div>
            <div class="col-4 col-md-4">
              <%= f.input :box_dimension, input_html: { class: 'bmro-form-input' }  %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h6 class="text-uppercase text-black-50 mb-1">Products</h6>
        <div class="form-row d-none d-md-flex">
          <div class="col-1">
            <div class="form-group mb-0">
              <label>Sr. No.</label>
            </div>
          </div>
          <div class="col-9 col-md-9">
            <div class="form-group mb-0">
              <label>Product</label>
            </div>
          </div>
          <div class="col-1 col-md-1">
            <div class="form-group mb-0">
              <label>Qty</label>
            </div>
          </div>
        </div>
        <% if f.object.rows.present? %>
          <%= f.nested_fields_for :rows, f.object.rows, wrapper_tag: :div do |row| %>

            <div class="form-row flex-row align-items-start">
              <div class="col-1 col-md-1">
                #<%= (f.object.rows.index(row.object) || 0) + 1 %>
                <%= row.hidden_field :id %>
                <%= row.hidden_field :packing_slip_id %>
                <%= row.hidden_field :sales_invoice_row_id %>
              </div>
              <div class="col-9 col-md-9">
                <%= row.input :sales_invoice_row, input_html: { value: row.object.sales_invoice_row.to_s }, disabled: row.object.sales_invoice_row.present? && row.object.errors.blank?, label: false %>
              </div>
              <div class="col-1 col-md-1">
                <%= row.input :delivery_quantity, input_html: { value: row.object.delivery_quantity, onkeydown: "return event.keyCode !== 69"}, label: false %>
              </div>
              <% if f.object.rows.present? && f.object.rows.length > 1 %>
                <div class="col-1 col-md-1">
                  <%= row.remove_nested_fields_link '', class: 'btn align-self-center delete_row far fa-times text-danger', wrapper_class: 'simple-row', data: {id: (f.object.rows.index(row.object) || 0)}%>
                </div>
              <%end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer bmro-card-footer">
        <div class="form-row">
          <%= button_tag(type: "submit", class: "btn btn-success btn-block submit-form bmro-button") do %>
            <% if action_name.capitalize == "New" %>
              <i class="fal fa-plus-circle"></i>
            <% else %>
              <i class="fal fa-pen"></i>
            <% end %>
            <%= submit_text(@packing_slip) %>
          <% end %>
        </div>
      </div>
      
    </div>
  <% end %>
</div>
