<div class="col-lg-12">
  <%= simple_form_for(:packing_slip, :url => submit_packing_overseers_outward_dispatch_packing_slips_path(@outward_dispatch), :html => {:class => 'needs-validation', :id => 'packing', :'novalidate' => '', :'data-parsley-validate' => ''}) do |f| %>
    <div class="card mb-2">
      <div class="card-body">
        <div class="">
          <h6 class="text-uppercase text-black-50 mb-1 bmro-form-heading"> Entity Details</h6>
          <div class="form-row">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="error bg-danger text-white mb-3 px-1 rounded"></div>
        <h6 class="text-uppercase text-black-50 mb-1">Products</h6>
        <div class="form-group mb-0">
          <div class="list-group text-alert mb-3">
            <span class="list-group-item text-danger font-weight: bold"><i class="fas fa-info mr-2"></i> Box added <%= @box_display.map{|row| ["Box " + row.box_number.to_s + "-" + row.box_dimension]}.join(", " + '') %>.</span>
          </div>
        </div>
        <div class="form-row d-none d-md-flex mb-1">
          <div class="col-1">
            <div class="form-group mb-0">
              <label>Sr. No.</label>
            </div>
          </div>
          <div class="col-5 col-md-7">
            <div class="form-group mb-0">
              <label>Product</label>
            </div>
          </div>
          <div class="col-2 col-md-1">
            <div class="form-group mb-0">
              <label>Quantity</label>
            </div>
          </div>
          <div class="col-2 col-md-1">
            <div class="form-group mb-0">
              <label>Box numbers</label>
            </div>
          </div>
          <div class="col-2 col-md-1">
            <div class="form-group mb-0">
              <label>Quantities</label>
            </div>
          </div>
        </div>
        <% @packing_rows.each_with_index do |row, index| %>
          <%= hidden_field_tag "product_id[#{index}]", row[:product_id] || row.metadata['product_id']  %>
          <%= hidden_field_tag "row[#{index}][product_id]",  row[:product_id] || row.metadata['product_id']%>
          <%= hidden_field_tag "row[#{index}][sales_invoice_row_id]", row[:id] || row.id %>
          <div class="flex-grow-1">
            <div class="form-row flex-row align-items-start mb-1">
              <div class="col-1">
                <%= index + 1 %>
              </div>
              <div class="col-5 col-md-7">
                <%= row[:product_name] ||row.to_s %>
              </div>
              <div class="col-2 col-md-1">
                <%= row[:get_remaining_quantity] || row.get_remaining_quantity.to_i %>
                <%#= field_set_tag row.quantity, readonly: true %>
              </div>
              <div class="col-2 col-md-1">
                <%= text_field_tag "row[#{index}][box_numbers]", "", class: 'form-control', multiple: true, value: row[:box_number], :pattern => '(\d+)(,\s*\d+)*', :required => true%>
              </div>
              <div class="col-2 col-md-1">
                <%= text_field_tag "row[#{index}][quantities]", "", class: 'form-control', multiple: true, value: row[:quantities], :pattern => '(\d+)(,\s*\d+)*', :required => true %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="card-footer bmro-card-footer">
        <div class="form-row">
          <%= button_tag(type: "submit", class: "btn btn-success btn-block packing-form bmro-button", id: "submitbutton") do %>
            <% if action_name.capitalize == "Add_packing" %>
              <i class="fal fa-plus-circle"></i>Add Packing
            <% else %>
              <i class="fal fa-pen"></i>Update Packing
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>