<div class="col-lg-12">
  <section class="pt-3 pt-lg-4 pb-2">
    <div class="d-md-flex justify-content-between">
      <h3 class="display-5 d-flex align-items-center">
        Packing Slip #<%= @packing_slip.id %>
      </h3>
      <div>
        <% if policy(@outward_dispatch).show? %>
          <a href="<%= overseers_outward_dispatch_path(@outward_dispatch) %>" class="btn btn-success btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-show mr-1"></i>Go back to Outward Dispatch</a>
        <% end %>
        <% if policy(@packing_slip).edit? %>
          <a href="<%= edit_overseers_outward_dispatch_packing_slip_path(@outward_dispatch, @packing_slip) %>" class="btn btn-warning btn-rounded align-self-center btn-block-sm-down"><i class="fal fa-pen mr-1"></i>Edit</a>
        <% end %>
      </div>
    </div>
  </section>
  <section class="mb-3">
    <div class="card">
      <div class="card-header">
        <div class="form-row mb-2">
          <div class="col-6 col-md-3">
            <strong class="d-block">Inquiry #</strong>
            <%= @packing_slip.outward_dispatch.sales_order.inquiry.inquiry_number %>
          </div>
          <div class="col-6 col-md-3">
            <strong class="d-block">Order #</strong>
            <%= @packing_slip.outward_dispatch.sales_order.order_number %>
          </div>
          <div class="col-6 col-md-3">
            <strong class="d-block">Customer Reference #</strong>
            <%= @packing_slip.outward_dispatch.sales_order.sales_quote.id %>
          </div>
          <div class="col-6 col-md-3"></div>
        </div>
        <div class="form-row">
          <div class="col-6 col-md-3">
            <strong class="d-block">Packing List#</strong>
            <%= "#{@packing_slip.outward_dispatch.sales_order.inquiry.inquiry_number}-#{@packing_slip.id}" %>
          </div>
          <div class="col-6 col-md-3">
            <strong class="d-block">Order Date</strong>
            <%= format_succinct_date(@packing_slip.outward_dispatch.sales_order.created_at) %>
          </div>
          <div class="col-6 col-md-3">
            <strong class="d-block">Packing Date</strong>
            <%= format_succinct_date(@packing_slip.created_at) %>
          </div>
          <div class="col-6 col-md-2">
            <%= row_action_button(overseers_outward_dispatch_packing_slip_path(@outward_dispatch, @packing_slip, format: :pdf), 'file-pdf', 'Download Pdf', 'dark', :_blank) %>
          </div>
        </div>
      </div>
      <div class="card-body ">
        <div class="form-row">
          <div class="col-md-6  md-0">
            <strong class="d-block">Supplier - Billing Address</strong>
            <% if @packing_slip.outward_dispatch.sales_order.inquiry.bill_from.present? %>
              <%= @packing_slip.outward_dispatch.sales_order.inquiry.bill_from.address.name.to_s %>
              <%= @packing_slip.outward_dispatch.sales_order.inquiry.bill_from.address.to_compact_multiline_s %><br>
              <% if @packing_slip.outward_dispatch.sales_order.inquiry.bill_from.address.phone.present? %>
                <strong><em>Contact</em></strong>: <%= @packing_slip.outward_dispatch.sales_order.inquiry.contact.full_name %>
                - <%= @packing_slip.outward_dispatch.sales_order.inquiry.bill_from.address.phone %><br>
              <% end %>
              <% if @packing_slip.outward_dispatch.sales_order.inquiry.bill_from.address.gst %>
                <strong><em>GST
                  Number</em></strong>: <%= @packing_slip.outward_dispatch.sales_order.inquiry.bill_from.address.gst %>
                <br>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-6 md-0">
            <strong class="d-block">Supplier - Shipping Address</strong>
            <% if @packing_slip.outward_dispatch.sales_order.inquiry.ship_from.present? %>
              <%= @packing_slip.outward_dispatch.sales_order.inquiry.ship_from.address.name.to_s %><br>
              <%= @packing_slip.outward_dispatch.sales_order.inquiry.ship_from.address.to_compact_multiline_s %><br>
              <% if @packing_slip.outward_dispatch.sales_order.inquiry.ship_from.address.mobile || @packing_slip.outward_dispatch.sales_order.inquiry.ship_from.address.telephone %>
                <strong><em>Contact</em></strong>: <%= @packing_slip.outward_dispatch.sales_order.inquiry.ship_from.address.mobile || @packing_slip.outward_dispatch.sales_order.inquiry.ship_from.address.telephone %>
                <br>
              <% end %>
              <% if @packing_slip.outward_dispatch.sales_order.inquiry.ship_from.address.gst %>
                <strong><em>GST
                  Number</em></strong>: <%= @packing_slip.outward_dispatch.sales_order.inquiry.ship_from.address.gst %>
                <br>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="form-row mt-0 mt-md-2">
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block">Customer - Billing Address</strong>
            <%= (@packing_slip.outward_dispatch.sales_order.inquiry.company.name) %><br>
            <%= @packing_slip.outward_dispatch.sales_order.serialized_billing_address.to_compact_multiline_s %><br>
            <% if @packing_slip.outward_dispatch.sales_order.inquiry.contact.phone.present? %>
              Contact: <%= @packing_slip.outward_dispatch.sales_order.inquiry.contact.full_name %>
              - <%= @packing_slip.outward_dispatch.sales_order.inquiry.contact.phone %><br>
            <% end %>
            <strong><em>Email</em></strong>: <%= @packing_slip.outward_dispatch.sales_order.inquiry.contact.email if @packing_slip.outward_dispatch.sales_order.inquiry.contact.email.present? %>
            <span class="d-block"><strong><em>GST Number</em></strong>: <%= @packing_slip.outward_dispatch.sales_order.serialized_billing_address.gst || @packing_slip.outward_dispatch.sales_order.inquiry.company.default_billing_address.gst %></span>
          </div>
          <div class="col-md-6 mt-2 mt-md-0">
            <strong class="d-block">Customer - Shipping Address</strong>
            <span class="d-block"><%= (@packing_slip.outward_dispatch.sales_order.inquiry.shipping_company.name) %></span>
            <span class="d-block"><%= @packing_slip.outward_dispatch.sales_order.serialized_shipping_address.to_compact_multiline_s %></span>
            <% if @packing_slip.outward_dispatch.sales_order.inquiry.shipping_contact.phone.present? %>
            <span class="d-block"><strong><em>Contact</em></strong>: <%= @packing_slip.outward_dispatch.sales_order.inquiry.shipping_contact.full_name %>
              - <%= @packing_slip.outward_dispatch.sales_order.inquiry.shipping_contact.phone %></span>
            <% end %>
            <strong><em>Email</em></strong>: <%= @packing_slip.outward_dispatch.sales_order.inquiry.shipping_contact.email if @packing_slip.outward_dispatch.sales_order.inquiry.shipping_contact.email.present? %>
            <span class="d-block"><strong><em>GST Number</em></strong>: <%= @packing_slip.outward_dispatch.sales_order.serialized_shipping_address.gst || @packing_slip.outward_dispatch.sales_order.inquiry.company.default_shipping_address.gst %></span>
          </div>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          <h6 class="text-uppercase text-black-50 mb-1"> Products Details</h6>
          <table class="w-100 table table-bordered dt-responsive datatable wrap-whitespace" data-fixed-header="false">
            <thead>
            <tr>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Serial Number">Sr.</span>
              </th>
              <th class="no-sort">
                <span data-toggle="tooltip" title="SKU">SKU</span>
              </th>
              <th class="no-sort product-width-adjustment">
                <span data-toggle="tooltip" title="Description">Description</span>
              </th>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Box Details">Details</span>
              </th>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Tax Code">HSN / SAC</span>
              </th>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Unit Of Measurement">UOM</span>
              </th>
              <th class="no-sort">
                <span data-toggle="tooltip" title="Quantity">Qty</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <% @packing_slip.rows.each_with_index do |row, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= row.ar_invoice_request_row.product.sku %></td>
                <td><%= row.ar_invoice_request_row.product.to_s %></td>
                <td><%= row.packing_slip.box_dimension %></td>
                <td><%= row.ar_invoice_request_row.sales_order_row.best_tax_code.to_s[0..3] %></td>
                <td><%= row.ar_invoice_request_row.sales_order_row.measurement_unit %></td>
                <td><%= row.delivery_quantity %></td>
              </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>
</div>
