<a class="card text-black-50 purchase-order" target="_blank" href="/overseers/inquiries/<%= po.inquiry_id %>/purchase_orders/<%= po.id %>">
  <div class="card-header p-1">
    <span class="badge badge-wrap text-uppercase  float-right"><strong><%= status_badge(po.status) %></strong></span>
    <strong>Purchase Order #<%= po.po_number %></strong>
  </div>
  <div class="card-body p-1 text-center">
    <div class="subject">
      <%= format_currency(po.calculated_total, symbol: nil) %>
    </div>
    <hr class="my-1">
    <div class="subject">
      <%= format_succinct_date(po.created_at) %>
    </div>
  </div>
</a>