<a class="card text-black-50 sales-quote" target="_blank" href="/overseers/inquiries/<%= sales_quote.inquiry.to_param %>/sales_quotes/<%= sales_quote.to_param %>">
  <div class="card-header p-1 text-center">
    <strong>Sales Quote</strong>
  </div>
  <div class="card-body p-1 text-center">
    <div>
      #<%= sales_quote.id %>
    </div>
    <hr class="my-1">
    <div>
      <%= format_currency(sales_quote.converted_total, symbol: sales_quote.currency_sign) %>
    </div>
    <hr class="my-1">
    <div>
      <%= format_date_with_time(sales_quote.created_at) %>
    </div>
  </div>
</a>