<div class="navbar navbar-expand-lg bg-light navbar-light sticky-top">
  <!-- Drawer Toggle -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Drawer Toggle -->

  <!-- Logo -->
  <a class="navbar-brand" href="<%= suppliers_dashboard_path %>">
    <img alt="BulkMRO" src="<%= image_path('BMIS_Logo_PNG.png') %>" height="22"/>
  </a>
  <!-- Logo -->

  <!-- Navigation Bar -->
  <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
    <ul class="navbar-nav">
      <%= nav_item 'Dashboard', suppliers_dashboard_path, true %>
      <%= nav_item 'Products', suppliers_products_path, true %>
      <%= nav_item 'Purchase Orders', suppliers_purchase_orders_path, true %>
      <%= nav_item "RFQ's", suppliers_rfq_index_path, true %>
    </ul>
  </div>
  <!-- Navigation Bar -->

  <!-- Settings Dropdown DESKTOP -->
  <div class="d-block">
    <% if current_company.logo.attached? %>
      <span class="d-none d-md-inline">
        <img src="<%= url_for(current_company.logo) %>" height="18" alt="<%= current_company.name %>">
      </span>
    <% end %>
    <span class="d-none d-md-inline badge badge-light mr-1"><%= current_company.name %></span>
    <div class="dropdown d-inline">
      <a href="#" role="button" data-toggle="dropdown">
        <span class="d-none d-md-inline"><%= current_suppliers_contact.first_name %></span>
        <i class="fal fa-cog"></i>
      </a>
      <span class="dropdown-menu dropdown-menu-right">
        <%= link_to reset_current_company_suppliers_sign_in_steps_path, method: :post, :class => 'dropdown-item' do %>
          <i class="fal fa-building"></i>&nbsp;Choose Another Company
        <% end if policy(current_suppliers_contact).reset_current_company? %>
        <%= link_to edit_suppliers_profile_path, class: 'dropdown-item' do %>
          <i class="fal fa-user"></i> Edit Profile
        <% end %>
        <%= link_to destroy_suppliers_contact_session_path, method: :delete, :class => 'dropdown-item' do %>
          <i class="fal fa-power-off"></i>&nbsp;Sign Out
        <% end %>
      </span>
    </div>
  </div>
  <!-- Settings Dropdown DESKTOP -->
</div>